agente-crm-nuevo-iV4MMoRwqkPj4CKw.json
{"createdAt":"2025-08-25T09:09:42.209Z","updatedAt":"2025-08-27T03:50:29.000Z","id":"iV4MMoRwqkPj4CKw","name":"Agente CRM Nuevo","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"Eres un asistente muy util","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[16,-96],"id":"26179f57-65c9-4391-be02-f61462257290","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-64,112],"id":"b3a84ade-f41d-428f-8a9b-8349d73ed75a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"chat"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[144,112],"id":"ccd7a8b8-6cb8-4998-ba71-f96988de820a","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"46694996-adfb-4656-8287-5fc26a86a90e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,-96],"id":"1be39e9d-99b3-4b59-8c92-c16e3abb87f3","name":"Webhook","webhookId":"46694996-adfb-4656-8287-5fc26a86a90e"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{$('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/messages\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.output }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,-96],"id":"e220b0b7-4bff-4f9e-bd7e-29d37ecf478a","name":"HTTP Request"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b78b990f-fad4-4ca8-918a-1f4029e91725","triggerCount":1,"shared":[{"createdAt":"2025-08-25T09:09:42.220Z","updatedAt":"2025-08-25T09:09:42.220Z","role":"workflow:owner","workflowId":"iV4MMoRwqkPj4CKw","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}