agente-vivadent-odontologia-kcusjclmkEm6reQJ.json
{"createdAt":"2025-09-29T11:48:09.374Z","updatedAt":"2025-10-04T03:12:28.000Z","id":"kcusjclmkEm6reQJ","name":"Agente Vivadent Odontologia","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[768,480],"id":"1fdffd9b-0982-4817-b2b8-15d59814a097","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"httpMethod":"POST","path":"vivadent_odontologia","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-656,224],"id":"0e062de4-a45e-457e-9743-5e1f9962f354","name":"Webhook -CRM Vivadent","webhookId":"72682a02-1943-4fd8-9843-8aaa70e9a880"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e167d781-a04e-461d-bbd4-560a2cc6240d","leftValue":"={{ $json.body.messages[0].conversation.assignee_id }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,224],"id":"40812166-46fd-437e-9029-058f8bee8222","name":"Valida ID Conversacion"},{"parameters":{"assignments":{"assignments":[{"id":"73ab740b-41f0-4dde-ab02-717133593150","name":"cuerpo mensaje","value":"={{ $json.body }}","type":"string"},{"id":"0d34e6b9-9569-4172-95ff-d71eb43a65fb","name":"tipo mensaje","value":"={{ $json.body.messages[0].message_type }}","type":"string"},{"id":"165cae54-57c0-4689-8640-f80d0477243c","name":"mensaje","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"af4da877-6964-4108-84f3-11f3f1ea7a40","name":"numero","value":"={{ $json.body.messages[0].conversation.contact_inbox.source_id }}","type":"string"},{"id":"1a8e082a-dfce-4bad-bf8c-c49aaca49bb7","name":"tipo contenido","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"83719895-2fb9-4caa-ba9a-544c18df94c8","name":"cuenta id","value":"={{ $json.body.messages[0].account_id }}","type":"string"},{"id":"5d75a390-ef3a-4198-8857-95a6c1fc845e","name":"conversacion id","value":"={{ $json.body.messages[0].conversation_id }}","type":"string"},{"id":"53d8c8c9-329c-45e7-b119-9bb4d176a3fc","name":"cuenta mensaje","value":"={{ $json.body.first_reply_created_at }}","type":"string"},{"id":"cac889df-acb4-41b4-a04e-a5ff1aa2de51","name":"tipo archivo","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"eb1e9564-e3ee-4628-8ab1-9c80aef4de5c","name":"data url","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,208],"id":"84af6338-5ade-43b6-88d0-9d87ed47acea","name":"Mapea Mensaje Usuario"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['tipo archivo'] }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"63ed7985-0ebf-4e81-b47e-7e8afe597afb"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3424304d-0db0-47a8-85b0-b100e52a562b","leftValue":"={{ $json['tipo contenido'] }}{{ $json['tipo archivo'] }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31740c9c-7d56-480b-a9c5-6ccbff20b678","leftValue":"={{ $json['tipo archivo'] }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,192],"id":"0c913d35-326c-46ea-8b7a-66b076db98b2","name":"Tipo Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"1371cdea-08ef-4adb-80a2-4a7d7ba782d0","name":"numero","value":"={{ $('Mapea Mensaje Usuario').item.json.numero }}","type":"string"},{"id":"47f4fd59-c866-49ee-bb12-fe62a8bc6f7b","name":"mensaje usuario","value":"={{ $json.mensaje_usuario }}","type":"string"},{"id":"19dc07cd-7841-4f7d-8ebf-1fddfa4c3d97","name":"cuenta id","value":"={{ $('Mapea Mensaje Usuario').item.json['cuenta id'] }}","type":"string"},{"id":"d7ac9540-765a-4f32-b0bb-2f53b5b272fe","name":"conversacion id","value":"={{ $('Mapea Mensaje Usuario').item.json['conversacion id'] }}","type":"string"},{"id":"f06bf997-3d2f-48f5-bf14-b1b993b4c8d5","name":"cuenta mensaje","value":"={{ $('Mapea Mensaje Usuario').item.json['cuenta mensaje'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,208],"id":"d4ec090b-6147-48ab-a170-37fa5faa4276","name":"Recibe Mensaje"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_vivadent_{{ $json['conversacion id'] }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[976,480],"id":"13682157-ce9d-46ae-9f3d-d7d149e29458","name":"Redis Chat Memory","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}}},{"parameters":{"method":"POST","url":"=https://crm.vivadentodontologia.online/api/v1/accounts/{{ $('Recibe Mensaje').item.json['cuenta id'] }}/conversations/{{ $('Recibe Mensaje').item.json['conversacion id'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"=api_access_token","value":"=UPCzavt6Mfq7V855uGbmKDYe"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.response_message }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,208],"id":"ce07073d-74d3-455a-a56b-0c6d1cf16e03","name":"Envia Mensaje"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"audioUrls":"={{ $json['data url'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[320,48],"id":"fc45417b-211c-41bb-8b27-11451f839eac","name":"Transcribe Audio","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"jsCode":"// Obtenemos los datos de las tres posibles entradas (inputs).\n// CORRECCIÓN: Se busca \"mensaje\" en lugar de \"message\".\nconst textInput = items.find(item => item.json.mensaje !== undefined);\nconst audioInput = items.find(item => item.json.candidates?.[0]?.content?.parts?.[0]?.text);\nconst imageInput = items.find(item => item.json.content?.parts?.[0]?.text);\n\nlet mensajeUnificado = '';\n\n// Verificamos cuál de las entradas tiene datos y extraemos el mensaje.\nif (textInput) {\n  // CORRECCIÓN: Se extrae el dato de \"mensaje\".\n  mensajeUnificado = textInput.json.mensaje;\n\n} else if (audioInput) {\n  // CORRECCIÓN: Se añade \"?.\" (optional chaining) para hacer el código más seguro.\n  mensajeUnificado = audioInput.json.candidates?.[0]?.content?.parts?.[0]?.text;\n\n} else if (imageInput) {\n  // CORRECCIÓN: Se añade \"?.\" (optional chaining) para hacer el código más seguro.\n  mensajeUnificado = imageInput.json.content?.parts?.[0]?.text;\n}\n\n// Devolvemos un nuevo objeto con la variable estandarizada.\nreturn [{\n  json: {\n    mensaje_usuario: mensajeUnificado\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,208],"id":"1600c279-ac9d-4816-933e-7ae44d8a5946","name":"Recolecta Datos"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"text":"[ROL Y OBJETIVO]\nActúa como un asistente de triaje visual para \"Sofía\", la asistente del consultorio odontológico Vivadent. Tu única función es analizar la imagen enviada por un usuario y generar una respuesta corta y segura. Tu objetivo principal NO es describir la imagen en detalle, sino determinar si requiere una valoración profesional y guiar al usuario hacia ella.\n\n[REGLAS FUNDAMENTALES DE SEGURIDAD - ¡INQUEBRANTABLES!]\n1.  **PROHIBIDO DAR DIAGNÓSTICOS:** Bajo ninguna circunstancia puedes nombrar condiciones médicas (ej. \"caries\", \"gingivitis\", \"infección\").\n2.  **NO SUGERIR TRATAMIENTOS:** No menciones ningún tipo de tratamiento, procedimiento, medicamento o remedio.\n3.  **NO ESPECULAR:** No hagas suposiciones sobre la gravedad, el dolor o la urgencia de lo que ves. Evita frases como \"eso parece grave\" o \"no te preocupes\".\n4.  **MANTENER NEUTRALIDAD:** Describe lo que ves de la forma más general y neutra posible si es necesario (ej. \"una imagen de un diente\", \"una foto de la boca\").\n\n[PROCESO DE RESPUESTA]\n1.  **Analiza la imagen:** Observa el contenido de la imagen proporcionada.\n2.  **Determina la acción:**\n    * **CASO A (Imagen Dental/Clínica):** Si la imagen muestra el interior de una boca, un diente, encías, o cualquier cosa que parezca una consulta dental, tu respuesta SIEMPRE debe ser la siguiente: \"Gracias por compartir la imagen. Para poder entender tu caso y darte la mejor solución, es indispensable que la Dra. Henao realice una valoración profesional. ¿Te gustaría agendar una cita de diagnóstico? Tiene un costo de $20,000.\"\n    * **CASO B (Imagen No Relevante):** Si la imagen no está relacionada con odontología (ej. un documento, un paisaje, un objeto), tu respuesta debe ser: \"He recibido tu imagen. Soy Sofía, la asistente de Vivadent. ¿Cómo puedo ayudarte con nuestros servicios odontológicos o para agendar una cita?\".\n\n[EJEMPLO PRÁCTICO]\n* **Si el usuario envía la imagen `caries.jpg` (la muela con la mancha oscura):**\n* **Tu salida DEBE ser:** \"Gracias por compartir la imagen. Para poder entender tu caso y darte la mejor solución, es indispensable que la Dra. Henao realice una valoración profesional. ¿Te gustaría agendar una cita de diagnóstico? Tiene un costo de $20,000.\"","imageUrls":"={{ $json['data url'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[320,368],"id":"5bb55504-ab90-4482-b89a-c20af6d9cd8a","name":"Analyze image","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"promptType":"define","text":"={{ $json['mensaje usuario'] }}","options":{"systemMessage":"=[ROL Y PERSONALIDAD]\nActúa como \"Sofía\", la asistente del consultorio odontológico Vivadent. Eres la mano derecha de la Dra. Viviancy Henao. Tu tono de comunicación debe ser siempre amable, profesional y cercano. Sé siempre concisa y ve directo al punto.\n\n[REGLA DE FECHAS]\nLa fecha y hora de referencia para esta conversación es {{new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota' })}} en la zona horaria de Colombia (America/Bogota). Todas las fechas que uses como parámetro para las herramientas DEBEN estar en formato ISO 8601 y OBLIGATORIAMENTE deben incluir el offset de Colombia (-05:00), NUNCA deben terminar en 'Z'.\n\n[CONTEXTO DEL CONSULTORIO]\n* **Nombre:** Vivadent\n* **Odontóloga Principal:** Dra. Viviancy Henao\n* **Ubicación:** Don Matías, Antioquia.\n* **Horarios:** L-V de 9am-12pm y 2pm-5pm. Sábados de 9am-1pm.\n\n[HERRAMIENTAS DISPONIBLES]\nDebes usar estas herramientas para cumplir tus tareas.\n\n1.  **Herramienta: `ConsultarConocimiento`**\n    * **Función:** Responde preguntas generales sobre la clínica (servicios, precios, etc.).\n    * **Cuándo usarla:** Cuando el usuario haga una pregunta informativa.\n\n2.  **Herramienta: `VerificarDisponibilidadGoogle`**\n    * **Función:** Verifica si una fecha y hora están disponibles en el calendario.\n    * **Cuándo usarla:** Inmediatamente después de que un cliente proponga un día y una hora.\n\n3.  **Herramienta: `AgendarCitaGoogle`**\n    * **Función:** Agenda la cita en el calendario. Requiere nombre, apellidos, WhatsApp y correo del paciente.\n    * **Cuándo usarla:** Después de confirmar que el espacio está libre y tras haber recopilado todos los datos del paciente.\n\n4.  **Herramienta: `RegistrarCitaGoogleSheet`**\n    * **Función:** Registra la cita en una hoja de control.\n    * **Cuándo usarla:** Inmediatamente después de agendar con éxito en Google Calendar.\n\n[PROCESO Y REGLAS DE AGENDAMIENTO]\nTu objetivo es agendar citas de valoración usando las herramientas.\n\n1.  **Verificar Disponibilidad:** En cuanto el cliente proponga un horario, usa `VerificarDisponibilidadGoogle`.\n2.  **Lógica Dinámica:**\n    *   **Si está disponible:** Informa al usuario y pide sus datos completos.\n    *   **Si NO está disponible:** No te rindas. Propón el siguiente bloque de 30 minutos disponible (ej. \"ese horario está ocupado, pero tengo espacio a las 4:30 PM\") y vuelve a usar `VerificarDisponibilidadGoogle` con esa nueva hora para confirmar.\n3.  **Crear Cita:** Cuando tengas los datos y un espacio confirmado, usa `AgendarCitaGoogle` y luego `RegistrarCitaGoogleSheet`.\n4.  **Confirmación Final:** Confirma al usuario la cita con la fecha y hora exactas.```\n\n### **Próximos Pasos (Nuestro Plan)**\n\n1.  ✅ **Base de Datos en Supabase:** ¡Hecho!\n2.  ✅ **Herramienta de Supabase en n8n:** ¡Diseñada!\n3.  ✅ **Prompt del Agente:** ¡Listo y limpio!\n4.  **A continuación:** Nos enfocaremos en crear las herramientas `VerificarDisponibilidadGoogle` y `AgendarCitaGoogle` usando los nodos de Google Calendar en n8n.\n\nEste enfoque es mucho más robusto y profesional. ¡Vamos por excelente camino"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1104,208],"id":"3d7085a6-2c96-429b-8113-53ce34b819fc","name":"Agente Vivadent"},{"parameters":{"toolDescription":"Agenda una nueva cita en Cal.com. Úsala únicamente después de que la herramienta VerificarDisponibilidadCal haya confirmado que un horario está libre y después de haber recolectado el nombre completo, correo electrónico y número de WhatsApp del paciente. Debes pasar todos los datos del paciente en el cuerpo (body) de la solicitud.","method":"POST","url":"https://api.cal.com/v1/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"cal_live_aa36ad8d4adf0e91eecb8e3c71d4f276"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"eventTypeId\": [TU_EVENT_TYPE_ID],\n  \"start\": \"[Variable con la fecha/hora exacta en formato ISO 8601]\",\n  \"end\": \"[Variable con la fecha/hora de fin de la cita]\",\n  \"timeZone\": \"America/Bogota\",\n  \"language\": \"es\",\n  \"responses\": {\n    \"name\": \"[Variable con el nombre del paciente]\",\n    \"email\": \"[Variable con el correo del paciente]\"\n  },\n  \"status\": \"ACCEPTED\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2880,960],"id":"0621f957-b41d-4d56-983d-29fd2bb0ac95","name":"AgendarCitaCal"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA","mode":"list","cachedResultName":"Control Citas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Citas Valoracion","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Apellidos","displayName":"Apellidos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2384,992],"id":"9d4de792-c35d-4415-b14c-11526cc09d7e","name":"RegistrarCitaEnGoogleSheet","credentials":{"googleSheetsOAuth2Api":{"id":"r9WNQMfasZfbEzbO","name":"Google Sheets Vivadent"}}},{"parameters":{"jsCode":"// Tomamos la salida de texto del nodo del Agente\nlet outputAgente = $json.output;\n\n// Limpiamos el envoltorio Markdown si existe\nif (outputAgente.includes('```')) {\n  const startIndex = outputAgente.indexOf('{');\n  const endIndex = outputAgente.lastIndexOf('}');\n  if (startIndex !== -1 && endIndex !== -1) {\n    outputAgente = outputAgente.substring(startIndex, endIndex + 1);\n  }\n}\n\ntry {\n  // Convertimos el texto limpio en un objeto JSON.\n  const parsedJson = JSON.parse(outputAgente);\n\n  // --- INICIO DE LA CORRECCIÓN DE ZONA HORARIA ---\n  // El LLM devuelve la hora correcta pero en UTC (Z).\n  // Simplemente reemplazamos 'Z' con el offset de Colombia '-05:00'.\n  if (parsedJson.parameters && parsedJson.parameters.startTime) {\n    parsedJson.parameters.startTime = parsedJson.parameters.startTime.replace('Z', '-05:00');\n  }\n  if (parsedJson.parameters && parsedJson.parameters.endTime) {\n    parsedJson.parameters.endTime = parsedJson.parameters.endTime.replace('Z', '-05:00');\n  }\n  // --- FIN DE LA CORRECCIÓN ---\n\n  // Devolvemos el objeto JSON ya corregido.\n  return [{\n    json: parsedJson\n  }];\n\n} catch (e) {\n  // Si falla, era texto de chat normal.\n  return [{\n    json: {\n      tool_name: 'none',\n      text_response: $json.output \n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,480],"id":"0257f37d-d09e-43f9-8d00-1beb431c35bf","name":"Valida Mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tool_name }}","rightValue":"VerificarDisponibilidadCal","operator":{"type":"string","operation":"equals"},"id":"8f52b924-1bfc-4d77-b658-6c4116435c14"}],"combinator":"and"},"renameOutput":true,"outputKey":"Verifica Disponibilidad"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2288,32],"id":"1fcb928d-c0f4-46bc-8088-8d3973e9f343","name":"Switch"},{"parameters":{"url":"https://api.cal.com/v1/availability","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"cal_live_aa36ad8d4adf0e91eecb8e3c71d4f276"},{"name":"eventTypeId","value":"3528001"},{"name":"dateFrom","value":"={{ $json.parameters.startTime }}"},{"name":"dateTo","value":"={{ $json.parameters.endTime }}"},{"name":"username","value":"andrea-henao-ezjzwm"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,288],"id":"cd79fbad-c9a5-4f4c-bb02-6d6b1e64e207","name":"VerificarDisponibilidadCal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"999aa98e-1e52-4402-871f-50e417c069ef","leftValue":"={{ $json.busy }}","rightValue":{},"operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2432,448],"id":"fd6f38ea-53b1-4bec-ab44-83dd18ea654d","name":"Esta Disponible?"},{"parameters":{"method":"POST","url":"https://api.cal.com/v1/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"cal_live_aa36ad8d4adf0e91eecb8e3c71d4f276"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"eventTypeId\": 3528001,\n  \"start\": \"{{ $json.dateRanges[0].start }}\",\n  \"end\": \"{{ $json.dateRanges[0].end }}\",\n  \"timeZone\": \"America/Bogota\",\n  \"language\": \"es\",\n  \"responses\": {\n    \"name\": \"[Variable con el nombre del paciente]\",\n    \"email\": \"[Variable con el correo del paciente]\"\n  },\n  \"status\": \"ACCEPTED\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,448],"id":"f7799d5e-2333-44ac-bc89-cf245fadddb4","name":"AgendarCitaCal1"},{"parameters":{"descriptionType":"manual","toolDescription":"Úsala para responder CUALQUIER pregunta general del usuario sobre la clínica, como servicios, precios, horarios, promociones o la experiencia de la doctora.","useCustomSchema":true,"schema":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Schema', `{\n  \"type\": \"object\",\n  \"properties\": {\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"Una o dos palabras clave que resuman la pregunta del usuario. Ejemplo: si el usuario pregunta '¿Qué servicios ofrecen?', el query debería ser 'servicios'. Si pregunta por el precio, 'precio'.\"\n    }\n  },\n  \"required\": [\"query\"]\n}`, 'string') }}","operation":"get","tableId":"odontologia_vivadent","filters":{"conditions":[{"keyName":"pregunta_clave","keyValue":"={{ $input.additionalParameters.query }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1152,480],"id":"94acedea-b37b-4166-bc7a-0151bef2f69b","name":"Get a row in Supabase","credentials":{"supabaseApi":{"id":"TbX6FhcgL4LeOMan","name":"Supabase Grupo DK"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Úsala siempre que un usuario proponga una fecha y hora para una cita. Te dirá si el horario está libre.\nEsta herramienta necesita OBLIGATORIAMENTE los siguientes dos parámetros:\n- startTime: La fecha y hora de inicio de la cita en formato ISO 8601.\n- endTime: La fecha y hora de fin de la cita en formato ISO 8601.","operation":"getAll","calendar":{"__rl":true,"value":"odontologaviviancyhenao@gmail.com","mode":"list","cachedResultName":"odontologaviviancyhenao@gmail.com"},"timeMin":"={{ $input.additionalParameters.startTime }}","timeMax":"={{ $input.additionalParameters.endTime }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1536,512],"id":"f1dad557-45bf-4ed6-a985-3a9eacec9014","name":"VerificarDisponibilidadGoogle","credentials":{"googleCalendarOAuth2Api":{"id":"AXibNNcm83HZ9XPv","name":"Google Calendar Vivadent"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Úsala ÚNICAMENTE después de haber confirmado que un horario está disponible y de haber recopilado todos los datos del paciente.\nEsta herramienta necesita OBLIGATORIAMENTE los siguientes parámetros:\n- startTime: La fecha y hora de inicio de la cita en formato ISO 8601.\n- endTime: La fecha y hora de fin de la cita en formato ISO 8601.\n- nombrePaciente: El nombre completo del paciente.\n- emailPaciente: El correo electrónico del paciente para enviarle la invitación.","calendar":{"__rl":true,"value":"odontologaviviancyhenao@gmail.com","mode":"list","cachedResultName":"odontologaviviancyhenao@gmail.com"},"start":"={{ $input.additionalParameters.startTime }}","end":"={{ $input.additionalParameters.endTime }}","additionalFields":{"attendees":["={{ $input.additionalParameters.emailPaciente }}"],"summary":"=Cita de Valoración - {{ $input.additionalParameters.nombrePaciente }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1328,512],"id":"3c36bef6-4009-446b-b5a9-f3a3cfd37d4a","name":"AgendarCitaGoogle","credentials":{"googleCalendarOAuth2Api":{"id":"AXibNNcm83HZ9XPv","name":"Google Calendar Vivadent"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente Vivadent","type":"ai_languageModel","index":0}]]},"Webhook -CRM Vivadent":{"main":[[{"node":"Valida ID Conversacion","type":"main","index":0}]]},"Valida ID Conversacion":{"main":[[{"node":"Mapea Mensaje Usuario","type":"main","index":0}]]},"Mapea Mensaje Usuario":{"main":[[{"node":"Tipo Mensaje","type":"main","index":0}]]},"Tipo Mensaje":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}],[{"node":"Recolecta Datos","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Vivadent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Vivadent","type":"ai_memory","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Recolecta Datos","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Recolecta Datos","type":"main","index":0}]]},"Recolecta Datos":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Agente Vivadent":{"main":[[{"node":"Envia Mensaje","type":"main","index":0}]]},"AgendarCitaCal":{"ai_tool":[[]]},"RegistrarCitaEnGoogleSheet":{"ai_tool":[[]]},"Valida Mensaje":{"main":[[]]},"Switch":{"main":[[]]},"VerificarDisponibilidadCal":{"main":[[]]},"Esta Disponible?":{"main":[[],[]]},"Get a row in Supabase":{"ai_tool":[[{"node":"Agente Vivadent","type":"ai_tool","index":0}]]},"VerificarDisponibilidadGoogle":{"ai_tool":[[{"node":"Agente Vivadent","type":"ai_tool","index":0}]]},"AgendarCitaGoogle":{"ai_tool":[[{"node":"Agente Vivadent","type":"ai_tool","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3131","templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ea6bfe9-9b06-4e69-b958-46cd53db3936","triggerCount":1,"shared":[{"createdAt":"2025-09-29T11:48:09.383Z","updatedAt":"2025-09-29T11:48:09.383Z","role":"workflow:owner","workflowId":"kcusjclmkEm6reQJ","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}