agente-vivadent-odontologia-kcusjclmkEm6reQJ.json
{"createdAt":"2025-09-29T11:48:09.374Z","updatedAt":"2025-10-19T01:24:01.000Z","id":"kcusjclmkEm6reQJ","name":"Agente Vivadent Odontologia","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"vivadent_odontologia","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-656,224],"id":"0e062de4-a45e-457e-9743-5e1f9962f354","name":"Webhook -CRM Vivadent","webhookId":"72682a02-1943-4fd8-9843-8aaa70e9a880"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e167d781-a04e-461d-bbd4-560a2cc6240d","leftValue":"={{ $json.body.messages[0].conversation.assignee_id }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,224],"id":"40812166-46fd-437e-9029-058f8bee8222","name":"Valida ID Conversacion"},{"parameters":{"assignments":{"assignments":[{"id":"73ab740b-41f0-4dde-ab02-717133593150","name":"cuerpo mensaje","value":"={{ $json.body }}","type":"string"},{"id":"0d34e6b9-9569-4172-95ff-d71eb43a65fb","name":"tipo mensaje","value":"={{ $json.body.messages[0].message_type }}","type":"string"},{"id":"165cae54-57c0-4689-8640-f80d0477243c","name":"mensaje","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"af4da877-6964-4108-84f3-11f3f1ea7a40","name":"numero","value":"={{ $json.body.messages[0].conversation.contact_inbox.source_id }}","type":"string"},{"id":"1a8e082a-dfce-4bad-bf8c-c49aaca49bb7","name":"tipo contenido","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"83719895-2fb9-4caa-ba9a-544c18df94c8","name":"cuenta id","value":"={{ $json.body.messages[0].account_id }}","type":"string"},{"id":"5d75a390-ef3a-4198-8857-95a6c1fc845e","name":"conversacion id","value":"={{ $json.body.messages[0].conversation_id }}","type":"string"},{"id":"53d8c8c9-329c-45e7-b119-9bb4d176a3fc","name":"cuenta mensaje","value":"={{ $json.body.first_reply_created_at }}","type":"string"},{"id":"cac889df-acb4-41b4-a04e-a5ff1aa2de51","name":"tipo archivo","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"eb1e9564-e3ee-4628-8ab1-9c80aef4de5c","name":"data url","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,208],"id":"84af6338-5ade-43b6-88d0-9d87ed47acea","name":"Mapea Mensaje Usuario"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['tipo archivo'] }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"63ed7985-0ebf-4e81-b47e-7e8afe597afb"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3424304d-0db0-47a8-85b0-b100e52a562b","leftValue":"={{ $json['tipo contenido'] }}{{ $json['tipo archivo'] }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31740c9c-7d56-480b-a9c5-6ccbff20b678","leftValue":"={{ $json['tipo archivo'] }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,192],"id":"0c913d35-326c-46ea-8b7a-66b076db98b2","name":"Tipo Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"1371cdea-08ef-4adb-80a2-4a7d7ba782d0","name":"numero","value":"={{ $('Mapea Mensaje Usuario').item.json.numero }}","type":"string"},{"id":"47f4fd59-c866-49ee-bb12-fe62a8bc6f7b","name":"mensajeusuario","value":"={{ $json.mensaje_usuario }}","type":"string"},{"id":"19dc07cd-7841-4f7d-8ebf-1fddfa4c3d97","name":"cuenta id","value":"={{ $('Mapea Mensaje Usuario').item.json['cuenta id'] }}","type":"string"},{"id":"d7ac9540-765a-4f32-b0bb-2f53b5b272fe","name":"conversacion id","value":"={{ $('Mapea Mensaje Usuario').item.json['conversacion id'] }}","type":"string"},{"id":"f06bf997-3d2f-48f5-bf14-b1b993b4c8d5","name":"cuenta mensaje","value":"={{ $('Mapea Mensaje Usuario').item.json['cuenta mensaje'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,208],"id":"d4ec090b-6147-48ab-a170-37fa5faa4276","name":"Recibe Mensaje"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_vivadent_{{ $json['conversacion id'] }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[928,480],"id":"13682157-ce9d-46ae-9f3d-d7d149e29458","name":"Redis Chat Memory","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}}},{"parameters":{"method":"POST","url":"=https://crm.vivadentodontologia.online/api/v1/accounts/{{ $('Recibe Mensaje').item.json['cuenta id'] }}/conversations/{{ $('Recibe Mensaje').item.json['conversacion id'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"=api_access_token","value":"=UPCzavt6Mfq7V855uGbmKDYe"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,320],"id":"ce07073d-74d3-455a-a56b-0c6d1cf16e03","name":"Envia Mensaje"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"audioUrls":"={{ $json['data url'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[336,64],"id":"fc45417b-211c-41bb-8b27-11451f839eac","name":"Transcribe Audio","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"jsCode":"// Obtenemos los datos de las tres posibles entradas (inputs).\n// CORRECCIÓN: Se busca \"mensaje\" en lugar de \"message\".\nconst textInput = items.find(item => item.json.mensaje !== undefined);\nconst audioInput = items.find(item => item.json.candidates?.[0]?.content?.parts?.[0]?.text);\nconst imageInput = items.find(item => item.json.content?.parts?.[0]?.text);\n\nlet mensajeUnificado = '';\n\n// Verificamos cuál de las entradas tiene datos y extraemos el mensaje.\nif (textInput) {\n  // CORRECCIÓN: Se extrae el dato de \"mensaje\".\n  mensajeUnificado = textInput.json.mensaje;\n\n} else if (audioInput) {\n  // CORRECCIÓN: Se añade \"?.\" (optional chaining) para hacer el código más seguro.\n  mensajeUnificado = audioInput.json.candidates?.[0]?.content?.parts?.[0]?.text;\n\n} else if (imageInput) {\n  // CORRECCIÓN: Se añade \"?.\" (optional chaining) para hacer el código más seguro.\n  mensajeUnificado = imageInput.json.content?.parts?.[0]?.text;\n}\n\n// Devolvemos un nuevo objeto con la variable estandarizada.\nreturn [{\n  json: {\n    mensaje_usuario: mensajeUnificado\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,208],"id":"1600c279-ac9d-4816-933e-7ae44d8a5946","name":"Recolecta Datos"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"text":"[ROL Y OBJETIVO]\nActúa como un asistente de triaje visual para \"Sofía\", la asistente del consultorio odontológico Vivadent. Tu única función es analizar la imagen enviada por un usuario y generar una respuesta corta y segura. Tu objetivo principal NO es describir la imagen en detalle, sino determinar si requiere una valoración profesional y guiar al usuario hacia ella.\n\n[REGLAS FUNDAMENTALES DE SEGURIDAD - ¡INQUEBRANTABLES!]\n1.  **PROHIBIDO DAR DIAGNÓSTICOS:** Bajo ninguna circunstancia puedes nombrar condiciones médicas (ej. \"caries\", \"gingivitis\", \"infección\").\n2.  **NO SUGERIR TRATAMIENTOS:** No menciones ningún tipo de tratamiento, procedimiento, medicamento o remedio.\n3.  **NO ESPECULAR:** No hagas suposiciones sobre la gravedad, el dolor o la urgencia de lo que ves. Evita frases como \"eso parece grave\" o \"no te preocupes\".\n4.  **MANTENER NEUTRALIDAD:** Describe lo que ves de la forma más general y neutra posible si es necesario (ej. \"una imagen de un diente\", \"una foto de la boca\").\n\n[PROCESO DE RESPUESTA]\n1.  **Analiza la imagen:** Observa el contenido de la imagen proporcionada.\n2.  **Determina la acción:**\n    * **CASO A (Imagen Dental/Clínica):** Si la imagen muestra el interior de una boca, un diente, encías, o cualquier cosa que parezca una consulta dental, tu respuesta SIEMPRE debe ser la siguiente: \"Gracias por compartir la imagen. Para poder entender tu caso y darte la mejor solución, es indispensable que la Dra. Henao realice una valoración profesional. ¿Te gustaría agendar una cita de diagnóstico? Tiene un costo de $20,000.\"\n    * **CASO B (Imagen No Relevante):** Si la imagen no está relacionada con odontología (ej. un documento, un paisaje, un objeto), tu respuesta debe ser: \"He recibido tu imagen. Soy Sofía, la asistente de Vivadent. ¿Cómo puedo ayudarte con nuestros servicios odontológicos o para agendar una cita?\".\n\n[EJEMPLO PRÁCTICO]\n* **Si el usuario envía la imagen `caries.jpg` (la muela con la mancha oscura):**\n* **Tu salida DEBE ser:** \"Gracias por compartir la imagen. Para poder entender tu caso y darte la mejor solución, es indispensable que la Dra. Henao realice una valoración profesional. ¿Te gustaría agendar una cita de diagnóstico? Tiene un costo de $20,000.\"","imageUrls":"={{ $json['data url'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[336,368],"id":"5bb55504-ab90-4482-b89a-c20af6d9cd8a","name":"Analyze image","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"promptType":"define","text":"={{ $json['mensajeusuario'] }}","options":{"systemMessage":"=[ROL Y PERSONALIDAD]\nActúa como \"Sofía\", la asistente del consultorio odontológico Vivadent. Eres la mano derecha de la Dra. Viviancy Henao. Tu tono de comunicación debe ser siempre amable, profesional y cercano. Sé siempre concisa y ve directo al punto.\n\n[REGLA DE FECHAS Y ZONA HORARIA]\nLa fecha y hora de referencia para esta conversación es {{new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota' })}} en la zona horaria de Colombia (America/Bogota, UTC-5).\n\nIMPORTANTE: \n- Cuando hables con el usuario, SIEMPRE usa hora de Colombia (formato 12h con AM/PM).\n- Cuando llames a las herramientas de calendario (Disponibilidad, Agendar), DEBES convertir las fechas a UTC terminando en 'Z'.\n- Para convertir de Colombia a UTC: suma 5 horas. Ejemplo: 2:00 PM Colombia = 19:00 UTC = 2025-10-18T19:00:00Z\n\n[CONTEXTO DEL CONSULTORIO]\n* **Nombre:** Vivadent\n* **Odontóloga Principal:** Dra. Viviancy Henao\n* **Ubicación:** Don Matías, Antioquia.\n* **Horarios:** Lunes a Viernes de 9:00 AM a 5:00 PM (jornada continua). Sábados de 9:00 AM a 1:00 PM.\n\n[HERRAMIENTAS DISPONIBLES]\nTu única fuente de información es la herramienta `Conocimiento`. DEBES usarla OBLIGATORIAMENTE para responder CUALQUIER pregunta del usuario sobre la clínica. NO respondas desde tu memoria.\nDebes usar estas herramientas para cumplir tus tareas.\n\n1.  **Herramienta: `Conocimiento`**\n    * **Función:** Es tu base de datos interna. Contiene toda la información sobre servicios (incluyendo generales y especiales como la sueroterapia), precios, promociones, experiencia de la doctora, etc.\n    * **Cuándo usarla:** DEBES USARLA SIEMPRE como primer paso para responder CUALQUIER pregunta informativa del usuario. Si el usuario pregunta por un servicio, búscalo aquí. Si la información no se encuentra, y solo en ese caso, puedes indicar que no tienes ese dato.\n\n2.  **Herramienta: `Disponibilidad`**\n    * **Función:** Consulta el calendario de Google para verificar si hay eventos existentes en un rango específico de tiempo.\n    * **Parámetros:**\n        - `After` (string, obligatorio): Fecha y hora de inicio del rango a consultar en formato ISO 8601 UTC (ejemplo: 2025-10-18T14:00:00Z)\n        - `Before` (string, obligatorio): Fecha y hora de fin del rango a consultar en formato ISO 8601 UTC (ejemplo: 2025-10-18T23:59:59Z)\n    * **Qué retorna:**\n        - Lista vacía `[]`: NO hay eventos = horario DISPONIBLE\n        - Lista con objetos `[{...}]`: SÍ hay eventos = horario OCUPADO\n        - Cada objeto contiene: `summary` (nombre del paciente), `start.dateTime` (hora inicio), `end.dateTime` (hora fin)\n    * **Cuándo usarla:** SIEMPRE ANTES de confirmar cualquier horario al usuario o antes de usar la herramienta Agendar.\n\n3.  **Herramienta: `Agendar`**\n      * **Función:** Agenda la cita en el calendario de Google. Recibe los datos del paciente de forma estructurada.\n    * **Parámetros que necesita:**\n        * `nombre` (string, obligatorio): El primer nombre del paciente.\n        * `apellido` (string, obligatorio): El apellido del paciente.\n        * `telefono` (string, obligatorio): El número de teléfono.\n        * `email` (string, opcional): El correo electrónico, si el usuario lo proporciona voluntariamente.\n    * **Cuándo usarla:** Después de confirmar que el espacio está libre y tras haber recopilado el nombre, apellido y teléfono del paciente.\n\n[REGLAS DE INTERPRETACIÓN DE HERRAMIENTAS (MUY IMPORTANTE)]\n\n**Conversión de Zona Horaria:**\nCuando llames a la herramienta `Disponibilidad` o `Agendar`, debes convertir la hora de Colombia (UTC-5) a UTC (terminando en 'Z'):\n*   FÓRMULA: Hora UTC = Hora Colombia + 5 horas\n*   EJEMPLO: Si el usuario pide \"hoy a las 2:00 PM\" (hora Colombia):\n    - 2:00 PM + 5 horas = 7:00 PM = 19:00\n    - Parámetro: `2025-10-18T19:00:00Z`\n\n**1. Herramienta `Disponibilidad` - Interpretación de Resultados:**\n\nA. **Si retorna lista vacía `[]`:**\n   - Significa: NO hay eventos en ese rango\n   - Conclusión: El horario está DISPONIBLE\n   - Acción: Informar al usuario que el horario está libre y pedir sus datos\n\nB. **Si retorna lista con objetos `[{ summary: \"...\", start: {...}, end: {...} }]`:**\n   - Significa: SÍ hay uno o más eventos en ese rango\n   - Conclusión: El horario está OCUPADO\n   - Acción: Debes analizar los eventos para encontrar espacios libres\n\n**Cómo Analizar Eventos y Encontrar Espacios Libres:**\n\nCuando la herramienta retorne eventos, cada evento tendrá esta estructura:\n```\n{\n  \"summary\": \"JUAN DIEGO ECHAVARRIA TABORDA\",\n  \"start\": { \"dateTime\": \"2025-10-18T17:00:00Z\" },\n  \"end\": { \"dateTime\": \"2025-10-18T17:30:00Z\" }\n}\n```\n\nPasos para encontrar horarios libres:\n1. Convierte las fechas UTC de los eventos a hora de Colombia (resta 5 horas)\n2. Identifica los bloques ocupados\n3. Encuentra espacios de al menos 30 minutos libres entre:\n   - El horario de apertura (9:00 AM) y el primer evento\n   - Entre eventos consecutivos\n   - Entre el último evento y el horario de cierre (5:00 PM L-V, 1:00 PM Sábados)\n4. Propón el siguiente horario libre más cercano al horario solicitado\n5. Vuelve a llamar `Disponibilidad` para confirmar que ese nuevo horario está libre\n\n**Ejemplo Práctico:**\n- Usuario pide: \"Mañana a las 2:30 PM\"\n- Llamas a Disponibilidad con: After: 2025-10-19T19:30:00Z, Before: 2025-10-19T20:00:00Z\n- Resultado: `[{ start: \"2025-10-19T19:30:00Z\", end: \"2025-10-19T20:00:00Z\" }]`\n- Tu análisis: \"El horario de 2:30 PM está ocupado\"\n- Tu respuesta: \"El horario de 2:30 PM está ocupado. ¿Te gustaría agendar a las 3:00 PM?\"\n- Verificas nuevamente: Llamas Disponibilidad con After: 2025-10-19T20:00:00Z, Before: 2025-10-19T20:30:00Z\n\n**2. Herramienta `Conocimiento`:**\n   - Si la herramienta devuelve una respuesta, úsala para contestar\n   - Si no devuelve nada, indica amablemente que no tienes esa información\n\n[ESTRATEGIA DE BÚSQUEDA DE DISPONIBILIDAD]\n\nCuando el usuario solicite una cita, sigue esta estrategia:\n\n1. **Consulta Amplia Inicial:**\n   - Si pide una hora específica (ej: \"mañana a las 2 PM\"), busca TODO el día solicitado\n   - Parámetros: After = inicio del día (14:00:00Z = 9:00 AM Colombia), Before = fin del día (22:00:00Z = 5:00 PM Colombia)\n   - Esto te permite ver TODOS los eventos del día y encontrar espacios libres\n\n2. **Análisis de Resultados:**\n   - Si retorna `[]`: Todo el día está libre, confirma el horario solicitado\n   - Si retorna eventos: Analiza cuáles bloques de 30 min están libres\n\n3. **Propuesta de Alternativas:**\n   - Si el horario exacto está ocupado, propón el siguiente bloque de 30 min libre\n   - Prioridad: mismo día, horarios cercanos al solicitado\n   - Si todo el día está lleno, ofrece el día siguiente\n\n4. **Confirmación Final:**\n   - SIEMPRE confirma el horario alternativo con otra llamada a `Disponibilidad` antes de pedir datos\n\n[PROCESO Y REGLAS DE AGENDAMIENTO]\nTu objetivo principal es agendar citas de valoración. Sigue estas reglas estrictamente:\n\n1.  **Verificar Disponibilidad:** En cuanto el cliente proponga un horario, usa la herramienta `Disponibilidad` para confirmar que el espacio está libre.\n\n2.  **Lógica Dinámica de Horarios:**\n    *   **Si está disponible:** Informa al usuario que el horario está libre y procede a pedirle sus datos.\n    *   **Si NO está disponible:** \n        - Analiza los eventos retornados para identificar espacios libres\n        - Propón el siguiente bloque de 30 minutos disponible (usa la estrategia anterior)\n        - Vuelve a llamar `Disponibilidad` para confirmar que el nuevo horario propuesto está libre\n        - Solo cuando confirmes que está libre, pide los datos del paciente\n\n3.  **Recopilación de Datos Esencial:**\n    *   Para agendar la cita, pide explícitamente el **nombre, apellido y número de teléfono**. NO pidas el nombre completo en una sola frase.\n    *   **Ejemplo de cómo pedir los datos:** \"¡Excelente, ese horario está disponible! Para registrar tu cita, por favor, dime tu nombre y apellido, y tu número de teléfono.\"\n    *   **NO preguntes por el correo electrónico.** Si el usuario lo incluye en su mensaje junto con los otros datos, úsalo. Si no lo menciona, simplemente ignóralo.\n\n4.  **Crear Cita:** SOLO cuando tengas **nombre, apellido y teléfono**, y hayas confirmado un espacio, usa la herramienta `Agendar`, pasando cada dato en su parámetro correspondiente.\n\n5.  **Regla de Paciencia y Recopilación:**\n    *   **NO DEBES** usar la herramienta `Agendar` hasta que hayas recopilado explícitamente el **nombre, el apellido y el teléfono**.\n    *   Si el usuario te proporciona solo uno de los datos, tu única respuesta debe ser agradecer y solicitar amablemente los datos que faltan. No intentes adivinar ni alucinar la información.\n    *   **Ejemplo de Flujo Correcto:**\n        *   **Usuario:** \"Quiero una cita, mi nombre es Viviancy Henao\"\n        *   **Tu Respuesta:** \"¡Hola Viviancy! Con gusto. Para continuar, por favor, indícame tu número de teléfono.\"\n        *   **Usuario:** \"Claro, es 312...\"\n        *   **Tu Respuesta:** (Ahora que tienes nombre, apellido y teléfono, procedes a usar la herramienta `Agendar`).\n\n[REGLA DE EXTRACCIÓN Y CONFIRMACIÓN INTELIGENTE]\nTu objetivo es ser eficiente. Cuando pidas los datos del paciente (nombre, apellido y teléfono), el usuario podría enviarlos todos en un solo mensaje.\n\n1.  **Análisis de Mensaje Único:** Si el usuario responde con un mensaje que contiene varias palabras y un número, asume que ha proporcionado toda la información. Por ejemplo, en \"Juan Morales 3004516879\", debes extraer \"Juan\" como nombre, \"Morales\" como apellido y el número como teléfono.\n\n2.  **Prohibido Reconfirmar Datos:** Si logras extraer el nombre, apellido y teléfono, **NO VUELVAS A PREGUNTAR POR ELLOS**. Confía en la información que extrajiste. No digas \"Solo necesito que me confirmes tu apellido\" si ya lo tienes.\n\n3.  **Confirmación Directa de la Cita:** Una vez que tengas los tres datos (nombre, apellido, teléfono) y el horario confirmado, tu siguiente y única respuesta debe ser la confirmación final de la cita.\n\n4.  **Palabra Clave Obligatoria:** En tu mensaje de confirmación final, DEBES usar la frase exacta **\"Tu cita... está confirmada\"** e incluir la fecha completa que se agendó.\n    *   **Ejemplo:** \"Tu cita de valoración para el **2025-10-10** a las 3:00 p.m. **está confirmada**, Juan Morales.\"\n\n**Ejemplo de Flujo Ideal:**\n*   **Tú:** \"Para registrar tu cita, por favor, dime tu nombre, apellido y tu número de teléfono.\"\n*   **Usuario:** \"Juan Morales 3004516879\"\n*   **Tú (Acción interna):** (Llamas a la herramienta `Agendar` con nombre=\"Juan\", apellido=\"Morales\", telefono=\"3004516879\").\n*   **Tú (Respuesta al usuario):** \"Tu cita de valoración para el **2025-10-10** a las 3:00 p.m. **está confirmada**, Juan Morales. ¿Hay algo más en lo que pueda ayudarte?\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1104,208],"id":"3d7085a6-2c96-429b-8113-53ce34b819fc","name":"Agente Vivadent"},{"parameters":{"descriptionType":"manual","toolDescription":"Úsala para responder CUALQUIER pregunta general del usuario sobre la clínica, como servicios, precios, horarios, promociones o la experiencia de la doctora, tamnien servicios especiales y suero terapia.","useCustomSchema":true,"schema":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Schema', `{\n  \"type\": \"object\",\n  \"properties\": {\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"Una o dos palabras clave que resuman la pregunta del usuario. Ejemplo: si el usuario pregunta '¿Qué servicios ofrecen?', el query debería ser 'servicios'. Si pregunta por el precio, 'precio'.\"\n    }\n  },\n  \"required\": [\"query\"]\n}`, 'string') }}","operation":"getAll","tableId":"=odontologia_vivadent","filters":{"conditions":[{"keyName":"=pregunta_clave","condition":"ilike","keyValue":"=%{{ $json.query }}%"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1104,464],"id":"94acedea-b37b-4166-bc7a-0151bef2f69b","name":"Conocimiento","credentials":{"supabaseApi":{"id":"TbX6FhcgL4LeOMan","name":"Supabase Grupo DK"}}},{"parameters":{"descriptionType":"manual","toolDescription":"PARÁMETROS REQUERIDOS:\n- After: Fecha y hora de inicio en formato ISO 8601 UTC (termina en Z). Recuerda sumar 5 horas a la hora de Colombia.\n- Before: Fecha y hora de fin en formato ISO 8601 UTC (termina en Z). Recuerda sumar 5 horas a la hora de Colombia.\n\nESTRATEGIA DE BÚSQUEDA:\nPara consultar disponibilidad, busca TODO el día laboral completo (9:00 AM a 5:00 PM Colombia = 14:00:00Z a 22:00:00Z).\n\nQUÉ RETORNA:\n- Si retorna [] (lista vacía): NO hay eventos, el día/horario está DISPONIBLE\n- Si retorna [{...}] (lista con objetos): SÍ hay eventos, analiza los horarios ocupados\n\nFORMATO DE EVENTOS RETORNADOS:\nCada evento tiene: summary (nombre paciente), start.dateTime (hora inicio UTC), end.dateTime (hora fin UTC).\n\nIMPORTANTE: Debes convertir las horas UTC de los eventos a hora Colombia (resta 5 horas) para identificar qué bloques de 30 minutos están ocupados","operation":"getAll","calendar":{"__rl":true,"value":"odontologaviviancyhenao@gmail.com","mode":"list","cachedResultName":"odontologaviviancyhenao@gmail.com"},"returnAll":true,"timeMin":"={{ $fromAI('Before', 'Fecha y hora de fin del rango a consultar en formato ISO 8601 UTC. Ejemplo: si el usuario pide 2:00 PM Colombia (UTC-5), debes enviar 2025-10-20T19:30:00Z (suma 5 horas para una cita de 30 min). Para buscar todo el día, usa el fin del horario laboral: 22:00:00Z (5:00 PM Colombia)', 'string') }}","timeMax":"={{ $fromAI('Before', 'Fecha y hora de fin del rango a consultar en formato ISO 8601 UTC. Ejemplo: si el usuario pide 2:00 PM Colombia (UTC-5), debes enviar 2025-10-20T19:30:00Z (suma 5 horas para una cita de 30 min). Para buscar todo el día, usa el fin del horario laboral: 22:00:00Z (5:00 PM Colombia)', 'string') }}\n```\n\n### **Paso 3: Actualizar la Descripción de la Herramienta**\n\nEn el campo **\"Description\"** del nodo \"Disponibilidad\", reemplaza con:\n```\nConsulta el calendario de Google para verificar si hay eventos en un rango de tiempo específico. \n\nPARÁMETROS REQUERIDOS:\n- After: Fecha y hora de inicio en formato ISO 8601 UTC (termina en Z). Recuerda sumar 5 horas a la hora de Colombia.\n- Before: Fecha y hora de fin en formato ISO 8601 UTC (termina en Z). Recuerda sumar 5 horas a la hora de Colombia.\n\nESTRATEGIA DE BÚSQUEDA:\nPara consultar disponibilidad, busca TODO el día laboral completo (9:00 AM a 5:00 PM Colombia = 14:00:00Z a 22:00:00Z).\n\nQUÉ RETORNA:\n- Si retorna [] (lista vacía): NO hay eventos, el día/horario está DISPONIBLE\n- Si retorna [{...}] (lista con objetos): SÍ hay eventos, analiza los horarios ocupados\n\nFORMATO DE EVENTOS RETORNADOS:\nCada evento tiene: summary (nombre paciente), start.dateTime (hora inicio UTC), end.dateTime (hora fin UTC).\n\nIMPORTANTE: Debes convertir las horas UTC de los eventos a hora Colombia (resta 5 horas) para identificar qué bloques de 30 minutos están ocupados.\n```\n\n### **Paso 4: Verificar Timezone en Options**\n\nEn el nodo \"Disponibilidad\", ve a **Options** → **Timezone** y asegúrate que esté en `America/Bogota` (ya lo tienes configurado correctamente según la imagen).\n\n## 🔧 Actualización del Prompt del Sistema\n\nTambién necesitas actualizar una parte del prompt del sistema. En la sección **[ESTRATEGIA DE BÚSQUEDA DE DISPONIBILIDAD]**, cambia el punto 1 a:\n```\n1. **Consulta Amplia Inicial:**\n   - Cuando el usuario pida una cita, SIEMPRE busca TODO el día laboral completo\n   - Parámetros para Colombia (UTC-5):\n     * After: Fecha del día + T14:00:00Z (equivale a 9:00 AM Colombia)\n     * Before: Fecha del día + T22:00:00Z (equivale a 5:00 PM Colombia)\n     * Para sábados: Before debe ser T18:00:00Z (1:00 PM Colombia)\n   - EJEMPLO: Si usuario pide \"mañana 20 de octubre a las 2 PM\":\n     * After: 2025-10-20T14:00:00Z\n     * Before: 2025-10-20T22:00:00Z\n   - Esto te permite ver TODOS los eventos del día y encontrar espacios libres","options":{"timeZone":{"__rl":true,"value":"America/Bogota","mode":"list","cachedResultName":"America/Bogota"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1472,464],"id":"75f738c6-cffa-4281-9142-41f079ce44e6","name":"Disponibilidad","credentials":{"googleCalendarOAuth2Api":{"id":"AXibNNcm83HZ9XPv","name":"Google Calendar Vivadent"}}},{"parameters":{"calendar":{"__rl":true,"value":"odontologaviviancyhenao@gmail.com","mode":"list","cachedResultName":"odontologaviviancyhenao@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":[],"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1280,464],"id":"26d0589d-d002-4174-8964-5e2008c9c1d5","name":"Agendar","credentials":{"googleCalendarOAuth2Api":{"id":"AXibNNcm83HZ9XPv","name":"Google Calendar Vivadent"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fbfc9d-90d3-4562-a31f-7049f0cab39d","leftValue":"={{ $json.output }}","rightValue":"está confirmada","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,208],"id":"c3eac51c-5648-4b11-8c7b-922317ee7d58","name":"Valida datos del cliente"},{"parameters":{"jsCode":"// Obtenemos el único dato que necesitamos: el texto de confirmación final del agente.\nconst agenteOutput = $('Valida datos del cliente').item.json.output;\n\n// 1. Extraer Fecha y Hora (esto ya funcionaba bien)\nconst fechaMatch = agenteOutput.match(/\\d{4}-\\d{2}-\\d{2}/);\nconst horaMatch = agenteOutput.match(/\\d{1,2}:\\d{2}\\s?(a\\.m\\.|p\\.m\\.)/i);\n\nconst fecha = fechaMatch ? fechaMatch[0] : \"Fecha no encontrada\";\nconst hora = horaMatch ? horaMatch[0] : \"Hora no encontrada\";\n\n// 2. Extraer Nombre y Apellido (NUEVA LÓGICA MEJORADA)\n// Buscamos el texto que viene DESPUÉS de la palabra \"confirmada,\" y ANTES del signo de interrogación.\nconst nombreCompletoMatch = agenteOutput.match(/confirmada,\\s(.*?)\\./);\n\nlet nombre = \"No especificado\";\nlet apellido = \"\";\n\nif (nombreCompletoMatch && nombreCompletoMatch[1]) {\n  const nombreCompleto = nombreCompletoMatch[1].trim();\n  const partesNombre = nombreCompleto.split(' ');\n  nombre = partesNombre[0] || \"No especificado\";\n  apellido = partesNombre.slice(1).join(' ') || \"\";\n}\n\n// 3. Extraer el Teléfono (¡También del mensaje original!)\n// Para esto, SÍ necesitamos referenciar el nodo 'Recibe Mensaje' porque el teléfono no está en la respuesta final.\n// Lo manejaremos de forma segura.\nlet telefono = \"No encontrado\";\ntry {\n  telefono = $('Recibe Mensaje').item.json['numero'];\n} catch (e) {\n  // Si falla, el teléfono simplemente no se encontrará, pero el flujo no se romperá.\n}\n\n// 4. Definir Correo\nconst correo = \"no tiene correo\";\n\n// Devolvemos el objeto JSON limpio.\nreturn {\n  items: [{\n    json: {\n      fecha: fecha,\n      hora: hora,\n      nombre: nombre,\n      apellido: apellido,\n      correo: correo,\n      telefono: telefono\n    }\n  }]\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,80],"id":"3beab277-f00b-431f-ad84-66da89deaa01","name":"Datos del Cliente"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA","mode":"list","cachedResultName":"Control Citas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Citas Valoracion","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.items[0].json.fecha }}","Hora":"={{ $json.items[0].json.hora }}","Nombre":"={{ $json.items[0].json.nombre }}","Apellido":"={{ $json.items[0].json.apellido }}","Correo":"={{ $json.items[0].json.correo }}","Telefono":"={{ $json.items[0].json.telefono }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2000,80],"id":"d50e8e44-b241-4c57-a7fc-dba5b26c5e1e","name":"Control de citas","credentials":{"googleSheetsOAuth2Api":{"id":"r9WNQMfasZfbEzbO","name":"Google Sheets Vivadent"}}},{"parameters":{"method":"POST","url":"=https://crm.vivadentodontologia.online/api/v1/accounts/{{ $('Recibe Mensaje').item.json['cuenta id'] }}/conversations/{{ $('Recibe Mensaje').item.json['conversacion id'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"=api_access_token","value":"=UPCzavt6Mfq7V855uGbmKDYe"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Valida datos del cliente').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,80],"id":"06c885e6-27cb-4712-ad67-441ca9589739","name":"Envia Cita Confirmada"},{"parameters":{"method":"POST","url":"=https://crm.vivadentodontologia.online/api/v1/accounts/{{ $('Recibe Mensaje').item.json['cuenta id'] }}/conversations/{{ $('Recibe Mensaje').item.json['conversacion id'] }}/assignments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"UPCzavt6Mfq7V855uGbmKDYe"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=assignee_id","value":"2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,80],"id":"2e19ec57-0e67-4284-9e40-91800b919662","name":"Asigna Agente"},{"parameters":{"method":"POST","url":"=https://crm.vivadentodontologia.online/api/v1/accounts/{{ $('Recibe Mensaje').item.json['cuenta id'] }}/conversations/{{ $('Recibe Mensaje').item.json['conversacion id'] }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"UPCzavt6Mfq7V855uGbmKDYe"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=status","value":"open"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,80],"id":"a2703a7f-3d7a-4e88-99c0-0e0598da0d29","name":"Cambia Estado"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[736,448],"id":"ab2b9ac2-e034-4698-a8da-3b7a9ecd61df","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}}],"connections":{"Webhook -CRM Vivadent":{"main":[[{"node":"Valida ID Conversacion","type":"main","index":0}]]},"Valida ID Conversacion":{"main":[[{"node":"Mapea Mensaje Usuario","type":"main","index":0}]]},"Mapea Mensaje Usuario":{"main":[[{"node":"Tipo Mensaje","type":"main","index":0}]]},"Tipo Mensaje":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}],[{"node":"Recolecta Datos","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Vivadent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Vivadent","type":"ai_memory","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Recolecta Datos","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Recolecta Datos","type":"main","index":0}]]},"Recolecta Datos":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Agente Vivadent":{"main":[[{"node":"Valida datos del cliente","type":"main","index":0}]]},"Conocimiento":{"ai_tool":[[{"node":"Agente Vivadent","type":"ai_tool","index":0}]]},"Disponibilidad":{"ai_tool":[[{"node":"Agente Vivadent","type":"ai_tool","index":0}]]},"Agendar":{"ai_tool":[[{"node":"Agente Vivadent","type":"ai_tool","index":0}]]},"Envia Mensaje":{"main":[[]]},"Valida datos del cliente":{"main":[[{"node":"Datos del Cliente","type":"main","index":0}],[{"node":"Envia Mensaje","type":"main","index":0}]]},"Datos del Cliente":{"main":[[{"node":"Control de citas","type":"main","index":0}]]},"Control de citas":{"main":[[{"node":"Envia Cita Confirmada","type":"main","index":0}]]},"Envia Cita Confirmada":{"main":[[{"node":"Asigna Agente","type":"main","index":0}]]},"Asigna Agente":{"main":[[{"node":"Cambia Estado","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente Vivadent","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3131","templateCredsSetupCompleted":true},"pinData":{"Webhook -CRM Vivadent":[{"json":{"headers":{"connection":"Upgrade","host":"n8.enterprisetecno.com","x-real-ip":"212.56.33.215","x-forwarded-for":"212.56.33.215","x-forwarded-proto":"https","content-length":"1852","accept":"application/json","user-agent":"rest-client/2.1.0 (linux x86_64) ruby/3.4.4p34","content-type":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":24,"contact_id":23,"inbox_id":4,"source_id":"573004516713","created_at":"2025-10-07T17:10:02.057Z","updated_at":"2025-10-07T17:10:02.057Z","hmac_verified":false,"pubsub_token":"iCsBFhEnYwnWYajSscQRHtDR"},"id":65,"inbox_id":4,"messages":[{"id":535,"content":"Deseo agendar para el dia 20 a las 1:30 pm","account_id":1,"inbox_id":4,"conversation_id":65,"message_type":0,"created_at":1760835129,"updated_at":"2025-10-19T00:52:09.930Z","private":false,"status":"sent","source_id":"wamid.HBgMNTczMDA0NTE2NzEzFQIAEhgWM0VCMDA3ODYxRjM4QkM1QTFDQkFCNwA=","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":23,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Deseo agendar para el dia 20 a las 1:30 pm","sentiment":{},"conversation":{"assignee_id":null,"unread_count":2,"last_activity_at":1760835129,"contact_inbox":{"source_id":"573004516713"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":23,"identifier":null,"name":"Alveiro Perez","phone_number":"+573004516713","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":23,"identifier":null,"name":"Alveiro Perez","phone_number":"+573004516713","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":2,"first_reply_created_at":"2025-10-18T11:42:41.872Z","priority":null,"waiting_since":1760835129,"agent_last_seen_at":1760822776,"contact_last_seen_at":0,"last_activity_at":1760835129,"timestamp":1760835129,"created_at":1760787756,"updated_at":1760835130.079734,"event":"automation_event.message_created"},"webhookUrl":"https://n8.enterprisetecno.com/webhook/vivadent_odontologia","executionMode":"production"}}]},"versionId":"a98c21b3-339a-42f0-a1a8-0d7c02427b0d","triggerCount":1,"shared":[{"createdAt":"2025-09-29T11:48:09.383Z","updatedAt":"2025-09-29T11:48:09.383Z","role":"workflow:owner","workflowId":"kcusjclmkEm6reQJ","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}