chatbot_inmobiliaria_demo_v1-bbvjYWoewJpFsuwC.json
{"createdAt":"2025-07-15T22:03:27.435Z","updatedAt":"2025-07-29T11:22:58.000Z","id":"bbvjYWoewJpFsuwC","name":"Chatbot_Inmobiliaria_Demo_V1","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"c7af9020-f22c-4714-a3b6-f269d754e6bf","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2540,-160],"id":"a3106331-c448-4187-a240-41a4342e3247","webhookId":"c7af9020-f22c-4714-a3b6-f269d754e6bf"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1440,-340],"id":"abc3be4e-a87e-471c-b094-1d7b3accb954","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1880,-180],"id":"d9a9b999-3f17-468c-bc6b-0be91362afcc","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2060,-180],"id":"57c93ac3-2dd8-4ea6-8172-1b393b86ff00","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.message }}{{ $json.text }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1180,-160],"id":"4b9b1549-6a4e-49d2-8690-2938ca36640b"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1040,40],"id":"202d3609-87f9-4dcd-91c0-99842ddbf845","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-300,180],"id":"16ee4bf9-0dbf-4a15-b998-1375e6479d95","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[60,180],"id":"51b745c6-329a-4d0e-b322-f6cd581fae7f","name":"Selecciona Respuesta"},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1660,-340],"id":"187a097d-a32a-408f-91f2-70293edc9617","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[780,200],"id":"1fbaebb1-e38a-4fd5-8499-6ccc781626b2","name":"Descargar Audio"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[480,-220],"id":"9d3fee86-5314-47de-89e7-de40078daf69","name":"Espera para enviar Mensaje","webhookId":"e233e6ac-5065-46aa-8e1a-06e0babd96a9"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"audio_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"audio_url","value":"={{ $json.stdout }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,200],"id":"e3666f55-da7a-4e08-9350-5d5145bb0654","name":"Envia Mensajes Audio"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Agente Simón').item.json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-20],"id":"2043fa80-a886-4cc1-be4f-87df952a6e17","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.data.message }}","rightValue":"Ya mismo agendaremos la visita","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1020,-20],"id":"7ea61950-dbad-4868-afd3-e9e08c887ad6","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2140,-40],"id":"638398c4-3b94-487d-a661-dd17d57648a5","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2360,-40],"id":"97aa8753-ba69-4ea3-952a-898c488bf6f2","name":"Verifica si el Contacto Existe"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"=36089"},{"name":"assignToAgentId","value":"36089"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,-40],"id":"daa98edb-58d5-4dcd-ac64-f40a114c5e86","name":"Cambia Estado Conversacion"},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1040,200],"id":"09d776ee-840f-4a3c-b58c-3df4847ca8ef","name":"Renombra Archivo Audio"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names","emailAddresses"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[1940,-40],"id":"fd23dd9a-36c1-45dd-a2fe-410caea231e1","name":"Busca el Contacto","credentials":{"googleContactsOAuth2Api":{"id":"cUfReA3TRFXdZWdq","name":"Google Contacts Giraldo Gomez Constructores"}}},{"parameters":{"jsCode":"// Obtener datos desde el nodo \"Extrae los Datos del Cliente\"\nconst nombre = $node[\"Extrae los Datos del Cliente\"].json.nombre;\nconst celular = $node[\"Extrae los Datos del Cliente\"].json.celular;\nconst correo = $node[\"Extrae los Datos del Cliente\"].json.correo;\nconst proyecto = $node[\"Extrae los Datos del Cliente\"].json.proyecto;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular,\n      correo,\n      proyecto\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2620,-60],"id":"0027d0de-9f4f-4e6b-a581-0cf7f66aaf65","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"emailsUi":{"emailsValues":[{"type":"work","value":"={{ $json.correo }}"}]},"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2840,-60],"id":"5c10817d-f8e5-4e14-9f3a-81c1615d3c45","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"cUfReA3TRFXdZWdq","name":"Google Contacts Giraldo Gomez Constructores"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75cc19e7-a633-4a11-8899-df43c9399c26","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2320,-160],"id":"b2f08a8a-13fc-4932-9c17-e7bcdf5855b1","name":"Comprueba Estado de la Conversación"},{"parameters":{"jsCode":"const texto = $json.output || \"\";\nconst marcadoresDisponibles = [\n  \"ENVIAR_IMAGENES_BOREAL\",\n  \"ENVIAR_VIDEO_BOREAL\",\n  \"ENVIAR_IMAGENES_NATTIVO\",\n  \"ENVIAR_VIDEO_NATTIVO\"\n];\n\nconst marcadoresDetectados = marcadoresDisponibles.filter(m =>\n  texto.includes(`[[${m}]]`)\n);\n\nif (marcadoresDetectados.length === 0) {\n  return [\n    {\n      json: {\n        resultado: \"NO_MARKERS_FOUND\",\n        original: texto\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      marcadores: marcadoresDetectados\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,-340],"id":"f1c27fe4-67fb-4ed1-a4dd-feae84a04165","name":"Detectar Marcadores"},{"parameters":{"jsCode":"const marcadores = $json.marcadores || [];\n\nconst driveUrls = {\n  ENVIAR_IMAGENES_BOREAL: [\n    \"https://drive.google.com/uc?id=1pfzeYiKLiodbotqQci5ZGUPcZeTk72jE\",\n    \"https://drive.google.com/uc?id=1TgSosy157Kg0_GfsniQzwdargLjYn9Hg\",\n    \"https://drive.google.com/uc?id=1DQ6ZFjPfNGNnF4PMDGTirAb1wDN8WC_0\",\n    \"https://drive.google.com/uc?id=1loho1vB8GuDWYwTHyUDTQE37ZMVyaZA5\",\n    \"https://drive.google.com/uc?id=1IrmC4fnfKeP1eQa1FWYkwIhjKhV80Sb4\",\n    \"https://drive.google.com/uc?id=1MYIebTyAUGS_O0UoFDkCZZWsJdjJwF_2\",\n    \"https://drive.google.com/uc?id=1dFplyLlvd0cZHw-gsueUYWNc_VlnPBpf\",\n    \"https://drive.google.com/uc?id=16V88zZCc6Zfid3_gi9dW_DDF25mM53zw\"\n  ],\n  ENVIAR_VIDEO_BOREAL: [\n    \"https://drive.google.com/uc?id=1G2B4Zfft0ZRNBogvRJzpmZLKYTXoElbT\",\n    \"https://drive.google.com/uc?id=1ZbTheV1qbfYAezxpGO2M6zeta9BCstXk\"\n  ],\n  ENVIAR_IMAGENES_NATTIVO: [\n    \"https://drive.google.com/uc?id=12HlGHSkFpfpep1aI_wJYlBfNPx6Pi0iK\",\n    \"https://drive.google.com/uc?id=1Jspnwf7z9jzLPIIZiMJsXG4ofcy-r3d-\",\n    \"https://drive.google.com/uc?id=1sizL9DrP9SY-OFX7zCiofwr-iTUmmreN\",\n    \"https://drive.google.com/uc?id=1C4ISYT7lGX8ZngPeNOR34W1jDZy6pNCI\",\n    \"https://drive.google.com/uc?id=1F1hMSdQhm0BA0tzH2nWYDkwO81SEMhKY\",\n    \"https://drive.google.com/uc?id=1qtUZeYFqqW0yHH94AIUyS5yuiHHVr73v\",\n    \"https://drive.google.com/uc?id=1s_GKNjuWXBn_KP3l7_Jr2iFMHoNnbF_K\",\n    \"https://drive.google.com/uc?id=1Hb22rawrHeS0IPJw6OBPfA1VwntQHrfQ\"\n  ],\n  ENVIAR_VIDEO_NATTIVO: [\n    \"https://drive.google.com/uc?id=1X-OsB5Acf0FQDem61_DNxaj1uDw4N_-c\"\n  ]\n};\n\nconst resultados = [];\n\nfor (const marcador of marcadores) {\n  const tipo = marcador.includes(\"VIDEO\") ? \"video\" : \"image\";\n  const urls = driveUrls[marcador] || [];\n\n  for (const url of urls) {\n    resultados.push({\n      json: {\n        tipo,\n        media_url: url\n      }\n    });\n  }\n}\n\nif (resultados.length === 0) {\n  return [{ json: { error: \"NO_FILES_FOUND\" } }];\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,-340],"id":"f538092e-b95e-473d-9524-31c177a7a172","name":"Generar Lista Multimedia"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"video_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"video_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,-440],"id":"954cddeb-4a15-4c3f-b35b-8c734def9656","name":"Enviar Mensaje Videos","executeOnce":false},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,-660],"id":"7267074f-a09b-449a-8ec8-4469e6107d10","name":"Enviar Mensaje Imagenes","executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_IMAGENES_NATTIVO]]","operator":{"type":"string","operation":"contains"}},{"id":"4eb7a703-e33c-4f1d-a2b5-29d152bed72d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_VIDEO_NATTIVO]]","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"83c42724-da56-498a-9b4e-c9bf0ff0a1b8","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_IMAGENES_BOREAL]]","operator":{"type":"string","operation":"contains"}},{"id":"d39d99fa-97c2-48f2-9f8c-4cd5b82ef0e4","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_VIDEO_BOREAL]]","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"name":"Es Marcador?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-580,-160],"id":"f931cb98-ca2b-4f4a-8672-4e85fb4cad12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62b4890c-6608-467c-9be8-0a183724a06e","leftValue":"={{ $json.tipo }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,-520],"id":"00b921db-7615-44b4-8d4f-7023f17112fa","name":"Es Imagen?","alwaysOutputData":false},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[440,-440],"id":"b07c4af6-4257-4d1f-ae3f-8593c6333b4b","name":"Espera para enviar video","webhookId":"7f7aa4fd-6733-4581-b949-ab898f7a3900"},{"parameters":{"jsCode":"// Tomar el mensaje del Agente Luisa\nconst mensajeDelAgente = $node[\"Agente Simón\"].json.output || \"\";\n\n// Eliminar marcadores del tipo [[...]]\nconst mensajeLimpio = mensajeDelAgente.replace(/\\[\\[.*?\\]\\]/g, '').replace(/\\s{2,}/g, ' ').trim();\n\n// Tomar datos del Webhook\nconst wa_id = $('Webhook -- Wasapi').first().json.body.data.wa_id;\nconst from_id = $('Webhook -- Wasapi').first().json.body.data.from_id;\n\nreturn [\n  {\n    json: {\n      mensaje_final: mensajeLimpio,\n      wa_id,\n      from_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,-220],"id":"a3633ba6-45af-4834-b4b3-b4b65520d615","name":"Preparar para Texto Final"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.mensaje_final }}"},{"name":"wa_id","value":"={{ $json.wa_id }}"},{"name":"from_id","value":"={{ $json.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-220],"id":"232d60a9-77d3-4a06-85f0-6c83eb8c6aba","name":"Enviar Mensaje"},{"parameters":{"jsCode":"const mensaje = $json.data.message;\n\nconst datos = {\n    fecha: new Date().toLocaleDateString(\"es-CO\"),\n    nombre: mensaje.match(/nombre:\\s*(.+)/i)?.[1]?.trim() || '',\n    celular: mensaje.match(/celular:\\s*(.+)/i)?.[1]?.trim() || '',\n    hora: mensaje.match(/hora de cita:\\s*(.+)/i)?.[1]?.trim() || '',\n    correo: mensaje.match(/correo electrónico:\\s*(.+)/i)?.[1]?.trim() || '',\n    proyecto: mensaje.match(/Proyecto de su interés:\\s*(.+)/i)?.[1]?.trim() || ''\n};\n\nreturn [{ json: datos }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-40],"id":"f8982f46-6e90-4bc1-bcd6-238369cdc446","name":"Extrae los Datos del Cliente"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZCitmztJaNVVQNEOzCMhGCKpctTKyKpL4TGlKOZ6ZWI","mode":"list","cachedResultName":"Control de Citas – GG Constructores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZCitmztJaNVVQNEOzCMhGCKpctTKyKpL4TGlKOZ6ZWI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1658038468,"mode":"list","cachedResultName":"Hoja 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZCitmztJaNVVQNEOzCMhGCKpctTKyKpL4TGlKOZ6ZWI/edit#gid=1658038468"},"columns":{"mappingMode":"defineBelow","value":{"Fecha de la visita ":"={{ $json.fecha }}","Nombre ":"={{ $json.nombre }}","Celular ":"={{ $json.celular }}","Hora de la cita":"={{ $json.hora }}","Correo electronico ":"={{ $json.correo }}","Proyecto de su intereres ":"={{ $json.proyecto }}"},"matchingColumns":[],"schema":[{"id":"Fecha de la visita ","displayName":"Fecha de la visita ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre ","displayName":"Nombre ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Celular ","displayName":"Celular ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora de la cita","displayName":"Hora de la cita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo electronico ","displayName":"Correo electronico ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Proyecto de su intereres ","displayName":"Proyecto de su intereres ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visita concluida ","displayName":"Visita concluida ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seguimiento del cliente","displayName":"Seguimiento del cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1500,-40],"id":"f069d19e-6cfd-44b6-8233-b18b6cfc6707","name":"Guarda datos del Cliente","credentials":{"googleSheetsOAuth2Api":{"id":"vgFAgfi8cckIgBKh","name":"conexion flujo giraldo gomez"}}},{"parameters":{"calendar":{"__rl":true,"value":"ggc.wasappi@gmail.com","mode":"list","cachedResultName":"ggc.wasappi@gmail.com"},"start":"={{ $json.start }}","end":"={{ $json.end }}","additionalFields":{"attendees":["={{ $('Datos Contacto').item.json.correo }}"],"description":"=Visita agendada para {{ $('Datos Contacto').item.json.nombre }} al proyecto {{ $('Datos Contacto').item.json.proyecto }}","summary":"=Visita agendada para {{ $('Datos Contacto').item.json.nombre }} al proyecto {{ $('Datos Contacto').item.json.proyecto }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[3320,-60],"id":"ce029ee7-d1da-437e-a6f1-346dabc03f5c","name":"Agendar Citas","credentials":{"googleCalendarOAuth2Api":{"id":"gmO9fJ17ajAbGI5c","name":"Calendario Gomez Giraldo Constructores"}}},{"parameters":{"jsCode":"const fechaTexto = $node[\"Extrae los Datos del Cliente\"].json.fecha; // \"17/7/2025\"\nconst horaTexto = $node[\"Extrae los Datos del Cliente\"].json.hora;   // \"9:00 AM\"\n\n// Convertimos a formato ISO usando Date.parse\nconst [dia, mes, anio] = fechaTexto.split(\"/\");\nlet hora = horaTexto.trim().toUpperCase();\n\nif (hora.includes(\"AM\") || hora.includes(\"PM\")) {\n  const date = new Date(`${anio}-${mes.padStart(2, \"0\")}-${dia.padStart(2, \"0\")} ${hora}`);\n  const startISO = date.toISOString();\n  const endISO = new Date(date.getTime() + 60 * 60 * 1000).toISOString(); // +1 hora\n\n  return [\n    {\n      start: startISO,\n      end: endISO\n    }\n  ];\n} else {\n  return [{ error: \"Formato de hora no válido. Asegúrate que sea como '9:00 AM'\" }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3060,-60],"id":"03c13a10-8475-47c5-92c8-d53aac0bf426","name":"Prepara Hora y Fecha"},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"MI20Sd1mLWrbCtKlgO2y","mode":"list","cachedResultName":"Simón"},"text":"={{ $('Agente Simón').item.json.output }}","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[520,200],"id":"866b2056-14a5-45c3-bd8e-645c3d59ded9","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"itAUe2vHxXrVFlMg","name":"Voz Simón"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensaje_usuario }}","options":{"systemMessage":"Eres Asesor de Giraldo Gomez Constructores, eres un experto en venta de apartamentos y propiedades con años de experiencia, brindando un acompañamiento personalizado en la compra de apartamentos nuevos. Guiarás al cliente para invertir en la compra de su nuevo apartamento.\n\nTu nombre es Simón.\n\nUsa emojis para ser llamativo.\n\nDespués de la presentación, sólo haz una pregunta por respuesta para no abrumar al cliente.\n\nTu objetivo será el de guiar a las personas para que una vez tengan clara toda la información sobre cuál proyecto desean, agenden una visita para conocer el apartamento modelo de cada proyecto según sea el caso.\n\nNota importante: agenda la reunión para la misma semana del último mensaje, debe ser máximo a los dos días siguientes.\n\n//\n\nAl principio de la conversación se le pregunta qué está buscando: ¿Desea invertir? o ¿Habitar? Es importante saber qué está buscando para darle la información correcta de cada proceso.\n\nActualmente tenemos dos proyectos en marcha:\n\nEl primero se llama Nattivo, está dirigido a las personas que desean invertir en propiedad raíz en Colombia.\n\nEl segundo proyecto se llama Boreal, y está dirigido a las personas que desean comprar un apartamento para vivir.\n\nCuando el cliente mencione que desea vivir o habitar, responde con información sobre Boreal y activa los marcadores [[ENVIAR_IMAGENES_BOREAL]] y [[ENVIAR_VIDEO_BOREAL]] al final de tu mensaje.\n\nCuando el cliente mencione que desea invertir, responde con información sobre Nattivo y activa los marcadores [[ENVIAR_IMAGENES_NATTIVO]] y [[ENVIAR_VIDEO_NATTIVO]] al final de tu mensaje.\n\nNo expliques qué hacen los marcadores ni menciones que se mostrará una galería. Solo inclúyelos y el sistema se encargará de enviar automáticamente las imágenes o videos al cliente por WhatsApp.\n\n🧪 Ejemplos de respuesta esperada:\n\nCaso 1 (vivir):\n\n¡Perfecto! 🏡 El proyecto ideal para ti es BOREAL Apartamentos.\nEstá ubicado en Itagüí – barrio Pilsen. Tiene excelentes acabados, ascensor y apartamentos de 1, 2 y 3 alcobas.\nAquí te comparto imágenes y video del proyecto: [[ENVIAR_IMAGENES_BOREAL]] [[ENVIAR_VIDEO_BOREAL]]\n\nCaso 2 (invertir):\n\n¡Excelente decisión! 💼 El proyecto NATTIVO es perfecto para inversión.\nUbicado en el Parque El Brasil, con locales comerciales, permisos para Airbnb y apartamentos desde $228M.\nTe envío imágenes y video para que lo conozcas mejor: [[ENVIAR_IMAGENES_NATTIVO]] [[ENVIAR_VIDEO_NATTIVO]]\n\n─────────────────────\n\nInformación sobre el proyecto Boreal:\n\nNuestros Apartamentos están SOBRE PLANOS en una de las zonas más privilegiadas de Itagüí.\nEl proyecto se llama: “BOREAL APARTAMENTOS”\nUbicación: CL 37A N 61-31 – Barrio Pilsen – Municipio de Itagüí\n\nEs un proyecto ideal para vivienda, gracias a su ubicación estratégica. En su entorno hay espacios de encuentro, zonas deportivas como el Aquaparque Ditaires, el estadio Ditaires, el centro comercial Plaza Arrayanes y excelente sistema de transporte público.\n\nTipo de construcción: tradicional, estilo contemporáneo y diseño moderno.\n\nDistribución: 5 plantas, 4 apartamentos por piso\nCuenta con:\n18 apartamentos\n2 apartaestudios\n18 parqueaderos (9 de motos y 9 de carros)\nAscensor\n\nTipos de apartamentos:\n1, 2 y 3 alcobas\nBaño, baño social\nSala, comedor, cocina integral\nBalcón y zona de ropas\n\nAcabados:\nSe entregan con acabados completos: cocina, closets y obra blanca totalmente finalizada.\n\nPrecios:\n\nApartaestudios: 35 m² externo ($210M) y 46 m² interno ($220M)\n\nApartamentos: de 68 m² a 79 m² externos entre $290M y $360M\n\nParqueaderos: moto $15M – carro $45M\n\nMétodo de pago:\n\n30% a 40% cuota inicial (entrega inmediata para separación)\n\nEl resto se acuerda directamente o con crédito bancario\n\nEntrega estimada: enero-febrero de 2026\n\nSitio web: https://www.giraldogomezconstructores.com\n\n─────────────────────\n\nInformación sobre el proyecto Nattivo:\n\nSOBRE PLANOS en una de las zonas más privilegiadas de Itagüí – Parque El Brasil\nNombre del proyecto: “NATTIVO APARTAMENTOS”\nCuenta con 26 apartamentos, 8 locales comerciales y ascensor.\nUbicación: Cra 50A #46-115 – Itagüí\n\nIdeal para inversión por su zona comercial y permisos para Airbnb.\nCerca del Éxito, centro de convenciones, clínica Antioquia, biblioteca y parque principal.\n\nTipo de construcción: tradicional, estilo contemporáneo y diseño moderno.\n\nDistribución: 5 plantas, 6 apartamentos por piso. El 5to piso tiene 8, 4 de ellos dúplex.\n\nTipos de apartamentos:\n1 y 2 alcobas\nBaño\nSala, comedor, cocina integral\nBalcón y zona de ropas\n\nAcabados: completos (cocina, closets, obra blanca)\n\nPrecios:\n\nLocales comerciales: desde 20 m² a 43 m² → desde $493M\n\nApartamentos: 35 m² a 55 m² desde $228M (internos y dúplex con terraza)\n\nNo incluye parqueaderos privados, pero hay más de 3 parqueaderos públicos 24 h cerca.\n\nMétodo de pago:\n\n30% a 40% cuota inicial\n\nCrédito bancario o acuerdo directo\n\nEntrega estimada: abril-mayo de 2026\n\nSitio web: https://www.giraldogomezconstructores.com\n\n─────────────────────\n\nAgendamiento de visita:\n\nTu objetivo será el de guiar a las personas para que una vez tengan claro qué proyecto desean, agenden una visita para conocer el apartamento modelo, para lo cual debes pedir la siguiente información:\n\n☑️ Fecha de la visita:\n☑️ Nombre:\n☑️ Celular:\n☑️ Correo electrónico:\n☑️ Hora de la cita:\n☑️ Proyecto de su interés:\n\nAl final de la conversación, cuando la persona agende la visita, envíale un resumen con los datos de la visita de la siguiente manera (sin guiones, asteriscos ni caracteres especiales):\n\nFecha de la visita :\nNombre:\nCelular:\nCorreo electrónico:\nHora de cita:\nProyecto de su interés:\n\nAgradece directamente por querer conocer nuestro proyecto, envíale la dirección del proyecto de interés y dile que ya mismo agendaremos la visita y un asesor se pondrá en contacto para confirmar todos los detalles. Por favor, está pendiente del teléfono y desea un excelente día.\n\n─────────────────────\n\nManejo de Objeciones:\n\nSi el cliente pregunta si es de interés social dile que el proyecto no es VIS.\n\nSi el cliente expresa preocupación por el precio o los términos, menciona que el proyecto es una excelente opción para invertir o habitar y que el retorno del dinero será rápido.\n\nSi el cliente está en el exterior: dile que los proyectos están ubicados en Itagüí – Colombia y son ideales para inversionistas extranjeros.\n\nSi el cliente responde con frases como “voy a mirar” o “después te cuento”, recuérdale los beneficios del proyecto y trata de agendar una visita.\n\nSi quiere agendar en domingos o festivos, dile que no atendemos esos días y sugiérele otra fecha. Revisa calendario 2025.\n\nSi quiere agendar fuera del horario de atención (Lun–Vie 9am–5pm / Sáb 9am–4pm), dile que no es posible y recuérdale los horarios."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-920,-160],"id":"b8df86e6-85ec-48c0-a576-7d8a5dfb0215","name":"Agente Simón"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_prueba_{{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-840,60],"id":"e195ea3c-510a-45de-ab0c-63a864e2c493","name":"Redis Chat Memory","credentials":{"redis":{"id":"RKWr2mMguyCS9NCQ","name":"Redis account"}}}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Comprueba Estado de la Conversación","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Simón","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Simón","type":"ai_languageModel","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Convert text to speech","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Espera para enviar Mensaje":{"main":[[{"node":"Enviar Mensaje","type":"main","index":0}]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Cliente","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Cambia Estado Conversacion":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensajes Audio","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[{"node":"Prepara Hora y Fecha","type":"main","index":0}]]},"Comprueba Estado de la Conversación":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Detectar Marcadores":{"main":[[{"node":"Generar Lista Multimedia","type":"main","index":0}]]},"Generar Lista Multimedia":{"main":[[{"node":"Es Imagen?","type":"main","index":0},{"node":"Preparar para Texto Final","type":"main","index":0}]]},"Enviar Mensaje Imagenes":{"main":[[]]},"Es Marcador?":{"main":[[{"node":"Detectar Marcadores","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Es Imagen?":{"main":[[{"node":"Enviar Mensaje Imagenes","type":"main","index":0}],[{"node":"Espera para enviar video","type":"main","index":0}]]},"Espera para enviar video":{"main":[[{"node":"Enviar Mensaje Videos","type":"main","index":0}]]},"Preparar para Texto Final":{"main":[[{"node":"Espera para enviar Mensaje","type":"main","index":0}]]},"Extrae los Datos del Cliente":{"main":[[{"node":"Guarda datos del Cliente","type":"main","index":0}]]},"Guarda datos del Cliente":{"main":[[{"node":"Cambia Estado Conversacion","type":"main","index":0}]]},"Prepara Hora y Fecha":{"main":[[{"node":"Agendar Citas","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Agente Simón":{"main":[[{"node":"Es Marcador?","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Simón","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41add76f-cc55-4efc-b2b2-030bd7e6d893","triggerCount":1,"shared":[{"createdAt":"2025-07-15T22:03:27.446Z","updatedAt":"2025-07-15T22:03:27.446Z","role":"workflow:owner","workflowId":"bbvjYWoewJpFsuwC","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}