chatbot_inmobiliaria_v1-R9GRmZT3CKXIKiDC.json
{"createdAt":"2025-07-10T03:18:51.157Z","updatedAt":"2025-07-13T08:25:38.000Z","id":"R9GRmZT3CKXIKiDC","name":"Chatbot_Inmobiliaria_V1","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"834da0e6-1cea-437c-a558-0881a100bd81","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2380,0],"id":"9dec7290-cd8b-42c9-aeee-4dd2daf7fcf5","webhookId":"834da0e6-1cea-437c-a558-0881a100bd81"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"foto","operator":{"type":"string","operation":"contains"}},{"id":"4eb7a703-e33c-4f1d-a2b5-29d152bed72d","leftValue":"={{ $json.output }}","rightValue":"Foto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"83c42724-da56-498a-9b4e-c9bf0ff0a1b8","leftValue":"={{ $json.output }}","rightValue":"fotos","operator":{"type":"string","operation":"contains"}},{"id":"d39d99fa-97c2-48f2-9f8c-4cd5b82ef0e4","leftValue":"={{ $json.output }}","rightValue":"Fotos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c562eb0b-1343-44ff-ad23-8b52d660c61e","leftValue":"={{ $json.output }}","rightValue":"catalogo","operator":{"type":"string","operation":"contains"}},{"id":"e5389894-2d3a-4c4d-b7da-a567d67cbcfc","leftValue":"={{ $json.output }}","rightValue":"Catalogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"96e394a7-cd04-428b-92de-8d3199e9b739","leftValue":"={{ $json.output }}","rightValue":"catálogo","operator":{"type":"string","operation":"contains"}},{"id":"771e410e-f57d-475d-946b-bf21b70fe136","leftValue":"={{ $json.output }}","rightValue":"Catálogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"name":"¿Pide Imagen?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-700,0],"id":"4e4342d0-7f38-41f1-94d7-7be0063f2e5d"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1520,-200],"id":"dd06bc72-ddf7-48a2-b869-40325de6aeda","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1940,0],"id":"10938cfe-dc45-473a-8323-3359a554903e","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,0],"id":"d1d38fef-648b-4854-ba24-ca53caf65a79","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.message }}{{ $json.text }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1280,0],"id":"45d2145d-ae7e-4fbc-b50e-ca844504c4b0"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1220,220],"id":"8ee07caf-27e9-4ce3-b07b-bbcdba584394","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={memory_pd}","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1000,240],"id":"c176510f-4a60-4f49-aa1e-7e0fed515f93","name":"Simple Memory"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 40% de las veces un audio y 60% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-480,250],"id":"d2a5c3d8-2168-4b8d-b6d2-03b63180b7c6","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-120,250],"id":"079a59ee-75a6-490f-9a7e-9d7f7999a7e1","name":"Selecciona Respuesta"},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/imagenes/\";\nconst total = 6;\n\nlet items = [];\n\nfor (let i = 1; i <= total; i++) {\n  items.push({\n    json: {\n      nombre: `${i}.png`,\n      url: `${baseUrl}${i}.png`\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,-340],"id":"1251763d-0f8a-4b3f-bfd6-ff24185507a8","name":"Subir Imagenes"},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1700,-200],"id":"9d1b6b4c-c46d-48af-a854-183f4250e986","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[320,300],"id":"f9b7374e-88b9-48b2-a63c-d2a723719001","name":"Descargar Audio"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-440,-160],"id":"7c25bbf2-739b-426c-b34d-1eec44a72a40","name":"Espera para enviar Mensaje","webhookId":"088d823c-50c7-4d35-aedc-9ee1c626a316"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"audio_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"audio_url","value":"={{ $json.stdout }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,300],"id":"db77d23c-ffb7-4d5f-886a-d8df4a0e1838","name":"Envia Mensajes Audio"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-340],"id":"eaacbc95-e88d-4d9e-a9be-17b59adfaa52","name":"Enviar Mensaje Imagenes"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Agente Sara').item.json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-160],"id":"03be3f26-617e-48c4-ae32-60858ceda70f","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.data.message }}","rightValue":"Ya mismo subiremos tu pedido","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[300,-160],"id":"c304941b-876c-4ad3-a671-be9b2cbb4901","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"const mensaje = $json.data.message;\n\nconst datos = {\n  fecha: new Date().toLocaleDateString('es-CO'),\n  nombre: mensaje.match(/Nombre completo:\\s*(.+)/i)?.[1]?.trim() || '',\n  telefono: mensaje.match(/Tel[eé]fono:\\s*(\\d+)/i)?.[1] || '',\n  ciudad: mensaje.match(/Ciudad:\\s*(.+)/i)?.[1]?.trim() || '',\n  departamento: mensaje.match(/Departamento:\\s*(.+)/i)?.[1]?.trim() || '',\n  direccion: mensaje.match(/Direcci[oó]n completa:\\s*(.+)/i)?.[1]?.trim() || '',\n  talla: mensaje.match(/Talla:\\s*(\\d+)/i)?.[1] || '',\n  color: mensaje.match(/Color:\\s*(\\d+)/i)?.[1] || '',\n  cantidad: mensaje.match(/Cantidad:\\s*(\\d+)/i)?.[1] || '1',\n};\n\nreturn [{ json: datos }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,-180],"id":"e34be968-7a36-463c-ab6f-f8f2ad6f47b6","name":"Extrae los Datos del Pedido"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[1220,-180],"id":"cbfc5b0b-34b9-4bfd-b1bc-976c6c4c70f7","name":"Get many contacts","credentials":{"googleContactsOAuth2Api":{"id":"NbidggZefLJr2YMv","name":"Google Contacts account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"132fWjih-edXCnqjRQRbv1yaxDZGrKsAk-Tjq9PcD8wQ","mode":"list","cachedResultName":"Gastos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/132fWjih-edXCnqjRQRbv1yaxDZGrKsAk-Tjq9PcD8wQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1620920332,"mode":"list","cachedResultName":"Baqueras","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit#gid=1620920332"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Nombre Completo":"={{ $json.nombre }}","Telefono":"={{ $json.telefono }}","Ciudad":"={{ $json.ciudad }}","Departamento":"={{ $json.departamento }}","Direccion Completa":"={{ $json.direccion }}","Talla":"={{ $json.talla }}","Color":"={{ $json.color }}","Cantidad":"={{ $json.cantidad }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Talla","displayName":"Talla","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Flete","displayName":"Flete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"plata aveo ","displayName":"plata aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reinversion","displayName":"Reinversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ganancia para nosotros","displayName":"Ganancia para nosotros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GuiaEnviada","displayName":"GuiaEnviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado en Aveo ","displayName":"Estado en Aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[760,-180],"id":"733515b7-22df-4142-aceb-3f244f2239e3","name":"Agrega Pedido Nuevo Hoja de Excel","credentials":{"googleSheetsOAuth2Api":{"id":"959iklqDWlKI0dy2","name":"cuenta dancart12gmail.com"}}},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-180],"id":"169c4718-c9ef-488e-a263-c7bb26010d68","name":"Resultado de la Busquedad"},{"parameters":{"familyName":"=","givenName":"={{ $('Extrae los Datos del Pedido').item.json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"={{ $('Mapea el Mensaje Usuario').item.json.number + \"\" }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[1880,-200],"id":"8494526c-9d54-479f-a9bd-b9044e5ae3fa","name":"Create a contact","credentials":{"googleContactsOAuth2Api":{"id":"NbidggZefLJr2YMv","name":"Google Contacts account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1640,-180],"id":"4128da4a-75c3-4491-a938-6b1f17fc068e","name":"Verifica si el Contacto Existe"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-180],"id":"451d6a26-62fa-4a5e-94b3-c3734dd952ce","name":"Cambia Estado Conversacion"},{"parameters":{"resource":"audio","input":"={{ $('Agente Sara').item.json.output }}","voice":"shimmer","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[100,300],"id":"d5acd57b-fb43-4a65-ad8a-51f7acd25131","name":"Genera el audio","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[540,300],"id":"bbea680b-f788-4b3a-b37a-f0f1bc36a675","name":"Renombra Archivo Audio"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje_usuario }}","options":{"systemMessage":"Eres una experta en Ventas de calzado que vende botas baqueras.\nTu nombre es Laura.\nUsa emojis para ser llamativa.\nRecuerda que manejamos solo el color marron y negro\nSólo haz una pregunta por respuesta para no abrumar al cliente.\nSiempre realiza una pregunta de cierre, aquí algunos ejemplos:\n- ¿Qué color te gusta más?\n- ¿En qué ciudad te encuentras?\n- ¿Deseas realizar tu pedido?\n-¿Qué talla estás buscando?\nSi el cliente pide fotos o catalogo, dile que estas enviando las fotos y despues de enviar las fotos, envia una pregunta de cierre\nsi el cliente pregunta que si es solo de mujer le dices que es unisex es tanto para hombres como para mujeres\nUna vez el cliente responde que quiere saber más sobre las botas vaqueras es muy importante preguntar en qué ciudad se encuentra para validar que tengamos envío gratis contra entrega.\nDespués de que el cliente menciona la ciudad confírmale que tenemos envío GRATIS contra entrega y muy importante proceder a compartir los precios y hacer preguntas durante el chat que eleven el nivel de conciencia del cliente para cerrar la venta.\nsi el cliente te pregunta por más colores dile que manejamos en marron y negro pregúntale ¿cual le gusta más?\nSi el cliente solicita que le envien fotos, foto, catálogo o catalogo y en el contenido del mensaje existen estas palabras sin importar si esta escrita con mayusculas o minusculas, deja que el flujo de Make envie las fotos, no responda nada adicional a este mensaje, tampoco envíe los enlaces de las imagenes, solo continúa la conversación con el cliente, \nNunca envíe enlaces o links de las imagenes al cliente\nSi el cliente desea hacer un pedido, finaliza la conversación agradece por la compra y solicita directamente los siguientes datos:\nCuando un cliente exprese interés en realizar su pedido, solicita amablemente la siguiente información para procesar su pedido:​\nNombre completo\nTeléfono\nCiudad\nDepartamento\nDirección completa\nTalla\nColor\nCantidad\nNota: Importante, la dirección debe estar completa (al menos que tenga calle o carrera) para poder hacer el pedido sino no se puede ya que la transportadora pide dirección completa.\nUna vez que el cliente proporcione todos estos datos, y si estan completos no confirmes datos, solo responde con un mensaje de agradecimiento, informándole que su pedido está siendo procesado y que en breve recibirá el número de guía de envío y los detalles del pedido a través de WhatsApp. Mantén un tono cordial, profesional y enfocado en brindar una excelente experiencia de compra.\nSi el cliente desea reclamar en oficina por Interrapidisimo muy importante no debes pedir dirección (ni carrera ni calle) ya que no es necesario cuando es para reclamar en oficina y agradece la compra y finaliza el pedido.\nSi el cliente desea reclamar en la Oficina de Interrapidisimo, o expresa la idea que desea que sea entregado en esta oficina de su ciudad, coloca esta información como Dirección Completa, y confirma la ciudad y el departamento para que sea entregado correctamente\nSi el cliente desea reclamar en oficina de Servientrega dile que no tenemos convenio de envíos con Servientrega, solo puede reclamar en una oficina de Interrapidisimo.\nEl barrio es opcional, si el cliente no lo menciona no lo pidas.\nVe agregando la información a medida que la va proporcionando para completar el pedido. Una vez el cliente proporciona los datos necesarios (sin necesidad de los opcionales) agradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi el cliente está enviando los datos, le envías un resumen para que sepa cuál dato le falta, es indispensable que los datos del pedido sean los más exactos para no tener problemas con la transportadora.\nCuando el cliente entregue todos los datos para realizar el pedido envía el resumen de la siguiente forma sin guiones o asteriscos tampoco le coloque caracteres especiales:\nNombre completo:\nTeléfono:\nCiudad:\nDepartamento:\nDirección completa:\nTalla:\nColor:\nCantidad:\nagradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi la persona ya ha enviado sus datos completos para hacr un pedido, eso quiere decir que ya es nuestro cliente, saluda y dale bienvenida amablemente y pregunta si podemos ayudarla en algo o si es posible responde a su pregunta o dile que va contactar con un asesor humano para ayudarle.\n\n\nInformación General:\nla Bota es %100 cuero de excelente calidad, ciento por ciento cuero y suela pvc cocida  ultra resistente , no es en cuerina sino 100 % cuero  ideal para todo tipo de trabajo. Elaboradas con la mejor tecnología de punta en cuero con los mejores acabados.\nEspecificaciones de las botas en cuero nobuck: Suela pvc, material cuero, suela en  pvc  duradero. Es un material resistente, ideal para trabajo en campo y ciudad. Acabados de excelente calidad.cuenta con excelente acabados y excelente costuras!. \nTallas disponibles:  36 a la 44.\nSuela : Spanson ultra resistente con refuerzo cosido para mayor durabilidad\nMaterial: cuero.\nColores : Marron y Negro \n\nTabla de tallas de las botas en cuero:\n23 centímetros para la talla 36.\n24 centímetros para la talla 37.\n25 centímetros para la talla 38.\n26 centímetros para la talla 39.\n27 centímetros para la talla 40.\n28 centímetros para la talla 41.\n29 centímetros para la talla 42.\n30 centímetros para la talla 43.\n31 centímetros para la talla 44.\n\n-OFERTAS DEL DÍA-\nAntes $134.00 Ahora 1x $117.000  pesos  con ENVÍO GRATIS\nMedio de pago principal contra entrega. Si deseas pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n \n # CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\nLos envíos tardan de 2 a 4 días para ciudades capitales y 5 días hábiles para municipios en promedio.\nLos envíos a Medellín duran de 1 a 2 días y las capitales principales de Colombia duran 3 días hábiles. En municipios o otros lugares de Colombia donde exista cobertura el tiempo de entrega es de 3 a 5 días hábiles sin contar sábados, domingos y festivos.\nSi un cliente ya recibió el producto y no está satisfecho, informar amablemente a que espere por resultados. (No ofrecemos devolución del dinero, esto mencionarlo solo si el cliente pregunta).\nInformar al cliente que el producto entregado es el correcto junto con su presentación y que es un producto original y respaldado por expertos.\nSi el cliente pregunta hasta cuando la promoción le dices que se acaba en 24 horas, después llegará a su precio normal que es un 40% más alto.\nSi el cliente pregunta cuánto es la garantía del producto le dices que es de 4 meses.\nSi te piden precios mayoristas o para negocio, debes enviar el siguiente mensaje: Para una cotización como mayorista, escríbenos aquí: https://wa.link/9uc1cg\nSi el cliente pregunta que si son originales le dices que es producto nacional Diseño moderno, originales de propiedad de la marca\nSi el cliente pide número de guía informa que apenas la tengas disponible se la envías.\n¿En dónde están ubicados?: Estamos ubicados en la ciudad de Medellín, pero nuestra tienda es virtual, hacemos envíos a todo el país"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1060,0],"id":"6a9dbc08-cae7-4259-be82-e99dc8b459b5","name":"Agente Sara"}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"¿Pide Imagen?":{"main":[[{"node":"Subir Imagenes","type":"main","index":0},{"node":"Espera para enviar Mensaje","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Sara","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Sara","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente Sara","type":"ai_memory","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Genera el audio","type":"main","index":0}]]},"Subir Imagenes":{"main":[[{"node":"Enviar Mensaje Imagenes","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Espera para enviar Mensaje":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}]]},"Enviar Mensaje Imagenes":{"main":[[]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Pedido","type":"main","index":0}]]},"Extrae los Datos del Pedido":{"main":[[{"node":"Agrega Pedido Nuevo Hoja de Excel","type":"main","index":0}]]},"Agrega Pedido Nuevo Hoja de Excel":{"main":[[{"node":"Cambia Estado Conversacion","type":"main","index":0}]]},"Get many contacts":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Create a contact","type":"main","index":0}]]},"Cambia Estado Conversacion":{"main":[[{"node":"Get many contacts","type":"main","index":0}]]},"Genera el audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensajes Audio","type":"main","index":0}]]},"Agente Sara":{"main":[[{"node":"¿Pide Imagen?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2fdf0a97-54c1-4dc4-8466-987afd1fad39","triggerCount":1,"shared":[{"createdAt":"2025-07-10T03:18:51.166Z","updatedAt":"2025-07-10T03:18:51.166Z","role":"workflow:owner","workflowId":"R9GRmZT3CKXIKiDC","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}