chatbot_l-theanine-HBajHlqHiD49Iuv1.json
{"createdAt":"2025-08-05T17:15:45.426Z","updatedAt":"2025-08-08T22:50:23.000Z","id":"HBajHlqHiD49Iuv1","name":"Chatbot_L-Theanine","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ad50ad97-2222-4dd6-81c3-58690891e56a","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2360,240],"id":"7d154945-a680-4075-b15c-a4cd1d010761","webhookId":"ad50ad97-2222-4dd6-81c3-58690891e56a"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1280,80],"id":"73547468-e285-4a0a-bebd-4cfdf6a85035","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1660,220],"id":"a1c5e615-0319-49b5-985d-47edb3a3447b","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1860,220],"id":"f897ea96-0783-406f-bacc-218fd603cd78","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.message }}{{ $json.text }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1100,240],"id":"2f3fc61e-8ad5-4b13-bacd-208561862667"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-920,520],"id":"238636d5-59ea-4bff-96b4-2da47d195c9c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-160,260],"id":"86f97da7-28cd-4cba-8548-dc1f384823bf","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[180,260],"id":"d9d04e4f-d687-40ef-a727-3c8ca568c751","name":"Selecciona Respuesta"},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1460,80],"id":"643bd1de-5250-4311-a44c-a3c52bd7bc2e","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[780,660],"id":"11ad59d8-4d37-4ac7-8349-23599722dc36","name":"Descargar Audio"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"audio_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"audio_url","value":"={{ $json.stdout }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,660],"id":"3255f4f1-5ec0-4f3f-9907-065b436aecd9","name":"Envia Mensajes Audio"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Agente Kelli').item.json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,240],"id":"61e86108-3706-4461-bbd9-f95c4241ecda","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.data.message }}","rightValue":"Ya mismo subiremos tu pedido","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,240],"id":"eb8bbdd2-2355-483c-b300-95a15789c00a","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"const mensaje = $json.data.message;\n\nconst datos = {\n  fecha: new Date().toLocaleDateString('es-CO'),\n  \n  // Extraer nombre usando múltiples patrones\n  nombre: mensaje.match(/\\*\\*Cliente\\*\\*:\\s*(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n          mensaje.match(/Nombre[:\\s]*(.+?)(?:\\n|,|\\.|$)/i)?.[1]?.trim() || \n          mensaje.match(/me llamo\\s+([^,\\n]+)/i)?.[1]?.trim() || \"\",\n  \n  // Extraer ciudad y departamento\n  ciudad: mensaje.match(/\\*\\*Ciudad\\*\\*:\\s*(.+?)(?:,|\\n|\\*\\*|$)/i)?.[1]?.trim() || \n          mensaje.match(/Ciudad[:\\s]*(.+?)(?:,|\\n|$)/i)?.[1]?.trim() || \n          mensaje.match(/soy de\\s+([^,\\n]+)/i)?.[1]?.trim() || \"\",\n  \n  departamento: mensaje.match(/\\*\\*Ciudad\\*\\*:\\s*[^,]+,\\s*(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n                mensaje.match(/Departamento[:\\s]*(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \"\",\n  \n  // Extraer dirección completa\n  direccion: mensaje.match(/\\*\\*Dirección\\*\\*:\\s*(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n             mensaje.match(/Dirección[:\\s]*(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \n             mensaje.match(/(?:vivo en|mi dirección es)\\s*(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \"\",\n  \n  // Extraer teléfono\n  telefono: mensaje.match(/\\*\\*Teléfono\\*\\*:\\s*(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n            mensaje.match(/Teléfono[:\\s]*(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \n            mensaje.match(/(?:mi teléfono|mi número).*?(\\d{10})/i)?.[1] || \n            mensaje.match(/(\\d{3}[-\\s]?\\d{3}[-\\s]?\\d{4})/)?.[1] || \"\",\n  \n  // Extraer cantidad\n  cantidad: mensaje.match(/\\*\\*Cantidad\\*\\*:\\s*(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n            mensaje.match(/Cantidad[:\\s]*(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \n            mensaje.match(/quiero\\s+(\\d+)/i)?.[1] || \"1\",\n  \n  // Extraer presentación del producto\n  presentacion: mensaje.match(/\\*\\*Producto\\*\\*:\\s*Prostagen\\s*(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n                mensaje.match(/Presentación[:\\s]*(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \n                mensaje.match(/(\\d+\\s*litros?)/i)?.[1] || \n                mensaje.match(/(1L|2L)/i)?.[1] || \"\",\n  \n  // Extraer valor/precio\n  valor: mensaje.match(/\\*\\*Valor\\*\\*:\\s*\\$?(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n         mensaje.match(/Precio[:\\s]*\\$?(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \n         mensaje.match(/\\$(\\d{1,3}(?:,\\d{3})*(?:\\.\\d{2})?)/)?.[1] || \"\",\n  \n  // Extraer método de pago\n  metodo_pago: mensaje.match(/\\*\\*Método de pago\\*\\*:\\s*(.+?)(?:\\n|\\*\\*|$)/i)?.[1]?.trim() || \n               mensaje.match(/pago[:\\s]*(.+?)(?:\\n|,|$)/i)?.[1]?.trim() || \n               (mensaje.includes(\"contra entrega\") ? \"Contra entrega\" : \n                mensaje.includes(\"consignación\") ? \"Consignación\" : \"\"),\n  \n  // Datos adicionales del contexto\n  mensaje_completo: mensaje,\n  timestamp: new Date().toISOString(),\n  \n  // Validaciones\n  datos_completos: function() {\n    return this.nombre && this.ciudad && this.direccion && this.telefono;\n  }\n};\n\n// Limpiar datos vacíos y espacios extra\nObject.keys(datos).forEach(key => {\n  if (typeof datos[key] === 'string') {\n    datos[key] = datos[key].replace(/\\s+/g, ' ').trim();\n  }\n});\n\n// Validar si la dirección está completa (debe tener calle/carrera)\nconst direccionCompleta = datos.direccion && \n  (datos.direccion.match(/(?:calle|carrera|cr|cl|avenida|av|diagonal|transversal)/i) ||\n   datos.direccion.match(/\\d+.*#.*\\d+/));\n\ndatos.direccion_valida = direccionCompleta;\n\nreturn {\n  json: datos\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,220],"id":"e5713c3c-d3ed-4e22-b277-ec49556a15aa","name":"Extrae los Datos del Pedido"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8","mode":"list","cachedResultName":"Control pedidos grupo dk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1157203818,"mode":"list","cachedResultName":"L-Theanine","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit#gid=1157203818"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Telefono":"={{ $json.telefono }}","Ciudad":"={{ $json.ciudad }}","Departamento":"={{ $json.departamento }}","Nombre Completo":"={{ $json.nombre }}","Direccion Completa":"={{ $json.direccion }}","Cantidad":"={{ $json.cantidad }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ref","displayName":"Ref","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Flete","displayName":"Flete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"plata aveo ","displayName":"plata aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reinversion","displayName":"Reinversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ganancia para nosotros","displayName":"Ganancia para nosotros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GuiaEnviada","displayName":"GuiaEnviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Estado ","displayName":"Estado ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia pagada ","displayName":"Guia pagada ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pickig packing","displayName":"Pickig packing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1740,220],"id":"eeea5f75-5be9-4f73-86c2-c4499114bcde","name":"Agrega Pedido Nuevo Hoja de Excel","credentials":{"googleSheetsOAuth2Api":{"id":"qqcpJ74batXzJmOW","name":"Google Sheets Laura DK"}}},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,220],"id":"4f367a42-2ea3-4f07-8492-7c0eb50ec9dd","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2940,220],"id":"909282ab-8524-4e0b-a5cc-10763bdf016d","name":"Verifica si el Contacto Existe"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"=36825"},{"name":"assignToAgentId","value":"36825"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,220],"id":"d17e33f6-837a-4c2d-b3ea-9c45e8afc3d1","name":"Cambia Estado Conversacion"},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1000,660],"id":"5e6afa2c-c309-4c6e-88c5-47bb0ebdd3ff","name":"Renombra Archivo Audio"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2340,220],"id":"b7afcf2d-0497-4a80-aad3-3bdaab7f2e27","name":"Busca el Contacto","alwaysOutputData":true,"credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"jsCode":"// Obtener datos desde los nodos anteriores\nconst nombre = $node[\"Extrae los Datos del Pedido\"].json.nombre;\nconst celular = $node[\"Mapea el Mensaje Usuario\"].json.number;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3240,200],"id":"c50c6d44-a622-4f93-a95f-83828ed36534","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3560,200],"id":"f821ce79-b0f3-4993-9da0-5609d057246d","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75cc19e7-a633-4a11-8899-df43c9399c26","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2100,240],"id":"6e57fe5d-c5ee-4d49-9de0-d1f1f7c99457","name":"Comprueba Estado de la Conversación"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_kelli_{{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-700,500],"id":"88a79593-6bbe-4277-8b37-aa59a57f796a","name":"Redis Chat Memory","credentials":{"redis":{"id":"2vXSngOgq7Lx560G","name":"Redis Memoria Agentes"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_VIDEO_TESTIMONIO]]","operator":{"type":"string","operation":"contains"}},{"id":"cb72e359-e524-4db3-9599-47a20016e4a9","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_PRECIOS]]","operator":{"type":"string","operation":"contains"}},{"id":"3209e6e3-ac3d-4f4f-a128-691440fd4985","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_INFO_VERDAD]]","operator":{"type":"string","operation":"contains"}},{"id":"7568018a-3e36-481b-b635-244b447e1cdb","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_BIENVENIDA]]","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"name":"¿Piden testimonios?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-420,240],"id":"c9e0feb1-bdfc-4c65-9813-0819cb00808e"},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/imgthianina\";\nconst texto = $json.output || \"\";\nconst marcadoresDisponibles = [\n  \"ENVIAR_VIDEO_TESTIMONIO\",\n  \"ENVIAR_PRECIOS\",\n  \"ENVIAR_INFO_VERDAD\",\n  \"ENVIAR_BIENVENIDA\"\n];\n\nconst marcadoresDetectados = marcadoresDisponibles.filter(m =>\n  texto.includes(`[[${m}]]`)\n);\n\nif (marcadoresDetectados.length === 0) {\n  return [\n    {\n      json: {\n        resultado: \"NO_MARKERS_FOUND\",\n        original: texto\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      marcadores: marcadoresDetectados\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,-20],"id":"0f04455a-fa04-4d9d-9d58-1b3ef2c0b4cd","name":"Detectar marcadores"},{"parameters":{"jsCode":"const marcadores = $json.marcadores || [];\n\nconst driveUrls = {\n  ENVIAR_VIDEO_TESTIMONIO: [\n    \"https://grupodksoluciones.com/imgthianina/testimonio1.mp4\"\n  ],\n  ENVIAR_INFO_VERDAD: [\n    \"https://grupodksoluciones.com/imgthianina/img1.png\"\n  ],\n  ENVIAR_PRECIOS: [\n    \"https://grupodksoluciones.com/imgthianina/precio.png\"\n  ],\n  ENVIAR_BIENVENIDA: [\n    \"https://grupodksoluciones.com/imgthianina/componentes.png\"\n  ],\n};\n\nconst resultados = [];\n\nfor (const marcador of marcadores) {\n  const tipo = marcador.includes(\"VIDEO\") ? \"video\" : \"image\";\n  const urls = driveUrls[marcador] || [];\n\n  for (const url of urls) {\n    resultados.push({\n      json: {\n        tipo,\n        media_url: url\n      }\n    });\n  }\n}\n\nif (resultados.length === 0) {\n  return [{ json: { error: \"NO_FILES_FOUND\" } }];\n}\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-300],"id":"79419211-efc9-44c6-8f15-76e72d39a9dc","name":"Generar lista multimedia"},{"parameters":{"jsCode":"// Tomar el mensaje del Agente Luisa\nconst mensajeDelAgente = $node[\"Agente Kelli\"].json.output || \"\";\n\n// Eliminar marcadores del tipo [[...]]\nconst mensajeLimpio = mensajeDelAgente.replace(/\\[\\[.*?\\]\\]/g, '').replace(/\\s{2,}/g, ' ').trim();\n\n// Tomar datos del Webhook\nconst wa_id = $('Webhook -- Wasapi').first().json.body.data.wa_id;\nconst from_id = $('Webhook -- Wasapi').first().json.body.data.from_id;\n\nreturn [\n  {\n    json: {\n      mensaje_final: mensajeLimpio,\n      wa_id,\n      from_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-300],"id":"ae061d23-9961-4be3-8754-b480c28cf163","name":"Limpiar Mensaje"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[780,-300],"id":"fbef68ec-9f7a-49b8-b257-360f5177cb72","name":"Esperar Enviar Mensaje","webhookId":"a523c7c9-f68c-48b2-96ca-8f04cff3dd41"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Limpiar Mensaje').item.json.mensaje_final }}"},{"name":"wa_id","value":"={{ $('Limpiar Mensaje').item.json.wa_id }}"},{"name":"from_id","value":"={{ $('Limpiar Mensaje').item.json.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,-300],"id":"1a2434fe-bada-4d87-b561-29a3e4383bc1","name":"Envia Mensaje"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9da2023-5d28-4db3-9ac8-ca028b4c3994","leftValue":"={{ $json.tipo }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,-680],"id":"2606c4d1-c374-4a66-9375-82ce2e90071d","name":"If"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-800],"id":"c8a17963-b3c3-4e8c-a76a-a640176d7839","name":"Enviar Imagenes"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"video_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"video_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-580],"id":"e3e84fc1-19bc-4dad-a29d-e76041fdd657","name":"Enviar videos"},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"b2htR0pMe28pYwCY9gnP","mode":"list","cachedResultName":"Sofía – Soft & Warm"},"text":"={{ $('Agente Kelli').item.json.output }}","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[540,660],"id":"379ecec2-1c3f-4588-aa08-49de2e242695","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"itAUe2vHxXrVFlMg","name":"Voz Simón"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensaje_usuario }}","options":{"systemMessage":"Eres Kelli una experta en salud y bienestar que vende L-Theanina. limita tus respuestas y atención solo a este producto.\n\n## IDENTIDAD Y TONO\n- **Nombre**: Andrea\n- **Rol**: Experta en salud y bienestar especializada en L-Theanina\n- **Tono**: Empático, profesional y cercano\n- **Uso de emojis**: Estratégico para captar atención sin saturar\n- **Principio clave**: Una pregunta por respuesta para no abrumar. Hacer siempre preguntas de cierre.\n\n## FLUJO DE CONVERSACIÓN\n\n### 1. APERTURA E IDENTIFICACIÓN DE SÍNTOMAS\nNo saludes. envia el siguiente texto después del primer mensaje: ¨L-Theanina de Mary Ruth´s es diferente a las pastillas para dormir, ya que no es una solución temporal para tener calma y que crean dependencia.\n\n*Te da Relax sin somnolencia, alivia la ansiedad y el estrés,  y te brinda un sueño reparador*💯✨\n\n¿Te gustaría saber como se toma?¿Quieres conocer cuanto cuesta?👌¨  y activa el marcador [[ENVIAR_BIENVENIDA]] al final de tu mensaje.\n\n### 2. EMPATÍA Y PRESENTACIÓN DEL PRODUCTO\nUna vez el cliente escribe:\n- Valida el dolor/molestia del cliente\n- Conecta específicamente con su síntoma\n- Presenta L-Thianina como solución dirigida\n-Realiza preguntas de cierre para elevar el nivel de conciencia\n-Se persuasiva y muy convincente\n- Pregunta por la ciudad para el envío\n\n**Ejemplo**: *\"Entiendo perfectamente lo molesto que debe ser [síntoma específico]. L-Thianina te puede ayudar a mejorar tu situación actual...\"*\n\n### 3. PRESENTACIÓN DE PRECIOS Y CIERRE\n- Presenta opciones de precio\n- Hace preguntas persuasivas\n- Garantiza resultados desde la primera semana\n\n### 4. TOMA DE PEDIDO\nSi el cliente decide comprar, solicita datos en este orden:\n1. ✅ **Nombre completo**\n2. ✅ **Ciudad**\n3. ✅ **Departamento**\n4. ✅ **Dirección completa** (calle/carrera + número + detalles)\n5. ✅ **Teléfono**\n6. ✅ **Cantidad deseada**\n**Nota Importante**: Cuando el cliente menciona que desea ver testimonios, debes decirle que ya le vas a mostrar que dicen nuestros clientes sobre el producto y activa el marcador [[ENVIAR_VIDEO_TESTIMONIO]] al final de tu mensaje.\nCuando el cliente cuestiona la veracidad del producto con término como: ¨Si es garantizado¨ ¨Que pruebas tiene de que sirve¨ entre otros términos similares, debes decirle que no se preocupe, ya que el producto es americano y aprobado la FDA y activa el marcador [[ENVIAR_INFO_VERDAD]] al final de tu mensaje.\nCuando el cliente menciona que desea saber el precio, debes decirle cuales son las promociones que tenemos, preguntar en que ciudad se encuentra el cliente y activa el marcador [[ENVIAR_PRECIOS]] al final de tu mensaje.\n\n### 5. PROCESAMIENTO DE DATOS Y FINALIZACIÓN\n\n**IMPORTANTE**: Ve agregando la información a medida que el cliente la proporciona para completar el pedido. Una vez el cliente envíe sus datos completos y estén correctos, NO solicites confirmación adicional.\n\n**Proceso de finalización**:\n- Una vez recibidos todos los datos necesarios, agradece directamente por la compra\n- Informa que verificarán la información y método de pago\n- Explica que un agente se contactará pronto\n- Envía inmediatamente el resumen completo del pedido\n\n### 6. MENSAJE DE FINALIZACIÓN\n*\"¡Muchas gracias por tu compra! 🙏 Ya mismo subiremos tu pedido y en breve recibirás el número de guía de envío y los detalles por WhatsApp. Por favor, mantente pendiente del teléfono y ten listo el pago para el mensajero. ¡Que tengas un excelente día!✨\"*\n\n**RESUMEN DEL PEDIDO**:\n- **Cliente**: [Nombre completo]  \n- **Ciudad**: [Ciudad, Departamento]\n- **Dirección**: [Dirección completa]\n- **Teléfono**: [Número de contacto]\n- **Producto**: Prostagen [Presentación]\n- **Cantidad**: [Número de unidades]\n- **Valor**: $[Precio total]\n- **Método de pago**: [Contra entrega]\n\n## INFORMACIÓN DEL PRODUCTO\n\n### MaryRuth's L-Theanine 200mg Liquid Drops (En español Mary Ruth's L -teanina- Gotas líquidas de 200 mg)\n- **Descripción general**: Suplemento dietético en formato líquido diseñado para apoyar los niveles de estrés, la función cognitiva, el enfoque y el sueño, apto para adultos y niños a partir de 4 años. Promueve la relajación sin inducir somnolencia.\n- ** Presentación:**: \nFormato: Gotas líquidas\nVolumen del Envase: 2 Fl Oz (aproximadamente 60 mL)\nSabor: Lima-Limón (Lemon Lime). Descrito como agradable y de gran sabor.\nPorciones por Envase: 30 porciones (basado en la dosis máxima recomendada para adultos)\n- ** Ingredientes:**: \nIngrediente Activo Principal: L-Teanina\nConcentración por Porción (2 mL / 60 gotas): 200 mg de L-Teanina\nOtros Ingredientes: Agua Purificada, Glicerina Orgánica, Ácido Cítrico, Sabor Natural (o Sabor a Limón Orgánico, Sabor a Lima Orgánico), Extracto de Hoja de Stevia Orgánica, Sorbato de Potasio (para mantener la frescura) Cada botella viene con 30 porciones.\n- ** Información Adicional:**: \n- País de Origen: Fabricado en EE. UU..\n- ASIN: B09YKGM7N5.\n- Calificación Promedio de Clientes (en Amazon.com): 4.6 de 5 estrellas (basado en 840 calificaciones).\n\n### BENEFICIOS ESPECÍFICOS\n✅ Apoya los niveles de estrés y puede aliviar el estrés y la ansiedad ocasionales.\n✅ Promueve la relajación sin inducir somnolencia. \n✅ Soporta la función cognitiva (memoria y pensamiento).\n✅ Es un suplemento de enfoque.\n✅ Es un apoyo natural para el sueño, mejorando su calidad. Puede ayudar a conciliar el sueño más rápido y prolongarlo.\n\n### MODO DE USO\n•\tAgitar bien antes de cada uso.\n•\tTomar directamente por vía oral o mezclado con agua, jugo o batido.\n•\tEvitar el contacto directo del gotero a la boca.\n•\tTomar 60 gotas (2 mL) al día.\n\n### CONTRAINDICACIONES\nConsultar con un médico o profesional de la salud antes de usar si está embarazada, en período de lactancia, tomando medicamentos, o si tiene alguna condición médica preexistente.\nSuspender su uso si observa alguna reacción negativa.\nLa L-Teanina pura es generalmente bien tolerada y considerada segura (GRAS por la FDA para ciertos usos), pero no confundir con el consumo excesivo de té verde (que contiene cafeína).\nPrecaución si se toman medicamentos sedantes, ya que podría potenciar la somnolencia.\nNo hay evidencia científica que sugiera que la L-Teanina cause dependencia o adicción.\n### PRECIOS Y PRESENTACIONES\n- ** 1 frasco**: $69.900 \n- **2 litros**: $139.800 ⭐ **(RECOMENDADO)**\n- Precios con promoción incluida\n- NO disponible pago en cuotas\n\n### MÉTODOS DE PAGO\n**PAGO CONTRA ENTREGA EN EFECTIVO A NIVEL NACIONAL**\nMedio de pago principal contra entrega. Si desea pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n# CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\n\n### TIEMPOS DE ENTREGA\n- **Ciudades capitales**: 2-4 días\n- **Municipios**: 5 días hábiles\n- **Oficinas Inter/Servientrega**: Disponible (no requiere dirección)\n##MECANISMO ÚNICO\nUtiliza el siguiente mecanismo único para vender correctamente el producto. En base a esta información, asesoraras a las personas para que al final quieran adquirir al menos una unidad:\n🧬 Mecanismo Único – Triple Equilibrio Neuro-Líquido™\nEl secreto natural para lograr calma, enfoque y descanso restaurador en la vida moderna\nEn un mundo lleno de estímulos, tensiones y fatiga mental, MaryRuth’s L-Theanine Liquid Drops ofrece mucho más que un suplemento. Es una solución inteligente, natural y científicamente fundamentada que actúa como un “afinador” del sistema nervioso, devolviendo el equilibrio a tu mente y tu cuerpo.\n\n1️⃣ L-Teanina: Neuroarmonía sin somnolencia\nEste aminoácido, naturalmente presente en el té verde, modula tu actividad cerebral sin generar dependencia ni efectos adversos.\n Actúa sobre tres niveles clave:\nActiva ondas cerebrales alfa: favorece un estado de “alerta relajada”, ideal para reducir el estrés y aumentar la concentración.\n\n\nRegula neurotransmisores:\n\n\nAumenta GABA (relajación), dopamina y serotonina (bienestar y motivación).\n\n\nDisminuye norepinefrina y glutamato, atenuando la sobreexcitación y la tensión interna.\n\n\nResultado: más foco, más serenidad y mejor gestión emocional frente al estrés diario.\n\n\n\n2️⃣ Ventaja Líquida: Absorción rápida, uso flexible\nEl formato en gotas no es solo una presentación: es una ventaja funcional concreta:\nAbsorción rápida y eficaz: al estar ya disuelto, el cuerpo lo asimila de forma más directa.\n\n\nFácil de tomar y dosificar: ideal para quienes evitan cápsulas o buscan ajustar su dosis personal.\n\n\nSabor lima-limón natural: agradable al paladar, favorece el uso diario constante.\n\n\n\n3️⃣ Pureza y confianza certificada\nEn un mercado saturado de suplementos genéricos, MaryRuth’s marca la diferencia con su compromiso radical con la calidad:\nClean Label Project Certified: libre de más de 200 contaminantes, incluidos metales pesados, pesticidas y plásticos tóxicos.\n\n\nEmpresa B Certificada (B Corp): ética, transparencia y responsabilidad social verificadas.\n\n\nFórmula limpia: Vegano, sin azúcar, sin OGM, sin gluten ni alérgenos comunes.\n\n\nFabricado en instalaciones GMP: asegurando calidad farmacéutica en cada frasco.\n\n\n\n\n\n✅ Una solución natural que trabaja contigo, no contra ti\nMaryRuth’s L-Theanine Liquid Drops no busca sedarte ni adormecerte.\n Su propósito es ayudarte a funcionar en tu mejor versión, con más claridad, mejor descanso y una mente en calma.\n Una herramienta de bienestar compatible con tu ritmo, tus valores y tu estilo de vida.\n\n## MANEJO DE OBJECIONES\n\n### Registro INVIMA\n*\"Es un producto importado, de Estados Unidos, tiene aprobación FDA\"*\n\n### Satisfacción del producto\n*\"Te recomiendo esperar los resultados completos. Es producto original respaldado por expertos. Cada organismo responde diferente.\"*\n**Nota**: NO ofrecemos devolución (mencionar solo si preguntan)\n\n## PRINCIPIOS DE VENTA\n1. **Escucha activa**: Identifica el dolor específico\n2. **Solución personalizada**: Conecta beneficios con síntomas  \n3. **Urgencia sutil**: Resultados desde primera semana\n4. **Confianza**: Producto natural y respaldado\n5. **Seguimiento**: Proceso claro post-venta\n\n## RECORDATORIOS CLAVE\n- ✅ Una pregunta por respuesta\n- ✅ Empatía antes que venta\n- ✅ Dirección completa obligatoria\n- ✅ Confirmar ciudad para método de pago\n- ✅ **NO confirmar datos si están correctos - proceder directo al cierre**\n- ✅ **Agregar datos gradualmente mientras el cliente los proporciona**\n- ✅ **Enviar resumen completo al finalizar el pedido**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-800,240],"id":"a9ecb795-edc1-4e9b-95d2-b54ab88e2f92","name":"Agente Kelli"}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Comprueba Estado de la Conversación","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Kelli","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Kelli","type":"ai_languageModel","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Convert text to speech","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Pedido","type":"main","index":0}]]},"Extrae los Datos del Pedido":{"main":[[{"node":"Agrega Pedido Nuevo Hoja de Excel","type":"main","index":0}]]},"Agrega Pedido Nuevo Hoja de Excel":{"main":[[{"node":"Cambia Estado Conversacion","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Cambia Estado Conversacion":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensajes Audio","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[]]},"Comprueba Estado de la Conversación":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Kelli","type":"ai_memory","index":0}]]},"Envia Mensajes Audio":{"main":[[]]},"¿Piden testimonios?":{"main":[[{"node":"Detectar marcadores","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Detectar marcadores":{"main":[[{"node":"Generar lista multimedia","type":"main","index":0}]]},"Generar lista multimedia":{"main":[[{"node":"Limpiar Mensaje","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Limpiar Mensaje":{"main":[[{"node":"Esperar Enviar Mensaje","type":"main","index":0}]]},"Esperar Enviar Mensaje":{"main":[[{"node":"Envia Mensaje","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar Imagenes","type":"main","index":0}],[{"node":"Enviar videos","type":"main","index":0}]]},"Enviar videos":{"main":[[]]},"Convert text to speech":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Agente Kelli":{"main":[[{"node":"¿Piden testimonios?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ec63f092-c1d4-4b43-8f49-0ac7bf8c5445","triggerCount":1,"shared":[{"createdAt":"2025-08-05T17:15:45.437Z","updatedAt":"2025-08-05T17:15:45.437Z","role":"workflow:owner","workflowId":"HBajHlqHiD49Iuv1","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}