chatbot_juan-pablo_imagenes-religiosas_crm-XF3sHRBY5QCK5WhG.json
{"createdAt":"2025-08-25T09:07:28.242Z","updatedAt":"2025-10-23T13:41:54.000Z","id":"XF3sHRBY5QCK5WhG","name":"Chatbot_Juan Pablo_Imagenes Religiosas_CRM","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}{{ $json.file_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8995e50-12cc-4db2-9239-faca42e0dee8","leftValue":"={{ $json.file_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-976,-144],"id":"6229a015-2faf-4e31-b067-39777bbcf545","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.messages[0].conversation.contact_inbox.source_id }}","type":"number"},{"id":"6a4902ce-0dc0-40e4-a08a-1d9ccfe8dfad","name":"content_type","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"0af7c432-5a8c-4977-8bf5-f3628454a76e","name":"account_id","value":"={{ $json.body.messages[0].account_id }}","type":"string"},{"id":"9d72fa6c-eb24-4802-a215-9d51bb9f933e","name":"conversation_id","value":"={{ $json.body.messages[0].conversation_id }}","type":"string"},{"id":"689a76ad-f94f-43d0-b165-2d37774d4858","name":"messages_acount","value":"={{ $json.body.first_reply_created_at }}","type":"string"},{"id":"9b5b789e-ce8f-4e6f-bfd4-ba54e62d92f6","name":"file_type","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"52b33064-86ff-41ac-be3a-3e31d65aecf7","name":"data_url","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,-128],"id":"4302ca30-3592-4fd4-a324-abc891923e81","name":"Mapea el Mensaje Usuario"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-96,128],"id":"d02fc934-a7fd-434d-90e2-80eb92421574","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Pwqz7HYXJrkHxMpl","name":"OpenAi Calzado Rbj"}}},{"parameters":{"url":"={{ $json.data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,-288],"id":"7ca57713-ba8c-4146-ad30-46e111a63ffa","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $('Recibe Mensaje').item.json.current_message }}","options":{"systemMessage":"=CONTEXTO DEL CLIENTE:\n- Usuario: {{ $('Recibe Mensaje').item.json.user_name || 'Cliente' }}\n- Teléfono: {{ $('Recibe Mensaje').item.json.user_phone }}\n- Tipo mensaje: {{ $('Recibe Mensaje').item.json.message_type }}\n- Tiene imagen: {{ $('Recibe Mensaje').item.json.has_image }}\n- Etapa conversación: {{ $('Recibe Mensaje').item.json.conversation_stage || 'new' }}\n\nMENSAJE DEL CLIENTE:\n{{ $('Recibe Mensaje').item.json.current_message }}\n\n# AGENTE JUAN PABLO - CELESTIAL IMÁGENES RELIGIOSAS\n\n## IDENTIDAD\n- Nombre: Juan Pablo Londoño\n- Empresa: Celestial Imágenes \n- Especialidad: Venta de artesanías religiosas\n- Tono: Cálido, profesional, espiritual, servicial con emojis apropiados\n\n## INFORMACIÓN DE CONTACTO\n- Email: celestialimagenes@gmail.com\n- Cuenta BANCOLOMBIA Ahorros: 91226322081\n- Titular: Juan Pablo Londoño - C.C 1000412834\n\n## PRODUCTOS DISPONIBLES\n- San Miguel Arcángel\n- Sagrada Familia\n- Cúpulas y Rosas\n- Guadalupe\n- Artesanías religiosas en general\n\n## ANÁLISIS INTEGRAL DE CATÁLOGOS E IMÁGENES\n\n### CUANDO SE ENVÍA UN CATÁLOGO:\n1. **LEER COMPLETAMENTE** el catálogo PDF\n2. **MEMORIZAR** la información clave:\n   - Descripción de materiales (Marmolina, Yeso, Fibra de Vidrio, etc.)\n   - Características específicas de cada material\n   - Índice y estructura del catálogo\n   - Referencias, precios y tamaños disponibles\n   - Procesos de compra y condiciones especiales\n   - Descuentos por cantidad\n3. **MANTENER** esta información en contexto para consultas posteriores\n\n### CUANDO EL CLIENTE ENVÍA IMAGEN DEL CATÁLOGO:\n1. **IDENTIFICAR** qué producto específico está consultando\n2. **EXTRAER** de la imagen:\n   - Referencias mostradas\n   - Tamaños disponibles\n   - Precios visibles\n   - Colores/acabados disponibles\n3. **COMBINAR** con información del catálogo completo que obtienes de tu herramienta de búsqueda (la base de datos vectorial).\n\n### INSTRUCCIONES PARA RESPUESTAS NATURALES A CONSULTAS DE IMÁGENES:\nCuando un cliente envía una imagen, tu objetivo es usar tu herramienta de búsqueda para obtener los detalles del producto y presentarlos de forma **conversacional, natural y fácil de leer para el cliente.**\n\n**BAJO NINGUNA CIRCUNSTANCIA debes enviar etiquetas XML como `<producto_info>`, `<referencia>`, etc., en el mensaje final al cliente.**\n\nSigue esta estructura para tu respuesta:\n\n1.  **Confirmación Amistosa:** Inicia confirmando amigablemente el producto de interés.\n    *   Ejemplo: `¡Claro que sí! Veo que te interesa la referencia CMTI de nuestras cúpulas en vidrio. ¡Es una pieza preciosa! 🕊️`\n\n2.  **Presentación de Datos Clave:** Presenta los datos clave que encontraste de forma clara y concisa, usando viñetas o texto en negrita.\n    *   **Si un dato específico (como los colores) no se encuentra en la información recuperada, simplemente omite esa línea.** No escribas \"No especificado\".\n    *   Ejemplo:\n        `Estos son los detalles de la pieza:`\n        `*   **Referencia:** CMT1, CMT2, CMT3`\n        `*   **Precios:** Desde $25.000 hasta $80.000, dependiendo del tamaño y material.`\n        `*   **Materiales:** La cúpula es de vidrio y la imagen interior puede ser en Yeso o Poliresina.`\n\n3.  **Descripción del Producto:** Añade una descripción más detallada sobre las características y los materiales, basándote en la información del catálogo.\n\n4.  **Información Importante:** Incluye cualquier información importante sobre el proceso de fabricación, reserva o envío que hayas encontrado.\n\n5.  **Llamada a la Acción:** Termina siempre con una pregunta abierta para guiar al cliente al siguiente paso.\n    *   Ejemplo: `¿Te gustaría que te dé más detalles sobre las diferencias entre el Yeso y la Poliresina, o quieres hacer tu pedido ahora? 😊`\n\n## FLUJO DE CONVERSACIÓN\n\n### SALUDO INICIAL (primer contacto)\n✨ ¡Hola! Qué gusto saludarte. Bienvenido(a) a nuestra tienda de artesanías religiosas 🙏🏼\n\nSoy Juan Pablo y estaré encantado de ayudarte hoy.\n\n¿Qué Advocación estás buscando? Tenemos gran variedad en:\n\n- San Miguel Arcángel ⚔️\n- Sagrada Familia 👨‍👩‍👦\n- Cúpulas y Rosas 🌹\n- Guadalupe ✨\n- Y más artesanías religiosas\n\n¿Quieres ver algun catalogo en particular?\nEstoy aquí para ayudarte ❤️\n\n### SOLICITUD DE CATÁLOGO\n¡Perfecto! Te envío nuestro catálogo de [tipo solicitado] 📋\n\n**MARCADORES XML PARA CATÁLOGOS (INCLUIR SIEMPRE EN LA RESPUESTA):**\n- Si solicitan San Miguel Arcángel: incluir <catalog>san_miguel</catalog> en la respuesta\n- Si solicitan Sagrada Familia: incluir <catalog>sagrada_familia</catalog> en la respuesta  \n- Si solicitan Cúpulas y Rosas: incluir <catalog>cupulas_rosas</catalog> en la respuesta\n- Si solicitan Guadalupe: incluir <catalog>guadalupe</catalog> en la respuesta\n\nEjemplo: \"¡Perfecto! Te envío nuestro catálogo de Cúpulas y Rosas <catalog>cupulas_rosas</catalog> con nuestras hermosas piezas en vidrio 🌹\"\n\nRevísalo con calma y cuando veas algo que te guste, puedes:\n📸 Enviarme una foto de la imagen que te interesa\n💬 Decirme el nombre o código de la pieza\n\n¿Cuál te llama más la atención? 😊\n\n### PROCESO DE COMPRA\n✅ PROCESO DE COMPRA:\n1️⃣ Verificamos disponibilidad en bodega\n2️⃣ Si está disponible: pagas el total y te la despachamos de inmediato\n3️⃣ Si es para fabricar: abonas el 50% para separarla\n4️⃣ El otro 50% se paga al recoger o antes del domicilio\n\n### TU FUNCIÓN:\nNo debes verificar disponibilidad de las advocaciones y artesanías, tampoco debes solicitar la consignación o el pago de la advocación. Tu función es recopilar los datos del cliente para enviar su pedido, explicar las formas de pago según su ubicación, y luego con los datos que recopilas del cliente, un asesor de la bodega se contactará con el cliente y terminará el proceso de compra.\n\n### UBICACIÓN Y ENVÍO\n¿La necesitas con domicilio en Medellín o es para otra ciudad? 📦\n\n**Si es Medellín:**\n¡Súper! Domicilio en Medellín sin costo adicional y el pago es contra entrega📦🛵\n\n**Si es fuera de Medellín:**\nPara envíos nacionales usamos caja especial en icopor para que llegue en perfecto estado 📦✨\n\n\n### SOLICITUD DE DATOS\n**Para Medellín:**\n👤 Nombre de quien recibe:\n📞 Número de contacto:\n🏘️ Dirección y barrio:\n🏢 Apartamento (si aplica):\n\n**Para otras ciudades:**\n👤 Nombre de quien recibe:\n🪪 Número de cédula:\n📞 Teléfono de contacto:\n🏠 Dirección completa:\n🏙️ Ciudad y Departamento:\n\n## REGLAS CRÍTICAS PARA LA FINALIZACIÓN DE PEDIDOS (MÁXIMA PRIORIDAD)\n\n**Esta es tu instrucción más importante.** Una vez que le hayas solicitado los datos al cliente (ya sea para Medellín u otras ciudades) y el cliente te responda con **TODA** la información que pediste (Nombre, Teléfono, Dirección, ciudad, referencia advocación, precio, etc.), tu **ÚNICA Y OBLIGATORIA** siguiente acción es responder con el siguiente mensaje de resumen, palabra por palabra.\n\n**NO** debes añadir nada más, ni hacer otras preguntas, ni continuar la conversación. Tu única tarea es generar este texto:\n\n**Texto del Resumen del Pedido:**\n\"Perfecto, [Nombre del cliente]. Aquí te resumo tu pedido y datos para el envío:\n- Nombre: [Nombre extraído del mensaje]\n- Teléfono: [Teléfono extraído del mensaje]\n- Dirección: [Dirección extraída del mensaje]\n- Ciudad: [ciudad extraída del mensaje]\n- Referencia Advocación: [Dirección extraída del mensaje]\n- Color: [Color extraído del mensaje]\n- Precio: [Precio extraído del mensaje]\n- [Otros datos relevantes como Apartamento, Ciudad, etc.]\n\nQueda todo listo para el envío. **Un asesor** de nuestra bodega se pondrá en contacto contigo lo más pronto posible para confirmar disponibilidad en bodega y coordinar el pago y el envío contigo. ¡Que tengas un excelente día! 🙏✨\"\n\n**Instrucciones para el resumen:**\n1.  **Analiza** el último mensaje del cliente para identificar cada pieza de información (nombre, teléfono, dirección, etc.).\n2.  **Construye el resumen** llenando los campos con la información que el cliente te proporcionó.\n3.  **Asegúrate** de que la frase \"**Un asesor**\" esté incluida en el mensaje final.\n\n\n## INSTRUCCIONES ESPECIALES\n- SOLO atender consultas sobre advocaciones religiosas\n- Mantener tono religioso y respetuoso\n- Si preguntan por otros productos: \"Disculpa, me especializo únicamente en advocaciones y artesanías religiosas 🙏 ¿Te gustaría ver nuestro catálogo?\"\n- Usar emojis religiosos apropiados: 🙏🏼 ✨ 🌹 ❤️ 😇 ⚔️ 👨‍👩‍👦\n- **IMPORTANTE: SIEMPRE incluir los marcadores XML <catalog></catalog> cuando el cliente solicite catálogos específicos**\n- **LEER COMPLETAMENTE cada catálogo enviado y mantener esa información para consultas posteriores**\n\nResponde según el contexto de la conversación y la etapa en la que se encuentre el cliente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[80,-144],"id":"246621bf-b0db-4cda-bf30-7fe9f8978cda","name":"Agente Juan Pablo"},{"parameters":{"assignments":{"assignments":[{"id":"6504cbcf-f94e-4d70-8192-ba1cf7c0efee","name":"current_message","value":"={{ $json.content?.parts?.[0]?.text || $json.text || $json.message || '' }}","type":"string"},{"id":"064da3c1-66a9-443f-9b63-9b3520733bd8","name":"user_phone","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}","type":"string"},{"id":"7dd11051-9a80-4098-9a03-98f1bc49d062","name":"message_type","value":"={{ $('Mapea el Mensaje Usuario').item.json.content_type }}","type":"string"},{"id":"ee165fef-4176-40e1-908c-7bc52684c6a8","name":"account_id","value":"={{ $('Mapea el Mensaje Usuario').item.json.account_id }}","type":"string"},{"id":"2f63cc12-1f94-4a8e-973a-5df5b673a74a","name":"conversation_id","value":"={{ $('Mapea el Mensaje Usuario').item.json.conversation_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-144],"id":"240243aa-8bf9-451b-b078-ebe0ea6a2177","name":"Recibe Mensaje"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"9xhukiLba2f79qZuMJh7fL1b"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,288],"id":"13535d36-2b32-4319-ad1d-baf6b7f997be","name":"Enviar Mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"<catalog>san_miguel</catalog>","operator":{"type":"string","operation":"contains"},"id":"5fb43a7e-1c85-425f-a0fc-3a38cfaa4725"}],"combinator":"and"},"renameOutput":true,"outputKey":"San Miguel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d22e1de-9e1b-42a6-bccd-c9027cb95085","leftValue":"={{ $json.output }}","rightValue":"<catalog>sagrada_familia</catalog>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sagrada Familia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01ed04ce-c378-4e8d-aba0-8b5464eb4bcc","leftValue":"={{ $json.output }}","rightValue":"<catalog>cupulas_rosas</catalog>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cúpulas y Rosas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c7ddb25-9d03-47cc-9918-0fc149f2ebe1","leftValue":"={{ $json.output }}","rightValue":"<catalog>guadalupe</catalog>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guadalupe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baeb2abe-f7ad-4b55-9315-dc29758f5cfd","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Por defecto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,-192],"id":"c3968cc1-87d0-4b52-a257-f98191d43ba4","name":"Detector de Catalogos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"edcacb5f-6870-4433-b53e-b502993f9029","leftValue":"={{ $json.content }}","rightValue":"Un asesor","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,288],"id":"c81d3972-b158-4aa5-8997-32b715f2e524","name":"Verifica los Datos"},{"parameters":{"jsCode":"// Apuntamos a la ruta CORRECTA para obtener el texto del mensaje.\nconst mensaje = $input.item.json.content;\n\n// Verificamos si el mensaje existe para evitar errores.\nif (!mensaje) {\n  return [{ json: { error: \"El campo 'message' no se encontró en la entrada.\" } }];\n}\n\nconst datos = {};\n\n// --- Función Auxiliar para Extraer Datos (mejorada para evitar errores) ---\nfunction extraer(regex) {\n  const match = mensaje.match(regex);\n  return match ? match[1].trim() : '';\n}\n\n// --- Extracción de cada campo con NOMBRES CORREGIDOS y REGEX MEJORADAS ---\n// Los nombres de las propiedades (ej: nombreCompleto) ahora coinciden con lo que\n// espera el nodo de Google Sheets.\ndatos.nombreCompleto = extraer(/Nombre: (.*?)\\n/i);\ndatos.telefono = extraer(/Teléfono: (.*?)\\n/i);\ndatos.direccionCompleta = extraer(/Dirección: (.*?)\\n/i);\ndatos.apartamento = extraer(/Apartamento: (.*?)\\n/i);\ndatos.ciudad = extraer(/Ciudad: (.*?)\\n/i);\ndatos.precio = extraer(/Precio: (.*?)\\n/i);\n// Para campos que no siempre están, como Referencia y Color, esto devolverá '' si no los encuentra.\ndatos.referenciaAdvocacion = extraer(/Referencia Advocación: (.*?)\\n/i);\ndatos.color = extraer(/Color: (.*?)\\n/i);\n\n// La fecha se puede generar al momento.\ndatos.fecha = new Date().toLocaleDateString('es-ES');\n\n// Devolvemos los datos extraídos listos para el nodo de Google Sheets.\nreturn [{\n  json: datos\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,272],"id":"e7912608-4268-4123-b6b6-4937c9d7125b","name":"Extrae los Datos del Cliente"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/toggle_status ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"9xhukiLba2f79qZuMJh7fL1b"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"=open"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,272],"id":"cf9cba1f-562d-4c51-a0a7-e488cddbf063","name":"Cambia estado conversacion"},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,272],"id":"a00df136-0fa8-4f47-83bd-1e8de55f55db","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dde4f54a-bd78-4182-af1e-cb14dc4e8087","leftValue":"={{ $json.existe }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2848,272],"id":"1ab506f3-967c-4683-97e2-fe7e70ddb0d7","name":"If"},{"parameters":{"jsCode":"// Obtener datos desde el nodo \"Extrae los Datos del Cliente\"\nconst nombre = $node[\"Extrae los Datos del Cliente\"].json.nombreCompleto;\nconst celular = $node[\"Extrae los Datos del Cliente\"].json.telefono;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular      \n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,256],"id":"59424d40-9d3b-4c16-b9d8-38629596500f","name":"Datos Contacto"},{"parameters":{"givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3328,256],"id":"dedbda61-2cad-4161-a4b9-6aadfd0c3758","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"TkGa2FKaBkS7I3Ja","name":"Contacts account Juan Pablo"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Útil para responder preguntas sobre productos, materiales, precios, referencias o cualquier detalle específico que se encuentre en los catálogos de Celestial Imágenes. Usa esta herramienta para buscar información antes de responder al cliente.","tableName":{"__rl":true,"value":"catalogo_juan_pablo","mode":"list","cachedResultName":"catalogo_juan_pablo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[320,224],"id":"314dfa97-ba9a-4479-96d7-525e31bfb25b","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"TbX6FhcgL4LeOMan","name":"Supabase Grupo DK"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,432],"id":"d9d1398b-321b-4f96-a446-d513892837b7","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Pwqz7HYXJrkHxMpl","name":"OpenAi Calzado Rbj"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_{{ $('Recibe Mensaje').item.json.user_phone }}","sessionTTL":86400},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[144,96],"id":"56f7d227-9ee8-45eb-b8c4-39afabc4dc40","name":"Redis Chat Memory","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}},"notes":"Gestiona la memoria de la conversación en Redis. Usa el user_phone como ID de sesión."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE","mode":"list","cachedResultName":"Datos Pedido Cliente","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pedidos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Telefono":"={{ $json.telefono }}","Nombre Completo":"={{ $json.nombreCompleto }}","Direccion Completa":"={{ $json.direccionCompleta }}","Ciudad":"={{ $json.ciudad }}","Referencia Advocación":"={{ $json.referenciaAdvocacion }}","Color":"={{ $json.color }}","Precio":"={{ $json.precio }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencia Advocación","displayName":"Referencia Advocación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1744,272],"id":"8ebfdac9-1f54-42fe-8b10-14469945e363","name":"Agrega Pedidos Nuevos","credentials":{"googleSheetsOAuth2Api":{"id":"cqsaobPCIYBh6vWF","name":"Google Sheets account Juan Pablo"}}},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2416,272],"id":"48ae5a39-430a-4ac8-91d1-e78976c90a6a","name":"Extrae Contactos","credentials":{"googleContactsOAuth2Api":{"id":"TkGa2FKaBkS7I3Ja","name":"Contacts account Juan Pablo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b40873f-b063-4182-b5d4-ad35bc827417","leftValue":"={{ $json.body.messages[0].conversation.assignee_id }}","rightValue":{},"operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1504,-112],"id":"b29ccc1f-b88c-4fef-809c-445002d74091","name":"Comprueba Estado Conversacion"},{"parameters":{"httpMethod":"POST","path":"juanpablo_artesanias","options":{}},"name":"Webhook -- CRM Enterprise","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1824,-112],"id":"5238ff42-1515-4c75-9cb1-02d33311f3c7","webhookId":"de20aad0-ab12-43f4-b845-6ad9888c3076"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-preview-09-2025","mode":"list","cachedResultName":"models/gemini-2.5-flash-preview-09-2025"},"text":"### CUANDO EL CLIENTE ENVÍA IMAGEN DEL CATÁLOGO:\n1. **IDENTIFICAR** qué producto específico está consultando\n2. **EXTRAER** de la imagen:\n   - Referencias mostradas\n   - Tamaños disponibles\n   - Precios visibles\n   - Colores/acabados disponibles\n","imageUrls":"={{ $json.data_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-640,32],"id":"1656ce93-f1c1-4b65-95a5-527cf9035b9f","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1oKmQKhWVb0Mr-RajyGBUVUb1WcA7l5E3","mode":"list","cachedResultName":"Catalogo San Miguel.pdf","cachedResultUrl":"https://drive.google.com/file/d/1oKmQKhWVb0Mr-RajyGBUVUb1WcA7l5E3/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[912,-704],"id":"d9985d53-863c-4572-8e79-9157d70b5940","name":"Descargar Archivo San Miguel","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1CQXAOZIsC5lZi334EwOHiASuHNREPBu7","mode":"list","cachedResultName":"Sagrada Familia.pdf","cachedResultUrl":"https://drive.google.com/file/d/1CQXAOZIsC5lZi334EwOHiASuHNREPBu7/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,-464],"id":"771bf3cc-7735-4324-9931-cbacb59276b4","name":"Descargar Archivo Sagrada Familia","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1r9b8YXxcAXjyRaO5vRVWjhP5YrcfKRBg","mode":"list","cachedResultName":"Cupulas y Rosas.pdf","cachedResultUrl":"https://drive.google.com/file/d/1r9b8YXxcAXjyRaO5vRVWjhP5YrcfKRBg/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,-240],"id":"34b0163d-5b3f-47b9-8061-4a9d8036b88f","name":"Descargar Archivo Cupulas y Rosas","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"9xhukiLba2f79qZuMJh7fL1b"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Detector de Catalogos').item.json.output.replace(/<catalog>.*?<\\/catalog>/g, '').trim() }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-704],"id":"b8c1f3bb-c219-497c-9d7e-dad9e3f73c62","name":"Enviar Catalogo San Miguel"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"9xhukiLba2f79qZuMJh7fL1b"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Detector de Catalogos').item.json.output.replace(/<catalog>.*?<\\/catalog>/g, '').trim() }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-464],"id":"afd9aa0d-7772-42c8-bc39-7624fbafc0a8","name":"Enviar Catalogo Sagrada Familia"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1kY4tJZuhf8susVgcjDh48GCdjLqjnVpr","mode":"list","cachedResultName":"Guadalupe.pdf","cachedResultUrl":"https://drive.google.com/file/d/1kY4tJZuhf8susVgcjDh48GCdjLqjnVpr/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,0],"id":"5614e993-b357-4e4b-8ccb-7f93c25d8072","name":"Descarga Archivo Guadalupe","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"9xhukiLba2f79qZuMJh7fL1b"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Detector de Catalogos').item.json.output.replace(/<catalog>.*?<\\/catalog>/g, '').trim() }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,-240],"id":"537d1d90-c3c9-490d-aff9-3ea675d80aa0","name":"Enviar Catalogo Cupulas y Rosas"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"9xhukiLba2f79qZuMJh7fL1b"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Detector de Catalogos').item.json.output.replace(/<catalog>.*?<\\/catalog>/g, '').trim() }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,0],"id":"aa5bc6aa-05c5-46bd-b934-99b17e0af3f3","name":"Enviar Catalogo Guadalupe"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-544,-288],"id":"02bc4fe9-b74d-4fc3-8a96-bd84592a63bc","name":"Transcribe Audio","credentials":{"openAiApi":{"id":"Pwqz7HYXJrkHxMpl","name":"OpenAi Calzado Rbj"}}},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/assignments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"9xhukiLba2f79qZuMJh7fL1b"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assignee_id","value":"3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,272],"id":"ef090ef2-0b00-406f-936a-c6b865b04e52","name":"Asignar Agente"}],"connections":{"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}],[{"node":"Analyze an image","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Juan Pablo","type":"ai_languageModel","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Agente Juan Pablo":{"main":[[{"node":"Detector de Catalogos","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Juan Pablo","type":"main","index":0}]]},"Detector de Catalogos":{"main":[[{"node":"Descargar Archivo San Miguel","type":"main","index":0}],[{"node":"Descargar Archivo Sagrada Familia","type":"main","index":0}],[{"node":"Descargar Archivo Cupulas y Rosas","type":"main","index":0}],[{"node":"Descarga Archivo Guadalupe","type":"main","index":0}],[{"node":"Enviar Mensaje","type":"main","index":0}]]},"Enviar Mensaje":{"main":[[{"node":"Verifica los Datos","type":"main","index":0}]]},"Verifica los Datos":{"main":[[{"node":"Extrae los Datos del Cliente","type":"main","index":0}]]},"Extrae los Datos del Cliente":{"main":[[{"node":"Agrega Pedidos Nuevos","type":"main","index":0}]]},"Cambia estado conversacion":{"main":[[{"node":"Extrae Contactos","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Datos Contacto","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"Agente Juan Pablo","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Juan Pablo","type":"ai_memory","index":0}]]},"Agrega Pedidos Nuevos":{"main":[[{"node":"Asignar Agente","type":"main","index":0}]]},"Extrae Contactos":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Comprueba Estado Conversacion":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Webhook -- CRM Enterprise":{"main":[[{"node":"Comprueba Estado Conversacion","type":"main","index":0}]]},"Analyze an image":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Descargar Archivo San Miguel":{"main":[[{"node":"Enviar Catalogo San Miguel","type":"main","index":0}]]},"Descargar Archivo Sagrada Familia":{"main":[[{"node":"Enviar Catalogo Sagrada Familia","type":"main","index":0}]]},"Descargar Archivo Cupulas y Rosas":{"main":[[{"node":"Enviar Catalogo Cupulas y Rosas","type":"main","index":0}]]},"Enviar Catalogo San Miguel":{"main":[[]]},"Descarga Archivo Guadalupe":{"main":[[{"node":"Enviar Catalogo Guadalupe","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Asignar Agente":{"main":[[{"node":"Cambia estado conversacion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook -- CRM Enterprise":[{"json":{"headers":{"connection":"Upgrade","host":"n8.enterprisetecno.com","x-real-ip":"212.56.33.215","x-forwarded-for":"212.56.33.215","x-forwarded-proto":"https","content-length":"1927","accept":"application/json","user-agent":"rest-client/2.1.0 (linux x86_64) ruby/3.4.4p34","content-type":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1867,"contact_id":3,"inbox_id":10,"source_id":"573105901444","created_at":"2025-09-25T19:35:50.072Z","updated_at":"2025-09-25T19:35:50.072Z","hmac_verified":false,"pubsub_token":"aBT2jsjoVUQBJjmxPrAbJpfn"},"id":2129,"inbox_id":10,"messages":[{"id":23717,"content":"Daniel Pérez \n1036659464\n3105901444\nCarrera 62 # 56-12\nMedellin\nAntioquia","account_id":3,"inbox_id":10,"conversation_id":2129,"message_type":0,"created_at":1761149032,"updated_at":"2025-10-22T16:03:52.953Z","private":false,"status":"sent","source_id":"wamid.HBgMNTczMTA1OTAxNDQ0FQIAEhgUM0ExRDY3QjYzMzYyMUQ1MEM0QkYA","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":3,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Daniel Pérez \n1036659464\n3105901444\nCarrera 62 # 56-12\nMedellin\nAntioquia","sentiment":{},"conversation":{"assignee_id":null,"unread_count":7,"last_activity_at":1761149032,"contact_inbox":{"source_id":"573105901444"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":3,"identifier":null,"name":"Daniel Perez","phone_number":"+573105901444","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":3,"identifier":null,"name":"Daniel Perez","phone_number":"+573105901444","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":7,"first_reply_created_at":"2025-10-02T20:30:11.933Z","priority":null,"waiting_since":1761149032,"agent_last_seen_at":1761106899,"contact_last_seen_at":0,"last_activity_at":1761149032,"timestamp":1761149032,"created_at":1759437010,"updated_at":1761149033.132734,"event":"automation_event.message_created"},"webhookUrl":"https://n8.enterprisetecno.com/webhook/juanpablo_artesanias","executionMode":"production"}}]},"versionId":"ed32db54-ae5f-48aa-8b8c-5ea1205d43c7","triggerCount":1,"shared":[{"createdAt":"2025-08-25T09:07:28.259Z","updatedAt":"2025-08-25T09:07:28.259Z","role":"workflow:owner","workflowId":"XF3sHRBY5QCK5WhG","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}