chatbot-appointment-scheduler-with-google-calendar-for-dental-assistant-2-T4UL7qpjIv5Ry78E.json
{"createdAt":"2025-10-06T00:45:56.163Z","updatedAt":"2025-10-06T03:11:29.000Z","id":"T4UL7qpjIv5Ry78E","name":"Chatbot Appointment Scheduler With Google Calendar for Dental assistant 2","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"32fe7a8b-aa1a-4517-a167-41972f77d69b","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[368,240],"webhookId":"8f427031-1110-4ea3-aef7-5d06ba7d5bce","typeVersion":1.1},{"parameters":{"options":{"systemMessage":"=🎯 Role of the Assistant\nYou are a virtual assistant specializing in appointment management for Dr. Hakim. Your goal is to schedule consultations accurately, ensuring real availability while providing a smooth experience for patients.\n\n🕒 Office Hours\nMonday - Friday: 9:00 AM - 8:00 PM\nSaturday: 9:00 AM - 1:00 PM\nSunday: ❌ Closed\nConsultation Duration: 1 hour\nBreak Between Patients: 15 minutes\n\n📅 Booking Process\n\n1️⃣ Request Patient Information (Mandatory):\nFull Name\nPhone Number\nDesired Date and Time\n2️⃣ Availability Check:\nIf the requested time is outside office hours → offer only available slots.\nIf the requested time is available, ask for confirmation and book it.\nIf the requested time is unavailable, apologize and suggest the actual available slots on the requested day (between 9:00 AM and 8:00 PM, respecting breaks).\n\n##Example:\nIf a patient requests an appointment at 10:00 AM, check Google Calendar to confirm availability between 9:00 AM and 8:00 PM, considering the consultation duration (1 hour) and the 15-minute breaks.\n\n🚨 Do not confirm the appointment immediately—you must receive the patient's confirmation first.\n\n3️⃣ Confirmation & Updates:\nConfirm availability with the patient before finalizing.\nUpdate Google Calendar & Google Sheets after every booking.\nGoogle Calendar Event Title: \"Patient Name - Phone Number\".\nFor modifications or cancellations, free the slot and update the schedule.\n\n##Tools:\nUse \"Cheek Avilability\" to check available slots.\nUse \"Creat event\" to book the appointment.\nUse \"Add Data\" to record patient information.\n\n💬 Communication\n✅ Respond clearly, professionally, and in a friendly manner.\n✅ Always confirm the final date and time with the patient.\n✅ Ensure Google Calendar and Google Sheets are updated after every booking.\n\n📅 Today's date: {{ $now }}."}},"id":"3510bb5a-3c8b-4978-a6c5-5c077be74f3f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[720,224],"typeVersion":1.7},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"id":"05bfbeb4-d2a4-4372-b763-6da636ed4393","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[736,432],"typeVersion":1.3},{"parameters":{"content":"**AI Agent 👇**\nThe Prompt is already there, You just need to setup the prompt user message with your text message.","height":141,"width":194,"color":7},"id":"86899211-daf8-4fc6-a61a-98504b239d83","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[752,64],"typeVersion":1},{"parameters":{"content":"**Chat Model ☝️**\nAdd your Open Ai API Key ","height":80,"width":150,"color":7},"id":"947c5aa3-549e-49f1-b136-030cbd3ca6ff","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[608,592],"typeVersion":1},{"parameters":{"content":"**Gpoogle Calendar ☝️**\nConnect to Google Calendar","height":80,"width":190,"color":7},"id":"cac840df-644e-4092-b678-af2fdf3fc378","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[976,592],"typeVersion":1},{"parameters":{"content":"**Google Sheets ☝️**\nConnect to Google Sheets","height":80,"width":190,"color":7},"id":"f474ee97-ba38-4100-bfc7-0d01d0a4c599","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1232,592],"typeVersion":1},{"parameters":{"content":"**Memory ☝️**\nAdd the Session ID ","height":80,"width":150,"color":7},"id":"51fcd961-7b0b-4435-a315-17d4ddc1ed30","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[768,592],"typeVersion":1},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"odontologaviviancyhenao@gmail.com","mode":"list","cachedResultName":"odontologaviviancyhenao@gmail.com"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{}},"id":"398fdf7a-508d-4a0a-8c2c-1f0075b6ad56","name":"Check Availability","type":"n8n-nodes-base.googleCalendarTool","position":[896,432],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"AXibNNcm83HZ9XPv","name":"Google Calendar Vivadent"}}},{"parameters":{"calendar":{"__rl":true,"value":"odontologaviviancyhenao@gmail.com","mode":"list","cachedResultName":"odontologaviviancyhenao@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{}},"id":"43673597-ffb6-4d38-8fb0-975eb47976f6","name":"Creat event","type":"n8n-nodes-base.googleCalendarTool","position":[1088,448],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"AXibNNcm83HZ9XPv","name":"Google Calendar Vivadent"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA","mode":"list","cachedResultName":"Control Citas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Citas Valoracion","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1osFCESvqnLLpkqfYbsZKed8DtNsM937v12UloIbTsIA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}","Nombre Completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Completo', ``, 'string') }}","Apellidos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Apellidos', ``, 'string') }}","Telefono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Apellidos","displayName":"Apellidos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"650b5d36-7b52-4bb2-953a-d9ee278a35eb","name":"Add data","type":"n8n-nodes-base.googleSheetsTool","position":[1232,448],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"r9WNQMfasZfbEzbO","name":"Google Sheets Vivadent"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[592,432],"id":"789861c6-44fc-4015-8136-9936e3c8a996","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"8gGIRoaxFAq6uufP","name":"OpenRouter Dk Slnes"}}}],"connections":{"AI Agent":{"main":[[]]},"Add data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Creat event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Check Availability":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3131","templateCredsSetupCompleted":true},"pinData":{},"versionId":"d28c8d2e-ceb6-4d97-bc3a-6e371f8eb4f0","triggerCount":0,"shared":[{"createdAt":"2025-10-06T00:45:56.171Z","updatedAt":"2025-10-06T00:45:56.171Z","role":"workflow:owner","workflowId":"T4UL7qpjIv5Ry78E","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}