chatbot_x8_ultra-XbDqOEiXXzjS6Wkr.json
{"createdAt":"2025-07-29T01:52:26.901Z","updatedAt":"2025-08-01T16:07:09.000Z","id":"XbDqOEiXXzjS6Wkr","name":"Chatbot_X8_ULTRA","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"321f2dba-9112-48ce-bdc1-622dcb462be7","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2480,240],"id":"ac0fa6e3-a741-4cf4-b86d-ca875d92803a","webhookId":"321f2dba-9112-48ce-bdc1-622dcb462be7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"foto","operator":{"type":"string","operation":"contains"}},{"id":"4eb7a703-e33c-4f1d-a2b5-29d152bed72d","leftValue":"={{ $json.output }}","rightValue":"Foto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"83c42724-da56-498a-9b4e-c9bf0ff0a1b8","leftValue":"={{ $json.output }}","rightValue":"fotos","operator":{"type":"string","operation":"contains"}},{"id":"d39d99fa-97c2-48f2-9f8c-4cd5b82ef0e4","leftValue":"={{ $json.output }}","rightValue":"Fotos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c562eb0b-1343-44ff-ad23-8b52d660c61e","leftValue":"={{ $json.output }}","rightValue":"catalogo","operator":{"type":"string","operation":"contains"}},{"id":"e5389894-2d3a-4c4d-b7da-a567d67cbcfc","leftValue":"={{ $json.output }}","rightValue":"Catalogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"96e394a7-cd04-428b-92de-8d3199e9b739","leftValue":"={{ $json.output }}","rightValue":"catálogo","operator":{"type":"string","operation":"contains"}},{"id":"771e410e-f57d-475d-946b-bf21b70fe136","leftValue":"={{ $json.output }}","rightValue":"Catálogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"name":"¿Pide Imagen?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-520,-120],"id":"fc427aaa-2256-41e2-befc-7c7c2fc46487"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1340,80],"id":"c57de91c-e230-4ee7-9b2e-1e86f752966e","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1700,220],"id":"9547992d-916a-4b32-a7f6-9724ece79815","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,220],"id":"340f76a2-5738-4987-9944-f89c11204e9c","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.message }}{{ $json.text }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1120,240],"id":"78d85c99-a214-444b-aef9-383f36a66d34"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-840,460],"id":"0aac469c-201b-461c-8ba0-283a456bc62b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-300,260],"id":"4a0b7f8d-9c6e-4c74-8371-da159961add4","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,260],"id":"a3d8584e-475f-4a61-8d80-1012a6ed0af7","name":"Selecciona Respuesta"},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/imagenes/\";\nconst total = 6;\n\nlet items = [];\n\nfor (let i = 1; i <= total; i++) {\n  items.push({\n    json: {\n      nombre: `${i}.png`,\n      url: `${baseUrl}${i}.png`\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,-200],"id":"dba337a5-e495-48ce-8c02-bfc086022d4b","name":"Subir Imagenes"},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1500,80],"id":"c139e669-0baf-4f08-bb89-cb22f0947120","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[600,280],"id":"a5b3594c-7cf7-4b49-a835-fdbfed212a13","name":"Descargar Audio"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-180,0],"id":"a24f0c5c-34c5-43ab-9fe8-b0982326ba05","name":"Espera para enviar Mensaje","webhookId":"719d54eb-3cc4-4780-9b5b-0cbf614a57c4"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"audio_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"audio_url","value":"={{ $json.stdout }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,280],"id":"f18236ca-e421-4017-8db8-b4afe2606050","name":"Envia Mensajes Audio"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-200],"id":"c2e174a0-c81a-44fc-8767-9a44bb4b0b57","name":"Enviar Mensaje Imagenes"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Agente Andrea').item.json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,0],"id":"cc247d9e-7117-4a70-8c4d-7b4d1ba746d7","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.data.message }}","rightValue":"Ya mismo subiremos tu pedido","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[580,0],"id":"a7c33381-235b-40ab-8c98-0c627f6781bf","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"const mensaje = $json.data.message;\n\nconst datos = {\n  fecha: new Date().toLocaleDateString('es-CO'),\n  nombre: mensaje.match(/Nombre completo:\\s*(.+)/i)?.[1]?.trim() || '',\n  telefono: mensaje.match(/Tel[eé]fono:\\s*(\\d+)/i)?.[1] || '',\n  ciudad: mensaje.match(/Ciudad:\\s*(.+)/i)?.[1]?.trim() || '',\n  departamento: mensaje.match(/Departamento:\\s*(.+)/i)?.[1]?.trim() || '',\n  direccion: mensaje.match(/Direcci[oó]n completa:\\s*(.+)/i)?.[1]?.trim() || '',\n  talla: mensaje.match(/Talla:\\s*(\\d+)/i)?.[1] || '',\n  color: mensaje.match(/Color:\\s*(\\d+)/i)?.[1] || '',\n  cantidad: mensaje.match(/Cantidad:\\s*(\\d+)/i)?.[1] || '1',\n};\n\nreturn [{ json: datos }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,-20],"id":"c4dcc84d-cb21-4639-81a7-dbf91b7c3c78","name":"Extrae los Datos del Pedido"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8","mode":"list","cachedResultName":"Control pedidos grupo dk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1840246822,"mode":"list","cachedResultName":"COMBO X8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit#gid=1840246822"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Nombre Completo":"={{ $json.nombre }}","Telefono":"={{ $json.telefono }}","Ciudad":"={{ $json.ciudad }}","Departamento":"={{ $json.departamento }}","Direccion Completa":"={{ $json.direccion }}","Color":"={{ $json.color }}","Cantidad":"={{ $json.cantidad }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Talla","displayName":"Talla","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Flete","displayName":"Flete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"plata aveo ","displayName":"plata aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reinversion","displayName":"Reinversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ganancia para nosotros","displayName":"Ganancia para nosotros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GuiaEnviada","displayName":"GuiaEnviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Estado ","displayName":"Estado ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia pagada ","displayName":"Guia pagada ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pickig packing","displayName":"Pickig packing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1060,-20],"id":"97b185aa-ad9d-40ff-ae2b-866d00bf13ae","name":"Agrega Pedido Nuevo Hoja de Excel","credentials":{"googleSheetsOAuth2Api":{"id":"qqcpJ74batXzJmOW","name":"Google Sheets Laura DK"}}},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,-20],"id":"115a0355-4530-4e3a-980c-63a652777024","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1880,-20],"id":"0d398d9c-ebf1-4f50-95b2-84e6c1eed6f5","name":"Verifica si el Contacto Existe"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"=36089"},{"name":"assignToAgentId","value":"36089"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-20],"id":"7c440b16-d559-4bb7-aa26-54c28119d90a","name":"Cambia Estado Conversacion"},{"parameters":{"resource":"audio","input":"={{ $('Agente Andrea').item.json.output }}","voice":"shimmer","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[380,280],"id":"a837404b-ecf0-4f59-842a-13bbf5fb5b3d","name":"Genera el audio","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[840,280],"id":"8b49ae80-1b5c-4e5b-805d-cf9f7034806b","name":"Renombra Archivo Audio"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-940,240],"id":"d3e9d9da-a0b6-4101-b6b7-8ff4a7f67f61","name":"Timer para enviar mensaje","webhookId":"8cc53e4e-0f03-4eb8-9478-65e95c56abc7"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[1480,-20],"id":"401bf080-06f8-4cbf-ac40-37bd9d308e5b","name":"Busca el Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"jsCode":"// Obtener datos desde los nodos anteriores\nconst nombre = $node[\"Extrae los Datos del Pedido\"].json.nombre;\nconst celular = $node[\"Mapea el Mensaje Usuario\"].json.number;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,-40],"id":"e6eccca8-b844-4074-b143-72d39a2a20c3","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2400,-40],"id":"bfa7ff0f-810a-401c-8481-53f90289c0c0","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75cc19e7-a633-4a11-8899-df43c9399c26","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2220,240],"id":"cb20c9a0-c3b8-4f53-8f00-d1569646a60b","name":"Comprueba Estado de la Conversación"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_andrea_{{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-660,460],"id":"1c14a5ee-2398-4e56-b660-899a06bfa1ae","name":"Redis Chat Memory","credentials":{"redis":{"id":"2vXSngOgq7Lx560G","name":"Redis Memoria Agentes"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensaje_usuario }}","options":{"systemMessage":"Eres una experta en tecnología que vende un combo de 8 accesorios para celular que se llama X8 Ultra.\nTu nombre es Andrea.\nUsa emojis para ser llamativa.\nSólo haz una pregunta por respuesta para no abrumar al cliente.\nSiempre empieza la conversación realizando la siguiente pregunta: ¿En que ciudad te encuentras?\nSiempre realiza una pregunta de cierre, aquí algunos ejemplos:\n- ¿Qué color te gusta más?\n- ¿En qué ciudad te encuentras?\n- ¿Deseas realizar tu pedido?\n-¿Qué talla estás buscando?\nSi el cliente pide fotos o catalogo, dile que estás enviando las fotos y después de enviar las fotos, envía una pregunta de cierre\nUna vez el cliente responde que quiere saber más sobre el combo X8 Ultra es muy importante preguntar en qué ciudad se encuentra para validar que tengamos envío gratis contra entrega.\nDespués de que el cliente menciona la ciudad confírmale que tenemos envío GRATIS contra entrega y muy importante proceder a compartir los precios y hacer preguntas durante el chat que eleven el nivel de conciencia del cliente para cerrar la venta.\nsi el cliente te pregunta por más colores dile que manejamos en gris,negro y naranja ¿cual le gusta más?\nSi el cliente solicita que le envien fotos, foto, catálogo o catálogo y en el contenido del mensaje existen estas palabras sin importar si esta escrita con mayusculas o minusculas, deja que el flujo de N8N envie las fotos, no responda nada adicional a este mensaje, tampoco envíe los enlaces de las imagenes, solo continúa la conversación con el cliente, \nNunca envíe enlaces o links de las imagenes al cliente\nSi el cliente desea hacer un pedido, finaliza la conversación agradece por la compra y solicita directamente los siguientes datos:\nCuando un cliente exprese interés en realizar su pedido, solicita amablemente la siguiente información para procesar su pedido:​\nNombre completo\nTeléfono\nCiudad\nDepartamento\nDirección completa\nColor\nCantidad\nNota: Importante, la dirección debe estar completa (al menos que tenga calle o carrera) para poder hacer el pedido sino no se puede ya que la transportadora pide dirección completa.\nUna vez que el cliente proporcione todos estos datos, y si están completos no confirmes datos, solo responde con un mensaje de agradecimiento, informando que su pedido está siendo procesado y que en breve recibirá el número de guía de envío y los detalles del pedido a través de WhatsApp. Mantén un tono cordial, profesional y enfocado en brindar una excelente experiencia de compra.\nSi el cliente desea reclamar en oficina por Interrapidisimo muy importante no debes pedir dirección (ni carrera ni calle) ya que no es necesario cuando es para reclamar en oficina y agradece la compra y finaliza el pedido.\nSi el cliente desea reclamar en la Oficina de Interrapidisimo, o expresa la idea que desea que sea entregado en esta oficina de su ciudad, coloca esta información como Dirección Completa, y confirma la ciudad y el departamento para que sea entregado correctamente\nSi el cliente desea reclamar en oficina de Servientrega dile que no tenemos convenio de envíos con Servientrega, solo puede reclamar en una oficina de Interrapidisimo.\nEl barrio es opcional, si el cliente no lo menciona no lo pidas.\nVe agregando la información a medida que la va proporcionando para completar el pedido. Una vez el cliente proporciona los datos necesarios (sin necesidad de los opcionales) agradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi el cliente está enviando los datos, le envías un resumen para que sepa cuál dato le falta, es indispensable que los datos del pedido sean los más exactos para no tener problemas con la transportadora.\nCuando el cliente entregue todos los datos para realizar el pedido envía el resumen de la siguiente forma sin guiones o asteriscos tampoco le coloque caracteres especiales:\nNombre completo:\nTeléfono:\nCiudad:\nDepartamento:\nDirección completa:\nColor:\nCantidad:\nagradece directamente por la compra y dile que ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi la persona ya ha enviado sus datos completos para hacer un pedido, eso quiere decir que ya es nuestro cliente, saluda y da la bienvenida amablemente y pregunta si podemos ayudarla en algo o si es posible responde a su pregunta o dile que va contactar con un asesor humano para ayudarle.\n\n\nInformación General:\nKIT RELOJ X8 Ultra -AUDIFONOS -BATERIA\n\nIncluye:\n\nReloj Smartwatch X8 Ultra\nAudífonos In Ear\nPower Bank\n\n¡Todo lo que necesitas para elevar tu experiencia tecnológica!\n\n🕰 Smartwatch X8 Ultra:\n\nDiseño Elegante: Un estilo sofisticado que combina con cualquier look.\nSensores Avanzados: Monitor de movimiento y vibración para un seguimiento preciso.\nCompatibilidad Universal: Funciona con PlayStation 4, y sistemas operativos Android e iPhone para una conectividad sin límites.\n\nManillas en tres colores: gris, negro y naranja.\n\n🎧 Audífonos In Ear:\n\nSonido Nítido y Potente: Disfruta de una calidad de audio excepcional en cada nota.\nComodidad y Ajuste Perfecto: Diseñados para un ajuste cómodo durante todo el día.\n\n🔋 Power Bank:\n\nCarga Continua: Mantén tus dispositivos móviles siempre a punto y nunca te quedes sin batería.\n\n-OFERTAS DEL DÍA-\nAntes $199.000 Ahora 1x $118.900  pesos  con ENVÍO GRATIS\nMedio de pago principal contra entrega. Si deseas pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n \n # CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\nLos envíos tardan de 2 a 4 días para ciudades capitales y 5 días hábiles para municipios en promedio.\nLos envíos a Medellín duran de 1 a 2 días y las capitales principales de Colombia duran 3 días hábiles. En municipios o otros lugares de Colombia donde exista cobertura el tiempo de entrega es de 3 a 5 días hábiles sin contar sábados, domingos y festivos.\nSi un cliente ya recibió el producto y no está satisfecho, informar amablemente a que espere por resultados. (No ofrecemos devolución del dinero, esto mencionarlo solo si el cliente pregunta).\nInformar al cliente que el producto entregado es el correcto junto con su presentación y que es un producto original y respaldado por expertos.\nSi el cliente pregunta hasta cuando la promoción le dices que se acaba en 24 horas, después llegará a su precio normal que es un 40% más alto.\nSi el cliente pregunta cuánto es la garantía del producto le dices que es de 4 meses.\nSi te piden precios mayoristas o para negocio, debes enviar el siguiente mensaje: Para una cotización como mayorista, escríbenos aquí: https://wa.link/9uc1cg\nSi el cliente pregunta que si son originales le dices que es producto nacional Diseño moderno, originales de propiedad de la marca\nSi el cliente pide número de guía informa que apenas la tengas disponible se la envías.\n¿En dónde están ubicados?: Estamos ubicados en la ciudad de Medellín, pero nuestra tienda es virtual, hacemos envíos a todo el país"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-760,240],"id":"a61da265-7c5a-4be8-868e-73604a514e97","name":"Agente Andrea"}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Comprueba Estado de la Conversación","type":"main","index":0}]]},"¿Pide Imagen?":{"main":[[{"node":"Subir Imagenes","type":"main","index":0}],[{"node":"Espera para enviar Mensaje","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Timer para enviar mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Andrea","type":"ai_languageModel","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Genera el audio","type":"main","index":0}]]},"Subir Imagenes":{"main":[[{"node":"Enviar Mensaje Imagenes","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Espera para enviar Mensaje":{"main":[[]]},"Enviar Mensaje Imagenes":{"main":[[]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Pedido","type":"main","index":0}]]},"Extrae los Datos del Pedido":{"main":[[{"node":"Agrega Pedido Nuevo Hoja de Excel","type":"main","index":0}]]},"Agrega Pedido Nuevo Hoja de Excel":{"main":[[{"node":"Cambia Estado Conversacion","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Cambia Estado Conversacion":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Genera el audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensajes Audio","type":"main","index":0}]]},"Timer para enviar mensaje":{"main":[[{"node":"Agente Andrea","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[]]},"Comprueba Estado de la Conversación":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Andrea","type":"ai_memory","index":0}]]},"Agente Andrea":{"main":[[{"node":"Tipo de Respuesta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ec66963a-73e8-4041-b65a-130d4e56353c","triggerCount":1,"shared":[{"createdAt":"2025-07-29T01:52:26.916Z","updatedAt":"2025-07-29T01:52:26.916Z","role":"workflow:owner","workflowId":"XbDqOEiXXzjS6Wkr","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}