chatbot_botas_drive-aZrrt3ecqifvhdRY.json
{"createdAt":"2025-07-06T07:43:27.909Z","updatedAt":"2025-07-06T08:40:36.000Z","id":"aZrrt3ecqifvhdRY","name":"chatbot_botas_drive","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ia_webhook","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-600,160],"id":"22cc113a-6064-41f4-aca6-396ad1a694b0","webhookId":"e5ebd73c-3215-46c7-b6a6-e7affded50cc"},{"parameters":{"values":{"string":[{"name":"from","value":"={{ $json.body.from || '' }}"},{"name":"mensaje_usuario","value":"={{ $json.body.text || $json.body.body || '' }}"}]},"options":{}},"name":"Mapeo del Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-400,160],"id":"274e80e7-7cb2-47db-a1b7-2e123697a00f"},{"parameters":{"options":{}},"name":"¿Pide Imagen?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-200,160],"id":"f279a9b6-9208-4276-a49a-a656991d9dac"},{"parameters":{"authentication":"oAuth2","operation":"list","options":{}},"name":"Buscar Imagenes Drive","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[0,0],"id":"18e20d13-d93e-472d-bb51-32a95d69946d"},{"parameters":{"functionCode":"\nconst imgs = items;\nif(imgs.length === 0){\n  return [{json:{error:'No image found'}}];\n}\n// simple pick first\nreturn [imgs[0]];\n"},"name":"Selecciona Imagen","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,0],"id":"f70cb838-3386-4245-bee8-f9fac0a23d5f"},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":"={{ $json[\"id\"] }}","options":{}},"name":"Descargar Imagen","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[400,0],"id":"4a1b971b-5025-4d77-975b-4c90d8cb6722"},{"parameters":{"requestMethod":"POST","url":"https://api.wasapi.io/send-media","jsonParameters":true,"options":{},"bodyParametersJson":"\n{\n    \"to\":\"={{$json[\"from\"]}}\",\n    \"type\":\"image\",\n    \"image\":{\n        \"mime_type\":\"={{$binary.data.mimeType}}\",\n        \"data\":\"={{$binary.data.data}}\",\n        \"filename\":\"={{$json.name}}\"\n    }\n}\n"},"name":"Envia Imagen Wasapi","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[600,0],"id":"add54493-912b-4475-9397-4bbcfc6226c9"},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":"1_DescripcionPdfIdPlaceholder","options":{}},"name":"Descargar PDF Info","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[0,200],"id":"ce16c05a-217d-4e78-982f-160b6631e075"},{"parameters":{},"name":"Extraer texto PDF","type":"n8n-nodes-base.file","typeVersion":1,"position":[200,200],"id":"2f931e58-df69-4aec-b731-ac805bac9051"},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":"1_CatalogoXlsxIdPlaceholder","options":{}},"name":"Descargar Excel","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-20,380],"id":"85667c78-6007-4960-a9c0-b4f60f7cec5d"},{"parameters":{"operation":"toJson"},"name":"Excel a JSON","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[220,380],"id":"321017c2-6398-4d93-9260-7e1cdbf5b103"},{"parameters":{"functionCode":"\nconst pdfText = $items(\"Extraer texto PDF\")[0].json.text;\nconst excelJson = $items(\"Excel a JSON\")[0].json;\nconst ctx = `PDF:\\n${pdfText}\\nExcel:\\n${JSON.stringify(excelJson)}`;\nreturn [{ json: { contexto: ctx, pregunta: $items(\"Mapeo del Mensaje\")[0].json.mensaje_usuario, from: $items(\"Mapeo del Mensaje\")[0].json.from } }];\n"},"name":"Combinar Contexto","type":"n8n-nodes-base.function","typeVersion":1,"position":[420,380],"id":"4178cdc4-fdde-48f5-99d8-a075e8635329"},{"parameters":{},"name":"Genera Respuesta IA","type":"n8n-nodes-base.openaiChat","typeVersion":1,"position":[640,380],"id":"bfad937f-f66e-4d62-9ac9-c43ff566fe3b"},{"parameters":{"requestMethod":"POST","url":"https://api.wasapi.io/send-message","jsonParameters":true,"options":{},"bodyParametersJson":"\n{\n    \"to\":\"={{$json.from}}\",\n    \"type\":\"text\",\n    \"text\":{\"body\":\"={{$json.choices[0].message.content}}\"}\n}\n"},"name":"Envia Texto Wasapi","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[820,360],"id":"377532e3-d12c-41ad-82f4-234703ea25a0"}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Mapeo del Mensaje","type":"main","index":0}]]},"Mapeo del Mensaje":{"main":[[{"node":"¿Pide Imagen?","type":"main","index":0}]]},"¿Pide Imagen?":{"main":[[{"node":"Buscar Imagenes Drive","type":"main","index":0}],[{"node":"Descargar PDF Info","type":"main","index":0}]]},"Buscar Imagenes Drive":{"main":[[{"node":"Selecciona Imagen","type":"main","index":0}]]},"Selecciona Imagen":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Envia Imagen Wasapi","type":"main","index":0}]]},"Descargar Excel":{"main":[[{"node":"Excel a JSON","type":"main","index":0}]]},"Excel a JSON":{"main":[[{"node":"Combinar Contexto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"860dd200-71e3-4c06-9397-353b1dff1609","triggerCount":0,"shared":[{"createdAt":"2025-07-06T07:43:27.918Z","updatedAt":"2025-07-06T07:43:27.918Z","role":"workflow:owner","workflowId":"aZrrt3ecqifvhdRY","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}