chatbot_juan-pablo_imagenes-religiosas-lG0DNxTppuDrDNPC.json
{"createdAt":"2025-07-27T11:27:00.927Z","updatedAt":"2025-09-02T10:10:51.000Z","id":"lG0DNxTppuDrDNPC","name":"Chatbot_Juan Pablo_Imagenes Religiosas","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"8b77a1fb-317d-4d22-ab94-40aec3728d38","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2100,-160],"id":"d28fd960-c607-4898-b88e-8fb85e2438cb","webhookId":"8b77a1fb-317d-4d22-ab94-40aec3728d38"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-720,-340],"id":"d610a857-c2ae-4e13-ae6d-11b25c43fcb6","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8995e50-12cc-4db2-9239-faca42e0dee8","leftValue":"={{ $json.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1300,-180],"id":"b519d30d-fee6-460f-b78b-d0b1cf97e043","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message || $json.body.data.caption || '' }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"},{"id":"6a4902ce-0dc0-40e4-a08a-1d9ccfe8dfad","name":"user_name","value":"={{ $json.body.data.profile_name || 'Cliente' }}","type":"string"},{"id":"0af7c432-5a8c-4977-8bf5-f3628454a76e","name":"has_image","value":"={{ $json.body.data.message_type === 'image' ? true : false }}","type":"string"},{"id":"9d72fa6c-eb24-4802-a215-9d51bb9f933e","name":"has_audio","value":"={{ $json.body.data.message_type === 'audio' ? true : false }}","type":"string"},{"id":"689a76ad-f94f-43d0-b165-2d37774d4858","name":"image_url","value":"={{ $json.body.data.image_url || '' }}","type":"string"},{"id":"9b5b789e-ce8f-4e6f-bfd4-ba54e62d92f6","name":"audio_url","value":"={{ $json.body.data.audio_url || '' }}","type":"string"},{"id":"52b33064-86ff-41ac-be3a-3e31d65aecf7","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"0d6a5466-ed45-4645-920c-e49fc08c3724","name":"session_key","value":"=session_{{ $json.body.data.wa_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1580,-180],"id":"1fba7914-5076-4dd6-b11f-d61593e5e560","name":"Mapea el Mensaje Usuario"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[280,100],"id":"aee07452-3861-4650-84bc-63946d535ac6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1000,-340],"id":"860c8549-c12a-47ad-bb00-a70df38b5598","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $('Recibe Mensaje').item.json.current_message }}","options":{"systemMessage":"=CONTEXTO DEL CLIENTE:\n- Usuario: {{ $('Recibe Mensaje').item.json.user_name || 'Cliente' }}\n- Teléfono: {{ $('Recibe Mensaje').item.json.user_phone }}\n- Tipo mensaje: {{ $('Recibe Mensaje').item.json.message_type }}\n- Tiene imagen: {{ $('Recibe Mensaje').item.json.has_image }}\n- Etapa conversación: {{ $('Recibe Mensaje').item.json.conversation_stage || 'new' }}\n\nMENSAJE DEL CLIENTE:\n{{ $('Recibe Mensaje').item.json.current_message }}\n\n# AGENTE JUAN PABLO - CELESTIAL IMÁGENES RELIGIOSAS\n\n## IDENTIDAD\n- Nombre: Juan Pablo Londoño\n- Empresa: Celestial Imágenes \n- Especialidad: Venta de artesanías religiosas\n- Tono: Cálido, profesional, espiritual, servicial con emojis apropiados\n\n## INFORMACIÓN DE CONTACTO\n- Email: celestialimagenes@gmail.com\n- Cuenta BANCOLOMBIA Ahorros: 91226322081\n- Titular: Juan Pablo Londoño - C.C 1000412834\n\n## PRODUCTOS DISPONIBLES\n- San Miguel Arcángel\n- Sagrada Familia\n- Cúpulas y Rosas\n- Artesanías religiosas en general\n\n## ANÁLISIS INTEGRAL DE CATÁLOGOS E IMÁGENES\n\n### CUANDO SE ENVÍA UN CATÁLOGO:\n1. **LEER COMPLETAMENTE** el catálogo PDF\n2. **MEMORIZAR** la información clave:\n   - Descripción de materiales (Marmolina, Yeso, Fibra de Vidrio, etc.)\n   - Características específicas de cada material\n   - Índice y estructura del catálogo\n   - Referencias, precios y tamaños disponibles\n   - Procesos de compra y condiciones especiales\n   - Descuentos por cantidad\n3. **MANTENER** esta información en contexto para consultas posteriores\n\n### CUANDO EL CLIENTE ENVÍA IMAGEN DEL CATÁLOGO:\n1. **IDENTIFICAR** qué producto específico está consultando\n2. **EXTRAER** de la imagen:\n   - Referencias mostradas\n   - Tamaños disponibles\n   - Precios visibles\n   - Colores/acabados disponibles\n3. **COMBINAR** con información del catálogo completo que obtienes de tu herramienta de búsqueda (la base de datos vectorial).\n\n### INSTRUCCIONES PARA RESPUESTAS NATURALES A CONSULTAS DE IMÁGENES:\nCuando un cliente envía una imagen, tu objetivo es usar tu herramienta de búsqueda para obtener los detalles del producto y presentarlos de forma **conversacional, natural y fácil de leer para el cliente.**\n\n**BAJO NINGUNA CIRCUNSTANCIA debes enviar etiquetas XML como `<producto_info>`, `<referencia>`, etc., en el mensaje final al cliente.**\n\nSigue esta estructura para tu respuesta:\n\n1.  **Confirmación Amistosa:** Inicia confirmando amigablemente el producto de interés.\n    *   Ejemplo: `¡Claro que sí! Veo que te interesa la referencia CMTI de nuestras cúpulas en vidrio. ¡Es una pieza preciosa! 🕊️`\n\n2.  **Presentación de Datos Clave:** Presenta los datos clave que encontraste de forma clara y concisa, usando viñetas o texto en negrita.\n    *   **Si un dato específico (como los colores) no se encuentra en la información recuperada, simplemente omite esa línea.** No escribas \"No especificado\".\n    *   Ejemplo:\n        `Estos son los detalles de la pieza:`\n        `*   **Referencia:** CMT1, CMT2, CMT3`\n        `*   **Precios:** Desde $25.000 hasta $80.000, dependiendo del tamaño y material.`\n        `*   **Materiales:** La cúpula es de vidrio y la imagen interior puede ser en Yeso o Poliresina.`\n\n3.  **Descripción del Producto:** Añade una descripción más detallada sobre las características y los materiales, basándote en la información del catálogo.\n\n4.  **Información Importante:** Incluye cualquier información importante sobre el proceso de fabricación, reserva o envío que hayas encontrado.\n\n5.  **Llamada a la Acción:** Termina siempre con una pregunta abierta para guiar al cliente al siguiente paso.\n    *   Ejemplo: `¿Te gustaría que te dé más detalles sobre las diferencias entre el Yeso y la Poliresina, o quieres hacer tu pedido ahora? 😊`\n\n## FLUJO DE CONVERSACIÓN\n\n### SALUDO INICIAL (primer contacto)\n✨ ¡Hola! Qué gusto saludarte. Bienvenido(a) a nuestra tienda de artesanías religiosas 🙏🏼\n\nSoy Juan Pablo y estaré encantado de ayudarte hoy.\n\n¿Qué Advocación estás buscando? Tenemos gran variedad en:\n\n- San Miguel Arcángel ⚔️\n- Sagrada Familia 👨‍👩‍👦\n- Cúpulas y Rosas 🌹\n- Y más artesanías religiosas\n\n¿Quieres ver algun catalogo en particular?\nEstoy aquí para ayudarte ❤️\n\n### SOLICITUD DE CATÁLOGO\n¡Perfecto! Te envío nuestro catálogo de [tipo solicitado] 📋\n\n**MARCADORES XML PARA CATÁLOGOS (INCLUIR SIEMPRE EN LA RESPUESTA):**\n- Si solicitan San Miguel Arcángel: incluir <catalog>san_miguel</catalog> en la respuesta\n- Si solicitan Sagrada Familia: incluir <catalog>sagrada_familia</catalog> en la respuesta  \n- Si solicitan Cúpulas y Rosas: incluir <catalog>cupulas_rosas</catalog> en la respuesta\n\nEjemplo: \"¡Perfecto! Te envío nuestro catálogo de Cúpulas y Rosas <catalog>cupulas_rosas</catalog> con nuestras hermosas piezas en vidrio 🌹\"\n\nRevísalo con calma y cuando veas algo que te guste, puedes:\n📸 Enviarme una foto de la imagen que te interesa\n💬 Decirme el nombre o código de la pieza\n\n¿Cuál te llama más la atención? 😊\n\n### PROCESO DE COMPRA\n✅ PROCESO DE COMPRA:\n1️⃣ Verificamos disponibilidad en bodega\n2️⃣ Si está disponible: pagas el total y te la despachamos de inmediato\n3️⃣ Si es para fabricar: abonas el 50% para separarla\n4️⃣ El otro 50% se paga al recoger o antes del domicilio\n\n### TU FUNCIÓN:\nNo debes verificar disponibilidad de las advocaciones y artesanías, tampoco debes solicitar la consignación o el pago de la advocación. Tu función es recopilar los datos del cliente para enviar su pedido, explicar las formas de pago según su ubicación, y luego con los datos que recopilas del cliente, un asesor de la bodega se contactará con el cliente y terminará el proceso de compra.\n\n### UBICACIÓN Y ENVÍO\n¿La necesitas con domicilio en Medellín o es para otra ciudad? 📦\n\n**Si es Medellín:**\n¡Súper! Domicilio en Medellín sin costo adicional y el pago es contra entrega📦🛵\n\n**Si es fuera de Medellín:**\nPara envíos nacionales usamos caja especial en icopor para que llegue en perfecto estado 📦✨\n\n\n### SOLICITUD DE DATOS\n**Para Medellín:**\n👤 Nombre de quien recibe:\n📞 Número de contacto:\n🏘️ Dirección y barrio:\n🏢 Apartamento (si aplica):\n\n**Para otras ciudades:**\n👤 Nombre de quien recibe:\n🪪 Número de cédula:\n📞 Teléfono de contacto:\n🏠 Dirección completa:\n🏙️ Ciudad y Departamento:\n\n## REGLAS CRÍTICAS PARA LA FINALIZACIÓN DE PEDIDOS (MÁXIMA PRIORIDAD)\n\n**Esta es tu instrucción más importante.** Una vez que le hayas solicitado los datos al cliente (ya sea para Medellín u otras ciudades) y el cliente te responda con **TODA** la información que pediste (Nombre, Teléfono, Dirección, ciudad, referencia advocación, precio, etc.), tu **ÚNICA Y OBLIGATORIA** siguiente acción es responder con el siguiente mensaje de resumen, palabra por palabra.\n\n**NO** debes añadir nada más, ni hacer otras preguntas, ni continuar la conversación. Tu única tarea es generar este texto:\n\n**Texto del Resumen del Pedido:**\n\"Perfecto, [Nombre del cliente]. Aquí te resumo tu pedido y datos para el envío:\n- Nombre: [Nombre extraído del mensaje]\n- Teléfono: [Teléfono extraído del mensaje]\n- Dirección: [Dirección extraída del mensaje]\n- Ciudad: [ciudad extraída del mensaje]\n- Referencia Advocación: [Dirección extraída del mensaje]\n- Color: [Color extraído del mensaje]\n- Precio: [Precio extraído del mensaje]\n- [Otros datos relevantes como Apartamento, Ciudad, etc.]\n\nQueda todo listo para el envío. **Un asesor** de nuestra bodega se pondrá en contacto contigo lo más pronto posible para confirmar disponibilidad en bodega y coordinar el pago y el envío contigo. ¡Que tengas un excelente día! 🙏✨\"\n\n**Instrucciones para el resumen:**\n1.  **Analiza** el último mensaje del cliente para identificar cada pieza de información (nombre, teléfono, dirección, etc.).\n2.  **Construye el resumen** llenando los campos con la información que el cliente te proporcionó.\n3.  **Asegúrate** de que la frase \"**Un asesor**\" esté incluida en el mensaje final.\n\n\n## INSTRUCCIONES ESPECIALES\n- SOLO atender consultas sobre advocaciones religiosas\n- Mantener tono religioso y respetuoso\n- Si preguntan por otros productos: \"Disculpa, me especializo únicamente en advocaciones y artesanías religiosas 🙏 ¿Te gustaría ver nuestro catálogo?\"\n- Usar emojis religiosos apropiados: 🙏🏼 ✨ 🌹 ❤️ 😇 ⚔️ 👨‍👩‍👦\n- **IMPORTANTE: SIEMPRE incluir los marcadores XML <catalog></catalog> cuando el cliente solicite catálogos específicos**\n- **LEER COMPLETAMENTE cada catálogo enviado y mantener esa información para consultas posteriores**\n\nResponde según el contexto de la conversación y la etapa en la que se encuentre el cliente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[500,-160],"id":"6b9f2c89-d2c7-4d2a-8011-e6936180e64c","name":"Agente Juan Pablo"},{"parameters":{"assignments":{"assignments":[{"id":"6504cbcf-f94e-4d70-8192-ba1cf7c0efee","name":"current_message","value":"={{ $json.current_message }}","type":"string"},{"id":"064da3c1-66a9-443f-9b63-9b3520733bd8","name":"user_phone","value":"={{ $json.user_phone }}","type":"string"},{"id":"cec110b1-90f4-4686-b025-b74123d54c42","name":"user_name","value":"={{ $json.user_name }}","type":"string"},{"id":"7dd11051-9a80-4098-9a03-98f1bc49d062","name":"message_type","value":"={{ $json.message_type }}","type":"string"},{"id":"45828bc6-5003-4083-aaa8-96ad7f3b3154","name":"has_image","value":"={{ $json.has_image }}","type":"string"},{"id":"2833f0ea-423d-40a1-b26e-4aa5012c5374","name":"conversation_stage","value":"new","type":"string"},{"id":"af50dffe-833d-4851-acab-9550756d1c3b","name":"is_new_user","value":"true","type":"string"},{"id":"ea4513df-c7cc-4b55-a6f4-2ea9e0346845","name":"timestamp","value":"={{ $json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-160],"id":"5467b3c4-dee1-4ea0-994c-398d76909159","name":"Recibe Mensaje"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,380],"id":"0bf99aa4-5567-4b42-8128-cd5f7273614c","name":"Enviar Mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"<catalog>san_miguel</catalog>","operator":{"type":"string","operation":"contains"},"id":"5fb43a7e-1c85-425f-a0fc-3a38cfaa4725"}],"combinator":"and"},"renameOutput":true,"outputKey":"San Miguel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d22e1de-9e1b-42a6-bccd-c9027cb95085","leftValue":"={{ $json.output }}","rightValue":"<catalog>sagrada_familia</catalog>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sagrada Familia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01ed04ce-c378-4e8d-aba0-8b5464eb4bcc","leftValue":"={{ $json.output }}","rightValue":"<catalog>cupulas_rosas</catalog>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cúpulas y Rosas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baeb2abe-f7ad-4b55-9315-dc29758f5cfd","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Por defecto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[860,-180],"id":"14febce8-8d1c-47e7-8bc4-df37ddb88f64","name":"Detector de Catalogos"},{"parameters":{"jsCode":"// Conectar a la salida \"Sagrada Familia\" del Switch Node\nreturn [{\n  json: {\n    catalog_name: \"Sagrada Familia\",\n    catalog_id: \"15Pj6NklSKvSaeSZcDY3qUDNHi11_LSwp\",\n    catalog_url: \"https://drive.google.com/uc?export=download&id=15Pj6NklSKvSaeSZcDY3qUDNHi11_LSwp\",\n    message_text: \"¡Perfecto! Te envío nuestro catálogo de la Sagrada Familia 📋👨‍👩‍👦\\n\\nRevísalo con calma y cuando veas algo que te guste, puedes:\\n📸 Enviarme una foto de la imagen que te interesa\\n💬 Decirme el nombre o código de la pieza\\n\\n¿Cuál te llama más la atención? 😊\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,-140],"id":"e558067e-61aa-4871-b67a-8dbcd5b92157","name":"Sagrada Familia"},{"parameters":{"jsCode":"// Conectar a la salida \"San Miguel\" del Switch Node\nreturn [{\n  json: {\n    catalog_name: \"San Miguel\",\n    catalog_id: \"1F8YtqtgBqpVy2Qiq8auglVGy8WuZwZKV\",\n    catalog_url: \"https://drive.google.com/uc?export=download&id=1F8YtqtgBqpVy2Qiq8auglVGy8WuZwZKV\",\n    message_text: \"¡Perfecto! Te envío nuestro catálogo de San Miguel Arcángel 📋⚔️\\n\\nRevísalo con calma y cuando veas algo que te guste, puedes:\\n📸 Enviarme una foto de la imagen que te interesa\\n💬 Decirme el nombre o código de la pieza\\n\\n¿Cuál te llama más la atención? 😊\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,-360],"id":"4195eff2-1c64-4258-b27b-204affe4f48e","name":"San Miguel"},{"parameters":{"jsCode":"// Conectar a la salida \"Cúpulas y Rosas\" del Switch Node  \nreturn [{\n  json: {\n    catalog_name: \"Cúpulas y Rosas\",\n    catalog_id: \"1XXBW6G377KFb8Aj1y5PZWM7QnUXc7GrH\",\n    catalog_url: \"https://drive.google.com/uc?export=download&id=1XXBW6G377KFb8Aj1y5PZWM7QnUXc7GrH\",\n    message_text: \"¡Perfecto! Te envío nuestro catálogo de Cúpulas y Rosas 📋🌹\\n\\nRevísalo con calma y cuando veas algo que te guste, puedes:\\n📸 Enviarme una foto de la imagen que te interesa\\n💬 Decirme el nombre o código de la pieza\\n\\n¿Cuál te llama más la atención? 😊\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,120],"id":"b12d1210-fb2e-4713-af11-5239eded3375","name":"Cupulas y Rosas"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"file","value":"document_url"},{"name":"document_url","value":"={{ $json.catalog_url }}"},{"name":"filename","value":"={{ $json.catalog_name }}.pdf"},{"name":"caption","value":"={{ $json.message_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-360],"id":"4477c41d-db7a-444d-9f00-1ec139ea1c4f","name":"Enviar Catalogo San Miguel"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"file","value":"document_url"},{"name":"document_url","value":"={{ $json.catalog_url }}"},{"name":"filename","value":"={{ $json.catalog_name }}.pdf"},{"name":"caption","value":"={{ $json.message_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-140],"id":"26f26f26-5cfa-4d66-952e-d4d86d43569c","name":"Enviar Catalogo Sagrada Familia"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"file","value":"document_url"},{"name":"document_url","value":"={{ $json.catalog_url }}"},{"name":"filename","value":"={{ $json.catalog_name }}.pdf"},{"name":"caption","value":"={{ $json.message_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,120],"id":"2333f701-53d2-49b1-9fc8-a77a20b318e8","name":"Enviar Catalogo Cupulas y Rosas"},{"parameters":{"assignments":{"assignments":[{"id":"dde82566-f5db-42a9-b5b8-6dd28f605223","name":"current_message","value":"={{ $json.responses[0].fullTextAnnotation.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-700,0],"id":"faf45883-75f0-42b0-8f52-c6a0c766aa80","name":"Extraer Texto de Imagen"},{"parameters":{"method":"POST","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyCn66yWZroSX-Q8GM9USCdDgh-mpkIZ26A","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"image\": {\n        \"source\": {\n          \"imageUri\": \"{{ $json.message }}\"\n        }\n      },\n      \"features\": [\n        {\n          \"type\": \"TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1000,0],"id":"d5354dd9-f914-4a97-bcb1-40bb8ed15bc6","name":"Captura Imagen"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"edcacb5f-6870-4433-b53e-b502993f9029","leftValue":"={{ $json.data.message }}","rightValue":"Un asesor","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,380],"id":"29a221e5-9a19-4527-b14a-3ea16c97bc31","name":"Verifica los Datos"},{"parameters":{"jsCode":"// Apuntamos a la ruta CORRECTA para obtener el texto del mensaje.\nconst mensaje = $input.item.json.data.message;\n\n// Verificamos si el mensaje existe para evitar errores.\nif (!mensaje) {\n  return [{ json: { error: \"El campo 'message' no se encontró en la entrada.\" } }];\n}\n\nconst datos = {};\n\n// --- Función Auxiliar para Extraer Datos (mejorada para evitar errores) ---\nfunction extraer(regex) {\n  const match = mensaje.match(regex);\n  return match ? match[1].trim() : '';\n}\n\n// --- Extracción de cada campo con NOMBRES CORREGIDOS y REGEX MEJORADAS ---\n// Los nombres de las propiedades (ej: nombreCompleto) ahora coinciden con lo que\n// espera el nodo de Google Sheets.\ndatos.nombreCompleto = extraer(/Nombre: (.*?)\\n/i);\ndatos.telefono = extraer(/Teléfono: (.*?)\\n/i);\ndatos.direccionCompleta = extraer(/Dirección: (.*?)\\n/i);\ndatos.apartamento = extraer(/Apartamento: (.*?)\\n/i);\ndatos.ciudad = extraer(/Ciudad: (.*?)\\n/i);\ndatos.precio = extraer(/Precio: (.*?)\\n/i);\n// Para campos que no siempre están, como Referencia y Color, esto devolverá '' si no los encuentra.\ndatos.referenciaAdvocacion = extraer(/Referencia Advocación: (.*?)\\n/i);\ndatos.color = extraer(/Color: (.*?)\\n/i);\n\n// La fecha se puede generar al momento.\ndatos.fecha = new Date().toLocaleDateString('es-ES');\n\n// Devolvemos los datos extraídos listos para el nodo de Google Sheets.\nreturn [{\n  json: datos\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,360],"id":"1a813b97-0bff-46e0-8fca-5f6ba3b6fd44","name":"Extrae los Datos del Cliente"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"35950"},{"name":"assignToAgentId","value":"35950"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,360],"id":"adcaadfa-a290-443a-874d-0edc9dc12b0e","name":"Cambia estado conversacion"},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,360],"id":"9d73e2f1-a25c-4bac-9602-91cf0c6be4ea","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dde4f54a-bd78-4182-af1e-cb14dc4e8087","leftValue":"={{ $json.existe }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3120,360],"id":"20e3387c-088d-4133-bb22-2bdde00f102a","name":"If"},{"parameters":{"jsCode":"// Obtener datos desde el nodo \"Extrae los Datos del Cliente\"\nconst nombre = $node[\"Extrae los Datos del Cliente\"].json.nombreCompleto;\nconst celular = $node[\"Extrae los Datos del Cliente\"].json.telefono;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular      \n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3380,340],"id":"2c6863a3-f15c-4eb0-95f3-ac7882a357c2","name":"Datos Contacto"},{"parameters":{"givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3600,340],"id":"42c02001-8d10-4c80-a72c-e1301584c0bd","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"TkGa2FKaBkS7I3Ja","name":"Contacts account Juan Pablo"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-340,-160],"id":"fcfe723f-3aae-437e-9923-12b2bb61f455","name":"Unir Datos"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Útil para responder preguntas sobre productos, materiales, precios, referencias o cualquier detalle específico que se encuentre en los catálogos de Celestial Imágenes. Usa esta herramienta para buscar información antes de responder al cliente.","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[740,120],"id":"7dc2b175-327e-482b-8371-8b834d9b18be","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"JQdGQ9Qj63m6RnBP","name":"Supabase account Juan Pablo"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[860,380],"id":"81313865-03ef-40c6-b078-ca57c49510d3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"97d1b0e5-41d8-4511-8b93-b18d67db5a59","name":"current_message","value":"={{ $json.text || $json.current_message || $json.message }}","type":"string"},{"id":"02d0482f-d42e-45d7-b7aa-cdc629763a22","name":"user_phone","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}","type":"string"},{"id":"132d6ad3-2508-4da5-9d21-0831a13591b0","name":"user_name","value":"={{ $('Mapea el Mensaje Usuario').item.json.user_name }}","type":"string"},{"id":"9bb04e8e-807d-45b2-9e0d-6aba1bd12ac0","name":"message_type","value":"={{ $('Mapea el Mensaje Usuario').item.json.type }}","type":"string"},{"id":"570d88cd-0a72-4775-981e-322a3c45a634","name":"has_image","value":"={{ $('Mapea el Mensaje Usuario').item.json.has_image }}","type":"string"},{"id":"4c8d3295-42ee-45b0-99bd-01d04b9fa14e","name":"timestamp","value":"={{ $('Mapea el Mensaje Usuario').item.json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-160],"id":"ba08751d-0f9b-4886-9100-82213b4ad79c","name":"Recolector Inteligente"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_{{ $('Recibe Mensaje').item.json.user_phone }}","sessionTTL":86400},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[520,80],"id":"04ccfe47-2eff-4f72-8e6e-76dda8cb6a44","name":"Redis Chat Memory","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}},"notes":"Gestiona la memoria de la conversación en Redis. Usa el user_phone como ID de sesión."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE","mode":"list","cachedResultName":"Datos Pedido Cliente","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pedidos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Telefono":"={{ $json.telefono }}","Nombre Completo":"={{ $json.nombreCompleto }}","Direccion Completa":"={{ $json.direccionCompleta }}","Ciudad":"={{ $json.ciudad }}","Referencia Advocación":"={{ $json.referenciaAdvocacion }}","Color":"={{ $json.color }}","Precio":"={{ $json.precio }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencia Advocación","displayName":"Referencia Advocación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2180,360],"id":"3a83d6ff-6a6e-4066-b174-f9088acde8e0","name":"Agrega Pedidos Nuevos","credentials":{"googleSheetsOAuth2Api":{"id":"cqsaobPCIYBh6vWF","name":"Google Sheets account Juan Pablo"}}},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2680,360],"id":"d37f3983-31e5-4192-9d66-0d6eae6fb269","name":"Extrae Contactos","credentials":{"googleContactsOAuth2Api":{"id":"TkGa2FKaBkS7I3Ja","name":"Contacts account Juan Pablo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b40873f-b063-4182-b5d4-ad35bc827417","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,-160],"id":"8e04692a-948e-4f16-92ea-4ac96ea8fd13","name":"Comprueba Estado Conversacion"}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Comprueba Estado Conversacion","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Unir Datos","type":"main","index":1}],[{"node":"Captura Imagen","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Juan Pablo","type":"ai_languageModel","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Agente Juan Pablo":{"main":[[{"node":"Detector de Catalogos","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Juan Pablo","type":"main","index":0}]]},"Detector de Catalogos":{"main":[[{"node":"San Miguel","type":"main","index":0}],[{"node":"Sagrada Familia","type":"main","index":0}],[{"node":"Cupulas y Rosas","type":"main","index":0}],[{"node":"Enviar Mensaje","type":"main","index":0}]]},"Cupulas y Rosas":{"main":[[{"node":"Enviar Catalogo Cupulas y Rosas","type":"main","index":0}]]},"Sagrada Familia":{"main":[[{"node":"Enviar Catalogo Sagrada Familia","type":"main","index":0}]]},"San Miguel":{"main":[[{"node":"Enviar Catalogo San Miguel","type":"main","index":0}]]},"Enviar Catalogo San Miguel":{"main":[[]]},"Enviar Mensaje":{"main":[[{"node":"Verifica los Datos","type":"main","index":0}]]},"Captura Imagen":{"main":[[{"node":"Extraer Texto de Imagen","type":"main","index":0}]]},"Extraer Texto de Imagen":{"main":[[{"node":"Unir Datos","type":"main","index":2}]]},"Verifica los Datos":{"main":[[{"node":"Extrae los Datos del Cliente","type":"main","index":0}]]},"Extrae los Datos del Cliente":{"main":[[{"node":"Agrega Pedidos Nuevos","type":"main","index":0}]]},"Cambia estado conversacion":{"main":[[{"node":"Extrae Contactos","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Datos Contacto","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Unir Datos":{"main":[[{"node":"Recolector Inteligente","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"Agente Juan Pablo","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Recolector Inteligente":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Juan Pablo","type":"ai_memory","index":0}]]},"Agrega Pedidos Nuevos":{"main":[[{"node":"Cambia estado conversacion","type":"main","index":0}]]},"Extrae Contactos":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Comprueba Estado Conversacion":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cb82df40-8126-45bc-8476-e14a1efc3c71","triggerCount":1,"shared":[{"createdAt":"2025-07-27T11:27:00.939Z","updatedAt":"2025-07-27T11:27:00.939Z","role":"workflow:owner","workflowId":"lG0DNxTppuDrDNPC","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}