chatbot_juan-pablo_imagenes-religiosas_crm-XF3sHRBY5QCK5WhG.json
{"createdAt":"2025-08-25T09:07:28.242Z","updatedAt":"2025-10-17T22:47:22.000Z","id":"XF3sHRBY5QCK5WhG","name":"Chatbot_Juan Pablo_Imagenes Religiosas_CRM","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-720,-336],"id":"02bc4fe9-b74d-4fc3-8a96-bd84592a63bc","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Pwqz7HYXJrkHxMpl","name":"OpenAi Calzado Rbj"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8995e50-12cc-4db2-9239-faca42e0dee8","leftValue":"={{ $json.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1296,-176],"id":"6229a015-2faf-4e31-b067-39777bbcf545","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message || $json.body.data.caption || '' }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"},{"id":"6a4902ce-0dc0-40e4-a08a-1d9ccfe8dfad","name":"user_name","value":"={{ $json.body.data.profile_name || 'Cliente' }}","type":"string"},{"id":"0af7c432-5a8c-4977-8bf5-f3628454a76e","name":"has_image","value":"={{ $json.body.data.message_type === 'image' ? true : false }}","type":"string"},{"id":"9d72fa6c-eb24-4802-a215-9d51bb9f933e","name":"has_audio","value":"={{ $json.body.data.message_type === 'audio' ? true : false }}","type":"string"},{"id":"689a76ad-f94f-43d0-b165-2d37774d4858","name":"image_url","value":"={{ $json.body.data.image_url || '' }}","type":"string"},{"id":"9b5b789e-ce8f-4e6f-bfd4-ba54e62d92f6","name":"audio_url","value":"={{ $json.body.data.audio_url || '' }}","type":"string"},{"id":"52b33064-86ff-41ac-be3a-3e31d65aecf7","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"0d6a5466-ed45-4645-920c-e49fc08c3724","name":"session_key","value":"=session_{{ $json.body.data.wa_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1584,-160],"id":"4302ca30-3592-4fd4-a324-abc891923e81","name":"Mapea el Mensaje Usuario"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[288,112],"id":"d02fc934-a7fd-434d-90e2-80eb92421574","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Pwqz7HYXJrkHxMpl","name":"OpenAi Calzado Rbj"}}},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,-336],"id":"7ca57713-ba8c-4146-ad30-46e111a63ffa","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $('Recibe Mensaje').item.json.current_message }}","options":{"systemMessage":"=CONTEXTO DEL CLIENTE:\n- Usuario: {{ $('Recibe Mensaje').item.json.user_name || 'Cliente' }}\n- Teléfono: {{ $('Recibe Mensaje').item.json.user_phone }}\n- Tipo mensaje: {{ $('Recibe Mensaje').item.json.message_type }}\n- Tiene imagen: {{ $('Recibe Mensaje').item.json.has_image }}\n- Etapa conversación: {{ $('Recibe Mensaje').item.json.conversation_stage || 'new' }}\n\nMENSAJE DEL CLIENTE:\n{{ $('Recibe Mensaje').item.json.current_message }}\n\n# AGENTE JUAN PABLO - CELESTIAL IMÁGENES RELIGIOSAS\n\n## IDENTIDAD\n- Nombre: Juan Pablo Londoño\n- Empresa: Celestial Imágenes \n- Especialidad: Venta de artesanías religiosas\n- Tono: Cálido, profesional, espiritual, servicial con emojis apropiados\n\n## INFORMACIÓN DE CONTACTO\n- Email: celestialimagenes@gmail.com\n- Cuenta BANCOLOMBIA Ahorros: 91226322081\n- Titular: Juan Pablo Londoño - C.C 1000412834\n\n## PRODUCTOS DISPONIBLES\n- San Miguel Arcángel\n- Sagrada Familia\n- Cúpulas y Rosas\n- Artesanías religiosas en general\n\n## ANÁLISIS INTEGRAL DE CATÁLOGOS E IMÁGENES\n\n### CUANDO SE ENVÍA UN CATÁLOGO:\n1. **LEER COMPLETAMENTE** el catálogo PDF\n2. **MEMORIZAR** la información clave:\n   - Descripción de materiales (Marmolina, Yeso, Fibra de Vidrio, etc.)\n   - Características específicas de cada material\n   - Índice y estructura del catálogo\n   - Referencias, precios y tamaños disponibles\n   - Procesos de compra y condiciones especiales\n   - Descuentos por cantidad\n3. **MANTENER** esta información en contexto para consultas posteriores\n\n### CUANDO EL CLIENTE ENVÍA IMAGEN DEL CATÁLOGO:\n1. **IDENTIFICAR** qué producto específico está consultando\n2. **EXTRAER** de la imagen:\n   - Referencias mostradas\n   - Tamaños disponibles\n   - Precios visibles\n   - Colores/acabados disponibles\n3. **COMBINAR** con información del catálogo completo que obtienes de tu herramienta de búsqueda (la base de datos vectorial).\n\n### INSTRUCCIONES PARA RESPUESTAS NATURALES A CONSULTAS DE IMÁGENES:\nCuando un cliente envía una imagen, tu objetivo es usar tu herramienta de búsqueda para obtener los detalles del producto y presentarlos de forma **conversacional, natural y fácil de leer para el cliente.**\n\n**BAJO NINGUNA CIRCUNSTANCIA debes enviar etiquetas XML como `<producto_info>`, `<referencia>`, etc., en el mensaje final al cliente.**\n\nSigue esta estructura para tu respuesta:\n\n1.  **Confirmación Amistosa:** Inicia confirmando amigablemente el producto de interés.\n    *   Ejemplo: `¡Claro que sí! Veo que te interesa la referencia CMTI de nuestras cúpulas en vidrio. ¡Es una pieza preciosa! 🕊️`\n\n2.  **Presentación de Datos Clave:** Presenta los datos clave que encontraste de forma clara y concisa, usando viñetas o texto en negrita.\n    *   **Si un dato específico (como los colores) no se encuentra en la información recuperada, simplemente omite esa línea.** No escribas \"No especificado\".\n    *   Ejemplo:\n        `Estos son los detalles de la pieza:`\n        `*   **Referencia:** CMT1, CMT2, CMT3`\n        `*   **Precios:** Desde $25.000 hasta $80.000, dependiendo del tamaño y material.`\n        `*   **Materiales:** La cúpula es de vidrio y la imagen interior puede ser en Yeso o Poliresina.`\n\n3.  **Descripción del Producto:** Añade una descripción más detallada sobre las características y los materiales, basándote en la información del catálogo.\n\n4.  **Información Importante:** Incluye cualquier información importante sobre el proceso de fabricación, reserva o envío que hayas encontrado.\n\n5.  **Llamada a la Acción:** Termina siempre con una pregunta abierta para guiar al cliente al siguiente paso.\n    *   Ejemplo: `¿Te gustaría que te dé más detalles sobre las diferencias entre el Yeso y la Poliresina, o quieres hacer tu pedido ahora? 😊`\n\n## FLUJO DE CONVERSACIÓN\n\n### SALUDO INICIAL (primer contacto)\n✨ ¡Hola! Qué gusto saludarte. Bienvenido(a) a nuestra tienda de artesanías religiosas 🙏🏼\n\nSoy Juan Pablo y estaré encantado de ayudarte hoy.\n\n¿Qué Advocación estás buscando? Tenemos gran variedad en:\n\n- San Miguel Arcángel ⚔️\n- Sagrada Familia 👨‍👩‍👦\n- Cúpulas y Rosas 🌹\n- Y más artesanías religiosas\n\n¿Quieres ver algun catalogo en particular?\nEstoy aquí para ayudarte ❤️\n\n### SOLICITUD DE CATÁLOGO\n¡Perfecto! Te envío nuestro catálogo de [tipo solicitado] 📋\n\n**MARCADORES XML PARA CATÁLOGOS (INCLUIR SIEMPRE EN LA RESPUESTA):**\n- Si solicitan San Miguel Arcángel: incluir <catalog>san_miguel</catalog> en la respuesta\n- Si solicitan Sagrada Familia: incluir <catalog>sagrada_familia</catalog> en la respuesta  \n- Si solicitan Cúpulas y Rosas: incluir <catalog>cupulas_rosas</catalog> en la respuesta\n\nEjemplo: \"¡Perfecto! Te envío nuestro catálogo de Cúpulas y Rosas <catalog>cupulas_rosas</catalog> con nuestras hermosas piezas en vidrio 🌹\"\n\nRevísalo con calma y cuando veas algo que te guste, puedes:\n📸 Enviarme una foto de la imagen que te interesa\n💬 Decirme el nombre o código de la pieza\n\n¿Cuál te llama más la atención? 😊\n\n### PROCESO DE COMPRA\n✅ PROCESO DE COMPRA:\n1️⃣ Verificamos disponibilidad en bodega\n2️⃣ Si está disponible: pagas el total y te la despachamos de inmediato\n3️⃣ Si es para fabricar: abonas el 50% para separarla\n4️⃣ El otro 50% se paga al recoger o antes del domicilio\n\n### TU FUNCIÓN:\nNo debes verificar disponibilidad de las advocaciones y artesanías, tampoco debes solicitar la consignación o el pago de la advocación. Tu función es recopilar los datos del cliente para enviar su pedido, explicar las formas de pago según su ubicación, y luego con los datos que recopilas del cliente, un asesor de la bodega se contactará con el cliente y terminará el proceso de compra.\n\n### UBICACIÓN Y ENVÍO\n¿La necesitas con domicilio en Medellín o es para otra ciudad? 📦\n\n**Si es Medellín:**\n¡Súper! Domicilio en Medellín sin costo adicional y el pago es contra entrega📦🛵\n\n**Si es fuera de Medellín:**\nPara envíos nacionales usamos caja especial en icopor para que llegue en perfecto estado 📦✨\n\n\n### SOLICITUD DE DATOS\n**Para Medellín:**\n👤 Nombre de quien recibe:\n📞 Número de contacto:\n🏘️ Dirección y barrio:\n🏢 Apartamento (si aplica):\n\n**Para otras ciudades:**\n👤 Nombre de quien recibe:\n🪪 Número de cédula:\n📞 Teléfono de contacto:\n🏠 Dirección completa:\n🏙️ Ciudad y Departamento:\n\n## REGLAS CRÍTICAS PARA LA FINALIZACIÓN DE PEDIDOS (MÁXIMA PRIORIDAD)\n\n**Esta es tu instrucción más importante.** Una vez que le hayas solicitado los datos al cliente (ya sea para Medellín u otras ciudades) y el cliente te responda con **TODA** la información que pediste (Nombre, Teléfono, Dirección, ciudad, referencia advocación, precio, etc.), tu **ÚNICA Y OBLIGATORIA** siguiente acción es responder con el siguiente mensaje de resumen, palabra por palabra.\n\n**NO** debes añadir nada más, ni hacer otras preguntas, ni continuar la conversación. Tu única tarea es generar este texto:\n\n**Texto del Resumen del Pedido:**\n\"Perfecto, [Nombre del cliente]. Aquí te resumo tu pedido y datos para el envío:\n- Nombre: [Nombre extraído del mensaje]\n- Teléfono: [Teléfono extraído del mensaje]\n- Dirección: [Dirección extraída del mensaje]\n- Ciudad: [ciudad extraída del mensaje]\n- Referencia Advocación: [Dirección extraída del mensaje]\n- Color: [Color extraído del mensaje]\n- Precio: [Precio extraído del mensaje]\n- [Otros datos relevantes como Apartamento, Ciudad, etc.]\n\nQueda todo listo para el envío. **Un asesor** de nuestra bodega se pondrá en contacto contigo lo más pronto posible para confirmar disponibilidad en bodega y coordinar el pago y el envío contigo. ¡Que tengas un excelente día! 🙏✨\"\n\n**Instrucciones para el resumen:**\n1.  **Analiza** el último mensaje del cliente para identificar cada pieza de información (nombre, teléfono, dirección, etc.).\n2.  **Construye el resumen** llenando los campos con la información que el cliente te proporcionó.\n3.  **Asegúrate** de que la frase \"**Un asesor**\" esté incluida en el mensaje final.\n\n\n## INSTRUCCIONES ESPECIALES\n- SOLO atender consultas sobre advocaciones religiosas\n- Mantener tono religioso y respetuoso\n- Si preguntan por otros productos: \"Disculpa, me especializo únicamente en advocaciones y artesanías religiosas 🙏 ¿Te gustaría ver nuestro catálogo?\"\n- Usar emojis religiosos apropiados: 🙏🏼 ✨ 🌹 ❤️ 😇 ⚔️ 👨‍👩‍👦\n- **IMPORTANTE: SIEMPRE incluir los marcadores XML <catalog></catalog> cuando el cliente solicite catálogos específicos**\n- **LEER COMPLETAMENTE cada catálogo enviado y mantener esa información para consultas posteriores**\n\nResponde según el contexto de la conversación y la etapa en la que se encuentre el cliente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[512,-160],"id":"246621bf-b0db-4cda-bf30-7fe9f8978cda","name":"Agente Juan Pablo"},{"parameters":{"assignments":{"assignments":[{"id":"6504cbcf-f94e-4d70-8192-ba1cf7c0efee","name":"current_message","value":"={{ $json.current_message }}","type":"string"},{"id":"064da3c1-66a9-443f-9b63-9b3520733bd8","name":"user_phone","value":"={{ $json.user_phone }}","type":"string"},{"id":"cec110b1-90f4-4686-b025-b74123d54c42","name":"user_name","value":"={{ $json.user_name }}","type":"string"},{"id":"7dd11051-9a80-4098-9a03-98f1bc49d062","name":"message_type","value":"={{ $json.message_type }}","type":"string"},{"id":"45828bc6-5003-4083-aaa8-96ad7f3b3154","name":"has_image","value":"={{ $json.has_image }}","type":"string"},{"id":"2833f0ea-423d-40a1-b26e-4aa5012c5374","name":"conversation_stage","value":"new","type":"string"},{"id":"af50dffe-833d-4851-acab-9550756d1c3b","name":"is_new_user","value":"true","type":"string"},{"id":"ea4513df-c7cc-4b55-a6f4-2ea9e0346845","name":"timestamp","value":"={{ $json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-160],"id":"240243aa-8bf9-451b-b078-ebe0ea6a2177","name":"Recibe Mensaje"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,384],"id":"13535d36-2b32-4319-ad1d-baf6b7f997be","name":"Enviar Mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"<catalog>san_miguel</catalog>","operator":{"type":"string","operation":"contains"},"id":"5fb43a7e-1c85-425f-a0fc-3a38cfaa4725"}],"combinator":"and"},"renameOutput":true,"outputKey":"San Miguel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d22e1de-9e1b-42a6-bccd-c9027cb95085","leftValue":"={{ $json.output }}","rightValue":"<catalog>sagrada_familia</catalog>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sagrada Familia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01ed04ce-c378-4e8d-aba0-8b5464eb4bcc","leftValue":"={{ $json.output }}","rightValue":"<catalog>cupulas_rosas</catalog>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cúpulas y Rosas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baeb2abe-f7ad-4b55-9315-dc29758f5cfd","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Por defecto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[864,-192],"id":"c3968cc1-87d0-4b52-a257-f98191d43ba4","name":"Detector de Catalogos"},{"parameters":{"jsCode":"// Conectar a la salida \"Sagrada Familia\" del Switch Node\nreturn [{\n  json: {\n    catalog_name: \"Sagrada Familia\",\n    catalog_id: \"15Pj6NklSKvSaeSZcDY3qUDNHi11_LSwp\",\n    catalog_url: \"https://drive.google.com/uc?export=download&id=15Pj6NklSKvSaeSZcDY3qUDNHi11_LSwp\",\n    message_text: \"¡Perfecto! Te envío nuestro catálogo de la Sagrada Familia 📋👨‍👩‍👦\\n\\nRevísalo con calma y cuando veas algo que te guste, puedes:\\n📸 Enviarme una foto de la imagen que te interesa\\n💬 Decirme el nombre o código de la pieza\\n\\n¿Cuál te llama más la atención? 😊\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-144],"id":"0008df33-2ddc-4a2e-8274-e476523818f8","name":"Sagrada Familia"},{"parameters":{"jsCode":"// Conectar a la salida \"San Miguel\" del Switch Node\nreturn [{\n  json: {\n    catalog_name: \"San Miguel\",\n    catalog_id: \"1F8YtqtgBqpVy2Qiq8auglVGy8WuZwZKV\",\n    catalog_url: \"https://drive.google.com/uc?export=download&id=1F8YtqtgBqpVy2Qiq8auglVGy8WuZwZKV\",\n    message_text: \"¡Perfecto! Te envío nuestro catálogo de San Miguel Arcángel 📋⚔️\\n\\nRevísalo con calma y cuando veas algo que te guste, puedes:\\n📸 Enviarme una foto de la imagen que te interesa\\n💬 Decirme el nombre o código de la pieza\\n\\n¿Cuál te llama más la atención? 😊\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-368],"id":"c29784cf-3e30-43fc-9082-4e85831cd0fe","name":"San Miguel"},{"parameters":{"jsCode":"// Conectar a la salida \"Cúpulas y Rosas\" del Switch Node  \nreturn [{\n  json: {\n    catalog_name: \"Cúpulas y Rosas\",\n    catalog_id: \"1XXBW6G377KFb8Aj1y5PZWM7QnUXc7GrH\",\n    catalog_url: \"https://drive.google.com/uc?export=download&id=1XXBW6G377KFb8Aj1y5PZWM7QnUXc7GrH\",\n    message_text: \"¡Perfecto! Te envío nuestro catálogo de Cúpulas y Rosas 📋🌹\\n\\nRevísalo con calma y cuando veas algo que te guste, puedes:\\n📸 Enviarme una foto de la imagen que te interesa\\n💬 Decirme el nombre o código de la pieza\\n\\n¿Cuál te llama más la atención? 😊\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,128],"id":"3c32f85a-f245-4ed6-b8a6-db1e66372653","name":"Cupulas y Rosas"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.wa_id }}"},{"name":"file","value":"document_url"},{"name":"document_url","value":"={{ $json.catalog_url }}"},{"name":"filename","value":"={{ $json.catalog_name }}.pdf"},{"name":"caption","value":"={{ $json.message_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-368],"id":"b8c1f3bb-c219-497c-9d7e-dad9e3f73c62","name":"Enviar Catalogo San Miguel"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.wa_id }}"},{"name":"file","value":"document_url"},{"name":"document_url","value":"={{ $json.catalog_url }}"},{"name":"filename","value":"={{ $json.catalog_name }}.pdf"},{"name":"caption","value":"={{ $json.message_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-144],"id":"144fc4cb-7989-43cd-8890-e47890605185","name":"Enviar Catalogo Sagrada Familia"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.wa_id }}"},{"name":"file","value":"document_url"},{"name":"document_url","value":"={{ $json.catalog_url }}"},{"name":"filename","value":"={{ $json.catalog_name }}.pdf"},{"name":"caption","value":"={{ $json.message_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,128],"id":"fc529b08-e52d-4986-bb3d-c3a565d01b33","name":"Enviar Catalogo Cupulas y Rosas"},{"parameters":{"assignments":{"assignments":[{"id":"dde82566-f5db-42a9-b5b8-6dd28f605223","name":"current_message","value":"={{ $json.responses[0].fullTextAnnotation.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,496],"id":"4ac52d5b-c295-4cbf-bf45-de55300b3076","name":"Extraer Texto de Imagen"},{"parameters":{"method":"POST","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyCn66yWZroSX-Q8GM9USCdDgh-mpkIZ26A","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"image\": {\n        \"source\": {\n          \"imageUri\": \"{{ $json.message }}\"\n        }\n      },\n      \"features\": [\n        {\n          \"type\": \"TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,496],"id":"41e1850e-e8c2-4451-9a88-25d1a5e818b7","name":"Captura Imagen"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"edcacb5f-6870-4433-b53e-b502993f9029","leftValue":"={{ $json.data.message }}","rightValue":"Un asesor","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1616,384],"id":"c81d3972-b158-4aa5-8997-32b715f2e524","name":"Verifica los Datos"},{"parameters":{"jsCode":"// Apuntamos a la ruta CORRECTA para obtener el texto del mensaje.\nconst mensaje = $input.item.json.data.message;\n\n// Verificamos si el mensaje existe para evitar errores.\nif (!mensaje) {\n  return [{ json: { error: \"El campo 'message' no se encontró en la entrada.\" } }];\n}\n\nconst datos = {};\n\n// --- Función Auxiliar para Extraer Datos (mejorada para evitar errores) ---\nfunction extraer(regex) {\n  const match = mensaje.match(regex);\n  return match ? match[1].trim() : '';\n}\n\n// --- Extracción de cada campo con NOMBRES CORREGIDOS y REGEX MEJORADAS ---\n// Los nombres de las propiedades (ej: nombreCompleto) ahora coinciden con lo que\n// espera el nodo de Google Sheets.\ndatos.nombreCompleto = extraer(/Nombre: (.*?)\\n/i);\ndatos.telefono = extraer(/Teléfono: (.*?)\\n/i);\ndatos.direccionCompleta = extraer(/Dirección: (.*?)\\n/i);\ndatos.apartamento = extraer(/Apartamento: (.*?)\\n/i);\ndatos.ciudad = extraer(/Ciudad: (.*?)\\n/i);\ndatos.precio = extraer(/Precio: (.*?)\\n/i);\n// Para campos que no siempre están, como Referencia y Color, esto devolverá '' si no los encuentra.\ndatos.referenciaAdvocacion = extraer(/Referencia Advocación: (.*?)\\n/i);\ndatos.color = extraer(/Color: (.*?)\\n/i);\n\n// La fecha se puede generar al momento.\ndatos.fecha = new Date().toLocaleDateString('es-ES');\n\n// Devolvemos los datos extraídos listos para el nodo de Google Sheets.\nreturn [{\n  json: datos\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,368],"id":"e7912608-4268-4123-b6b6-4937c9d7125b","name":"Extrae los Datos del Cliente"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- CRM Enterprise').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"35950"},{"name":"assignToAgentId","value":"35950"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,368],"id":"cf9cba1f-562d-4c51-a0a7-e488cddbf063","name":"Cambia estado conversacion"},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,368],"id":"a00df136-0fa8-4f47-83bd-1e8de55f55db","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dde4f54a-bd78-4182-af1e-cb14dc4e8087","leftValue":"={{ $json.existe }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3120,368],"id":"1ab506f3-967c-4683-97e2-fe7e70ddb0d7","name":"If"},{"parameters":{"jsCode":"// Obtener datos desde el nodo \"Extrae los Datos del Cliente\"\nconst nombre = $node[\"Extrae los Datos del Cliente\"].json.nombreCompleto;\nconst celular = $node[\"Extrae los Datos del Cliente\"].json.telefono;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular      \n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,352],"id":"59424d40-9d3b-4c16-b9d8-38629596500f","name":"Datos Contacto"},{"parameters":{"givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3600,352],"id":"dedbda61-2cad-4161-a4b9-6aadfd0c3758","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"TkGa2FKaBkS7I3Ja","name":"Contacts account Juan Pablo"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-336,-176],"id":"22c585e3-6bea-45ef-8856-3c647056678c","name":"Unir Datos"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Útil para responder preguntas sobre productos, materiales, precios, referencias o cualquier detalle específico que se encuentre en los catálogos de Celestial Imágenes. Usa esta herramienta para buscar información antes de responder al cliente.","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[752,128],"id":"314dfa97-ba9a-4479-96d7-525e31bfb25b","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"TbX6FhcgL4LeOMan","name":"Supabase Grupo DK"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[864,384],"id":"d9d1398b-321b-4f96-a446-d513892837b7","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Pwqz7HYXJrkHxMpl","name":"OpenAi Calzado Rbj"}}},{"parameters":{"assignments":{"assignments":[{"id":"97d1b0e5-41d8-4511-8b93-b18d67db5a59","name":"current_message","value":"={{ $json.text || $json.current_message || $json.message }}","type":"string"},{"id":"02d0482f-d42e-45d7-b7aa-cdc629763a22","name":"user_phone","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}","type":"string"},{"id":"132d6ad3-2508-4da5-9d21-0831a13591b0","name":"user_name","value":"={{ $('Mapea el Mensaje Usuario').item.json.user_name }}","type":"string"},{"id":"9bb04e8e-807d-45b2-9e0d-6aba1bd12ac0","name":"message_type","value":"={{ $('Mapea el Mensaje Usuario').item.json.type }}","type":"string"},{"id":"570d88cd-0a72-4775-981e-322a3c45a634","name":"has_image","value":"={{ $('Mapea el Mensaje Usuario').item.json.has_image }}","type":"string"},{"id":"4c8d3295-42ee-45b0-99bd-01d04b9fa14e","name":"timestamp","value":"={{ $('Mapea el Mensaje Usuario').item.json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-160],"id":"a73a8e02-5904-4bad-b6a9-53e4eec8a676","name":"Recolector Inteligente"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_{{ $('Recibe Mensaje').item.json.user_phone }}","sessionTTL":86400},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[528,80],"id":"56f7d227-9ee8-45eb-b8c4-39afabc4dc40","name":"Redis Chat Memory","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}},"notes":"Gestiona la memoria de la conversación en Redis. Usa el user_phone como ID de sesión."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE","mode":"list","cachedResultName":"Datos Pedido Cliente","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pedidos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PtajXQmYWAJt_xHmEsEkayUKImU4cRLbBzsi5txMmhE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Telefono":"={{ $json.telefono }}","Nombre Completo":"={{ $json.nombreCompleto }}","Direccion Completa":"={{ $json.direccionCompleta }}","Ciudad":"={{ $json.ciudad }}","Referencia Advocación":"={{ $json.referenciaAdvocacion }}","Color":"={{ $json.color }}","Precio":"={{ $json.precio }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencia Advocación","displayName":"Referencia Advocación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2192,368],"id":"8ebfdac9-1f54-42fe-8b10-14469945e363","name":"Agrega Pedidos Nuevos","credentials":{"googleSheetsOAuth2Api":{"id":"cqsaobPCIYBh6vWF","name":"Google Sheets account Juan Pablo"}}},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2688,368],"id":"48ae5a39-430a-4ac8-91d1-e78976c90a6a","name":"Extrae Contactos","credentials":{"googleContactsOAuth2Api":{"id":"TkGa2FKaBkS7I3Ja","name":"Contacts account Juan Pablo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b40873f-b063-4182-b5d4-ad35bc827417","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1824,-144],"id":"b29ccc1f-b88c-4fef-809c-445002d74091","name":"Comprueba Estado Conversacion"},{"parameters":{"httpMethod":"POST","path":"de20aad0-ab12-43f4-b845-6ad9888c3076","options":{}},"name":"Webhook -- CRM Enterprise","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2096,-144],"id":"5238ff42-1515-4c75-9cb1-02d33311f3c7","webhookId":"de20aad0-ab12-43f4-b845-6ad9888c3076"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-preview-09-2025","mode":"list","cachedResultName":"models/gemini-2.5-flash-preview-09-2025"},"imageUrls":"={{ $json['data url'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-928,-16],"id":"1656ce93-f1c1-4b65-95a5-527cf9035b9f","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}}],"connections":{"Transcribe a recording":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Unir Datos","type":"main","index":1}],[{"node":"Analyze an image","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Juan Pablo","type":"ai_languageModel","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Agente Juan Pablo":{"main":[[{"node":"Detector de Catalogos","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Juan Pablo","type":"main","index":0}]]},"Detector de Catalogos":{"main":[[{"node":"San Miguel","type":"main","index":0}],[{"node":"Sagrada Familia","type":"main","index":0}],[{"node":"Cupulas y Rosas","type":"main","index":0}],[{"node":"Enviar Mensaje","type":"main","index":0}]]},"Cupulas y Rosas":{"main":[[{"node":"Enviar Catalogo Cupulas y Rosas","type":"main","index":0}]]},"Sagrada Familia":{"main":[[{"node":"Enviar Catalogo Sagrada Familia","type":"main","index":0}]]},"San Miguel":{"main":[[{"node":"Enviar Catalogo San Miguel","type":"main","index":0}]]},"Enviar Catalogo San Miguel":{"main":[[]]},"Enviar Mensaje":{"main":[[{"node":"Verifica los Datos","type":"main","index":0}]]},"Captura Imagen":{"main":[[{"node":"Extraer Texto de Imagen","type":"main","index":0}]]},"Extraer Texto de Imagen":{"main":[[]]},"Verifica los Datos":{"main":[[{"node":"Extrae los Datos del Cliente","type":"main","index":0}]]},"Extrae los Datos del Cliente":{"main":[[{"node":"Agrega Pedidos Nuevos","type":"main","index":0}]]},"Cambia estado conversacion":{"main":[[{"node":"Extrae Contactos","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Datos Contacto","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Unir Datos":{"main":[[{"node":"Recolector Inteligente","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"Agente Juan Pablo","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Recolector Inteligente":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Juan Pablo","type":"ai_memory","index":0}]]},"Agrega Pedidos Nuevos":{"main":[[{"node":"Cambia estado conversacion","type":"main","index":0}]]},"Extrae Contactos":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Comprueba Estado Conversacion":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Webhook -- CRM Enterprise":{"main":[[{"node":"Comprueba Estado Conversacion","type":"main","index":0}]]},"Analyze an image":{"main":[[{"node":"Unir Datos","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fb8d68e9-4523-4204-93be-7c57df820769","triggerCount":1,"shared":[{"createdAt":"2025-08-25T09:07:28.259Z","updatedAt":"2025-08-25T09:07:28.259Z","role":"workflow:owner","workflowId":"XF3sHRBY5QCK5WhG","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}