chatbot_giraldo_gomez_constructores-5OGGOBe4He1mJGdC.json
{"createdAt":"2025-07-17T15:57:14.508Z","updatedAt":"2025-09-15T14:23:31.000Z","id":"5OGGOBe4He1mJGdC","name":"Chatbot_Giraldo_Gomez_Constructores","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cd6a2afc-5d56-4b12-ab48-2b401cf9411d","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2840,-160],"id":"fbc86726-b093-4db9-b88c-41cedc27fb10","webhookId":"cd6a2afc-5d56-4b12-ab48-2b401cf9411d"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1560,-340],"id":"ab4da96e-0e9c-41c6-91e6-2328527c4d47","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2000,-180],"id":"0a1cc0ae-03f1-47f5-90b6-0c24184a646f","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2280,-180],"id":"aa08b9e7-b2a5-4007-a603-4a34d964f7af","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.message }}{{ $json.text }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1360,-160],"id":"eb21a8b8-8b54-4dac-8b61-4f768476d2f6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-980,80],"id":"af82f0ba-721b-463d-8f31-cdcc931f16f9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-20,180],"id":"f461e379-eb16-4df8-b03c-46cd5e43e9ba","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,180],"id":"efddaeb5-4eb8-4a5e-976f-7d00355dc7ec","name":"Selecciona Respuesta"},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,-340],"id":"579397c1-0e6e-4793-9d39-5c147d689186","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1020,200],"id":"b04eedc5-3b38-45c7-af13-eec633c7070e","name":"Descargar Audio"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[760,-500],"id":"54d63475-30d2-435b-b656-eeebf00ed65a","name":"Espera para enviar Mensaje","webhookId":"abfbe34d-3de8-4330-96ac-1515e86e7068"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"audio_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"audio_url","value":"={{ $json.stdout }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,200],"id":"b5663c03-8351-4d51-9ca7-26879f60465f","name":"Envia Mensajes Audio"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Agente Simon').item.json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-140],"id":"64ad27cf-54c2-434f-adac-ee42cf722497","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.data.message }}","rightValue":"Ya mismo agendaremos la visita","operator":{"type":"string","operation":"contains"}},{"id":"84170832-f7fb-4550-a157-3813fb90be79","leftValue":"={{ $json.data.message }}","rightValue":"=ya está confirmada","operator":{"type":"string","operation":"contains"}},{"id":"6e9f0f5a-9f90-48af-8794-59c4f2c175c7","leftValue":"={{ $json.data.message }}","rightValue":"resumen de tu cita","operator":{"type":"string","operation":"contains"}},{"id":"395922f6-5f66-4248-838f-9061a7fdd716","leftValue":"={{ $json.data.message }}","rightValue":"un asesor se pondrá en contacto","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1000,-140],"id":"4caa7a59-6072-4fa9-a699-40b5ec6803f9","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2120,-160],"id":"9574a21a-3be6-43bb-9e46-be66c0f584f1","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2340,-160],"id":"5e7f8158-f50f-442f-882e-358139789cc7","name":"Verifica si el Contacto Existe"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"=35950"},{"name":"assignToAgentId","value":"35950"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,-160],"id":"af0bd76a-a072-416d-a098-455899596dd1","name":"Cambia Estado Conversacion"},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1280,200],"id":"39f886e3-e889-41fd-8277-154bb21f69fe","name":"Renombra Archivo Audio"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names","emailAddresses"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[1920,-160],"id":"70471c0c-b64c-4569-bb24-461970c87160","name":"Busca el Contacto","credentials":{"googleContactsOAuth2Api":{"id":"cUfReA3TRFXdZWdq","name":"Google Contacts Giraldo Gomez Constructores"}}},{"parameters":{"jsCode":"// Obtener datos desde el nodo \"Extrae los Datos del Cliente\"\nconst nombre = $node[\"Extrae los Datos del Cliente\"].json.nombre;\nconst celular = $node[\"Extrae los Datos del Cliente\"].json.celular;\nconst correo = $node[\"Extrae los Datos del Cliente\"].json.correo;\nconst proyecto = $node[\"Extrae los Datos del Cliente\"].json.proyecto;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular,\n      correo,\n      proyecto\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,-180],"id":"0e0b159c-cd38-4830-a961-70bbb46e5016","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"emailsUi":{"emailsValues":[{"type":"work","value":"={{ $json.correo }}"}]},"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2820,-180],"id":"60a2e991-43a1-4270-87db-95a6a7f4e3c4","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"cUfReA3TRFXdZWdq","name":"Google Contacts Giraldo Gomez Constructores"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75cc19e7-a633-4a11-8899-df43c9399c26","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2540,-160],"id":"0f383a95-c47b-49f7-8314-371e0496e0cc","name":"Comprueba Estado de la Conversación"},{"parameters":{"jsCode":"const texto = $json.output || \"\";\nconst marcadoresDisponibles = [\n  \"ENVIAR_IMAGENES_BOREAL\",\n  \"ENVIAR_VIDEO_BOREAL\",\n  \"ENVIAR_IMG_BOREAL_ACABADOS\",\n  \"ENVIAR_VIDEO_BOREAL_ACABADOS\",\n  \"ENVIAR_BOREAL_BROCHURE\",\n  \"ENVIAR_IMAGENES_NATTIVO\",\n  \"ENVIAR_VIDEO_NATTIVO\",\n  \"ENVIAR_IMG_NATTIVO_ACABADOS\",\n  \"ENVIAR_VIDEO_NATTIVO_ACABADOS\",\n  \"ENVIAR_NATTIVO_BROCHURE\"\n];\n\nconst marcadoresDetectados = marcadoresDisponibles.filter(m =>\n  texto.includes(`[[${m}]]`)\n);\n\nif (marcadoresDetectados.length === 0) {\n  return [\n    {\n      json: {\n        resultado: \"NO_MARKERS_FOUND\",\n        original: texto\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      marcadores: marcadoresDetectados\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-340],"id":"3ac986d1-8ee7-4d1d-973a-3e94292f37e7","name":"Detectar Marcadores"},{"parameters":{"jsCode":"const marcadores = $json.marcadores || [];\n\nconst driveUrls = {\n  ENVIAR_IMAGENES_BOREAL: [\n    \"https://drive.google.com/uc?id=1TgSosy157Kg0_GfsniQzwdargLjYn9Hg\",\n    \"https://drive.google.com/uc?id=1pfzeYiKLiodbotqQci5ZGUPcZeTk72jE\"\n  ],\n  ENVIAR_VIDEO_BOREAL: [\n    \"https://drive.google.com/uc?id=147f3S1CLukwTztejjC3uAPuz08XuCj_T\"\n  ],\n  ENVIAR_IMG_BOREAL_ACABADOS: [\n    \"https://drive.google.com/uc?id=16V88zZCc6Zfid3_gi9dW_DDF25mM53zw\",\n    \"https://drive.google.com/uc?id=1dFplyLlvd0cZHw-gsueUYWNc_VlnPBpf\",\n    \"https://drive.google.com/uc?id=1MYIebTyAUGS_O0UoFDkCZZWsJdjJwF_2\",\n    \"https://drive.google.com/uc?id=1IrmC4fnfKeP1eQa1FWYkwIhjKhV80Sb4\",\n    \"https://drive.google.com/uc?id=1loho1vB8GuDWYwTHyUDTQE37ZMVyaZA5\",\n    \"https://drive.google.com/uc?id=1DQ6ZFjPfNGNnF4PMDGTirAb1wDN8WC_0\"\n  ],\n  ENVIAR_VIDEO_BOREAL_ACABADOS: [\n    \"https://drive.google.com/uc?id=1ZbTheV1qbfYAezxpGO2M6zeta9BCstXk\"\n  ],\n  ENVIAR_BOREAL_BROCHURE: [\n    \"https://grupodksoluciones.com/imagenes/brochureboreal.pdf\"\n  ],\n  ENVIAR_IMAGENES_NATTIVO: [\n    \"https://drive.google.com/uc?id=12HlGHSkFpfpep1aI_wJYlBfNPx6Pi0iK\",\n    \"https://drive.google.com/uc?id=1Jspnwf7z9jzLPIIZiMJsXG4ofcy-r3d-\",\n    \"https://drive.google.com/uc?id=1sizL9DrP9SY-OFX7zCiofwr-iTUmmreN\"\n  ],\n  ENVIAR_IMG_NATTIVO_ACABADOS: [\n    \"https://drive.google.com/uc?id=1C4ISYT7lGX8ZngPeNOR34W1jDZy6pNCI\",\n    \"https://drive.google.com/uc?id=1F1hMSdQhm0BA0tzH2nWYDkwO81SEMhKY\",\n    \"https://drive.google.com/uc?id=1qtUZeYFqqW0yHH94AIUyS5yuiHHVr73v\",\n    \"https://drive.google.com/uc?id=1s_GKNjuWXBn_KP3l7_Jr2iFMHoNnbF_K\",\n    \"https://drive.google.com/uc?id=1Hb22rawrHeS0IPJw6OBPfA1VwntQHrfQ\"\n  ],\n  ENVIAR_VIDEO_NATTIVO_ACABADOS: [\n    \"https://drive.google.com/uc?id=1ZbTheV1qbfYAezxpGO2M6zeta9BCstXk\"\n  ],\n  ENVIAR_NATTIVO_BROCHURE: [\n    \"https://grupodksoluciones.com/imagenes/brochurenattivo.pdf\"\n  ],\n};\n\nconst resultados = [];\n\nfor (const marcador of marcadores) {\n  const tipo = marcador.includes(\"VIDEO\") ? \"video\" : \"image\";\n  const urls = driveUrls[marcador] || [];\n\n  for (const url of urls) {\n    resultados.push({\n      json: {\n        tipo,\n        media_url: url\n      }\n    });\n  }\n}\n\nif (resultados.length === 0) {\n  return [{ json: { error: \"NO_FILES_FOUND\" } }];\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-620],"id":"737154e7-bf64-40a9-9db4-cfe0f3f9dab7","name":"Generar Lista Multimedia"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"video_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"video_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-780],"id":"cce9e947-073f-4753-825f-639cc9c79275","name":"Enviar Mensaje Videos","executeOnce":false},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-1000],"id":"ec65adb2-b447-413e-8466-a383f2a8cdce","name":"Enviar Mensaje Imagenes","executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_IMAGENES_NATTIVO]]","operator":{"type":"string","operation":"contains"}},{"id":"4eb7a703-e33c-4f1d-a2b5-29d152bed72d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_VIDEO_NATTIVO]]","operator":{"type":"string","operation":"contains"}},{"id":"83c42724-da56-498a-9b4e-c9bf0ff0a1b8","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_IMAGENES_BOREAL]]","operator":{"type":"string","operation":"contains"}},{"id":"d39d99fa-97c2-48f2-9f8c-4cd5b82ef0e4","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_VIDEO_BOREAL]]","operator":{"type":"string","operation":"contains"}},{"id":"3e8ef2db-6c46-49a6-96f1-675cb0e4ff67","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_IMG_BOREAL_ACABADOS]]","operator":{"type":"string","operation":"contains"}},{"id":"b52ffff6-ae69-4523-bdb6-dd1c0132844b","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_VID_BOREAL_ACABADOS]]","operator":{"type":"string","operation":"contains"}},{"id":"b8e5b453-1ac0-4726-95ac-fba9e9723a5f","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_BOREAL_BROCHURE]]","operator":{"type":"string","operation":"contains"}},{"id":"57ee4d7c-69c6-4981-bdd1-66a099937741","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_IMG_NATTIVO_ACABADOS]]","operator":{"type":"string","operation":"contains"}},{"id":"86c79e1d-b38e-47fb-a3ac-c2d9a6e1db8b","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_VIDEO_NATTIVO_ACABADOS]]","operator":{"type":"string","operation":"contains"}},{"id":"4bfa9bca-5d19-4688-89c5-d07a06d90f72","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_NATTIVO_BROCHURE]]","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"name":"Es Marcador?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-360,-160],"id":"2ae8a392-67f3-4cf2-b37c-a9d0802991b4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62b4890c-6608-467c-9be8-0a183724a06e","leftValue":"={{ $json.tipo }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,-800],"id":"198d7830-34be-4462-8826-b457bd3ab487","name":"Es Imagen?","alwaysOutputData":false},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[680,-780],"id":"ca72f054-b490-4bda-bb7e-4a70c4494de9","name":"Espera para enviar video","webhookId":"83acc2f2-030c-4fd4-ad86-deb4aab217b1"},{"parameters":{"jsCode":"// Tomar el mensaje del Agente Luisa\nconst mensajeDelAgente = $node[\"Agente Simon\"].json.output || \"\";\n\n// Eliminar marcadores del tipo [[...]]\nconst mensajeLimpio = mensajeDelAgente.replace(/\\[\\[.*?\\]\\]/g, '').replace(/\\s{2,}/g, ' ').trim();\n\n// Tomar datos del Webhook\nconst wa_id = $('Webhook -- Wasapi').first().json.body.data.wa_id;\nconst from_id = $('Webhook -- Wasapi').first().json.body.data.from_id;\n\nreturn [\n  {\n    json: {\n      mensaje_final: mensajeLimpio,\n      wa_id,\n      from_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,-500],"id":"61c4fb06-4a27-446b-8e30-adaae603dbb0","name":"Preparar para Texto Final"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.mensaje_final }}"},{"name":"wa_id","value":"={{ $json.wa_id }}"},{"name":"from_id","value":"={{ $json.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-500],"id":"a0551a98-4ad4-495c-8ce7-4a8fa9f0fa32","name":"Enviar Mensaje"},{"parameters":{"jsCode":"const mensaje = $json.data.message.toLowerCase();\n\n// Ajuste de fecha actual en zona horaria UTC−5 (Bogotá)\nconst ahora = new Date();\nconst offsetColombia = -5; // UTC−5\nconst hoy = new Date(ahora.getTime() + offsetColombia * 60 * 60 * 1000);\n\n// Función para convertir día de la semana en número\nfunction diaSemanaANum(dia) {\n  const dias = {\n    domingo: 0,\n    lunes: 1,\n    martes: 2,\n    miércoles: 3,\n    miercoles: 3,\n    jueves: 4,\n    viernes: 5,\n    sábado: 6,\n    sabado: 6,\n  };\n  return dias[dia.toLowerCase()] ?? -1;\n}\n\n// Formatea una fecha como dd/mm/yyyy\nfunction formatearFecha(date) {\n  return `${String(date.getDate()).padStart(2, '0')}/${String(date.getMonth() + 1).padStart(2, '0')}/${date.getFullYear()}`;\n}\n\n// Extrae o interpreta la fecha del mensaje\nfunction extraerFechaDesdeMensaje(texto) {\n  // Buscar una fecha explícita tipo 17/07/2025\n  const matchFecha = texto.match(/(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/);\n  if (matchFecha) {\n    const [_, d, m, y] = matchFecha;\n    return `${String(d).padStart(2, '0')}/${String(m).padStart(2, '0')}/${y.length === 2 ? '20' + y : y}`;\n  }\n\n  // Expresiones relativas\n  if (texto.includes(\"pasado mañana\")) {\n    const fecha = new Date(hoy.getTime());\n    fecha.setDate(hoy.getDate() + 2);\n    return formatearFecha(fecha);\n  }\n  if (texto.includes(\"mañana\")) {\n    const fecha = new Date(hoy.getTime());\n    fecha.setDate(hoy.getDate() + 1);\n    return formatearFecha(fecha);\n  }\n  if (texto.includes(\"hoy\")) {\n    return formatearFecha(hoy);\n  }\n\n  // Día de la semana (sábado, domingo, etc.)\n  const matchDia = texto.match(\n    /\\b(lunes|martes|miércoles|miercoles|jueves|viernes|sábado|sabado|domingo)\\b/\n  );\n  if (matchDia) {\n    const hoyDia = hoy.getDay();\n    const diaObjetivo = diaSemanaANum(matchDia[1]);\n    let diasADesplazar = (diaObjetivo - hoyDia + 7) % 7;\n    if (diasADesplazar === 0) diasADesplazar = 7;\n    const fecha = new Date(hoy.getTime());\n    fecha.setDate(hoy.getDate() + diasADesplazar);\n    return formatearFecha(fecha);\n  }\n\n  return '';\n}\n\n// Extrae la hora del mensaje (explícita o por contexto)\nfunction extraerHoraDesdeMensaje(texto) {\n  // Buscar hora explícita, con expresión regular\n  const matchHora = texto.match(/hora de reunión o de la llamada:\\s*(\\d{1,2}:\\d{2}\\s*(AM|PM)?)/i);\n  if (matchHora) {\n    return matchHora[1].trim(); // Extraer solo la parte de la hora y los minutos\n  }\n\n  // Si no se encuentra, buscar valores por contexto (opcional)\n  return '';\n}\n\n// Extrae otros campos\nconst datos = {\n  fecha: extraerFechaDesdeMensaje(mensaje),\n  hora: extraerHoraDesdeMensaje(mensaje),\n  nombre:\n    mensaje.match(/nombre:\\s*(.+?)(?=\\n|$)/i)?.[1].trim() || '',\n  celular:\n    mensaje.match(/celular:\\s*(.+?)(?=\\n|$)/i)?.[1].trim() || '',\n  correo:\n    mensaje.match(/correo electrónico:\\s*(.+?)(?=\\n|$)/i)?.[1].trim() || '',\n  proyecto:\n    mensaje.match(/proyecto de su interés:\\s*(.+?)(?=\\n|$)/i)?.[1].trim() || ''\n};\n\nreturn [{ json: datos }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,-160],"id":"5a7223c9-0264-4b43-b823-46b8c720591f","name":"Extrae los Datos del Cliente"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZCitmztJaNVVQNEOzCMhGCKpctTKyKpL4TGlKOZ6ZWI","mode":"list","cachedResultName":"Control de Citas – GG Constructores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZCitmztJaNVVQNEOzCMhGCKpctTKyKpL4TGlKOZ6ZWI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1658038468,"mode":"list","cachedResultName":"Hoja 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZCitmztJaNVVQNEOzCMhGCKpctTKyKpL4TGlKOZ6ZWI/edit#gid=1658038468"},"columns":{"mappingMode":"defineBelow","value":{"Nombre ":"={{ $json.nombre }}","Celular ":"={{ $json.celular }}","Correo electronico ":"={{ $json.correo }}","Proyecto de su intereres ":"={{ $json.proyecto }}","Fecha de la visita o llamada":"={{ $json.fecha }}","Hora de la llamada o la visita":"={{ $json.hora }}"},"matchingColumns":[],"schema":[{"id":"Fecha de la visita o llamada","displayName":"Fecha de la visita o llamada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre ","displayName":"Nombre ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Celular ","displayName":"Celular ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora de la llamada o la visita","displayName":"Hora de la llamada o la visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo electronico ","displayName":"Correo electronico ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Proyecto de su intereres ","displayName":"Proyecto de su intereres ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"¿Se realizo la llamada?","displayName":"¿Se realizo la llamada?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"¿Se realizo la visita?","displayName":"¿Se realizo la visita?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seguimiento del cliente","displayName":"Seguimiento del cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1480,-160],"id":"35b6f19e-7e17-4862-b0a7-d321b636af35","name":"Guarda datos del Cliente","credentials":{"googleSheetsOAuth2Api":{"id":"vgFAgfi8cckIgBKh","name":"conexion flujo giraldo gomez"}}},{"parameters":{"calendar":{"__rl":true,"value":"ggc.wasappi@gmail.com","mode":"list","cachedResultName":"ggc.wasappi@gmail.com"},"start":"={{ $json.start }}","end":"={{ $json.end }}","additionalFields":{"attendees":["={{ $('Datos Contacto').item.json.correo }}"],"description":"=Visita agendada para {{ $('Datos Contacto').item.json.nombre }} al proyecto {{ $('Datos Contacto').item.json.proyecto }}","summary":"=Visita agendada para {{ $('Datos Contacto').item.json.nombre }} al proyecto {{ $('Datos Contacto').item.json.proyecto }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[3300,-180],"id":"83f328d4-c051-458c-aea1-ae1c1b3c12e4","name":"Agendar Citas","credentials":{"googleCalendarOAuth2Api":{"id":"gmO9fJ17ajAbGI5c","name":"Calendario Gomez Giraldo Constructores"}}},{"parameters":{"jsCode":"const fechaTexto = $node[\"Extrae los Datos del Cliente\"].json.fecha; // \"17/7/2025\"\nconst horaTexto = $node[\"Extrae los Datos del Cliente\"].json.hora;   // \"9:00 AM\"\n\n// Convertimos a formato ISO usando Date.parse\nconst [dia, mes, anio] = fechaTexto.split(\"/\");\nlet hora = horaTexto.trim().toUpperCase();\n\nif (hora.includes(\"AM\") || hora.includes(\"PM\")) {\n  const date = new Date(`${anio}-${mes.padStart(2, \"0\")}-${dia.padStart(2, \"0\")} ${hora}`);\n  const startISO = date.toISOString();\n  const endISO = new Date(date.getTime() + 60 * 60 * 1000).toISOString(); // +1 hora\n\n  return [\n    {\n      start: startISO,\n      end: endISO\n    }\n  ];\n} else {\n  return [{ error: \"Formato de hora no válido. Asegúrate que sea como '9:00 AM'\" }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,-180],"id":"f41a94e0-20ba-46bd-a137-516395488613","name":"Prepara Hora y Fecha"},{"parameters":{"jsCode":"const mensaje = $json.mensaje_usuario.toLowerCase();\n\n// Ajuste de fecha actual en zona horaria UTC−5 (Bogotá)\nconst ahora = new Date();\nconst offsetColombia = -5; // UTC−5\nconst hoy = new Date(ahora.getTime() + offsetColombia * 60 * 60 * 1000);\n\n// Función para formatear fecha como dd/mm/yyyy\nfunction formatearFecha(fecha) {\n  return `${String(fecha.getDate()).padStart(2, '0')}/${String(fecha.getMonth() + 1).padStart(2, '0')}/${fecha.getFullYear()}`;\n}\n\n// Función para convertir nombre de día a número\nfunction diaSemanaANum(dia) {\n  const dias = {\n    domingo: 0,\n    lunes: 1,\n    martes: 2,\n    miércoles: 3,\n    miercoles: 3, // Considerar la variante sin tilde\n    jueves: 4,\n    viernes: 5,\n    sábado: 6,\n    sabado: 6, // Considerar la variante sin tilde\n  };\n  return dias[dia.toLowerCase()] ?? -1; // Retorna -1 si no encuentra el día\n}\n\n// Inicialización de la variable fechaInterpretada\nlet fechaInterpretada = '';\n\n// Fecha explícita\nconst matchFecha = mensaje.match(/(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/);\nif (matchFecha) {\n  const [_, d, m, y] = matchFecha;\n  fechaInterpretada = `${String(d).padStart(2, '0')}/${String(m).padStart(2, '0')}/${y.length === 2 ? '20' + y : y}`;\n}\n// Palabras clave\nelse if (mensaje.includes(\"pasado mañana\")) {\n  const fecha = new Date(hoy);\n  fecha.setDate(hoy.getDate() + 2);  // Se suma 2 días a la fecha actual\n  fechaInterpretada = formatearFecha(fecha);\n}\nelse if (mensaje.includes(\"mañana\")) {\n  const fecha = new Date(hoy);\n  fecha.setDate(hoy.getDate() + 1);  // Se suma 1 día a la fecha actual\n  fechaInterpretada = formatearFecha(fecha);\n}\nelse {\n  const matchDia = mensaje.match(/\\b(lunes|martes|miércoles|miercoles|jueves|viernes|sábado|sabado|domingo)\\b/);\n  if (matchDia) {\n    const diaObjetivo = diaSemanaANum(matchDia[1]);  // Llamada a la función\n    const diaHoy = hoy.getDay();\n    let diasADesplazar = (diaObjetivo - diaHoy + 7) % 7;\n    if (diasADesplazar === 0) diasADesplazar = 7;\n    const fecha = new Date(hoy);\n    fecha.setDate(hoy.getDate() + diasADesplazar);\n    fechaInterpretada = formatearFecha(fecha);\n  }\n}\n\n// Asegurarnos de que se retorna el valor de fechaInterpretada\nreturn [{\n  json: {\n    ...$json,\n    fecha_interpretada: fechaInterpretada\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1020,-160],"id":"47a583c1-8b45-451b-b78f-1429207d39b0","name":"Interpreta Fecha"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje_usuario }} (Fecha interpretada: {{ $json.fecha_interpretada }})","options":{"systemMessage":"Eres Asesor de Giraldo Gómez Constructores, eres un experto en venta de apartamentos y propiedades con años de experiencia, brindando un acompañamiento personalizado en la compra de apartamentos nuevos. Guiarás al cliente para invertir en la compra de su nuevo apartamento. Limítate a responder solo la información que tienes aquí, no respondas información sobre otros temas o consultas, di que no atienden esa información.\n\nTu nombre es Simón.\n\nUsa emojis para ser llamativo.\n\nSólo haz una pregunta por respuesta para no abrumar al cliente.\n\nTu objetivo será el de guiar a las personas para que una vez tengan clara toda la información sobre cuál proyecto desean, agenden una llamada con un asesor o una cita presencial en la sala de ventas para conocer el proyecto a profundidad y tener más detalles para adquirir el apartamento.\n\n//\n\nAl principio de la conversación debes enviar el siguiente mensaje: \n¡Hola! Mi nombre es Simón asesor inmobiliario de Giraldo Gómez Constructores.\n\nPara brindarte una información más acertada, me gustaría saber si el proyecto que buscas, ¿lo deseas para invertir o para habitar?\n\n\nActualmente tenemos dos proyectos en marcha:\n\nEl primero se llama Nattivo, está dirigido a las personas que desean invertir en propiedad raíz en Colombia.\n\nEl segundo proyecto se llama Boreal, y está dirigido a las personas que desean comprar un apartamento para vivir.\n\nCuando el cliente menciona que desea vivir o habitar, con información sobre Boreal,  luego envía el siguiente mensaje: Para poder asesorarte mejor, cuéntame, ¿En qué horario estás disponible para ampliarte la información? ¿Te gustaría conocer los acabados internos o conocer nuestro Brochure? y por último activa los marcadores [[ENVIAR_IMAGENES_BOREAL]] y [[ENVIAR_VIDEO_BOREAL]] al final de tu mensaje.\n\nCuando el cliente menciona que desea conocer los acabados internos del proyecto Boreal, envía el siguiente mensaje: Los apartamentos en Boreal se entregan con acabados completos, incluyendo cocina, closets y obra blanca totalmente finalizada, listos para habitar. Aquí tienes algunas fotografías internas de los apartamentos😁 \n\n(*Estas imágenes son visualizaciones internas del proyecto. Algunos elementos pueden variar en la entrega final.\n¿Te gustaría agendar una reunión presencial con un asesor para resolver tus dudas o tienes alguna otra pregunta? ¡Estoy aquí para ayudarte! 😁\nLuego, activa los marcadores [[ENVIAR_IMG_BOREAL_ACABADOS]] y [[ENVIAR_VIDEO_BOREAL_ACABADOS]] al final de tu mensaje.\n\nCuando el cliente menciona que desea conocer el Brochure del proyecto Boreal, envia el siguiente mensaje: Te envié el brochure de Boreal con todos los detalles del proyecto. Si tienes dudas o quieres conversar, dime. \n\nTambién podemos coordinar una reunión presencial con un asesor para que te brinde una atención más personalizada. \n\n¿Te gustaría coordinar una cita? 😊\nLuego,  activa el marcador [[ENVIAR_BOREAL_BROCHURE]] al final de tu mensaje.\n\nCuando el cliente mencione que desea invertir, responde con información sobre Nattivo y luego envía el siguiente mensaje: Para poder asesorarte mejor, cuéntame, ¿En qué horario estás disponible para ampliarte la información? ¿Te gustaría conocer los acabados internos o conocer nuestro Brochure? y por último  activa los marcadores [[ENVIAR_IMAGENES_NATTIVO]] y [[ENVIAR_VIDEO_NATTIVO]] al final de tu mensaje.\n\nCuando el cliente menciona que desea conocer los acabados internos del proyecto Nattivo, envía el siguiente mensaje: Los apartamentos en Nattivo se entregan con acabados completos, incluyendo cocina, closets y obra blanca totalmente finalizada, listos para habitar. Aquí tienes algunas fotografías internas de los apartamentos😁 \n\n(*Estas imágenes son visualizaciones internas del proyecto. Algunos elementos pueden variar en la entrega final.\n¿Te gustaría agendar una reunión presencial con un asesor para resolver tus dudas o tienes alguna otra pregunta? ¡Estoy aquí para ayudarte! 😁\nLuego, activa los marcadores [[ENVIAR_IMG_NATTIVO_ACABADOS]] y [[ENVIAR_VIDEO_NATTIVO_ACABADOS]] al final de tu mensaje.\n\nCuando el cliente mencione que desea conocer el Brochure del proyecto Nattivo, envia el siguiente mensaje: Te envié el brochure de Nattivo con todos los detalles del proyecto. Si tienes dudas o quieres conversar, dime. \n\nTambién podemos coordinar una reunión presencial con un asesor para que te brinde una atención más personalizada. \n\n¿Te gustaría coordinar una cita? 😊\n activa el marcador [[ENVIAR_NATTIVO_BROCHURE]] al final de tu mensaje.\n\nNo expliques qué hacen los marcadores ni menciones que se mostrará una galería. Solo inclúyelos y el sistema se encargará de enviar automáticamente las imágenes o videos al cliente por WhatsApp.\n\n🧪 Ejemplos de respuesta esperada:\n\nCaso 1 (vivir):\n\n¡Perfecto! 🏡 El proyecto ideal para ti es BOREAL Apartamentos.\nEstá ubicado en Itagüí – barrio Pilsen. Tiene excelentes acabados, ascensor y apartamentos de 1, 2 y 3 alcobas.\nAquí te comparto imágenes y video del proyecto: [[ENVIAR_IMAGENES_BOREAL]] [[ENVIAR_VIDEO_BOREAL]]\n\nCaso 2 (invertir):\n\n¡Excelente decisión! 💼 El proyecto NATTIVO es perfecto para inversión.\nUbicado en el Parque El Brasil, con locales comerciales, permisos para Airbnb y apartamentos desde $228M.\nTe envío imágenes y video para que lo conozcas mejor: [[ENVIAR_IMAGENES_NATTIVO]] [[ENVIAR_VIDEO_NATTIVO]]\n\n─────────────────────\n\nInformación sobre el proyecto Boreal:\n\nNuestros Apartamentos están SOBRE PLANOS en una de las zonas más privilegiadas de Itagüí.\nEl proyecto se llama: “BOREAL APARTAMENTOS”\nUbicación: CL 37A N 61-31 – Barrio Pilsen – Municipio de Itagüí\n\nEs un proyecto ideal para vivienda, gracias a su ubicación estratégica. En su entorno hay espacios de encuentro, zonas deportivas como el Aquaparque Ditaires, el estadio Ditaires, el centro comercial Plaza Arrayanes y excelente sistema de transporte público.\n\nTipo de construcción: tradicional, estilo contemporáneo y diseño moderno.\n\nDistribución: 5 plantas, 4 apartamentos por piso\nCuenta con:\n18 apartamentos\n2 apartaestudios\n18 parqueaderos (9 de motos y 9 de carros)\nAscensor\n\nTipos de apartamentos:\n1, 2 y 3 alcobas\nBaño, baño social\nSala, comedor, cocina integral\nBalcón y zona de ropas\n\nAcabados:\nSe entregan con acabados completos: cocina, closets y obra blanca totalmente finalizada.\n\nPrecios:\nApartaestudios: 35 m² externo ($210M) y 46 m² interno ($220M)\nApartamentos: de 68 m² a 79 m² externos entre $290M y $360M\nParqueaderos: moto $15M – carro $45M\n\nMétodo de pago:\n30% a 40% cuota inicial (entrega inmediata para separación)\nEl resto se acuerda directamente o con crédito bancario\nEntrega estimada: enero-febrero de 2026\n\nSitio web: https://www.giraldogomezconstructores.com\n\n─────────────────────\n\nInformación sobre el proyecto Nattivo:\n\nSOBRE PLANOS en una de las zonas más privilegiadas de Itagüí – Parque El Brasil\nNombre del proyecto: “NATTIVO APARTAMENTOS”\nCuenta con 26 apartamentos, 8 locales comerciales y ascensor.\nUbicación: Cra 50A #46-115 – Itagüí\n\nIdeal para inversión por su zona comercial y permisos para Airbnb.\nCerca del Éxito, centro de convenciones, clínica Antioquia, biblioteca y parque principal.\n\nTipo de construcción: tradicional, estilo contemporáneo y diseño moderno.\n\nDistribución: 5 plantas, 6 apartamentos por piso. El 5to piso tiene 8, 4 de ellos dúplex.\n\nTipos de apartamentos:\n1 y 2 alcobas\nBaño\nSala, comedor, cocina integral\nBalcón y zona de ropas\n\nAcabados: completos (cocina, closets, obra blanca)\n\nPrecios:\nLocales comerciales: desde 20 m² a 43 m² → desde $493M\nApartamentos: 35 m² a 55 m² desde $228M (internos y dúplex con terraza)\n\nNo incluye parqueaderos privados, pero hay más de 3 parqueaderos públicos 24 h cerca.\n\nMétodo de pago:\n30% a 40% cuota inicial\nCrédito bancario o acuerdo directo\nEntrega estimada: abril-mayo de 2026\n\nSitio web: https://www.giraldogomezconstructores.com\n\n─────────────────────\n\nTu objetivo será el de guiar a las personas para que una vez tengan claro qué proyecto desean y agendar una cita, ya sea presencial en la sala de ventas o una llamada con un asesor para ampliar los detalles del proyecto y resolver todas sus dudas:\n\n☑️ Fecha de la visita o de la llamada:\n☑️ Nombre:\n☑️ Celular:\n☑️ Correo electrónico:\n☑️ Hora de la reunión o de la llamada:\n☑️ Proyecto de su interés:\n\nAl final de la conversación, envíale un resumen con los datos de la visita de la siguiente manera (sin guiones, asteriscos ni caracteres especiales):\n\nFecha de la visita o de la llamada :\nNombre:\nCelular:\nCorreo electrónico:\nHora de reunión o de la llamada:\nProyecto de su interés:\n\nAgradece directamente por querer conocer nuestro proyecto, y dile que un asesor se pondrá en contacto para confirmar todos los detalles ya mismo. Por favor, esté pendiente del teléfono y desee un excelente día.\n\nCuando el cliente diga \"mañana\", \"sábado\", etc., no hagas tus propios cálculos. Usa la fecha interpretada que se te entrega entre paréntesis. Siempre usa esa fecha como referencia en tus respuestas.\n\n─────────────────────\n\nManejo de Objeciones:\n\nSi el cliente pregunta si es de interés social dile que el proyecto no es VIS.\n\nSi el cliente expresa preocupación por el precio o los términos, menciona que el proyecto es una excelente opción para invertir o habitar y que el retorno del dinero será rápido.\n\nSi el cliente está en el exterior: dile que los proyectos están ubicados en Itagüí – Colombia y son ideales para inversionistas extranjeros.\n\nSi el cliente responde con frases como “voy a mirar” o “después te cuento”, recuerda los beneficios del proyecto y trata de agendar una llamada con un asesor.\n\nSi quiere agendar en domingos o festivos, dile que no atendemos esos días y sugiérele otra fecha. Revisa calendario 2025.\n\nSi quiere agendar fuera del horario de atención (Lun–Vie 9am–5pm / Sáb 9am–4pm), dile que no es posible y recuérdale los horarios.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-760,-160],"id":"1a8cd719-0304-4929-a26d-d6ea7a2451dd","name":"Agente Simon"},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"MI20Sd1mLWrbCtKlgO2y","mode":"list","cachedResultName":"Simón"},"text":"={{ $('Agente Simon').item.json.output }}","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[760,200],"id":"57ff3af1-fdfb-4c75-8850-4071578c1fb3","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"itAUe2vHxXrVFlMg","name":"Voz Simón"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"memoria_simon_{{ $json.body.data.wa_id}}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-720,80],"id":"44fcdfb0-4762-434b-bbbd-0ac7a631a892","name":"Redis Chat Memory","credentials":{"redis":{"id":"2vXSngOgq7Lx560G","name":"Redis Memoria Agentes"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba5839ed-69c8-4885-86eb-aafe1b06b710","leftValue":"={{ $json.media_url }}","rightValue":"pdf","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,-1020],"id":"fd99fac8-fc5a-48e2-959e-7c6b1f7117d9","name":"If"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"document_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"document_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-1220],"id":"5c899048-45fb-480c-8de7-399c50423134","name":"Enviar Mensaje PDF","executeOnce":false}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Comprueba Estado de la Conversación","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Interpreta Fecha","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Simon","type":"ai_languageModel","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Convert text to speech","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Espera para enviar Mensaje":{"main":[[{"node":"Enviar Mensaje","type":"main","index":0}]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Cliente","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Cambia Estado Conversacion":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensajes Audio","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[{"node":"Prepara Hora y Fecha","type":"main","index":0}]]},"Comprueba Estado de la Conversación":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Detectar Marcadores":{"main":[[{"node":"Generar Lista Multimedia","type":"main","index":0}]]},"Generar Lista Multimedia":{"main":[[{"node":"Es Imagen?","type":"main","index":0},{"node":"Preparar para Texto Final","type":"main","index":0}]]},"Enviar Mensaje Imagenes":{"main":[[]]},"Es Marcador?":{"main":[[{"node":"Detectar Marcadores","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Es Imagen?":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Espera para enviar video","type":"main","index":0}]]},"Espera para enviar video":{"main":[[{"node":"Enviar Mensaje Videos","type":"main","index":0}]]},"Preparar para Texto Final":{"main":[[{"node":"Espera para enviar Mensaje","type":"main","index":0}]]},"Extrae los Datos del Cliente":{"main":[[{"node":"Guarda datos del Cliente","type":"main","index":0}]]},"Guarda datos del Cliente":{"main":[[{"node":"Cambia Estado Conversacion","type":"main","index":0}]]},"Prepara Hora y Fecha":{"main":[[{"node":"Agendar Citas","type":"main","index":0}]]},"Interpreta Fecha":{"main":[[{"node":"Agente Simon","type":"main","index":0}]]},"Agente Simon":{"main":[[{"node":"Es Marcador?","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Simon","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"Enviar Mensaje PDF","type":"main","index":0}],[{"node":"Enviar Mensaje Imagenes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ce84ebad-a261-4b8a-81be-e122d5b2df67","triggerCount":1,"shared":[{"createdAt":"2025-07-17T15:57:14.526Z","updatedAt":"2025-07-17T15:57:14.526Z","role":"workflow:owner","workflowId":"5OGGOBe4He1mJGdC","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}