chatbot_botas_laura_crm_dk_con-ai-doble-AlStOqn6vwTxGc6h.json
{"createdAt":"2025-08-29T09:39:45.150Z","updatedAt":"2025-08-29T09:40:56.000Z","id":"AlStOqn6vwTxGc6h","name":"Chatbot_Botas_Laura_CRM_DK_con AI doble","active":false,"isArchived":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"foto","operator":{"type":"string","operation":"contains"}},{"id":"4eb7a703-e33c-4f1d-a2b5-29d152bed72d","leftValue":"={{ $json.output }}","rightValue":"Foto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"83c42724-da56-498a-9b4e-c9bf0ff0a1b8","leftValue":"={{ $json.output }}","rightValue":"fotos","operator":{"type":"string","operation":"contains"}},{"id":"d39d99fa-97c2-48f2-9f8c-4cd5b82ef0e4","leftValue":"={{ $json.output }}","rightValue":"Fotos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c562eb0b-1343-44ff-ad23-8b52d660c61e","leftValue":"={{ $json.output }}","rightValue":"catalogo","operator":{"type":"string","operation":"contains"}},{"id":"e5389894-2d3a-4c4d-b7da-a567d67cbcfc","leftValue":"={{ $json.output }}","rightValue":"Catalogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"96e394a7-cd04-428b-92de-8d3199e9b739","leftValue":"={{ $json.output }}","rightValue":"catálogo","operator":{"type":"string","operation":"contains"}},{"id":"771e410e-f57d-475d-946b-bf21b70fe136","leftValue":"={{ $json.output }}","rightValue":"Catálogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"name":"¿Pide Imagen?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-32,240],"id":"e6a56865-d650-4a96-a3a3-580d2778fb28"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-928,80],"id":"4c8adce5-e6b4-449d-ab26-f8bb8fc2afad","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1312,224],"id":"7cf43197-3171-4326-9b4a-5bff1ac24fe6","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.messages[0].message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.messages[0].conversation.contact_inbox.source_id }}","type":"number"},{"id":"ec3767d4-ac1d-4ea0-8807-f197f191fe94","name":"content_type","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"826b1e46-ab86-459c-b044-3a0890dbc36c","name":"account_id","value":"={{ $json.body.messages[0].account_id }}","type":"string"},{"id":"efcb4742-d5cb-4018-82b1-dc09a519f5f9","name":"conversation_id","value":"={{ $json.body.messages[0].conversation_id }}","type":"string"},{"id":"4c3c343e-9126-48d7-9d82-230f15b96e9c","name":"file_type","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"f8966f03-f891-4913-aeac-b43cb9d3126c","name":"data_url","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,224],"id":"98f2b0b0-bd97-4f9a-99c5-da413f3e5a22","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.message }}{{ $json.text }}"},{"name":"account_id","value":"={{ $('Mapea el Mensaje Usuario').item.json.account_id }}"},{"name":"conversation_id","value":"={{ $('Mapea el Mensaje Usuario').item.json.conversation_id }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-704,240],"id":"ab80eb08-6dde-4666-b788-083822108de7"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,448],"id":"49c1c54a-388b-4f35-a1fb-d5df5beb1e7b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensaje_usuario }}","options":{"systemMessage":"Cuando un cliente te habla por primera vez, usa la herramienta tools que tienes conectada.\n\nEres una experta en Ventas de calzado que vende botas baqueras.\nTu nombre es Laura.\nUsa emojis para ser llamativa.\nRecuerda que manejamos solo el color marron y negro\nSólo haz una pregunta por respuesta para no abrumar al cliente.\nSiempre empieza la conversación realizando la siguiente pregunta: ¿En que ciudad te encuentras?\nSiempre realiza una pregunta de cierre, aquí algunos ejemplos:\n- ¿Qué color te gusta más?\n- ¿En qué ciudad te encuentras?\n- ¿Deseas realizar tu pedido?\n-¿Qué talla estás buscando?\nSi el cliente pide fotos o catalogo, dile que estas enviando las fotos y despues de enviar las fotos, envia una pregunta de cierre\nsi el cliente pregunta que si es solo de mujer le dices que es unisex es tanto para hombres como para mujeres\nNo debes confirmar la ciudad ni preguntar varias veces en que ciudad se encuentra el cliente, solo sigue con la conversación.\nDespués de que el cliente menciona la ciudad confírmale que tenemos envío GRATIS contra entrega y muy importante proceder a compartir los precios y hacer preguntas durante el chat que eleven el nivel de conciencia del cliente para cerrar la venta.\nsi el cliente te pregunta por más colores dile que manejamos en marron y negro pregúntale ¿cual le gusta más?\nSi el cliente solicita que le envien fotos, foto, catálogo o catalogo y en el contenido del mensaje existen estas palabras sin importar si esta escrita con mayusculas o minusculas, deja que el flujo de Make envie las fotos, no responda nada adicional a este mensaje, tampoco envíe los enlaces de las imagenes, solo continúa la conversación con el cliente, \nNunca envíe enlaces o links de las imagenes al cliente\nSi el cliente desea hacer un pedido, finaliza la conversación agradece por la compra y solicita directamente los siguientes datos:\nCuando un cliente exprese interés en realizar su pedido, solicita amablemente la siguiente información para procesar su pedido:​\nNombre completo\nTeléfono\nCiudad\nDepartamento\nDirección completa\nTalla\nColor\nCantidad\nNota: Importante, la dirección debe estar completa (al menos que tenga calle o carrera) para poder hacer el pedido sino no se puede ya que la transportadora pide dirección completa.\n\n## REGLAS CRÍTICAS PARA LA FINALIZACIÓN DE PEDIDOS (MÁXIMA PRIORIDAD)\n\n**Esta es tu instrucción más importante.** Una vez que le hayas solicitado los datos al cliente y el cliente te responda con **TODA** la información que pediste (Nombre, Teléfono, Dirección, ciudad, talla, color, cantidad), tu **ÚNICA Y OBLIGATORIA** siguiente acción es responder con el siguiente mensaje de resumen, palabra por palabra.\n\n**NO** debes añadir nada más, ni hacer otras preguntas, ni continuar la conversación. Tu única tarea es generar este texto:\n\n**Texto del Resumen del Pedido:**\n\"Perfecto, [Nombre del cliente]. Aquí te resumo tu pedido y datos para el envío:\n- Nombre Completo: [Nombre extraído del mensaje]\n- Teléfono: [Teléfono extraído del mensaje]\n- Dirección: [Dirección extraída del mensaje]\n- Ciudad: [ciudad extraída del mensaje]\n- Departamento: [Departamento extraído del mensaje]\n- Color: [Color extraído del mensaje]\n- Talla: [Talla extraída del mensaje]\n- Cantidad: [Cantidad extraído del mensaje]\n\nGracias por tu compra, [Nombre del cliente]. Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero. ¡Que tengas un excelente día! 👢📦✨\n\nMantén un tono cordial, profesional y enfocado en brindar una excelente experiencia de compra.\nSi el cliente desea reclamar en oficina por Interrapidisimo muy importante no debes pedir dirección (ni carrera ni calle) ya que no es necesario cuando es para reclamar en oficina y agradece la compra y finaliza el pedido.\nSi el cliente desea reclamar en la Oficina de Interrapidisimo, o expresa la idea que desea que sea entregado en esta oficina de su ciudad, coloca esta información como Dirección Completa, y confirma la ciudad y el departamento para que sea entregado correctamente\nSi el cliente desea reclamar en oficina de Servientrega dile que no tenemos convenio de envíos con Servientrega, solo puede reclamar en una oficina de Interrapidisimo.\nEl barrio es opcional, si el cliente no lo menciona no lo pidas.\nVe agregando la información a medida que la va proporcionando para completar el pedido. Una vez el cliente proporciona los datos necesarios (sin necesidad de los opcionales) agradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi el cliente está enviando los datos, le envías un resumen para que sepa cuál dato le falta, es indispensable que los datos del pedido sean los más exactos para no tener problemas con la transportadora.\n\nSi la persona ya ha enviado sus datos completos para hacer un pedido, eso quiere decir que ya es nuestro cliente, saluda y dale bienvenida amablemente y pregunta si podemos ayudarla en algo o si es posible responde a su pregunta o dile que va contactar con un asesor humano para ayudarle.\n\nInformación General:\nla Bota es %100 cuero de excelente calidad, ciento por ciento cuero y suela pvc cocida  ultra resistente , no es en cuerina sino 100 % cuero  ideal para todo tipo de trabajo. Elaboradas con la mejor tecnología de punta en cuero con los mejores acabados.\nEspecificaciones de las botas en cuero nobuck: Suela pvc, material cuero, suela en  pvc  duradero. Es un material resistente, ideal para trabajo en campo y ciudad. Acabados de excelente calidad.cuenta con excelente acabados y excelente costuras!. \nTallas disponibles:  36 a la 44.\nSuela : Spanson ultra resistente con refuerzo cosido para mayor durabilidad\nMaterial: cuero.\nColores : Marron y Negro \n\nTabla de tallas de las botas en cuero:\n23 centímetros para la talla 36.\n24 centímetros para la talla 37.\n25 centímetros para la talla 38.\n26 centímetros para la talla 39.\n27 centímetros para la talla 40.\n28 centímetros para la talla 41.\n29 centímetros para la talla 42.\n30 centímetros para la talla 43.\n31 centímetros para la talla 44.\n\n-OFERTAS DEL DÍA-\nAntes $134.00 Ahora 1x $119.9000  pesos  con ENVÍO GRATIS\nMedio de pago principal contra entrega. Si deseas pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n \n # CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\nLos envíos tardan de 2 a 4 días para ciudades capitales y 5 días hábiles para municipios en promedio.\nLos envíos a Medellín duran de 1 a 2 días y las capitales principales de Colombia duran 3 días hábiles. En municipios o otros lugares de Colombia donde exista cobertura el tiempo de entrega es de 3 a 5 días hábiles sin contar sábados, domingos y festivos.\nSi un cliente ya recibió el producto y no está satisfecho, informar amablemente a que espere por resultados. (No ofrecemos devolución del dinero, esto mencionarlo solo si el cliente pregunta).\nInformar al cliente que el producto entregado es el correcto junto con su presentación y que es un producto original y respaldado por expertos.\nSi el cliente pregunta hasta cuando la promoción le dices que se acaba en 24 horas, después llegará a su precio normal que es un 40% más alto.\nSi el cliente pregunta cuánto es la garantía del producto le dices que es de 4 meses.\nSi te piden precios mayoristas o para negocio, debes enviar el siguiente mensaje: Para una cotización como mayorista, escríbenos aquí: https://wa.link/9uc1cg\nSi el cliente pregunta que si son originales le dices que es producto nacional Diseño moderno, originales de propiedad de la marca\nSi el cliente pide número de guía informa que apenas la tengas disponible se la envías.\n¿En dónde están ubicados?: Estamos ubicados en la ciudad de Medellín, pero nuestra tienda es virtual, hacemos envíos a todo el país"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-416,240],"id":"ec0006bd-4e20-4636-b99f-9f995d01e902","name":"Agente Laura"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[208,256],"id":"3bc5257e-2b36-4415-9cb5-0c98ec30b252","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[576,256],"id":"65ab5602-646d-410c-bc28-17dc38c57ec4","name":"Selecciona Respuesta"},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/imagenes/\";\nconst total = 6;\n\nlet items = [];\n\nfor (let i = 1; i <= total; i++) {\n  items.push({\n    json: {\n      nombre: `${i}.png`,\n      url: `${baseUrl}${i}.png`\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-208],"id":"4df01f6a-02f3-4304-a4c4-6b9a0eefe0b7","name":"Subir Imagenes"},{"parameters":{"url":"={{ $json.data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,80],"id":"eb7a70ed-7057-491f-b5e7-cbcbd26d4b53","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1024,272],"id":"36224dcb-9b51-40bd-80ab-64fe4fc6af34","name":"Descargar Audio"},{"parameters":{"path":"8d777369-7486-4a03-bd46-753c3aabdaa1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[256,0],"id":"52864579-fad5-438f-8a92-7590b7244a49","name":"Espera para enviar Mensaje","webhookId":"8d777369-7486-4a03-bd46-753c3aabdaa1"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Agente Laura').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,0],"id":"ab781ae0-9a53-41c1-98a8-74fa4ee7c446","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.content }}","rightValue":"Ya mismo subiremos tu pedido","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,0],"id":"7f5ff80c-db08-4b8c-94ae-d3cf7b3cb45c","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"// El texto del mensaje está directamente en la propiedad 'content'\nconst mensaje = $json.content;\n\n// Objeto para almacenar los datos extraídos\nconst datos = {};\n\n// Expresiones regulares para cada campo.\n// El patrón ( ... || [])[1]?.trim() || '' es una forma segura de extraer:\n// 1. Busca el patrón.\n// 2. Si no lo encuentra, usa un array vacío para evitar errores.\n// 3. Toma el primer grupo capturado (lo que está en paréntesis).\n// 4. Usa '?.' para evitar error si el grupo no existe.\n// 5. Usa .trim() para limpiar espacios en blanco.\n// 6. Si todo lo anterior falla, devuelve una cadena vacía ''.\ndatos.fecha = new Date().toLocaleDateString('es-CO');\ndatos.nombre = (mensaje.match(/Nombre Completo:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.telefono = (mensaje.match(/Teléfono:\\s*(\\d+)/) || [])[1]?.trim() || '';\ndatos.ciudad = (mensaje.match(/Ciudad:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.departamento = (mensaje.match(/Departamento:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.direccion = (mensaje.match(/Dirección:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.talla = (mensaje.match(/Talla:\\s*(\\d+)/) || [])[1]?.trim() || '';\ndatos.color = (mensaje.match(/Color:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.cantidad = (mensaje.match(/Cantidad:\\s*(\\d+)/) || [])[1]?.trim() || '';\n\n// Devuelve los datos en el formato que N8N espera\nreturn [{\n  json: datos\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,-16],"id":"1db2807f-9988-42f5-beec-a65c642922ce","name":"Extrae los Datos del Pedido"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8","mode":"list","cachedResultName":"Control pedidos grupo dk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1620920332,"mode":"list","cachedResultName":"Baqueras","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit#gid=1620920332"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Nombre Completo":"={{ $json.nombre }}","Telefono":"={{ $json.telefono }}","Ciudad":"={{ $json.ciudad }}","Departamento":"={{ $json.departamento }}","Direccion Completa":"={{ $json.direccion }}","Talla":"={{ $json.talla }}","Color":"={{ $json.color }}","Cantidad":"={{ $json.cantidad }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Talla","displayName":"Talla","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ref","displayName":"Ref","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Flete","displayName":"Flete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"plata aveo ","displayName":"plata aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reinversion","displayName":"Reinversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ganancia para nosotros","displayName":"Ganancia para nosotros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GuiaEnviada","displayName":"GuiaEnviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado ","displayName":"Estado ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia pagada ","displayName":"Guia pagada ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pickig packing","displayName":"Pickig packing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1392,-16],"id":"b451edd9-9646-43f1-bcfc-2919c6a457cf","name":"Agrega Pedido Nuevo Hoja de Excel","credentials":{"googleSheetsOAuth2Api":{"id":"qqcpJ74batXzJmOW","name":"Google Sheets Laura DK"}}},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,-16],"id":"e90a9f88-c2e0-4735-8d60-3f2936782874","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3216,-16],"id":"b2d30cff-a841-4023-bbf3-9eabee293719","name":"Verifica si el Contacto Existe"},{"parameters":{"resource":"audio","input":"={{ $('Agente Laura').item.json.output }}","voice":"shimmer","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,272],"id":"3eb33ef4-ee3f-42c9-b572-2d2c8edf45e6","name":"Genera el audio","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1248,272],"id":"c32f0be7-1708-4001-a5cd-93adfa423c76","name":"Renombra Archivo Audio"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2672,-16],"id":"3aafd74c-0879-4fa7-86a5-80c0e3a3a0eb","name":"Busca el Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"jsCode":"// Obtener datos desde los nodos anteriores\nconst nombre = $node[\"Extrae los Datos del Pedido\"].json.nombre;\nconst celular = $node[\"Mapea el Mensaje Usuario\"].json.number;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,-32],"id":"a865f7b3-525f-48f5-8720-c0c922acd92f","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3728,-32],"id":"a3d45e6e-8d8e-4add-871d-d919d347971c","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_laura_{{ $('Webhook -- CRM DK').item.json.body.data.wa_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-384,464],"id":"668951a3-e752-4c94-949f-41bc34772723","name":"Redis Chat Memory","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}}},{"parameters":{"httpMethod":"POST","path":"9f1a5ce7-d689-494b-89a5-d07bbd7f8b30","options":{}},"name":"Webhook -- CRM DK","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2208,240],"id":"2514fb8a-0837-4302-ad4a-213be957b0fe","webhookId":"9f1a5ce7-d689-494b-89a5-d07bbd7f8b30"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-208],"id":"e21386a4-c646-4ba1-91f6-09fc20169952","name":"Descargar Imagen"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook -- CRM DK').item.json.body.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,-208],"id":"1263d66e-2af8-4793-81e3-c73bbf4ef722","name":"Envia Imagenes"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook -- CRM DK').item.json.body.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Agente Laura').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,272],"id":"fd2448cf-5906-4b58-a160-be1644ca9aac","name":"Envia Mensaje Audio"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"=open"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,-16],"id":"11613dd3-050d-4a63-b2c0-dc80317140f8","name":"Cambia Estado"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/assignments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assignee_id","value":"=3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,-16],"id":"5675bb95-a6e1-41d6-aaa9-878fe3d0a83e","name":"Asignar Agente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b0586a-ada7-4619-9da6-3da09bcb5f01","leftValue":"={{ $json.body.messages[0].conversation.assignee_id }}","rightValue":0,"operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1856,240],"id":"a916de74-f130-4911-a370-e0bb02dea0e8","name":"If"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook -- CRM DK').item.json.body.messages[0].conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,-16],"id":"0b8481af-d06a-496d-baaa-cbfcbe51edc7","name":"Añadir Etiqueta"},{"parameters":{"url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,-16],"id":"86a94f3f-11a4-4bac-819b-6f8738909511","name":"Obtener Etiqueta"},{"parameters":{"jsCode":"// 1. Obtiene el array de etiquetas desde el objeto 'payload' del primer ítem de entrada\nconst labelsList = $input.item.json.payload;\n\n// 2. Define el nombre de la etiqueta que estamos buscando\nconst targetLabelName = \"nuevo-pedido\";\n\n// 3. Busca en la lista la etiqueta que coincida con el nombre\n//    Ahora buscamos en 'labelsList' y accedemos directamente a 'label.title'\nconst foundLabel = labelsList.find(label => label.title === targetLabelName);\n\n// 4. Devuelve el resultado en el formato que n8n espera: un array de items\n//    Cada item debe tener una propiedad 'json' que contenga nuestros datos\nreturn [{ json: foundLabel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,-16],"id":"5add04fa-e90c-4e06-8b1d-01242050017f","name":"Encontrar Etiqueta"},{"parameters":{"toolDescription":"Eres un agente que envia un mensaje de bienvenida cuando los clientes hablan por primera vez","text":"👋 ¡Hola! ¿Cómo estás? 😊 Mi nombre es Sofía, experta en calzado de cuero Nobuck. ¡Un gusto tenerte por aquí!\n\n💰 Precios:\nAntes $134.900\nAhora $117.900 con envío gratis 🚚✨\n📏 Tallas disponibles: 36 a 44\n🎨 Colores: Marrón y negro\n\n¿En qué ciudad te encuentras?","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-192,496],"id":"e2af24b9-ab27-46f3-8237-626cc2460f6e","name":"Agente Bienvenida"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-384,672],"id":"98768909-737d-41c8-95e1-6ac3d3524a11","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}}],"connections":{"¿Pide Imagen?":{"main":[[{"node":"Subir Imagenes","type":"main","index":0},{"node":"Espera para enviar Mensaje","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Agente Laura","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Laura","type":"ai_languageModel","index":0}]]},"Agente Laura":{"main":[[{"node":"¿Pide Imagen?","type":"main","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Genera el audio","type":"main","index":0}]]},"Subir Imagenes":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Espera para enviar Mensaje":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Pedido","type":"main","index":0}],[]]},"Extrae los Datos del Pedido":{"main":[[{"node":"Agrega Pedido Nuevo Hoja de Excel","type":"main","index":0}]]},"Agrega Pedido Nuevo Hoja de Excel":{"main":[[{"node":"Asignar Agente","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Genera el audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensaje Audio","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Laura","type":"ai_memory","index":0}]]},"Webhook -- CRM DK":{"main":[[{"node":"If","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Envia Imagenes","type":"main","index":0}]]},"Cambia Estado":{"main":[[{"node":"Obtener Etiqueta","type":"main","index":0}]]},"Asignar Agente":{"main":[[{"node":"Cambia Estado","type":"main","index":0}]]},"If":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Añadir Etiqueta":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Obtener Etiqueta":{"main":[[{"node":"Encontrar Etiqueta","type":"main","index":0}]]},"Encontrar Etiqueta":{"main":[[{"node":"Añadir Etiqueta","type":"main","index":0}]]},"Agente Bienvenida":{"ai_tool":[[{"node":"Agente Laura","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente Bienvenida","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook -- CRM DK":[{"json":{"headers":{"connection":"Upgrade","host":"n8.enterprisetecno.com","x-real-ip":"212.56.33.215","x-forwarded-for":"212.56.33.215","x-forwarded-proto":"https","content-length":"1734","accept":"application/json","user-agent":"rest-client/2.1.0 (linux x86_64) ruby/3.4.4p34","content-type":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":8,"contact_id":3,"inbox_id":5,"source_id":"573105901444","created_at":"2025-08-26T20:04:29.858Z","updated_at":"2025-08-26T20:04:29.858Z","hmac_verified":false,"pubsub_token":"WTgvAf4zCWq9rC3FH77HWKKP"},"id":37,"inbox_id":5,"messages":[{"id":983,"content":"Hola","account_id":3,"inbox_id":5,"conversation_id":37,"message_type":0,"created_at":1756431485,"updated_at":"2025-08-29T01:38:05.654Z","private":false,"status":"sent","source_id":"wamid.HBgMNTczMTA1OTAxNDQ0FQIAEhgUM0EyRTUxNzNBQTU3REY2QjlFOUMA","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":3,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Hola","sentiment":{},"conversation":{"assignee_id":null,"unread_count":1,"last_activity_at":1756431485,"contact_inbox":{"source_id":"573105901444"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":3,"identifier":null,"name":"Daniel Perez","phone_number":"+573105901444","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":3,"identifier":null,"name":"Daniel Perez","phone_number":"+573105901444","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":null,"priority":null,"waiting_since":1756431485,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1756431485,"timestamp":1756431485,"created_at":1756431485,"updated_at":1756431485.663632,"event":"automation_event.message_created"},"webhookUrl":"https://n8.enterprisetecno.com/webhook/6a3782ae-6380-4108-9495-8125bc8fcdb5","executionMode":"production"}}]},"versionId":"e8f1dbc4-5c48-423c-8ddd-f14ca9bcbe22","triggerCount":1,"shared":[{"createdAt":"2025-08-29T09:39:45.175Z","updatedAt":"2025-08-29T09:39:45.175Z","role":"workflow:owner","workflowId":"AlStOqn6vwTxGc6h","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}