chatbot_botas_drive_custom-2q7sYmaEfg3WKmJd.json
{"createdAt":"2025-07-06T07:48:08.753Z","updatedAt":"2025-07-07T13:11:12.000Z","id":"2q7sYmaEfg3WKmJd","name":"chatbot_botas_drive_custom","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ia_webhook","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2100,220],"id":"5fd6a2d4-6700-483c-8d6d-567090075224","webhookId":"c84dc658-9d12-43b5-b703-494dd6b21f49"},{"parameters":{"values":{"string":[{"name":"from","value":"={{ $json.body.from || '' }}"},{"name":"mensaje_usuario","value":"={{ $json.body.text || $json.body.body || '' }}"}]},"options":{}},"name":"Mapeo del Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-680,240],"id":"e47b00ab-6eb9-4308-8b5c-68642bd9fe67"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"","rightValue":"foto","operator":{"type":"string","operation":"contains"}},{"id":"83c42724-da56-498a-9b4e-c9bf0ff0a1b8","leftValue":"","rightValue":"fotos","operator":{"type":"string","operation":"contains"}},{"id":"c562eb0b-1343-44ff-ad23-8b52d660c61e","leftValue":"","rightValue":"catalogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"96e394a7-cd04-428b-92de-8d3199e9b739","leftValue":"","rightValue":"catálogo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"name":"¿Pide Imagen?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-380,240],"id":"aefd9fd7-8dec-45a9-9776-181be2929b77"},{"parameters":{"authentication":"oAuth2","operation":"list","options":{}},"name":"Buscar Imagenes Drive","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[0,0],"id":"20ee600e-0108-44aa-9198-da5aec8cd8bc","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}},{"parameters":{"functionCode":"\nconst imgs = items;\nif(imgs.length === 0){\n  return [{json:{error:'No image found'}}];\n}\n// simple pick first\nreturn [imgs[0]];\n"},"name":"Selecciona Imagen","type":"n8n-nodes-base.function","typeVersion":1,"position":[220,0],"id":"d8d3c77a-c097-46d0-a58b-e89e6e9836ae"},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":"={{ $json[\"id\"] }}","options":{}},"name":"Descargar Imagen","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[460,0],"id":"395a1893-d91e-4322-b566-aadc1e91074a","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}},{"parameters":{"requestMethod":"POST","url":"https://api.wasapi.io/send-media","jsonParameters":true,"options":{},"bodyParametersJson":"\n{\n    \"to\":\"={{$json[\"from\"]}}\",\n    \"type\":\"image\",\n    \"image\":{\n        \"mime_type\":\"={{$binary.data.mimeType}}\",\n        \"data\":\"={{$binary.data.data}}\",\n        \"filename\":\"={{$json.name}}\"\n    }\n}\n"},"name":"Envia Imagen Wasapi","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[660,0],"id":"f198aa6d-f6a3-442a-a8ae-00ed6fcaf332"},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":"1CNSgBujyv8xKSUk65cn1LPcMYZM5tPc7","options":{}},"name":"Descargar PDF Info","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[0,260],"id":"211943bd-b5e8-4ec3-a674-65b2b4bfa233","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}},{"parameters":{},"name":"Extraer texto PDF","type":"n8n-nodes-base.file","typeVersion":1,"position":[280,260],"id":"5a33a2a7-cb7d-4c2f-a4a2-de74ea37a895"},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":"1oe0IR4WxXraFe0cwvHmGjhe82xM-6BmF","options":{}},"name":"Descargar Excel","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[20,500],"id":"e1d94c91-e8b6-4a0e-a9fd-841c9d5dc0e1","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}},{"parameters":{"operation":"toJson"},"name":"Excel a JSON","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[260,500],"id":"2e0e6e6f-111d-4b5e-803b-15238dfab561"},{"parameters":{"functionCode":"\nconst pdfText = $items(\"Extraer texto PDF\")[0].json.text;\nconst excelJson = $items(\"Excel a JSON\")[0].json;\nconst ctx = `PDF:\\n${pdfText}\\nExcel:\\n${JSON.stringify(excelJson)}`;\nreturn [{ json: { contexto: ctx, pregunta: $items(\"Mapeo del Mensaje\")[0].json.mensaje_usuario, from: $items(\"Mapeo del Mensaje\")[0].json.from } }];\n"},"name":"Combinar Contexto","type":"n8n-nodes-base.function","typeVersion":1,"position":[520,500],"id":"829e4881-a282-4eed-9df1-4e6982c1e441"},{"parameters":{},"name":"Genera Respuesta IA","type":"n8n-nodes-base.openaiChat","typeVersion":1,"position":[780,240],"id":"d5fbda50-6715-48b3-b6b0-972310412cc8"},{"parameters":{"requestMethod":"POST","url":"https://api.wasapi.io/send-message","jsonParameters":true,"options":{},"bodyParametersJson":"\n{\n    \"to\":\"={{$json.from}}\",\n    \"type\":\"text\",\n    \"text\":{\"body\":\"={{$json.choices[0].message.content}}\"}\n}\n"},"name":"Envia Texto Wasapi","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1040,240],"id":"f8d6a84c-20b6-4ff3-8db1-e9833d7821d5"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,220],"id":"a778909a-c703-4b4f-a2f5-6c5a9f910b13","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"texto","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1580,220],"id":"03b6f103-1c28-4b7e-9a92-d99425350345","name":"Switch"},{"parameters":{"url":"={{ $json.body.message.audioMessage.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1340,0],"id":"254d04fb-5167-46a3-b1a4-cafa8e2a4b2f","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1120,0],"id":"b4ead50e-dc31-4081-b930-a995bc5bdaab","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-900,0],"id":"812ec8eb-f2e7-4fe5-8938-4246761c1cfe","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Mapeo del Mensaje":{"main":[[{"node":"¿Pide Imagen?","type":"main","index":0}]]},"¿Pide Imagen?":{"main":[[{"node":"Buscar Imagenes Drive","type":"main","index":0}],[{"node":"Descargar PDF Info","type":"main","index":0},{"node":"Descargar Excel","type":"main","index":0}]]},"Buscar Imagenes Drive":{"main":[[{"node":"Selecciona Imagen","type":"main","index":0}]]},"Selecciona Imagen":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Envia Imagen Wasapi","type":"main","index":0}]]},"Descargar Excel":{"main":[[{"node":"Excel a JSON","type":"main","index":0}]]},"Excel a JSON":{"main":[[{"node":"Combinar Contexto","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Mapeo del Mensaje","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Mapeo del Mensaje","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fcb04ff8-8e1a-4880-a354-33df58865196","triggerCount":0,"shared":[{"createdAt":"2025-07-06T07:48:08.757Z","updatedAt":"2025-07-06T07:48:08.757Z","role":"workflow:owner","workflowId":"2q7sYmaEfg3WKmJd","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}