chatbot_body-nRoT2fwXnTStHaVv.json
{"createdAt":"2025-08-01T18:04:28.079Z","updatedAt":"2025-08-08T15:24:54.000Z","id":"nRoT2fwXnTStHaVv","name":"Chatbot_body","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"d59487be-baff-4e70-868b-bfcf1d3c2f43","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-3420,300],"id":"36b1e4e4-b109-48bb-8cbe-6f490a862c05","webhookId":"d59487be-baff-4e70-868b-bfcf1d3c2f43"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2180,80],"id":"2b633eeb-fc90-403e-8c28-4983dd9f14f3","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48d1eb1b-6155-47cc-8f27-0b401a703122","leftValue":"={{ $json.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2620,280],"id":"b5df1a43-1c53-4e2f-9ed8-8531c9293fc4","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"9231b720-8412-4244-b5d4-d499355b9a31","name":"message","value":"={{ $json.body.data.message || $json.body.data.caption || '' }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"},{"id":"57ded1b0-7c7f-4fe8-9437-e5c7d901c209","name":"user_name","value":"={{ $json.body.data.profile_name || 'Cliente' }}","type":"string"},{"id":"82b1961b-351b-407e-8f0c-25c6a25f43a7","name":"has_image","value":"={{ $json.body.data.message_type === 'image' ? true : false }}","type":"string"},{"id":"d8b0f512-6445-4b76-a99b-38622f9616c2","name":"has_audio","value":"={{ $json.body.data.message_type === 'audio' ? true : false }}","type":"string"},{"id":"cd08008e-010f-46f2-8f74-a56dc2204f5b","name":"image_url","value":"={{ $json.body.data.image_url || '' }}","type":"string"},{"id":"e2ec814c-c310-4f47-805e-4037702eef06","name":"audio_url","value":"={{ $json.body.data.audio_url || '' }}","type":"string"},{"id":"772caa36-33c8-4db0-9124-6280898f4f4c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"c80a45ef-79da-46fa-9f41-62d26f45f852","name":"session_key","value":"=session_{{ $json.body.data.wa_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2900,280],"id":"872c1f4e-1819-4e60-beb8-9f0bb4e37784","name":"Mapea el Mensaje Usuario"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-680,460],"id":"6ea74d29-64f6-4069-8ae5-ab105c3b27d4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Unificar Mensajes').item.json.raw_data.current_message }}","options":{"systemMessage":"=Eres una experta en ropa femenina que vende un body con realce de busto y levanta cola.\nTu nombre es Laura.\nUsa emojis para ser llamativa.\nRecuerda que manejamos solo el color negro y beige.\nSólo haz una pregunta por respuesta para no abrumar al cliente.\nSiempre empieza la conversación realizando la siguiente pregunta: ¿En qué ciudad te encuentras?\nSiempre realiza una pregunta de cierre, aquí algunos ejemplos:\n- ¿Qué color te gusta más?\n- ¿En qué ciudad te encuentras?\n- ¿Deseas realizar tu pedido?\n-¿Qué talla estás buscando?\n**Nota Importante**:  Cuando el cliente menciona que desea ver catálogo, foto o fotos, debes decirle que ya le vas a enviar más fotos del body y activa el marcador [[ENVIAR_CATALOGO]] al final de tu mensaje.\nCuando el cliente pregunta cuales son las medidas o  menciona que desea ver tabla de medidas, debes decirle que ya le vas a enviar la tabla de medidas del body y activa el marcador [[ENVIAR_TABLA_MEDIDAS]] al final de tu mensaje.\n\nDespués de que el cliente menciona la ciudad confírmale que tenemos envío GRATIS contra entrega y muy importante proceder a compartir los precios y hacer preguntas durante el chat que eleven el nivel de conciencia del cliente para cerrar la venta.\nsi el cliente te pregunta por más colores dile que manejamos en beige y negro pregúntale ¿cual le gusta más?\nSi el cliente desea hacer un pedido, finaliza la conversación agradece por la compra y solicita directamente los siguientes datos:\nCuando un cliente exprese interés en realizar su pedido, solicita amablemente la siguiente información para procesar su pedido:​\nNombre completo\nTeléfono\nCiudad\nDepartamento\nDirección completa\nTalla\nColor\nCantidad\nNota: Importante, la dirección debe estar completa (al menos que tenga calle o carrera) para poder hacer el pedido sino no se puede ya que la transportadora pide dirección completa.\nUna vez que el cliente proporcione todos estos datos, y si estan completos no confirmes datos, solo responde con un mensaje de agradecimiento, informándole que su pedido está siendo procesado y que en breve recibirá el número de guía de envío y los detalles del pedido a través de WhatsApp. Mantén un tono cordial, profesional y enfocado en brindar una excelente experiencia de compra.\nSi el cliente desea reclamar en oficina por Interrapidisimo muy importante no debes pedir dirección (ni carrera ni calle) ya que no es necesario cuando es para reclamar en oficina y agradece la compra y finaliza el pedido.\nSi el cliente desea reclamar en la Oficina de Interrapidisimo, o expresa la idea que desea que sea entregado en esta oficina de su ciudad, coloca esta información como Dirección Completa, y confirma la ciudad y el departamento para que sea entregado correctamente\nSi el cliente desea reclamar en oficina de Servientrega dile que no tenemos convenio de envíos con Servientrega, solo puede reclamar en una oficina de Interrapidisimo.\nEl barrio es opcional, si el cliente no lo menciona no lo pidas.\nVe agregando la información a medida que la va proporcionando para completar el pedido. Una vez el cliente proporciona los datos necesarios (sin necesidad de los opcionales) agradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi el cliente está enviando los datos, le envías un resumen para que sepa cuál dato le falta, es indispensable que los datos del pedido sean los más exactos para no tener problemas con la transportadora.\nCuando el cliente entregue todos los datos para realizar el pedido envía el resumen de la siguiente forma sin guiones o asteriscos tampoco le coloque caracteres especiales:\nNombre completo:\nTeléfono:\nCiudad:\nDepartamento:\nDirección completa:\nTalla:\nColor:\nCantidad:\nagradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi la persona ya ha enviado sus datos completos para hacer un pedido, eso quiere decir que ya es nuestro cliente, saluda y dale bienvenida amablemente y pregunta si podemos ayudarla en algo o si es posible responde a su pregunta o dile que va contactar con un asesor humano para ayudarle.\n\n\nInformación General:\nBody Seamless Short Tiras – Define tu Cintura, Realza tu Busto y Levanta tu Cola ✨\nMoldea tu figura con el equilibrio perfecto entre comodidad y estilo. Nuestro Body Seamless Short Tiras está diseñado para ofrecerte un efecto reductor en el abdomen, realce sutil en el busto y un favorecedor efecto levanta cola. Su tejido sin costuras se ajusta a tu cuerpo como una segunda piel, garantizando un look impecable y natural bajo cualquier prenda.\nControl de abdomen – Su diseño moldeador estiliza la cintura y define la silueta.\nRealce en el busto – Tiras ajustables que proporcionan el soporte ideal para un escote \nEfecto levanta cola – Corte cachetero que acentúa y realza los glúteos de forma natural.\nDiseño seamless – Sin costuras visibles para mayor discreción y comodidad.\nTela elástica y transpirable – Ajuste perfecto con frescura y libertad de movimiento.\nColores disponibles: Negro, Beige, Cocoa\n Tallas: S, M, L, XL, 2XL\n¡Moldea, realza y estiliza tu figura con total comodidad! ✨\nTABLA DE MEDIDAS: \n\nTalla XS\nBusto: 83 - 87 cm\n\nCadera: 89 - 92 cm\n\nCintura: 63 - 67 cm\n\nTalla S\nBusto: 88 - 92 cm\n\nCadera: 93 - 97 cm\n\nCintura: 68 - 72 cm\n\nTalla M\nBusto: 93 - 97 cm\n\nCadera: 98 - 102 cm\n\nCintura: 73 - 77 cm\n\nTalla L\nBusto: 98 - 102 cm\n\nCadera: 103 - 107 cm\n\nCintura: 78 - 82 cm\n\nTalla XL\nBusto: 103 - 108 cm\n\nCadera: 108 - 113 cm\n\nCintura: 83 - 88 cm\n\nTalla 2XL\nBusto: 109 - 114 cm\n\nCadera: 114 - 119 cm\n\nCintura: 88 - 94 cm\n\n\n-OFERTAS DEL DÍA-\nAntes $110.000 Ahora 1x $88.9000 Pesos  con ENVÍO GRATIS\n2 x $162.800 Pesos  con ENVÍO GRATIS\nMedio de pago principal contra entrega. Si deseas pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n \n # CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\nLos envíos tardan de 2 a 4 días para ciudades capitales y 5 días hábiles para municipios en promedio.\nLos envíos a Medellín duran de 1 a 2 días y las capitales principales de Colombia duran 3 días hábiles. En municipios o otros lugares de Colombia donde exista cobertura el tiempo de entrega es de 3 a 5 días hábiles sin contar sábados, domingos y festivos.\nSi un cliente ya recibió el producto y no está satisfecho, informar amablemente a que espere por resultados. (No ofrecemos devolución del dinero, esto mencionarlo solo si el cliente pregunta).\nInformar al cliente que el producto entregado es el correcto junto con su presentación y que es un producto original y respaldado por expertos.\nSi el cliente pregunta hasta cuando la promoción le dices que se acaba en 24 horas, después llegará a su precio normal que es un 40% más alto.\nSi el cliente pregunta cuánto es la garantía del producto le dices que es de 4 meses.\nSi te piden precios mayoristas o para negocio, debes enviar el siguiente mensaje: Para una cotización como mayorista, escríbenos aquí: https://wa.link/9uc1cg\nSi el cliente pregunta que si son originales le dices que es producto nacional Diseño moderno, originales de propiedad de la marca\nSi el cliente pide número de guía informa que apenas la tengas disponible se la envías.\n¿En dónde están ubicados?: Estamos ubicados en la ciudad de Medellín, pero nuestra tienda es virtual, hacemos envíos a todo el país\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-680,240],"id":"3acce316-2440-4649-8ffe-28412e409b3a","name":"Agente Laura"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 40% de las veces un audio y 60% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,260],"id":"ec8a6c29-d407-4b6b-93c0-799835c7809b","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[800,260],"id":"24a13444-08db-435b-bd99-51560744bfa3","name":"Selecciona Respuesta"},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2380,80],"id":"cf120ab0-683c-4dbb-8501-e78be7b33f8e","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1440,280],"id":"cd83bd60-042e-4f5b-9129-749e3cdf1765","name":"Descargar Audio"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,-40],"id":"13545f9a-8c1e-4a88-a9a9-330b8849bf1c","name":"Espera para enviar Mensaje","webhookId":"9dccd5b2-f048-42f4-8512-d096df10a710"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"audio_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"audio_url","value":"={{ $json.stdout }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,280],"id":"211b5a3d-c88c-47b5-86b7-4080ad923050","name":"Envia Mensajes Audio"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Agente Laura').item.json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,-20],"id":"08e0992c-2d48-478c-9161-78ab7ee23d49","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.data.message }}","rightValue":"Ya mismo subiremos tu pedido","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,-20],"id":"275abe1d-109f-478c-9911-42be003c57f4","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"const mensaje = $json.data.message;\n\nconst datos = {\n  fecha: new Date().toLocaleDateString('es-CO'),\n  nombre: mensaje.match(/Nombre completo:\\s*(.+)/i)?.[1]?.trim() || '',\n  telefono: mensaje.match(/Tel[eé]fono:\\s*(\\d+)/i)?.[1] || '',\n  ciudad: mensaje.match(/Ciudad:\\s*(.+)/i)?.[1]?.trim() || '',\n  departamento: mensaje.match(/Departamento:\\s*(.+)/i)?.[1]?.trim() || '',\n  direccion: mensaje.match(/Direcci[oó]n completa:\\s*(.+)/i)?.[1]?.trim() || '',\n  talla: mensaje.match(/Talla:\\s*(\\d+)/i)?.[1] || '',\n  color: mensaje.match(/Color:\\s*(\\d+)/i)?.[1] || '',\n  cantidad: mensaje.match(/Cantidad:\\s*(\\d+)/i)?.[1] || '1',\n};\n\nreturn [{ json: datos }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-40],"id":"abaf933c-5033-4a77-86c6-5175497cb845","name":"Extrae los Datos del Pedido"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8","mode":"list","cachedResultName":"Control pedidos grupo dk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1316954316,"mode":"list","cachedResultName":"BODY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit#gid=1316954316"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Nombre Completo":"={{ $json.nombre }}","Telefono":"={{ $json.telefono }}","Ciudad":"={{ $json.ciudad }}","Departamento":"={{ $json.departamento }}","Direccion Completa":"={{ $json.direccion }}","Talla":"={{ $json.talla }}","Color":"={{ $json.color }}","Cantidad":"={{ $json.cantidad }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Talla","displayName":"Talla","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ref","displayName":"Ref","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Flete","displayName":"Flete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"plata aveo ","displayName":"plata aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reinversion","displayName":"Reinversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ganancia para nosotros","displayName":"Ganancia para nosotros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GuiaEnviada","displayName":"GuiaEnviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Estado ","displayName":"Estado ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia pagada ","displayName":"Guia pagada ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pickig packing","displayName":"Pickig packing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2000,-40],"id":"75ed5e4f-875f-4f03-8346-46111ac19458","name":"Agrega Pedido Nuevo Hoja de Excel","credentials":{"googleSheetsOAuth2Api":{"id":"qqcpJ74batXzJmOW","name":"Google Sheets Laura DK"}}},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,-40],"id":"7422fd72-ca74-4e48-b95d-f8609c27f4e1","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3000,-40],"id":"fec8e8d3-dae7-40a0-8162-e9ad2a6de28d","name":"Verifica si el Contacto Existe"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"=36089"},{"name":"assignToAgentId","value":"36089"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2260,-40],"id":"63db1e10-d2f0-4687-b027-6f8c5fd47535","name":"Cambia Estado Conversacion"},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1700,280],"id":"019a3bbd-999c-42e8-8dcc-d89905dc7316","name":"Renombra Archivo Audio"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[2500,-40],"id":"b0ec0824-0ff6-470c-a160-230e4ab857a9","name":"Busca el Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"jsCode":"// Obtener datos desde los nodos anteriores\nconst nombre = $node[\"Extrae los Datos del Pedido\"].json.nombre;\nconst celular = $node[\"Mapea el Mensaje Usuario\"].json.number;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3280,-60],"id":"47c06034-f384-4b85-8ae2-1521ab61df95","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3540,-60],"id":"bdd3e230-e91c-4939-960c-64f874537978","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75cc19e7-a633-4a11-8899-df43c9399c26","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3160,300],"id":"b6116472-9afe-489a-b726-0f9d099f6027","name":"Comprueba Estado de la Conversación"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_CATALOGO]]","operator":{"type":"string","operation":"contains"}},{"id":"4eb7a703-e33c-4f1d-a2b5-29d152bed72d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_TABLA_MEDIDAS]]","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"name":"envio marcadores","type":"n8n-nodes-base.if","typeVersion":2,"position":[-280,240],"id":"63983ca0-0880-42d8-8431-0c65d8605812"},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/videos/\";\nconst texto = $json.output || \"\";\nconst marcadoresDisponibles = [\n  \"ENVIAR_CATALOGO\",\n  \"ENVIAR_TABLA_MEDIDAS\"\n];\n\nconst marcadoresDetectados = marcadoresDisponibles.filter(m =>\n  texto.includes(`[[${m}]]`)\n);\n\nif (marcadoresDetectados.length === 0) {\n  return [\n    {\n      json: {\n        resultado: \"NO_MARKERS_FOUND\",\n        original: texto\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      marcadores: marcadoresDetectados\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,-40],"id":"a74b772a-58f9-4e61-a94e-3c9291494ce1","name":"Detectar marcadores"},{"parameters":{"jsCode":"const marcadores = $json.marcadores || [];\n\nconst driveUrls = {\n  ENVIAR_CATALOGO: [\n    \"https://grupodksoluciones.com/imgbody/1.jpg\",\n    \"https://grupodksoluciones.com/imgbody/2.jpg\",\n    \"https://grupodksoluciones.com/imgbody/3.jpg\",\n    \"https://grupodksoluciones.com/imgbody/4.jpg\",\n    \"https://grupodksoluciones.com/imgbody/5.jpg\",\n    \"https://grupodksoluciones.com/imgbody/6.jpg\",\n    \"https://grupodksoluciones.com/imgbody/7.jpg\",\n    \"https://grupodksoluciones.com/imgbody/8.jpg\",\n    \"https://grupodksoluciones.com/imgbody/9.jpg\",\n    \"https://grupodksoluciones.com/imgbody/10.jpg\",\n  ],\n  ENVIAR_TABLA_MEDIDAS: [\n    \"https://grupodksoluciones.com/imgbody/11.jpg\"\n  ],\n};\n\nconst resultados = [];\n\nfor (const marcador of marcadores) {\n  const tipo = marcador.includes(\"VIDEO\") ? \"video\" : \"image\";\n  const urls = driveUrls[marcador] || [];\n\n  for (const url of urls) {\n    resultados.push({\n      json: {\n        tipo,\n        media_url: url\n      }\n    });\n  }\n}\n\nif (resultados.length === 0) {\n  return [{ json: { error: \"NO_FILES_FOUND\" } }];\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,-300],"id":"ba595d04-ba9b-4a1e-a16a-cd9b99ec0fc5","name":"Generar multimedia"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-300],"id":"d645aeea-0fd5-4612-a223-a79704c5d100","name":"Enviar imgenes"},{"parameters":{"jsCode":"// 🎯 SOLUCIÓN DEFINITIVA - Basada en investigación de la comunidad n8n\n// Maneja el problema confirmado de Redis GET devolviendo undefined\n\n// 📥 OBTENER DATOS DEL INPUT DIRECTO (del nodo anterior)\nconst incomingMessage = $input.first().json;\nconst userPhone = incomingMessage.user_phone;\nconst messageText = incomingMessage.current_message;\nconst messageType = incomingMessage.message_type;\nconst userName = incomingMessage.user_name;\nconst timestamp = incomingMessage.timestamp;\n\nconsole.log(\"=== DATOS DEL INPUT DIRECTO ===\");\nconsole.log(\"📱 Usuario:\", userPhone);\nconsole.log(\"💬 Mensaje:\", messageText);\nconsole.log(\"👤 Nombre:\", userName);\nconsole.log(\"📝 Tipo:\", messageType);\nconsole.log(\"🕐 Timestamp:\", timestamp);\n\n// 🔍 OBTENER DATOS DE REDIS DESDE EL NODO ANTERIOR ESPECÍFICAMENTE\nlet redisData;\nlet existingHistory;\n\ntry {\n  // El nodo anterior es \"Memoria Local\" (Redis GET)\n  // Pero necesitamos los datos del webhook que vienen por $input\n  console.log(\"🔍 Input completo:\", JSON.stringify($input.all(), null, 2));\n  \n  // Buscar datos de Redis en el contexto del nodo anterior\n  const previousNodeData = $input.first().json;\n  \n  // Si existe memoryData del Redis GET\n  if (previousNodeData && previousNodeData.memoryData) {\n    redisData = previousNodeData.memoryData;\n    console.log(\"📊 Redis Data encontrada:\", JSON.stringify(redisData, null, 2));\n    \n    // PARSEAR SI ES STRING\n    if (typeof redisData === 'string') {\n      try {\n        redisData = JSON.parse(redisData);\n        console.log(\"✅ Redis data parseada desde string\");\n      } catch (e) {\n        console.log(\"❌ Error parseando redis data:\", e);\n        redisData = null;\n      }\n    }\n  } else {\n    console.log(\"⚠️ No hay memoryData en el input - verificando estructura\");\n    console.log(\"🔍 Estructura del input:\", Object.keys(previousNodeData));\n    redisData = null;\n  }\n\n  // VERIFICAR SI HAY DATOS VÁLIDOS DE REDIS\n  if (redisData && redisData.messages && Array.isArray(redisData.messages)) {\n    existingHistory = {\n      messages: redisData.messages,\n      total_messages: redisData.total_messages || redisData.messages.length\n    };\n    console.log(\"✅ Historial existente cargado desde Redis:\", JSON.stringify(existingHistory, null, 2));\n  } else if (redisData && redisData.value && redisData.value !== null && redisData.value !== \"null\") {\n    try {\n      // Intentar parsear JSON si es string\n      if (typeof redisData.value === 'string') {\n        existingHistory = JSON.parse(redisData.value);\n      } else {\n        existingHistory = redisData.value;\n      }\n      \n      console.log(\"✅ Historial existente parseado desde value:\", JSON.stringify(existingHistory, null, 2));\n    } catch (parseError) {\n      console.log(\"❌ Error parseando JSON, creando nuevo historial:\", parseError.message);\n      existingHistory = { messages: [] };\n    }\n  } else {\n    console.log(\"🆕 No hay datos previos válidos, creando nuevo historial\");\n    existingHistory = { messages: [] };\n  }\n\n} catch (error) {\n  console.log(\"❌ Error accediendo a Redis data:\", error.message);\n  existingHistory = { messages: [] };\n}\n\n// 🧠 PROCESAR MENSAJE ACTUAL\nconst newMessage = {\n  role: \"user\",\n  content: messageText,\n  timestamp: timestamp,\n  user_phone: userPhone,\n  user_name: userName,\n  message_type: messageType\n};\n\n// 📚 ACTUALIZAR HISTORIAL\nif (!existingHistory.messages) {\n  existingHistory.messages = [];\n}\n\nexistingHistory.messages.push(newMessage);\n\n// 🔄 MANTENER SOLO ÚLTIMOS 10 MENSAJES (OPTIMIZACIÓN)\nif (existingHistory.messages.length > 10) {\n  existingHistory.messages = existingHistory.messages.slice(-10);\n}\n\n// 📤 PREPARAR DATOS PARA GUARDAR\nconst dataToSave = {\n  user_phone: userPhone,\n  messages: existingHistory.messages,\n  last_updated: timestamp,\n  total_messages: existingHistory.messages.length\n};\n\nconsole.log(\"💾 Datos preparados para Redis SET:\", JSON.stringify(dataToSave, null, 2));\n\n// 🎯 RETURN FINAL\nreturn [{\n  json: {\n    user_phone: userPhone,\n    current_message: messageText,\n    redisData: dataToSave, // Para el nodo Redis SET\n    conversationHistory: existingHistory.messages, // Para uso en próximos nodos\n    timestamp: timestamp,\n    debug: {\n      redis_raw: redisData,\n      redis_had_value: !!(redisData && redisData.value),\n      messages_count: existingHistory.messages.length,\n      operation: \"memory_processed\"\n    }\n  }\n}];\n\n// 🔧 NOTAS DE IMPLEMENTACIÓN:\n// 1. Este código maneja el bug confirmado de Redis undefined\n// 2. Usa múltiples verificaciones de seguridad \n// 3. Incluye logging detallado para debugging\n// 4. Funciona tanto con datos nuevos como existentes"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,240],"id":"9bfe0228-0013-4012-907f-ba5cb637e7bc","name":"Prepara Memoria"},{"parameters":{"operation":"get","propertyName":"memoryData","key":"=chat_{{ $json.raw_data.user_phone }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1480,240],"id":"b4ab04dd-cfc8-48ed-8adc-3d79e1f3d301","name":"Guarda Memoria","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}}},{"parameters":{"operation":"set","key":"=chat_{{ $('Unificar Mensajes').item.json.raw_data.user_phone }}","value":"={{ JSON.stringify($('Prepara Memoria').item.json.redisData) }}","keyType":"string"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-920,240],"id":"f29b166a-84c5-4cef-87d4-288115d82404","name":"Almacena Memoria Local","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}}},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"b2htR0pMe28pYwCY9gnP","mode":"list","cachedResultName":"Sofía – Soft & Warm"},"text":"={{ $('Agente Laura').item.json.output }}","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[1180,280],"id":"b9d5b53f-1a9b-44b1-839b-3ca9fbc8cdf2","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"itAUe2vHxXrVFlMg","name":"Voz Simón"}}},{"parameters":{"jsCode":"// Tomar el mensaje del Agente Luisa\nconst mensajeDelAgente = $node[\"Agente Laura\"].json.output || \"\";\n\n// Eliminar marcadores del tipo [[...]]\nconst mensajeLimpio = mensajeDelAgente.replace(/\\[\\[.*?\\]\\]/g, '').replace(/\\s{2,}/g, ' ').trim();\n\n// Tomar datos del Webhook\nconst wa_id = $('Webhook -- Wasapi').first().json.body.data.wa_id;\nconst from_id = $('Webhook -- Wasapi').first().json.body.data.from_id;\n\nreturn [\n  {\n    json: {\n      mensaje_final: mensajeLimpio,\n      wa_id,\n      from_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,-40],"id":"101293fa-148f-41c0-9b68-2885b92269a3","name":"Preparar para Texto Final"},{"parameters":{"assignments":{"assignments":[{"id":"c9c11f8c-965c-48df-b546-c73c0d8b047a","name":"current_message","value":"={{ $json.text }}","type":"string"},{"id":"660db38e-a84b-4e4f-8c66-2a289c0ae49e","name":"user_phone","value":"={{ $('Tipo de Mensaje').item.json.number }}","type":"string"},{"id":"38f16823-162e-46b7-a53b-189b7ffa6972","name":"user_name","value":"={{ $('Tipo de Mensaje').item.json.user_name }}","type":"string"},{"id":"ef736f53-1500-41df-8091-8923b9e003d5","name":"message_type","value":"={{ $('Tipo de Mensaje').item.json.type }}","type":"string"},{"id":"d4203281-78ea-4ba3-b4b9-52c54d537403","name":"has_image","value":"={{ $('Tipo de Mensaje').item.json.has_image }}","type":"string"},{"id":"dd53f1fa-1221-4a68-892c-7f7a65b7f3e2","name":"conversation_stage","value":"new","type":"string"},{"id":"e71b0b70-f7e7-40cb-92dc-5992741aeb1b","name":"is_new_user","value":"true","type":"string"},{"id":"c775308f-f5a2-4c4b-99af-dd490dc8b146","name":"timestamp","value":"={{ $('Tipo de Mensaje').item.json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1960,80],"id":"347531ac-9904-4a78-b38e-7455263b6a29","name":"Recibe Mensaje Audio"},{"parameters":{"assignments":{"assignments":[{"id":"c9c11f8c-965c-48df-b546-c73c0d8b047a","name":"current_message","value":"={{ $json.message }}","type":"string"},{"id":"660db38e-a84b-4e4f-8c66-2a289c0ae49e","name":"user_phone","value":"={{ $json.number }}","type":"string"},{"id":"38f16823-162e-46b7-a53b-189b7ffa6972","name":"user_name","value":"={{ $json.user_name }}","type":"string"},{"id":"ef736f53-1500-41df-8091-8923b9e003d5","name":"message_type","value":"={{ $json.type }}","type":"string"},{"id":"d4203281-78ea-4ba3-b4b9-52c54d537403","name":"has_image","value":"={{ $json.has_image }}","type":"string"},{"id":"dd53f1fa-1221-4a68-892c-7f7a65b7f3e2","name":"conversation_stage","value":"new","type":"string"},{"id":"e71b0b70-f7e7-40cb-92dc-5992741aeb1b","name":"is_new_user","value":"true","type":"string"},{"id":"c775308f-f5a2-4c4b-99af-dd490dc8b146","name":"timestamp","value":"={{ $json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1960,300],"id":"89aae382-8d03-40f1-af7b-912ccfb893f3","name":"Recibe Mensaje Texto"},{"parameters":{"jsCode":"// UNIFICAR MENSAJES DE AUDIO Y TEXTO PARA REDIS\nconst items = $input.all();\nconst unifiedData = [];\n\nfor (const item of items) {\n  let unifiedMessage = {};\n  \n  // Detectar si viene de Audio o Texto\n  const isAudioMessage = item.json.transcribed_text || item.json.audio_text || item.json.transcript;\n  const isTextMessage = item.json.message || item.json.text || item.json.body;\n  \n  if (isAudioMessage) {\n    // PROCESAR MENSAJE DE AUDIO\n    unifiedMessage = {\n      // Datos básicos del mensaje\n      message_type: \"audio\",\n      user_message: item.json.transcribed_text || item.json.audio_text || item.json.transcript || \"\",\n      original_format: \"audio\",\n      \n      // Información del contacto\n      phone_number: item.json.from || item.json.phone || \"\",\n      contact_name: item.json.contact_name || item.json.name || \"\",\n      \n      // Metadatos WhatsApp\n      message_id: item.json.id || item.json.message_id || \"\",\n      timestamp: item.json.timestamp || new Date().toISOString(),\n      \n      // Información específica del audio\n      audio_duration: item.json.duration || \"\",\n      audio_format: item.json.format || \"ogg\",\n      transcription_confidence: item.json.confidence || \"\",\n      \n      // Para Redis\n      redis_key: `chat:${item.json.from || 'unknown'}`,\n      session_id: item.json.from || item.json.phone || 'unknown_session',\n      \n      // Estado del procesamiento\n      processed: true,\n      processing_time: new Date().toISOString(),\n      source_node: \"audio_processing\"\n    };\n    \n  } else if (isTextMessage) {\n    // PROCESAR MENSAJE DE TEXTO\n    unifiedMessage = {\n      // Datos básicos del mensaje\n      message_type: \"text\",\n      user_message: item.json.message || item.json.text || item.json.body || \"\",\n      original_format: \"text\",\n      \n      // Información del contacto\n      phone_number: item.json.from || item.json.phone || \"\",\n      contact_name: item.json.contact_name || item.json.name || \"\",\n      \n      // Metadatos WhatsApp\n      message_id: item.json.id || item.json.message_id || \"\",\n      timestamp: item.json.timestamp || new Date().toISOString(),\n      \n      // Información específica del texto\n      message_length: (item.json.message || item.json.text || \"\").length,\n      contains_emoji: /(\\u00a9|\\u00ae|[\\u2000-\\u3300]|\\ud83c[\\ud000-\\udfff]|\\ud83d[\\ud000-\\udfff]|\\ud83e[\\ud000-\\udfff])/.test(item.json.message || item.json.text || \"\"),\n      \n      // Para Redis\n      redis_key: `chat:${item.json.from || 'unknown'}`,\n      session_id: item.json.from || item.json.phone || 'unknown_session',\n      \n      // Estado del procesamiento\n      processed: true,\n      processing_time: new Date().toISOString(),\n      source_node: \"text_processing\"\n    };\n    \n  } else {\n    // MENSAJE NO IDENTIFICADO\n    unifiedMessage = {\n      message_type: \"unknown\",\n      user_message: \"Mensaje no procesable\",\n      original_format: \"unknown\",\n      phone_number: item.json.from || \"unknown\",\n      contact_name: \"Unknown Contact\",\n      message_id: item.json.id || \"unknown_id\",\n      timestamp: new Date().toISOString(),\n      redis_key: `chat:${item.json.from || 'unknown'}`,\n      session_id: item.json.from || 'unknown_session',\n      processed: false,\n      error: \"Message format not recognized\",\n      source_node: \"unification_error\",\n      raw_data: item.json // Para debugging\n    };\n  }\n  \n  // Agregar datos adicionales comunes\n  unifiedMessage.workflow_step = \"message_unified\";\n  unifiedMessage.ready_for_redis = true;\n  unifiedMessage.unified_at = new Date().toISOString();\n  \n  // Crear item unificado\n  const unifiedItem = {\n    json: unifiedMessage,\n    binary: item.binary || {}\n  };\n  \n  unifiedData.push(unifiedItem);\n}\n\nreturn unifiedData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1700,240],"id":"60a7c8f2-d5e1-4f52-a3b8-d6b6ba6ef302","name":"Unificar Mensajes"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-40],"id":"b11e4b3f-0763-4dcc-b022-a05d3c9c529f","name":"Enviar imgenes1"}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Comprueba Estado de la Conversación","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje Audio","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje Texto","type":"main","index":0}],[{"node":"Recibe Mensaje Texto","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Laura","type":"ai_languageModel","index":0}]]},"Agente Laura":{"main":[[{"node":"envio marcadores","type":"main","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Convert text to speech","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Espera para enviar Mensaje":{"main":[[{"node":"Enviar imgenes1","type":"main","index":0}]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Pedido","type":"main","index":0}]]},"Extrae los Datos del Pedido":{"main":[[{"node":"Agrega Pedido Nuevo Hoja de Excel","type":"main","index":0}]]},"Agrega Pedido Nuevo Hoja de Excel":{"main":[[{"node":"Cambia Estado Conversacion","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Cambia Estado Conversacion":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensajes Audio","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[]]},"Comprueba Estado de la Conversación":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"envio marcadores":{"main":[[{"node":"Detectar marcadores","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Detectar marcadores":{"main":[[{"node":"Generar multimedia","type":"main","index":0},{"node":"Preparar para Texto Final","type":"main","index":0}]]},"Generar multimedia":{"main":[[{"node":"Enviar imgenes","type":"main","index":0}]]},"Prepara Memoria":{"main":[[{"node":"Almacena Memoria Local","type":"main","index":0}]]},"Guarda Memoria":{"main":[[{"node":"Prepara Memoria","type":"main","index":0}]]},"Almacena Memoria Local":{"main":[[{"node":"Agente Laura","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Preparar para Texto Final":{"main":[[{"node":"Espera para enviar Mensaje","type":"main","index":0}]]},"Recibe Mensaje Audio":{"main":[[{"node":"Unificar Mensajes","type":"main","index":0}]]},"Recibe Mensaje Texto":{"main":[[{"node":"Unificar Mensajes","type":"main","index":0}]]},"Unificar Mensajes":{"main":[[{"node":"Guarda Memoria","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"baddfcca-0ad0-4df2-86f3-8690349697eb","triggerCount":1,"shared":[{"createdAt":"2025-08-01T18:04:28.089Z","updatedAt":"2025-08-01T18:04:28.089Z","role":"workflow:owner","workflowId":"nRoT2fwXnTStHaVv","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}