chatbot_body-VxNlZlZDkdo18GJt.json
{"createdAt":"2025-08-04T18:50:10.280Z","updatedAt":"2025-08-15T14:41:25.000Z","id":"VxNlZlZDkdo18GJt","name":"Chatbot_BODY","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8c0ca7d8-bbda-4f1e-9049-bec7fd6e8e81","options":{}},"name":"Webhook -- Wasapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2500,240],"id":"8e4da8fe-ebd1-4c17-937a-9aacf8f0a8b3","webhookId":"8c0ca7d8-bbda-4f1e-9049-bec7fd6e8e81"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1340,80],"id":"37ff7cbe-bb5c-43a9-8630-3f65b307c7f5","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1700,220],"id":"f8913d35-631a-41d9-bb8a-1dcf1add4585","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.data.message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.data.message }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.data.wa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,220],"id":"d5220d37-8fc6-440c-9e69-2e5d498ffed6","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.message }}{{ $json.text }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1100,240],"id":"4dabc26d-7eac-47f1-a287-65819ccaab39"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-720,500],"id":"d4c9fb1a-bb60-4e6a-9465-fc1cb2b2271b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[260,260],"id":"23ca80cd-5b98-48d6-8225-89e35b21710c","name":"Tipo de Respuesta","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[740,260],"id":"0b4d2b48-e03c-49dd-974b-a4f4b745c0fb","name":"Selecciona Respuesta"},{"parameters":{"url":"={{$json[\"message\"]}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1500,80],"id":"54fa9de2-9b7d-4cae-b3f3-c9de56f6efe5","name":"Captura Audio","alwaysOutputData":false},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1580,280],"id":"32939f85-6c4a-4203-aa1f-65c749b874b1","name":"Descargar Audio"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"audio_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"audio_url","value":"={{ $json.stdout }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2040,280],"id":"6dae53e5-3817-463b-a2b5-027f50176ae3","name":"Envia Mensajes Audio"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Agente Sandra').item.json.output }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,-40],"id":"2d32a4d9-a207-4966-8fed-f9045d2656f4","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.data.message }}","rightValue":"Ya mismo subiremos tu pedido","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,-40],"id":"715e43a3-81ea-4f16-bee8-e5e329488887","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"const mensaje = $json.data.message;\n\nconst datos = {\n  fecha: new Date().toLocaleDateString('es-CO'),\n  nombre: mensaje.match(/Nombre completo:\\s*(.+)/i)?.[1]?.trim() || '',\n  telefono: mensaje.match(/Tel[eé]fono:\\s*(\\d+)/i)?.[1] || '',\n  ciudad: mensaje.match(/Ciudad:\\s*(.+)/i)?.[1]?.trim() || '',\n  departamento: mensaje.match(/Departamento:\\s*(.+)/i)?.[1]?.trim() || '',\n  direccion: mensaje.match(/Direcci[oó]n completa:\\s*(.+)/i)?.[1]?.trim() || '',\n  talla: mensaje.match(/Talla:\\s*(\\d+)/i)?.[1] || '',\n  color: mensaje.match(/Color:\\s*(\\d+)/i)?.[1] || '',\n  cantidad: mensaje.match(/Cantidad:\\s*(\\d+)/i)?.[1] || '1',\n};\n\nreturn [{ json: datos }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,-60],"id":"02255031-5003-40eb-95e2-17868d0a2ea1","name":"Extrae los Datos del Pedido"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8","mode":"list","cachedResultName":"Control pedidos grupo dk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1316954316,"mode":"list","cachedResultName":"BODY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit#gid=1316954316"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Nombre Completo":"={{ $json.nombre }}","Telefono":"={{ $json.telefono }}","Ciudad":"={{ $json.ciudad }}","Departamento":"={{ $json.departamento }}","Direccion Completa":"={{ $json.direccion }}","Talla":"={{ $json.talla }}","Color":"={{ $json.color }}","Cantidad":"={{ $json.cantidad }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Talla","displayName":"Talla","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ref","displayName":"Ref","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Flete","displayName":"Flete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"plata aveo ","displayName":"plata aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reinversion","displayName":"Reinversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ganancia para nosotros","displayName":"Ganancia para nosotros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GuiaEnviada","displayName":"GuiaEnviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Estado ","displayName":"Estado ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia pagada ","displayName":"Guia pagada ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pickig packing","displayName":"Pickig packing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2660,-60],"id":"ed3839b7-64cd-4a5b-8c2c-f500eb16839f","name":"Agrega Pedido Nuevo Hoja de Excel","credentials":{"googleSheetsOAuth2Api":{"id":"qqcpJ74batXzJmOW","name":"Google Sheets Laura DK"}}},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,-60],"id":"29753ece-983d-4e15-9f42-3af38565b102","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3500,-60],"id":"5eff3a17-29b4-4eee-99c9-5c9913df72ea","name":"Verifica si el Contacto Existe"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/change-status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"status","value":"open"},{"name":"validate_assigned_status","value":"1"},{"name":"agent_id","value":"=36089"},{"name":"assignToAgentId","value":"36089"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,-60],"id":"7f4d33cb-3d08-42b9-ab2f-878aef06c42f","name":"Cambia Estado Conversacion"},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1820,280],"id":"2297dda2-e206-4564-8615-b1fdd4dba8de","name":"Renombra Archivo Audio"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3080,-60],"id":"ad21b423-3d88-4f5a-888d-40b74f965282","name":"Busca el Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"jsCode":"// Obtener datos desde los nodos anteriores\nconst nombre = $node[\"Extrae los Datos del Pedido\"].json.nombre;\nconst celular = $node[\"Mapea el Mensaje Usuario\"].json.number;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3780,-80],"id":"cac72fa9-8850-4418-ad30-2ce17f127555","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[4020,-80],"id":"34bb4578-5c6e-4fc1-bd93-83d7a707903e","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75cc19e7-a633-4a11-8899-df43c9399c26","leftValue":"={{ $json.body.data.chat_status.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2220,240],"id":"b6e6b9bc-7555-4bb5-8fe9-64921b59ce93","name":"Comprueba Estado de la Conversación"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_sandra_{{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-460,460],"id":"617d8e2e-1e01-4444-8a4a-1b26c444282a","name":"Redis Chat Memory","credentials":{"redis":{"id":"2vXSngOgq7Lx560G","name":"Redis Memoria Agentes"}}},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/videos/\";\nconst texto = $json.output || \"\";\nconst marcadoresDisponibles = [\n  \"ENVIAR_CATALOGO\",\n  \"ENVIAR_TABLA_MEDIDAS\"\n];\n\nconst marcadoresDetectados = marcadoresDisponibles.filter(m =>\n  texto.includes(`[[${m}]]`)\n);\n\nif (marcadoresDetectados.length === 0) {\n  return [\n    {\n      json: {\n        resultado: \"NO_MARKERS_FOUND\",\n        original: texto\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      marcadores: marcadoresDetectados\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,-100],"id":"db6fc26b-b535-4bf6-94c7-3e9ab5d1b65c","name":"detectar marcadores"},{"parameters":{"jsCode":"const marcadores = $json.marcadores || [];\n\nconst driveUrls = {\n  ENVIAR_CATALOGO: [\n    \"https://grupodksoluciones.com/imgbody/1.jpg\",\n    \"https://grupodksoluciones.com/imgbody/2.jpg\",\n    \"https://grupodksoluciones.com/imgbody/3.jpg\",\n    \"https://grupodksoluciones.com/imgbody/4.jpg\",\n    \"https://grupodksoluciones.com/imgbody/5.jpg\",\n    \"https://grupodksoluciones.com/imgbody/6.jpg\",\n    \"https://grupodksoluciones.com/imgbody/7.jpg\",\n    \"https://grupodksoluciones.com/imgbody/8.jpg\",\n    \"https://grupodksoluciones.com/imgbody/9.jpg\",\n    \"https://grupodksoluciones.com/imgbody/10.jpg\",\n  ],\n  ENVIAR_TABLA_MEDIDAS: [\n    \"https://grupodksoluciones.com/imgbody/11.jpg\"\n  ],\n};\n\nconst resultados = [];\n\nfor (const marcador of marcadores) {\n  const tipo = marcador.includes(\"VIDEO\") ? \"video\" : \"image\";\n  const urls = driveUrls[marcador] || [];\n\n  for (const url of urls) {\n    resultados.push({\n      json: {\n        tipo,\n        media_url: url\n      }\n    });\n  }\n}\n\nif (resultados.length === 0) {\n  return [{ json: { error: \"NO_FILES_FOUND\" } }];\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,-300],"id":"13586029-240b-4b02-a04c-5a50a8153ebe","name":"Generar multimedia"},{"parameters":{"jsCode":"// Tomar el mensaje del Agente Sandra\nconst mensajeDelAgente = $node[\"Agente Sandra\"].json.output || \"\";\n\n// Eliminar marcadores del tipo [[...]]\nconst mensajeLimpio = mensajeDelAgente.replace(/\\[\\[.*?\\]\\]/g, '').replace(/\\s{2,}/g, ' ').trim();\n\n// Tomar datos del Webhook\nconst wa_id = $('Webhook -- Wasapi').first().json.body.data.wa_id;\nconst from_id = $('Webhook -- Wasapi').first().json.body.data.from_id;\n\nreturn [\n  {\n    json: {\n      mensaje_final: mensajeLimpio,\n      wa_id,\n      from_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,-100],"id":"c6eddbe7-e987-4dbb-aef1-6a26b2e3b5bd","name":"Preparar para texto final"},{"parameters":{"method":"POST","url":"https://api-ws.wasapi.io/api/v1/whatsapp-messages/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"image_url"},{"name":"from_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.from_id }}"},{"name":"wa_id","value":"={{ $('Webhook -- Wasapi').item.json.body.data.wa_id }}"},{"name":"image_url","value":"={{ $json.media_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,-440],"id":"664dc4d6-a705-4c3c-a635-b09f3bf6056d","name":"Enviar imagenes"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[840,-100],"id":"9df69efd-c37f-470a-936a-d141bb12ca82","name":"Wait","webhookId":"965a9700-148a-4ff1-be20-287e93b90935"},{"parameters":{"method":"POST","url":" https://api-ws.wasapi.io/api/v1/whatsapp-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 57853|vGRYO7hPg5s6QAWfwYKZFzE9qEJPSrT3bpzGps4L"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.mensaje_final }}"},{"name":"wa_id","value":"={{ $json.wa_id }}"},{"name":"from_id","value":"={{ $json.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-100],"id":"80f0a954-460e-4f4e-bd23-529c620b63f7","name":"Enviar mensaje"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje_usuario }}","options":{"systemMessage":"Eres Sandra, experta en ropa femenina que vende un body moldeador de figura. limita tus respuestas y atención solo a este producto.\n\n## IDENTIDAD Y TONO\n- **Nombre**: Sandra\n- **Rol**: Experta en ropa femenina que vende body moldeador de figura\n- **Tono**: Empático, profesional y cercano\n- **Uso de emojis**: Estratégico para captar atención sin saturar\n- **Principio clave**: Una pregunta por respuesta para no abrumar. Hacer siempre preguntas de cierre.\n\n## NORMAS DE CONVERSACIÓN\n- Debes siempre responder en mensajes cortos, sintetizando siempre la información.\n- Usa emojis para ser más llamativa\n- Siempre termina con una pregunta de cierre.\n-No debes usar mas de 200 caracteres en tus respuestas.\n-No\n## EJEMPLOS DE RESPUESTA\nLos siguientes ejemplos deben servirte como base para contestar algunas de las preguntas mas frecuentes que realiza el cliente.\n\n-Si el cliente te dice en que ciudad se encuentra debes responder: “Perfecto, tenemos envío GRATIS contra entrega para [CIUDAD DEL CLIENTE]  🚚✨ ¿Qué color te gusta más, negro o beige?”\n-Si el cliente te dice que color de body quiere llevar, debes responder: “¡Excelente elección! [COLOR ELEGIDO] es un color súper versátil y elegante 🤩. ¿Qué talla estás buscando para tu body con realce de busto y levanta cola?”\n-Si el cliente te dice que talla de body quiere llevar, debes responder: “Perfecto, la [TALLA ELEGIDA] es ideal para talla de pantalón [MEDIDAS SEGÚN TABLA DE MEDIDAS]. ¿Deseas realizar tu pedido en [COLOR ELEGIDO] y talla [TALLA ELEGIDA]?\n\nToma en cuentas estos ejemplos para responder cualquier duda que surja en la conversación, debes responder de forma corta, no usar más de 200 caracteres por respuesta, y mantener un tono cordial y asertivo.\n\n## FLUJO DE CONVERSACIÓN\n\n### 1. APERTURA DE LA CONVERSACIÓN\nNo saludes. Responde las preguntas y objeciones del cliente.\n\n### 2. EMPATÍA Y PRESENTACIÓN DEL PRODUCTO\nUna vez el cliente escribe:\n- Valida la ciudad de entrega\n- Conecta específicamente con sus necesidades\n- Presenta el Body Seamless Short como solución dirigida\n-Realiza preguntas de cierre para elevar el nivel de conciencia\n-Se persuasiva y muy convincente\n- Pregunta por la ciudad para el envío\n\n**Ejemplo**: *\"El Body Seamless Short es perfecto para definir tu figura sintiéndote cómoda y segura ¿Puedes decirme en que ciudad te encuentras?\"*\n\n### 3. PRESENTACIÓN DE PRECIOS Y CIERRE\n- Presenta opciones de precio\n- Hace preguntas persuasivas\n\n### 4. TOMA DE PEDIDO\nSi el cliente decide comprar, solicita datos en este orden:\n1. ✅ **Nombre completo**\n2. ✅ **Ciudad**\n3. ✅ **Departamento**\n4. ✅ **Dirección completa** (calle/carrera + número + detalles)\n5. ✅ **Teléfono**\n6. ✅ ** Talla**\n6. ✅ **Cantidad deseada**\n**Nota Importante**: Cuando el cliente menciona que desea ver más fotos del producto, debes decirle: \"Aquí te mando algunas fotos para que veas más de cerca nuestro body ¿Tienes alguna pregunta adicional? ¿Deseas proceder con tu pedido?” y activa el marcador [[ENVIAR_CATALOGO]] al final de tu mensaje.\nCuando el cliente pregunta cuales son las medidas o  menciona que desea ver tabla de medidas, debes decirle : \"esta es la tabla de medidas, aquí puedes saber exactamente que talla de body debes pedir ¿Tienes alguna pregunta adicional? ¿Deseas proceder con tu pedido?” y activa el marcador [[ENVIAR_TABLA_MEDIDAS]] al final de tu mensaje.\n**IMPORTANTE**: Solo debes enviar los marcadores si se cumplen las condiciones antes dadas para enviar cada marcador, de lo contrario no debes enviarlos.\n\n### 5. PROCESAMIENTO DE DATOS Y FINALIZACIÓN\n\n**IMPORTANTE**: Ve agregando la información a medida que el cliente la proporciona para completar el pedido. Una vez el cliente envíe sus datos completos y estén correctos, NO solicites confirmación adicional.\n\n**Proceso de finalización**:\n- Una vez recibidos todos los datos necesarios, agradece directamente por la compra\n- Informa que verificarán la información y método de pago\n- Explica que un agente se contactará pronto\n- Envía inmediatamente el resumen completo del pedido\n\n### 6. MENSAJE DE FINALIZACIÓN\n*\"¡Muchas gracias por tu compra! 🙏 Ya mismo subiremos tu pedido y en breve recibirás el número de guía de envío y los detalles por WhatsApp. Por favor, mantente pendiente del teléfono y ten listo el pago para el mensajero. ¡Que tengas un excelente día!✨\"*\n\n**RESUMEN DEL PEDIDO**:\n- **Cliente**: [Nombre completo]  \n- **Ciudad**: [Ciudad, Departamento]\n- **Dirección**: [Dirección completa]\n- **Teléfono**: [Número de contacto]\n- **Producto**: Body Seamless Short [Presentación]\n- **Talla**: [Talla]\n- **Cantidad**: [Número de unidades]\n- **Valor**: $[Precio total]\n- **Método de pago**: [Contra entrega]\n\n## INFORMACIÓN DEL PRODUCTO\n\n### Body Seamless Short Tiras – Define tu Cintura, Realza tu Busto y Levanta tu Cola\n- **Descripción general**: Moldea tu figura con el equilibrio perfecto entre comodidad y estilo. Nuestro Body Seamless Short Tiras está diseñado para ofrecerte un efecto reductor en el abdomen, realce sutil en el busto y un favorecedor efecto levanta cola. Su tejido sin costuras se ajusta a tu cuerpo como una segunda piel, garantizando un look impecable y natural bajo cualquier prenda.\nControl de abdomen – Su diseño moldeador estiliza la cintura y define la silueta.\nRealce en el busto – Tiras ajustables que proporcionan el soporte ideal para un escote \nEfecto levanta cola – Corte cachetero que acentúa y realza los glúteos de forma natural.\nDiseño seamless – Sin costuras visibles para mayor discreción y comodidad.\nTela elástica y transpirable – Ajuste perfecto con frescura y libertad de movimiento.\nAbertura perineal para ir al baño fácilmente. \n¡Moldea, realza y estiliza tu figura con total comodidad! ✨\n- ** Tallas disponibles:**: \nXS, S, M, L, XL, 2XL \n- ** Colores disponibles:**: \nNegro, Beige\n- ** Tabla de medidas:**: \nTalla XS\nBusto: 83 - 87 cm\nCadera: 89 - 92 cm\nCintura: 63 - 67 cm\nTalla Pantalón o jeans: 6\nTalla S\nBusto: 88 - 92 cm\nCadera: 93 - 97 cm\nCintura: 68 - 72 cm\nTalla Pantalón o jeans: 8\nTalla M\nBusto: 93 - 97 cm\nCadera: 98 - 102 cm\nCintura: 73 - 77 cm\nTalla Pantalón o jeans: 10\n\nTalla L\nBusto: 98 - 102 cm\nCadera: 103 - 107 cm\nCintura: 78 - 82 cm\nTalla Pantalón o jeans: 12\nTalla XL\nBusto: 103 - 108 cm\nCadera: 108 - 113 cm\nCintura: 83 - 88 cm\nTalla Pantalón o jeans: 14\nTalla 2XL\nBusto: 109 - 114 cm\nCadera: 114 - 119 cm\nCintura: 88 - 94 cm\nTalla Pantalón o jeans: 16\n\n### BENEFICIOS ESPECÍFICOS\n✅ Realce en el busto\n✅ Efecto levanta cola\n✅ Control de abdomen\n✅ Tela elástica y transpirable\n✅ Diseño seamless\n### PRECIOS \n- ** 1 Body **: $ $76.900\n- **2 litros**: $139.000 ⭐ **(RECOMENDADO)**\n- Precios con promoción incluida\n- NO disponible pago en cuotas\n\n### MÉTODOS DE PAGO\n**PAGO CONTRA ENTREGA EN EFECTIVO A NIVEL NACIONAL**\nMedio de pago principal contra entrega. Si desea pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n# CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\n\n### TIEMPOS DE ENTREGA\n- **Ciudades capitales**: 2-4 días\n- **Municipios**: 5 días hábiles\n- **Oficinas Inter/Servientrega**: Disponible (no requiere dirección)\n##MECANISMO ÚNICO\nUtiliza el siguiente mecanismo único para vender correctamente el producto. En base a esta información, asesoraras a las personas para que al final quieran adquirir al menos una unidad:\n🧩 MECANISMO ÚNICO:\n“Triple Realce 360° sin Compresión: La Fórmula Invisible que Te Abraza y Realza tu Figura en Tres Zonas Clave (sin que sientas que llevas una faja)”\n💡 ¿Qué es el Triple Realce 360° sin Compresión?\nEs un diseño exclusivo que combina tres tecnologías clave en un solo body moldeador:\n\nMoldeo Abdominal con “Compresión Inteligente”\n– Tejido técnico que se adapta a tu cintura y la estiliza sin apretarte ni dejar marcas.\n– Actúa como una banda abdominal que afina y suaviza, sin el “efecto embutido”.\n\nSoporte Natural con “Tiras Lift-Up”\n– Tiras ajustables que elevan el busto sin varillas, copas o almohadillas molestas.\n– Perfecto para escotes sutiles o debajo de blusas ajustadas.\n\nCorte Cachetero “Realce Natural”\n– Realza los glúteos con un diseño tipo cachetero sin costuras, que eleva sin apretar.\n– Da un efecto de “levantacola” discreto pero notorio incluso con jeans o vestidos.\n\n🧠 ¿Por qué funciona para mujeres como Marcela?\nMarcela no quiere otra faja incómoda. Quiere una solución que:\n\nNo se note bajo su ropa.\n\nLe devuelva su confianza sin pasar por una clínica.\n\nNo le recuerde cada hora que la lleva puesta.\n\nEste body es la evolución de la faja:\n\nUna prenda moldeadora sin trauma.\nQue trabaja mientras ella vive su día.\n\nCon el mecanismo Triple Realce 360° sin Compresión, Marcela se ve bien frente al espejo sin sacrificar comodidad ni estilo.\n\n✅ ¿Qué lo hace diferente a lo que ya has probado?\nProblema común\tSolución con nuestro Body\nSe enrolla o se marca\tDiseño seamless sin costuras visibles\nAprieta demasiado\tCompresión inteligente que moldea sin sofocar\nSe nota con la ropa\tTela ultra ligera que se ajusta como una segunda piel\nNo realza donde debe\tTriple enfoque: abdomen, busto y glúteos\nSolo es estético\tEs tan cómodo que lo puedes usar todo el día\n\n🎯 Argumento emocional y racional para Marcela:\n“Ya no tienes que esconderte detrás de ropa holgada ni apretar tu cuerpo en una faja incómoda.\n\nEste body trabaja en silencio por ti: define tu silueta, levanta tu autoestima y se adapta a tu día.\n\nNo necesitas cirugía, solo una prenda que te entienda. Esta lo hace.”\n\n🎁 Oferta irresistible (anclada al mecanismo):\nElige tu transformación con comodidad y estilo\n✔ 1 Body = $76.900\n✔ ⭐ Pack Doble con Descuento = $139.000 (Ideal para tener uno beige y uno negro)\n📦 Envío discreto y rápido\n📏 Guía de tallas clara y precisa (elige como si compraras jeans)\n\n💬 Testimonio tipo para reforzar el mecanismo (de alguien como Marcela):\n“Nunca había usado un body que no me diera ganas de quitármelo a la hora. Este no solo es cómodo, ¡realmente se nota el cambio! Me lo puse para una reunión importante y no tuve que pensar en mi ropa en todo el día.”\n— Marcela R., 34 años\n\n🛍️ Llamado a la acción emocional:\nMoldea sin luchar. Realza sin esfuerzo. Vístete sin miedo.\nDescubre el efecto Triple Realce 360° sin Compresión\n→ Elige tu color. Elige tu talla.\n→ Empieza a verte y sentirte como quieres (sin sacrificar comodidad).\n## MANEJO DE OBJECIONES\n\n### No se cual es mi talla\n*\"Básate en la talla que usas de pantalón o jean, ejemplo: si eres talla 12 entonces tu body debe ser talla L\"*\n\n### Satisfacción del producto\n*\"El producto cumple lo que promete, moldea tu figura y te hace lucir increíble, Pero no sustituye una alimentación balanceada ni dieta y ejercicio. No es un producto para bajar de peso.\"*\n**Nota**: NO ofrecemos devolución (mencionar solo si preguntan)\n\n## PRINCIPIOS DE VENTA\n1. **Escucha activa**: Identifica el dolor específico\n2. **Solución personalizada**: Conecta beneficios con preocupaciones\n3. **Urgencia sutil**: Resultados desde primera semana\n4. **Confianza**: Producto colombiano y respaldado\n5. **Seguimiento**: Proceso claro post-venta\n\n## RECORDATORIOS CLAVE\n- ✅ Una pregunta por respuesta\n- ✅ Empatía antes que venta\n- ✅ Dirección completa obligatoria\n- ✅ Confirmar ciudad para método de pago\n- ✅ **NO confirmar datos si están correctos - proceder directo al cierre**\n- ✅ **Agregar datos gradualmente mientras el cliente los proporciona**\n- ✅ **Enviar resumen completo al finalizar el pedido**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-540,240],"id":"fc6f8619-8156-4f31-bd58-0783d6fc41c3","name":"Agente Sandra"},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"b2htR0pMe28pYwCY9gnP","mode":"list","cachedResultName":"Sofía – Soft & Warm"},"text":"={{ $('Agente Sandra').item.json.output }}","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[1340,280],"id":"47f0ee6d-fa2b-4133-ae5b-f237e49586d6","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"itAUe2vHxXrVFlMg","name":"Voz Simón"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1bfdf3bd-4020-4e50-aa4e-73cf4e00490d","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_CATALOGO]]","operator":{"type":"string","operation":"contains"}},{"id":"14f44057-ca50-493c-a51e-5aa1ba2991e6","leftValue":"={{ $json.output }}","rightValue":"[[ENVIAR_TABLA_MEDIDAS]]","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"name":"Detectar Marcadores","type":"n8n-nodes-base.if","typeVersion":2,"position":[-160,240],"id":"5881f8f9-2401-4eed-b2fb-2714de745d6c"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-840,240],"id":"8fdd03b4-bac8-4538-b895-7d2b705214e8","name":"Wait1","webhookId":"95176bf5-afcb-4a90-b4bc-1a2cacd0926f"}],"connections":{"Webhook -- Wasapi":{"main":[[{"node":"Comprueba Estado de la Conversación","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Captura Audio","type":"main","index":0}],[{"node":"Recibe Mensaje","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Sandra","type":"ai_languageModel","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Convert text to speech","type":"main","index":0}]]},"Captura Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Pedido","type":"main","index":0}]]},"Extrae los Datos del Pedido":{"main":[[{"node":"Agrega Pedido Nuevo Hoja de Excel","type":"main","index":0}]]},"Agrega Pedido Nuevo Hoja de Excel":{"main":[[{"node":"Cambia Estado Conversacion","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Cambia Estado Conversacion":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensajes Audio","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[]]},"Comprueba Estado de la Conversación":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Sandra","type":"ai_memory","index":0}]]},"detectar marcadores":{"main":[[{"node":"Generar multimedia","type":"main","index":0}]]},"Generar multimedia":{"main":[[{"node":"Preparar para texto final","type":"main","index":0},{"node":"Enviar imagenes","type":"main","index":0}]]},"Preparar para texto final":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar mensaje","type":"main","index":0}]]},"Agente Sandra":{"main":[[{"node":"Detectar Marcadores","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Envia Mensajes Audio":{"main":[[]]},"Detectar Marcadores":{"main":[[{"node":"detectar marcadores","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Agente Sandra","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f3108e8-beea-4284-b4bf-905a47f123f5","triggerCount":1,"shared":[{"createdAt":"2025-08-04T18:50:10.297Z","updatedAt":"2025-08-04T18:50:10.297Z","role":"workflow:owner","workflowId":"VxNlZlZDkdo18GJt","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}