chatbot_botas_laura_crm_dk-YHKjyDEHz6GpYDBs.json
{"createdAt":"2025-08-28T15:05:17.550Z","updatedAt":"2025-09-29T01:01:01.000Z","id":"YHKjyDEHz6GpYDBs","name":"Chatbot_Botas_Laura_CRM_DK","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"771e410e-f57d-475d-946b-bf21b70fe136","leftValue":"={{ $json.action }}","rightValue":"ACCION_ENVIAR_IMAGENES","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"name":"¿Pide Imagen?","type":"n8n-nodes-base.if","typeVersion":2,"position":[208,240],"id":"2ec94b07-75ad-44f9-825b-278dfa54ef03"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"334eb726-7674-4f91-beb1-16da6d8d0eb3","leftValue":"={{ $json.file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.content_type }}{{ $json.file_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"b055bc2e-a7e7-402f-a616-6c42b02dd4a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3cdaedde-990e-4104-a236-bc5d9806fa55","leftValue":"={{ $json.file_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1760,208],"id":"6b01af44-d50f-44fc-b472-82231857e7ae","name":"Tipo de Mensaje"},{"parameters":{"assignments":{"assignments":[{"id":"3b47ea5a-a76c-4160-a88d-d685658c200d","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"d550409f-9300-49ab-b18b-63ce3629a4bc","name":"type","value":"={{ $json.body.messages[0].message_type }}","type":"string"},{"id":"27d2c7af-747b-4849-925b-08246cb276db","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"61b336dd-b2b2-4332-904e-1a8b68157a24","name":"number","value":"={{ $json.body.messages[0].conversation.contact_inbox.source_id }}","type":"number"},{"id":"ec3767d4-ac1d-4ea0-8807-f197f191fe94","name":"content_type","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"826b1e46-ab86-459c-b044-3a0890dbc36c","name":"account_id","value":"={{ $json.body.messages[0].account_id }}","type":"string"},{"id":"efcb4742-d5cb-4018-82b1-dc09a519f5f9","name":"conversation_id","value":"={{ $json.body.messages[0].conversation_id }}","type":"string"},{"id":"9b76e155-5602-4d2c-96a6-e044aad11893","name":"messages_acount","value":"={{ $json.body.first_reply_created_at }}","type":"string"},{"id":"4c3c343e-9126-48d7-9d82-230f15b96e9c","name":"file_type","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"f8966f03-f891-4913-aeac-b43cb9d3126c","name":"data_url","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1952,224],"id":"09e4aeb6-6866-4e84-b836-a0cd8d90f33b","name":"Mapea el Mensaje Usuario"},{"parameters":{"values":{"string":[{"name":"number","value":"={{ $('Mapea el Mensaje Usuario').item.json.number }}  "},{"name":"mensaje_usuario","value":"={{ $json.mensaje_usuario }}"},{"name":"account_id","value":"={{ $('Mapea el Mensaje Usuario').item.json.account_id }}"},{"name":"conversation_id","value":"={{ $('Mapea el Mensaje Usuario').item.json.conversation_id }}"}],"number":[{"name":"messages_acount","value":"={{ $('Mapea el Mensaje Usuario').item.json.messages_acount }}"}]},"options":{}},"name":"Recibe Mensaje","type":"n8n-nodes-base.set","typeVersion":2,"position":[-928,224],"id":"5853ab70-c0fd-4275-bca6-857dde83c437"},{"parameters":{"promptType":"define","text":"={{ $('Recibe Mensaje').item.json.mensaje_usuario }}","options":{"systemMessage":"## REGLAS DE SALIDA (MÁXIMA PRIORIDAD)\nTu tarea más importante es analizar la intención del cliente y responder en formato JSON. Tu respuesta DEBE ser un objeto JSON con dos claves: \"action\" y \"message\".\n\n- Si el cliente pide explícitamente \"fotos\", \"foto\", \"catálogo\", \"catalogo\", \"catálogos\" o \"catalogos\", la clave \"action\" DEBE ser \"ACCION_ENVIAR_IMAGENES\" y la clave \"message\" DEBE ser \"Estas son las fotos de las botas Baqueras 👌. ¿Que color te gusta mas?\".\n- Para cualquier otra pregunta o comentario, la clave \"action\" DEBE ser \"ACCION_ENVIAR_TEXTO\" y la clave \"message\" DEBE ser tu respuesta normal siguiendo tus otras instrucciones.\n\nEjemplo de respuesta si piden fotos:\n{\n  \"action\": \"ACCION_ENVIAR_IMAGENES\",\n  \"message\": \"Estas son las fotos de las botas Baqueras 👌. ¿Que color te gusta mas?\"\n}\n\nEjemplo de respuesta si preguntan por tallas:\n{\n  \"action\": \"ACCION_ENVIAR_TEXTO\",\n  \"message\": \"¡Claro! Manejamos de la talla 36 a la 44. ¿Qué talla estás buscando?\"\n}\n\n## IDENTIDAD Y OBJETIVO PRINCIPAL\nEres Laura, una experta en Ventas de calzado que vende botas baqueras. Tu objetivo principal es tomar los pedidos de los clientes.\n\n---\n\n## INSTRUCCIONES GENERALES DE CONVERSACIÓN\nUsa emojis para ser llamativa.\nRecuerda que manejamos solo el color marron y negro.\nSólo haz una pregunta por respuesta para no abrumar al cliente.\nSiempre empieza la conversación (después de la bienvenida) realizando la siguiente pregunta: ¿En que ciudad te encuentras?\nSiempre realiza una pregunta de cierre, aquí algunos ejemplos:\n- ¿Qué color te gusta más?\n- ¿En qué ciudad te encuentras?\n- ¿Deseas realizar tu pedido?\n-¿Qué talla estás buscando?\nSi el cliente pide fotos o catalogo, dile que estas enviando las fotos y despues de enviar las fotos, envia una pregunta de cierre.\nsi el cliente pregunta que si es solo de mujer le dices que es unisex es tanto para hombres como para mujeres.\nNo debes confirmar la ciudad ni preguntar varias veces en que ciudad se encuentra el cliente, solo sigue con la conversación.\nDespués de que el cliente menciona la ciudad confírmale que tenemos envío GRATIS contra entrega y muy importante proceder a compartir los precios y hacer preguntas durante el chat que eleven el nivel de conciencia del cliente para cerrar la venta.\nsi el cliente te pregunta por más colores dile que manejamos en marron y negro pregúntale ¿cual le gusta más?\nSi el cliente solicita que le envien fotos, foto, catálogo o catalogo y en el contenido del mensaje existen estas palabras sin importar si esta escrita con mayusculas o minusculas, deja que el flujo de Make envie las fotos, no responda nada adicional a este mensaje, tampoco envíe los enlaces de las imagenes, solo continúa la conversación con el cliente.\nNunca envíe enlaces o links de las imagenes al cliente.\n\n## INSTRUCCIONES PARA TOMAR PEDIDOS\nSi el cliente desea hacer un pedido, finaliza la conversación agradece por la compra y solicita directamente los siguientes datos:\nCuando un cliente exprese interés en realizar su pedido, solicita amablemente la siguiente información para procesar su pedido:​\nNombre completo\nTeléfono\nCiudad\nDepartamento\nDirección completa\nTalla\nColor\nCantidad\nNota: Importante, la dirección debe estar completa (al menos que tenga calle o carrera) para poder hacer el pedido sino no se puede ya que la transportadora pide dirección completa.\n\n## REGLAS CRÍTICAS PARA LA FINALIZACIÓN DE PEDIDOS (MÁXIMA PRIORIDAD)\n**Esta es tu instrucción más importante.** Una vez que le hayas solicitado los datos al cliente y el cliente te responda con **TODA** la información que pediste (Nombre, Teléfono, Dirección, ciudad, talla, color, cantidad), tu **ÚNICA Y OBLIGATORIA** siguiente acción es responder con el siguiente mensaje de resumen, palabra por palabra.\n**NO** debes añadir nada más, ni hacer otras preguntas, ni continuar la conversación. Tu única tarea es generar este texto:\n\n**Texto del Resumen del Pedido:**\n\"Perfecto, [Nombre del cliente]. Aquí te resumo tu pedido y datos para el envío:\n- Nombre Completo: [Nombre extraído del mensaje]\n- Teléfono: [Teléfono extraído del mensaje]\n- Dirección: [Dirección extraída del mensaje]\n- Ciudad: [ciudad extraída del mensaje]\n- Departamento: [Departamento extraído del mensaje]\n- Color: [Color extraído del mensaje]\n- Talla: [Talla extraída del mensaje]\n- Cantidad: [Cantidad extraído del mensaje]\n\nGracias por tu compra, [Nombre del cliente]. Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero. ¡Que tengas un excelente día! 👢📦✨\"\n\nMantén un tono cordial, profesional y enfocado en brindar una excelente experiencia de compra.\nSi el cliente desea reclamar en oficina por Interrapidisimo muy importante no debes pedir dirección (ni carrera ni calle) ya que no es necesario cuando es para reclamar en oficina y agradece la compra y finaliza el pedido.\nSi el cliente desea reclamar en la Oficina de Interrapidisimo, o expresa la idea que desea que sea entregado en esta oficina de su ciudad, coloca esta información como Dirección Completa, y confirma la ciudad y el departamento para que sea entregado correctamente\nSi el cliente desea reclamar en oficina de Servientrega dile que no tenemos convenio de envíos con Servientrega, solo puede reclamar en una oficina de Interrapidisimo.\nEl barrio es opcional, si el cliente no lo menciona no lo pidas.\nVe agregando la información a medida que la va proporcionando para completar el pedido. Una vez el cliente proporciona los datos necesarios (sin necesidad de los opcionales) agradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi la persona ya ha enviado sus datos completos para hacer un pedido, eso quiere decir que ya es nuestro cliente, saluda y dale bienvenida amablemente y pregunta si podemos ayudarla en algo o si es posible responde a su pregunta o dile que va contactar con un asesor humano para ayudarle.\n\n## BASE DE CONOCIMIENTO GENERAL\nla Bota es %100 cuero de excelente calidad, ciento por ciento cuero y suela pvc cocida  ultra resistente , no es en cuerina sino 100 % cuero  ideal para todo tipo de trabajo. Elaboradas con la mejor tecnología de punta en cuero con los mejores acabados.\nEspecificaciones de las botas en cuero nobuck: Suela pvc, material cuero, suela en  pvc  duradero. Es un material resistente, ideal para trabajo en campo y ciudad. Acabados de excelente calidad.cuenta con excelente acabados y excelente costuras!. \nTallas disponibles:  36 a la 44.\nSuela : Spanson ultra resistente con refuerzo cosido para mayor durabilidad\nMaterial: cuero.\nColores : Marron y Negro \n\nTabla de tallas de las botas en cuero:\n23 centímetros para la talla 36.\n24 centímetros para la talla 37.\n25 centímetros para la talla 38.\n26 centímetros para la talla 39.\n27 centímetros para la talla 40.\n28 centímetros para la talla 41.\n29 centímetros para la talla 42.\n30 centímetros para la talla 43.\n31 centímetros para la talla 44.\n\n-OFERTAS DEL DÍA-\nAntes $134.00 Ahora 1x $119.9000  pesos  con ENVÍO GRATIS\nMedio de pago principal contra entrega. Si deseas pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n \n # CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\nLos envíos tardan de 2 a 4 días para ciudades capitales y 5 días hábiles para municipios en promedio.\nLos envíos a Medellín duran de 1 a 2 días y las capitales principales de Colombia duran 3 días hábiles. En municipios o otros lugares de Colombia donde exista cobertura el tiempo de entrega es de 3 a 5 días hábiles sin contar sábados, domingos y festivos.\nSi un cliente ya recibió el producto y no está satisfecho, informar amablemente a que espere por resultados. (No ofrecemos devolución del dinero, esto mencionarlo solo si el cliente pregunta).\nInformar al cliente que el producto entregado es el correcto junto con su presentación y que es un producto original y respaldado por expertos.\nSi el cliente pregunta hasta cuando la promoción le dices que se acaba en 24 horas, después llegará a su precio normal que es un 40% más alto.\nSi el cliente pregunta cuánto es la garantía del producto le dices que es de 4 meses.\nSi te piden precios mayoristas o para negocio, debes enviar el siguiente mensaje: Para una cotización como mayorista, escríbenos aquí: https://wa.link/9uc1cg\nSi el cliente pregunta que si son originales le dices que es producto nacional Diseño moderno, originales de propiedad de la marca\nSi el cliente pide número de guía informa que apenas la tengas disponible se la envías.\n¿En dónde están ubicados?: Estamos ubicados en la ciudad de Medellín, pero nuestra tienda es virtual, hacemos envíos a todo el país."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-336,240],"id":"fd442f18-f4ea-4000-bfa5-92b61289059f","name":"Agente Laura"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.content.parts[0].text }}","rightValue":"Texto","operator":{"type":"string","operation":"contains"},"id":"0f070bd9-c076-4298-bfd4-8f81f87a4494"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5f99960-651b-443a-87ff-54d6232af484","leftValue":"={{ $json.content.parts[0].text }}","rightValue":"Audio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,256],"id":"0146f209-fbfe-40d9-89b5-4df37412f940","name":"Selecciona Respuesta"},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/imagenes/\";\nconst total = 6;\n\nlet items = [];\n\nfor (let i = 1; i <= total; i++) {\n  items.push({\n    json: {\n      nombre: `${i}.png`,\n      url: `${baseUrl}${i}.png`\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-208],"id":"99719c8a-e4aa-4253-b447-2a39d83b2771","name":"Subir Imagenes"},{"parameters":{"operation":"write","fileName":"=/files/audios/audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1328,272],"id":"15ba5f20-c8b1-41be-b8c0-ff60e8b3a191","name":"Descargar Audio"},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,0],"id":"b410a73d-bf20-44ce-87cd-47be7465d95a","name":"Espera para enviar Mensaje","webhookId":"0dc120d2-b17f-4322-9efe-775f53d479db"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Analiza Respuesta del Agente').item.json.message }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,0],"id":"2481a171-0d59-44bb-88d3-b324ce3075f0","name":"Envia Mensaje Texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6f97ebd-22b9-43a2-8611-23883d460893","leftValue":"={{ $json.content }}","rightValue":"Ya mismo subiremos tu pedido","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,0],"id":"3787eaaf-d556-461b-8823-a876ba822e75","name":"Verifica si estan los Datos"},{"parameters":{"jsCode":"// El texto del mensaje está directamente en la propiedad 'content'\nconst mensaje = $json.content;\n\n// Objeto para almacenar los datos extraídos\nconst datos = {};\n\n// Expresiones regulares para cada campo.\n// El patrón ( ... || [])[1]?.trim() || '' es una forma segura de extraer:\n// 1. Busca el patrón.\n// 2. Si no lo encuentra, usa un array vacío para evitar errores.\n// 3. Toma el primer grupo capturado (lo que está en paréntesis).\n// 4. Usa '?.' para evitar error si el grupo no existe.\n// 5. Usa .trim() para limpiar espacios en blanco.\n// 6. Si todo lo anterior falla, devuelve una cadena vacía ''.\ndatos.fecha = new Date().toLocaleDateString('es-CO');\ndatos.nombre = (mensaje.match(/Nombre Completo:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.telefono = (mensaje.match(/Teléfono:\\s*(\\d+)/) || [])[1]?.trim() || '';\ndatos.ciudad = (mensaje.match(/Ciudad:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.departamento = (mensaje.match(/Departamento:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.direccion = (mensaje.match(/Dirección:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.talla = (mensaje.match(/Talla:\\s*(\\d+)/) || [])[1]?.trim() || '';\ndatos.color = (mensaje.match(/Color:\\s*(.+)/) || [])[1]?.trim() || '';\ndatos.cantidad = (mensaje.match(/Cantidad:\\s*(\\d+)/) || [])[1]?.trim() || '';\n\n// Devuelve los datos en el formato que N8N espera\nreturn [{\n  json: datos\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-16],"id":"b6a5376b-c1dd-49a0-9ee6-6a2aa4f6a01a","name":"Extrae los Datos del Pedido"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8","mode":"list","cachedResultName":"Control pedidos grupo dk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1620920332,"mode":"list","cachedResultName":"Baqueras","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17bhx9dRc_O-mBYZbOVJom3Kq2jxtIcDkBjKVIyHz5F8/edit#gid=1620920332"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Nombre Completo":"={{ $json.nombre }}","Telefono":"={{ $json.telefono }}","Ciudad":"={{ $json.ciudad }}","Departamento":"={{ $json.departamento }}","Direccion Completa":"={{ $json.direccion }}","Talla":"={{ $json.talla }}","Color":"={{ $json.color }}","Cantidad":"={{ $json.cantidad }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Departamento","displayName":"Departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direccion Completa","displayName":"Direccion Completa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Talla","displayName":"Talla","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ref","displayName":"Ref","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Flete","displayName":"Flete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"plata aveo ","displayName":"plata aveo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reinversion","displayName":"Reinversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ganancia para nosotros","displayName":"Ganancia para nosotros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observaciones","displayName":"Observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GuiaEnviada","displayName":"GuiaEnviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia pagada ","displayName":"Guia pagada ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pickig packing","displayName":"Pickig packing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guia","displayName":"Guia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1824,-16],"id":"7c318907-5c0e-47fd-8d8b-35c6b148fbad","name":"Agrega Pedido Nuevo Hoja de Excel","credentials":{"googleSheetsOAuth2Api":{"id":"qqcpJ74batXzJmOW","name":"Google Sheets Laura DK"}}},{"parameters":{"jsCode":"// Obtener el número desde el nodo \"Mapea el Mensaje Usuario\"\nlet numeroOriginal = $('Mapea el Mensaje Usuario').first().json.number || '';\n\n// Convertir a string si no lo es\nif (typeof numeroOriginal !== 'string') {\nnumeroOriginal = String(numeroOriginal);\n}\n\n// Limpiar el número de caracteres no numéricos\nconst numero = numeroOriginal.replace(/\\D/g, '');\n\n// Lista de contactos recibida desde el nodo \"Get many contacts\"\nconst contactos = items;\n\nlet existe = false;\n\nfor (const contacto of contactos) {\nconst telefonos = contacto.json.phoneNumbers?.mobile || [];\nfor (const tel of telefonos) {\nconst telLimpio = String(tel).replace(/\\D/g, '');\nif (telLimpio === numero) {\nexiste = true;\nbreak;\n}\n}\nif (existe) break;\n}\n// Devolver resultado para el nodo IF\nreturn [{ json: { existe } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,-16],"id":"fd71f01e-6b6f-4162-bfaa-8e8b5e22a961","name":"Resultado de la Busquedad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"01bb1256-606c-4108-ab62-19d62cb2086c","leftValue":"={{ $json.existe }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3536,-16],"id":"682917b1-93b0-415b-b140-81f088d709ad","name":"Verifica si el Contacto Existe"},{"parameters":{"resource":"audio","input":"={{ $('Agente Laura').item.json.output }}","voice":"shimmer","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1152,272],"id":"3d913020-f849-4d0b-b864-cb18517d2214","name":"Genera el audio","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"command":"sh /files/audios/renombrar_audio.sh"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1536,272],"id":"b84de760-0d17-4a33-81de-4b3c701fea9f","name":"Renombra Archivo Audio"},{"parameters":{"operation":"getAll","returnAll":true,"fields":["phoneNumbers","names"],"options":{}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[3104,-16],"id":"513d0e35-f07f-4974-9dcf-b8a62da7db66","name":"Busca el Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"jsCode":"// Obtener datos desde los nodos anteriores\nconst nombre = $node[\"Extrae los Datos del Pedido\"].json.nombre;\nconst celular = $node[\"Mapea el Mensaje Usuario\"].json.number;\n\nreturn [\n  {\n    json: {\n      nombre,\n      celular\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,-32],"id":"0bea85a0-777d-47d9-8320-6fbdd4d4bc9c","name":"Datos Contacto"},{"parameters":{"familyName":"=","givenName":"={{ $json.nombre }}","additionalFields":{"phoneUi":{"phoneValues":[{"type":"mobile","value":"=+{{ $json.celular }}"}]}}},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[4048,-32],"id":"790db1ec-13b0-49d3-9176-48e840d1c840","name":"Crear un Contacto","credentials":{"googleContactsOAuth2Api":{"id":"poa0OIofd4Bkv6Rc","name":"Google Contacts Laura"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memoria_laura2_{{ $('Recibe Mensaje').item.json.conversation_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-256,448],"id":"f5211999-ed50-4102-9dc5-f0ce3f698ac0","name":"Redis Chat Memory","credentials":{"redis":{"id":"x55J5q5RmLVSd9Pd","name":"Chat Memory Local"}}},{"parameters":{"httpMethod":"POST","path":"linea_ventas_baqueras","options":{}},"name":"Webhook -- CRM DK","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2448,240],"id":"bc6098aa-e717-446a-a172-a1faf031cd8e","webhookId":"6a3782ae-6380-4108-9495-8125bc8fcdb5"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,-208],"id":"5bf55e3c-cac5-45cb-960e-2d8dd4397329","name":"Descargar Imagen"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook -- CRM DK').item.json.body.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-208],"id":"eaa044d0-80bd-4e95-b1ab-d97149b9e3f1","name":"Envia Imagenes"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook -- CRM DK').item.json.body.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Agente Laura').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,272],"id":"651e50d9-abe6-40ba-b4cd-8d4048805943","name":"Envia Mensaje Audio"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"=open"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-16],"id":"43e11df0-3384-4ed7-b880-b03717a1e601","name":"Cambia Estado"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/assignments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assignee_id","value":"=3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-16],"id":"afe43ebf-2330-4a14-9069-c6691446f26a","name":"Asignar Agente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b0586a-ada7-4619-9da6-3da09bcb5f01","leftValue":"={{ $json.body.messages[0].conversation.assignee_id }}","rightValue":0,"operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2192,240],"id":"5313c3eb-1d69-48ea-968f-0b588090d69c","name":"If"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook -- CRM DK').item.json.body.messages[0].conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,-16],"id":"07ef65cb-1b25-442b-9e52-8a012a3e37c8","name":"Añadir Etiqueta"},{"parameters":{"url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Webhook -- CRM DK').item.json.body.messages[0].account_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,-16],"id":"cfd9524a-a207-4581-a7cc-64567b20f709","name":"Obtener Etiqueta"},{"parameters":{"jsCode":"// 1. Obtiene el array de etiquetas desde el objeto 'payload' del primer ítem de entrada\nconst labelsList = $input.item.json.payload;\n\n// 2. Define el nombre de la etiqueta que estamos buscando\nconst targetLabelName = \"nuevo-pedido\";\n\n// 3. Busca en la lista la etiqueta que coincida con el nombre\n//    Ahora buscamos en 'labelsList' y accedemos directamente a 'label.title'\nconst foundLabel = labelsList.find(label => label.title === targetLabelName);\n\n// 4. Devuelve el resultado en el formato que n8n espera: un array de items\n//    Cada item debe tener una propiedad 'json' que contenga nuestros datos\nreturn [{ json: foundLabel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,-16],"id":"70db8cab-1dd4-47f7-80dc-0b7997e14155","name":"Encontrar Etiqueta"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"555cb9e3-1961-4990-b2fa-8eb1eece0c3c","leftValue":"={{ $json.messages_acount }}","rightValue":1,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,224],"id":"dde20e94-2b18-4320-aadd-430913665cd3","name":"¿Es Cliente Nuevo?"},{"parameters":{"jsCode":"const baseUrl = \"https://grupodksoluciones.com/bienvenidabaquera/\";\nconst total = 2;\n\nlet items = [];\n\nfor (let i = 1; i <= total; i++) {\n  items.push({\n    json: {\n      nombre: `${i}.jpg`,\n      url: `${baseUrl}${i}.jpg`\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,-208],"id":"16f0236b-377a-41ff-8d99-656cedad4f14","name":"Trae Imagen"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"👋 ¡Hola! ¿Cómo estás? 😊 Mi nombre es Sofía, experta en calzado de cuero Nobuck. ¡Un gusto tenerte por aquí!"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,-208],"id":"904293b0-1188-4e90-898d-0c6191026870","name":"Envia Mensaje Saludo"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-208],"id":"20338b3a-ac97-444b-b903-4fe3f70de304","name":"Descarga Imagen"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-208],"id":"dde91087-3acd-4600-ae3d-40420de374bf","name":"Enviar Imagen"},{"parameters":{"amount":13},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-432,0],"id":"dae55912-6a90-4e52-8da8-553277d5e437","name":"Retrasa","webhookId":"470ea4e5-df9d-4de2-9c54-0ced6e038084"},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"💰 Precios:|Antes $134.900Ahora $119.900 con envío gratis 🚚✨📏 Tallas disponibles: 36 a 44🎨 Colores: Marrón y negro¿En qué ciudad te encuentras?"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,0],"id":"53de274f-7a75-4b13-9c24-185ddad497f5","name":"Envia Mensaje Bienvenida"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"text":"Analiza la siguiente imagen de una bota. Tu tarea tiene dos partes:\n1.  Lee cualquier texto visible en la imagen.\n2.  Identifica el color principal de la bota (solo puede ser \"marrón\" o \"negro\").\n\nTu única respuesta debe ser un texto que combine ambas informaciones en el siguiente formato exacto: \"[Texto leído] color [Color identificado]\".\n\nEjemplos:\n- Si lees \"BAQUERA\" y la bota es marrón, tu respuesta debe ser: \"BAQUERA color marrón\".\n- Si lees \"BAQUERA\" y la bota es negra, tu respuesta debe ser: \"BAQUERA color negro\".\n\nNo añadas ninguna palabra, saludo o explicación adicional.","imageUrls":"={{ $json.data_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1456,352],"id":"8f3c85a8-f2c2-49b0-a1a5-5728107d17e2","name":"Analyze image","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"method":"POST","url":"=https://crm.enterprisetecno.com/api/v1/accounts/{{ $('Recibe Mensaje').item.json.account_id }}/conversations/{{ $('Recibe Mensaje').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"7LcL1q3x4hgGCVnaiGepLzNm"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Analiza Respuesta del Agente').item.json.message }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,0],"id":"e1ba0eec-62c7-48b6-a0e4-b52d525b5f7a","name":"Envia Mensaje Imagenes"},{"parameters":{"jsCode":"// Obtenemos la salida de texto del Agente Laura\nconst outputString = items[0].json.output;\n\n// Valores por defecto por si la IA responde con texto plano\nlet finalAction = 'ACCION_ENVIAR_TEXTO';\nlet finalMessage = outputString;\n\n// Expresión regular para buscar y extraer el valor de la clave \"action\"\nconst actionRegex = /\"action\":\\s*\"([^\"]*)\"/;\n// Expresión regular para buscar y extraer el valor de la clave \"message\"\n// Esta versión maneja texto de múltiples líneas y caracteres especiales\nconst messageRegex = /\"message\":\\s*\"([\\s\\S]*?)\"\\s*}/;\n\nconst actionMatch = outputString.match(actionRegex);\nconst messageMatch = outputString.match(messageRegex);\n\n// Si encontramos AMBOS valores, significa que la IA nos dio el JSON\nif (actionMatch && messageMatch) {\n  finalAction = actionMatch[1];\n  // El [1] se refiere al texto capturado dentro de los paréntesis en el regex\n  finalMessage = messageMatch[1];\n}\n\n// Devolvemos el objeto final, limpio y estructurado\nreturn [{\n  json: {\n    action: finalAction,\n    // Limpiamos la salida por si acaso, eliminando caracteres de escape\n    message: finalMessage.replace(/\\\\n/g, '\\n').trim()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,240],"id":"a2da1bf3-694e-442e-918c-e89f39d6df4e","name":"Analiza Respuesta del Agente"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-464,416],"id":"0f116b73-c876-4215-ae10-30e1238115fa","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"audioUrls":"={{ $json.data_url }}","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1472,48],"id":"3eb2e44a-2fbb-4cb3-832d-72b685da0a2f","name":"Transcribe a Audios","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"messages":{"values":[{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc... y supere la capacidad de tamaño permitida por la plataforma que es de 2MB\n\nSimplemente responde: \"Audio\" o \"Texto\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[496,256],"id":"4f0974cb-9011-4152-8b1b-4facb752f357","name":"Tipo de Respuesta","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}},{"parameters":{"jsCode":"// Obtenemos los datos de las tres posibles entradas (inputs).\nconst textInput = items.find(item => item.json.message !== undefined);\nconst audioInput = items.find(item => item.json.candidates?.[0]?.content?.parts?.[0]?.text);\n// CORRECCIÓN: La ruta para la imagen es más directa, sin \"candidates\".\nconst imageInput = items.find(item => item.json.content?.parts?.[0]?.text);\n\nlet mensajeUnificado = '';\n\n// Verificamos cuál de las entradas tiene datos y extraemos el mensaje.\nif (textInput) {\n  mensajeUnificado = textInput.json.message;\n} \nelse if (audioInput) {\n  mensajeUnificado = audioInput.json.candidates[0].content.parts[0].text;\n} \nelse if (imageInput) {\n  // CORRECCIÓN: Usamos la ruta correcta para la imagen.\n  mensajeUnificado = imageInput.json.content.parts[0].text;\n}\n\n// Devolvemos un nuevo objeto con la variable estandarizada.\nreturn [{\n  json: {\n    mensaje_usuario: mensajeUnificado\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,224],"id":"030f90ea-b79d-4212-8a34-fcb0a5f60b0d","name":"Recolecta Datos"}],"connections":{"¿Pide Imagen?":{"main":[[{"node":"Subir Imagenes","type":"main","index":0},{"node":"Espera para enviar Mensaje","type":"main","index":0}],[{"node":"Tipo de Respuesta","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Transcribe a Audios","type":"main","index":0}],[{"node":"Recolecta Datos","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Mapea el Mensaje Usuario":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Recibe Mensaje":{"main":[[{"node":"¿Es Cliente Nuevo?","type":"main","index":0}]]},"Agente Laura":{"main":[[{"node":"Analiza Respuesta del Agente","type":"main","index":0}]]},"Selecciona Respuesta":{"main":[[{"node":"Envia Mensaje Texto","type":"main","index":0}],[{"node":"Genera el audio","type":"main","index":0}]]},"Subir Imagenes":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Renombra Archivo Audio","type":"main","index":0}]]},"Espera para enviar Mensaje":{"main":[[{"node":"Envia Mensaje Imagenes","type":"main","index":0}]]},"Envia Mensaje Texto":{"main":[[{"node":"Verifica si estan los Datos","type":"main","index":0}]]},"Verifica si estan los Datos":{"main":[[{"node":"Extrae los Datos del Pedido","type":"main","index":0}],[]]},"Extrae los Datos del Pedido":{"main":[[{"node":"Agrega Pedido Nuevo Hoja de Excel","type":"main","index":0}]]},"Agrega Pedido Nuevo Hoja de Excel":{"main":[[{"node":"Asignar Agente","type":"main","index":0}]]},"Resultado de la Busquedad":{"main":[[{"node":"Verifica si el Contacto Existe","type":"main","index":0}]]},"Verifica si el Contacto Existe":{"main":[[{"node":"Datos Contacto","type":"main","index":0}],[]]},"Genera el audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Renombra Archivo Audio":{"main":[[{"node":"Envia Mensaje Audio","type":"main","index":0}]]},"Busca el Contacto":{"main":[[{"node":"Resultado de la Busquedad","type":"main","index":0}]]},"Datos Contacto":{"main":[[{"node":"Crear un Contacto","type":"main","index":0}]]},"Crear un Contacto":{"main":[[]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Laura","type":"ai_memory","index":0}]]},"Webhook -- CRM DK":{"main":[[{"node":"If","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Envia Imagenes","type":"main","index":0}]]},"Cambia Estado":{"main":[[{"node":"Obtener Etiqueta","type":"main","index":0}]]},"Asignar Agente":{"main":[[{"node":"Cambia Estado","type":"main","index":0}]]},"If":{"main":[[{"node":"Mapea el Mensaje Usuario","type":"main","index":0}]]},"Añadir Etiqueta":{"main":[[{"node":"Busca el Contacto","type":"main","index":0}]]},"Obtener Etiqueta":{"main":[[{"node":"Encontrar Etiqueta","type":"main","index":0}]]},"Encontrar Etiqueta":{"main":[[{"node":"Añadir Etiqueta","type":"main","index":0}]]},"¿Es Cliente Nuevo?":{"main":[[{"node":"Envia Mensaje Saludo","type":"main","index":0},{"node":"Retrasa","type":"main","index":0}],[{"node":"Agente Laura","type":"main","index":0}]]},"Envia Mensaje Saludo":{"main":[[{"node":"Trae Imagen","type":"main","index":0}]]},"Trae Imagen":{"main":[[{"node":"Descarga Imagen","type":"main","index":0}]]},"Descarga Imagen":{"main":[[{"node":"Enviar Imagen","type":"main","index":0}]]},"Enviar Imagen":{"main":[[]]},"Retrasa":{"main":[[{"node":"Envia Mensaje Bienvenida","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Recolecta Datos","type":"main","index":0}]]},"Analiza Respuesta del Agente":{"main":[[{"node":"¿Pide Imagen?","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente Laura","type":"ai_languageModel","index":0}]]},"Transcribe a Audios":{"main":[[{"node":"Recolecta Datos","type":"main","index":0}]]},"Tipo de Respuesta":{"main":[[{"node":"Selecciona Respuesta","type":"main","index":0}]]},"Recolecta Datos":{"main":[[{"node":"Recibe Mensaje","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook -- CRM DK":[{"json":{"headers":{"connection":"Upgrade","host":"n8.enterprisetecno.com","x-real-ip":"212.56.33.215","x-forwarded-for":"212.56.33.215","x-forwarded-proto":"https","content-length":"1821","accept":"application/json","user-agent":"rest-client/2.1.0 (linux x86_64) ruby/3.4.4p34","content-type":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1966,"contact_id":1935,"inbox_id":6,"source_id":"573229686773","created_at":"2025-09-28T22:42:08.843Z","updated_at":"2025-09-28T22:42:08.843Z","hmac_verified":false,"pubsub_token":"3oeqbPpxDNKyf3xQgNhxxLwz"},"id":2013,"inbox_id":6,"messages":[{"id":17218,"content":"Bogotá","account_id":3,"inbox_id":6,"conversation_id":2013,"message_type":0,"created_at":1759099383,"updated_at":"2025-09-28T22:43:03.747Z","private":false,"status":"sent","source_id":"wamid.HBgMNTczMjI5Njg2NzczFQIAEhggQUNBMUQ3NDI3QUYxMUJERDFCMzI4MjM3QTFBQTE0QUYA","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":1935,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Bogotá","sentiment":{},"conversation":{"assignee_id":null,"unread_count":2,"last_activity_at":1759099383,"contact_inbox":{"source_id":"573229686773"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":1935,"identifier":null,"name":"arnulfoortizflorido1968","phone_number":"+573229686773","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":1935,"identifier":null,"name":"arnulfoortizflorido1968","phone_number":"+573229686773","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":2,"first_reply_created_at":"2025-09-28T22:42:09.569Z","priority":null,"waiting_since":1759099383,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1759099383,"timestamp":1759099383,"created_at":1759099328,"updated_at":1759099383.837155,"event":"automation_event.message_created"},"webhookUrl":"https://n8.enterprisetecno.com/webhook/linea_ventas_baqueras","executionMode":"production"}}]},"versionId":"a564d259-f0ae-43ee-9d0f-83399fb09a69","triggerCount":1,"shared":[{"createdAt":"2025-08-28T15:05:17.578Z","updatedAt":"2025-08-28T15:05:17.578Z","role":"workflow:owner","workflowId":"YHKjyDEHz6GpYDBs","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}