dk_botas_baqueras_chatwoot-0fqYBlfbG5l3pKx1.json
{"createdAt":"2025-07-04T18:47:46.826Z","updatedAt":"2025-07-07T13:11:30.000Z","id":"0fqYBlfbG5l3pKx1","name":"DK_Botas_Baqueras_Chatwoot","active":false,"isArchived":true,"nodes":[{"parameters":{"method":"POST","url":"https://app.enterprisetecno.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fzaUbrEvm8RvfJ5c9pIQtOrQEtNInB"},{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields').item.json.number }}"},{"name":"body"},{"name":"sendSignature","value":"false"},{"name":"closeTicket","value":"false"},{"parameterType":"formBinaryData","name":"medias","inputDataFieldName":"=data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,360],"id":"7bf5b43c-8e0a-4bc8-be2b-91b401d83798","name":"HTTP Request","notesInFlow":false},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI(\"query\") }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1420,660],"id":"17efe952-3207-4acc-b932-de25d392d53c","name":"Postgres1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents_eccomerce","toolDescription":"Vector Database","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"topK":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1040,700],"id":"35cdf5bd-8811-4b66-a6a4-133e93ebb656","name":"Supabase Vector Store1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[940,940],"id":"5828223e-fc61-4ba3-9bc8-d94e0f7d0b99","name":"Embeddings OpenAI1"},{"parameters":{"httpMethod":"POST","path":"bbd0a600-714c-4e1d-9a43-35a30288b3db","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-820,320],"id":"f268d8d4-9ddb-4288-b4ad-cf6b58667a65","name":"Webhook","webhookId":"bbd0a600-714c-4e1d-9a43-35a30288b3db"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Mapeo de mensaje').item.json.mensaje }}","tableName":"=n8n_chat_histories_cliente","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[800,720],"id":"13882a7b-ddfa-4835-b6b2-8e64d1f765d8","name":"Postgres Chat Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,680],"id":"4981148a-bcae-4d68-9552-3981f12827a3","name":"OpenAI Chat Model"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.audio }}","rightValue":"=audio","operator":{"type":"string","operation":"equals"},"id":"be9dbcd5-0882-4ce9-9822-305865fae492"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a0ec742-7f93-4ea1-af39-35d410da1c1a","leftValue":"={{ $json.text }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-280,320],"id":"e348cf61-bd47-46ae-9bdf-db95368304f8","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,180],"id":"bd7c331f-9af3-46e1-a25d-c8a10a945ef7","name":"OpenAI1"},{"parameters":{"assignments":{"assignments":[{"id":"9ab83bb8-0010-4684-ae19-79e992cb39ea","name":"body.data.message._data.id.remote","value":"={{ $json.body.conversation.contact_inbox.source_id }}","type":"string"},{"id":"26e6f1fb-f66d-4080-a01e-9e889cb2156e","name":"body","value":"={{ $json.body }}","type":"object"},{"id":"3bb7dbe4-91dd-4a12-bd99-45e93aa22d1c","name":"text","value":"={{ $json.body.content_type }}","type":"string"},{"id":"201facb3-ad1c-4dc7-8322-7da908020d94","name":"audio","value":"={{ $json.body.conversation.messages[0].attachments[0].file_type }}","type":"string"},{"id":"d7019858-56db-4b8e-9223-37673b4603cc","name":"number","value":"={{ $json.body.conversation.messages[0].sender.phone_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,320],"id":"35ae5230-c61f-4e86-820e-a77152e72162","name":"Edit Fields"},{"parameters":{"content":"## Primero configuramos la entrada de información y setteamos ciertos campos que necesitaremos más adelante","height":180,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-840,100],"id":"8f5bf336-8829-4bdb-9afc-13c570af35d9","name":"Sticky Note"},{"parameters":{"content":"Ahora lo que hacemos es identificar si la información recibida viene en forma de texto o audio","height":100,"width":220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,200],"id":"7790bec3-bff4-4d38-800e-521542ac7b5c","name":"Sticky Note1"},{"parameters":{"content":"## Aquí ocurre la magia. el agente interpreta la información, accede a sus herramientas (base de datos vectorial en este caso) y devuelve una información.","height":120,"width":880,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,200],"id":"db32de65-7f70-43a4-be30-650d813591f9","name":"Sticky Note2"},{"parameters":{"content":"Aquí el audio se convierte el Base64 del audio en un archivo y se descarga en N8N, entonces N8N tiene acceso al archivo y es capaz (mediante un nodo de Transcribe Recording de OpenAI) de transcribir ese audio. Pasar de Audio a Texto","width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"63083c52-6c37-478f-84a1-622e7051c7dc","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"b07077dc-5641-4175-8dc1-faf1f795c679","name":"mensaje","value":"={{ $json.body.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,340],"id":"41614e08-3700-4caa-b952-a764a38d0418","name":"Mapeo de mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"885de69c-8001-421f-ad5e-304003d8106b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c5b603c-3721-480a-a0ef-97091417afbb","leftValue":"={{ $json.message.content }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2020,340],"id":"90ec45ba-e194-4efb-9959-96f5c4cf1d1a","name":"Switch1"},{"parameters":{"method":"POST","url":"https://chatwoot.enterprisetecno.com/api/v1/accounts/1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer WEGgZ2AR1Hn7dipvAFDfD8yt"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Agente Laura').item.json.output }}"},{"name":"conversation_id","value":"={{ $('Edit Fields').item.json.body.conversation.messages[0].conversation_id }}"},{"name":"account_id","value":"={{ $('Edit Fields').item.json.body.conversation.messages[0].account_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2380,100],"id":"e812a956-ce62-4744-bba5-78a3333390e6","name":"HTTP Request1"},{"parameters":{"content":"Este GPT considera si la respuesta debe enviarse en formato audio o formato texto","height":80,"width":280,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1640,220],"id":"8cb82e71-f962-440b-a7a2-655508258ec4","name":"Sticky Note6"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"=Eres una experta en Ventas de calzado que vende botas baqueras.\nTu nombre es Laura.\nUsa emojis para ser llamativa.\nAl principio de la conversación se saluda al cliente y se le pregunta si desea saber más sobre las botas vaqueras. recuerda que manejamos solo el color marron y negro\nDespués de la presentación sólo haz una pregunta por respuesta para no abrumar al cliente.\nsi el cliente pregunta que si es solo de mujer le dices que es unisex es tanto para hombres como para mujeres\nUna vez el cliente responde que quiere saber más sobre las botas vaqueras es muy importante preguntar en qué ciudad se encuentra para validar que tengamos envío gratis contra entrega.\nDespués de que el cliente menciona la ciudad confírmale que tenemos envío GRATIS contra entrega y muy importante proceder a compartir los precios y hacer preguntas durante el chat que eleven el nivel de conciencia del cliente para cerrar la venta.\nsi el cliente te pregunta por más colores dile que manejamos en marron y negro pregúntale ¿cual le gusta más?\nSi el cliente solicita que le envien fotos, foto, catálogo o catalogo y en el contenido del mensaje existen estas palabras sin importar si esta escrita con mayusculas o minusculas, deja que el flujo de Make envie las fotos, no responda nada adicional a este mensaje, tampoco envíe los enlaces de las imagenes, solo continúa la conversación con el cliente, \nNunca envíe enlaces o links de las imagenes al cliente\nSi el cliente desea hacer un pedido, finaliza la conversación agradece por la compra y solicita directamente los siguientes datos:\nCuando un cliente exprese interés en realizar su pedido, solicita amablemente la siguiente información para procesar su pedido:​\nNombre completo\nTeléfono\nCiudad\nDepartamento\nDirección completa\nTalla\nColor\nCantidad\nNota: Importante, la dirección debe estar completa (al menos que tenga calle o carrera) para poder hacer el pedido sino no se puede ya que la transportadora pide dirección completa.\nUna vez que el cliente proporcione todos estos datos, responde con un mensaje de agradecimiento, informándole que su pedido está siendo procesado y que en breve recibirá el número de guía de envío y los detalles del pedido a través de WhatsApp. Mantén un tono cordial, profesional y enfocado en brindar una excelente experiencia de compra.\nSi el cliente desea reclamar en oficina por Interrapidisimo muy importante no debes pedir dirección (ni carrera ni calle) ya que no es necesario cuando es para reclamar en oficina y agradece la compra y finaliza el pedido.\nSi el cliente desea reclamar en la Oficina de Interrapidisimo, o expresa la idea que desea que sea entregado en esta oficina de su ciudad, coloca esta información como Dirección Completa, y confirma la ciudad y el departamento para que sea entregado correctamente\nSi el cliente desea reclamar en oficina de Servientrega dile que no tenemos convenio de envíos con Servientrega, solo puede reclamar en una oficina de Interrapidisimo.\nEl barrio es opcional, si el cliente no lo menciona no lo pidas.\nVe agregando la información a medida que la va proporcionando para completar el pedido. Una vez el cliente proporciona los datos necesarios (sin necesidad de los opcionales) agradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\nSi el cliente está enviando los datos, le envías un resumen para que sepa cuál dato le falta, es indispensable que los datos del pedido sean los más exactos para no tener problemas con la transportadora.\nCuando el cliente entregue todos los datos para realizar el pedido envía el resumen de la siguiente forma sin guiones o asteriscos tampoco le coloque caracteres especiales:\nNombre completo:\nTeléfono:\nCiudad:\nDepartamento:\nDirección completa:\nTalla:\nColor:\nCantidad:\nagradece directamente por la compra y dile que Ya mismo subiremos tu pedido y apenas se genere la guía de envío te la estaré compartiendo. Por favor, está pendiente del teléfono y asegúrate de tener el pago listo para el mensajero y desea un excelente día.\n\n\n\nInformación General:\nla Bota es %100 cuero de excelente calidad, ciento por ciento cuero y suela pvc cocida  ultra resistente , no es en cuerina sino 100 % cuero  ideal para todo tipo de trabajo. Elaboradas con la mejor tecnología de punta en cuero con los mejores acabados.\nEspecificaciones de las botas en cuero nobuck: Suela pvc, material cuero, suela en  pvc  duradero. Es un material resistente, ideal para trabajo en campo y ciudad. Acabados de excelente calidad.cuenta con excelente acabados y excelente costuras!. \nTallas disponibles:  36 a la 44.\nSuela : Spanson ultra resistente con refuerzo cosido para mayor durabilidad\nMaterial: cuero.\nColores : Marron y Negro \n\nTabla de tallas de las botas en cuero:\n23 centímetros para la talla 36.\n24 centímetros para la talla 37.\n25 centímetros para la talla 38.\n26 centímetros para la talla 39.\n27 centímetros para la talla 40.\n28 centímetros para la talla 41.\n29 centímetros para la talla 42.\n30 centímetros para la talla 43.\n31 centímetros para la talla 44.\n\n-OFERTAS DEL DÍA-\nAntes $134.00 Ahora 1x $117.000  pesos  con ENVÍO GRATIS\nMedio de pago principal contra entrega. Si deseas pagar anticipadamente se le enviará en número de cuenta al Nequi: 3105901444 la persona debe enviar comprobante de pago o de lo contrario será contra entrega\n \n # CUENTA DE AHORROS BANCOLOMBIA 01535325894\nambas cuentas bancarias están a nombre de Daniel Esteban Perez\nLos envíos tardan de 2 a 4 días para ciudades capitales y 5 días hábiles para municipios en promedio.\nLos envíos a Medellín duran de 1 a 2 días y las capitales principales de Colombia duran 3 días hábiles. En municipios o otros lugares de Colombia donde exista cobertura el tiempo de entrega es de 3 a 5 días hábiles sin contar sábados, domingos y festivos.\nSi un cliente ya recibió el producto y no está satisfecho, informar amablemente a que espere por resultados. (No ofrecemos devolución del dinero, esto mencionarlo solo si el cliente pregunta).\nInformar al cliente que el producto entregado es el correcto junto con su presentación y que es un producto original y respaldado por expertos.\nSi el cliente pregunta hasta cuando la promoción le dices que se acaba en 24 horas, después llegará a su precio normal que es un 40% más alto.\nSi el cliente pregunta cuánto es la garantía del producto le dices que es de 4 meses.\nSi te piden precios mayoristas o para negocio, debes enviar el siguiente mensaje: Para una cotización como mayorista, escríbenos aquí: https://wa.link/9uc1cg\nSi el cliente pregunta que si son originales le dices que es producto nacional Diseño moderno, originales de propiedad de la marca\nSi el cliente pide número de guía informa que apenas la tengas disponible se la envías.\n¿En dónde están ubicados?: Estamos ubicados en la ciudad de Medellín, pero nuestra tienda es virtual, hacemos envíos a todo el país\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1020,340],"id":"d0d26453-769c-4d04-b5f9-adaa4a518a4a","name":"Agente Laura"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.output }}"},{"content":"En base a la respuesta recibida, determina si la respuesta deberíamos dársela en formato audio o formato texto.\n\nTrata de enviar el 0% de las veces un audio y 100% texto. resérvate el texto para cuando te pida en el mensaje explícitamente que le envíes un texto y para cuando en el mensaje se detalle mucha información sobre el programa, los módulos, etc...\n\nSimplemente responde: \"Audio\" o \"Texto\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1540,340],"id":"bd455200-7bd9-406d-9069-1a53140c2868","name":"Texto o Audio"},{"parameters":{"resource":"audio","input":"={{ $('Agente Laura').item.json.output }}","voice":"shimmer","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2360,360],"id":"48076d31-280e-4a40-8f19-7315d9c59c41","name":"Genera audio"},{"parameters":{"url":"={{ $json.body.message.audioMessage.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,180],"id":"e765359f-f6ed-4b8c-8951-32446480e59f","name":"Descarga Audio","alwaysOutputData":true,"executeOnce":false,"notesInFlow":false},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[180,180],"id":"9633254f-3be9-4376-9f87-dfa3d1867a45","name":"Convert to File"}],"connections":{"Postgres1":{"ai_tool":[[{"node":"Agente Laura","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"Agente Laura","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente Laura","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Laura","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Descarga Audio","type":"main","index":0}],[{"node":"Mapeo de mensaje","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Mapeo de mensaje","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Mapeo de mensaje":{"main":[[{"node":"Agente Laura","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Genera audio","type":"main","index":0}]]},"Agente Laura":{"main":[[{"node":"Texto o Audio","type":"main","index":0}]]},"Texto o Audio":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Genera audio":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Descarga Audio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d9c90f94-9fa0-424d-b2bf-b3b5b3bd0e0c","triggerCount":0,"shared":[{"createdAt":"2025-07-04T18:47:46.834Z","updatedAt":"2025-07-04T18:47:46.834Z","role":"workflow:owner","workflowId":"0fqYBlfbG5l3pKx1","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}