extrae-informacion-pagina-web-Y9PIg6IbDH5fjUpq.json
{"createdAt":"2025-07-11T09:35:12.882Z","updatedAt":"2025-07-13T08:22:18.000Z","id":"Y9PIg6IbDH5fjUpq","name":"Extrae Informacion Pagina WEB","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1SJgTzIPVW3IiTJT3-Au-2DfNYf5GBOOonL2HKjzIsf8","mode":"list","cachedResultName":"productos_eleven_web","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJgTzIPVW3IiTJT3-Au-2DfNYf5GBOOonL2HKjzIsf8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJgTzIPVW3IiTJT3-Au-2DfNYf5GBOOonL2HKjzIsf8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre_producto":"={{ $json.product_name }}","Categoria":"={{ $json.category }}","Precio":"={{ $json.price }}","Url":"={{ $json.page_url }}","Descripcion_corta":"={{ $json.short_description }}","Descripcion_larga":"={{ $json.long_description }}"},"matchingColumns":[],"schema":[{"id":"Nombre_producto","displayName":"Nombre_producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descripcion_corta","displayName":"Descripcion_corta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descripcion_larga","displayName":"Descripcion_larga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2620,100],"id":"02f89415-9696-4bfc-abe0-241b918178a0","name":"Google Sheets"},{"parameters":{"content":"## Listar las URLs del woocommerce","height":460,"width":740},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,0],"id":"b77952ad-a537-4cfa-9c12-4063e5d196ee","name":"Sticky Note"},{"parameters":{"content":"## Obtiene la info de las URLs y elimina estilos","height":460,"width":940,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1240,0],"id":"fa62e1e5-481e-4bdb-8509-f92448355b8a","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer aquituapikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"urls\": [\n    \"https://tuwebsitewoocommerce/product-sitemap.xml\"\n  ],\n  \"prompt\": \"Extract all WooCommerce product URLs from the given page.\",\n  \"schema\": {\n  \"type\": \"object\",\n  \"properties\": {\n    \"product_urls\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"product_urls\"\n  ]\n}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,100],"id":"40567096-e95d-422a-924a-4f24019e2872","name":"Urls_extract"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa6bcee5-3288-4bbb-be9f-6ea8619ec807","leftValue":"={{ $json.status }}","rightValue":"processing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,100],"id":"d645da92-58cd-4e35-8f39-34fcffc4ab86","name":"procesando"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[520,100],"id":"2d96b8ea-43f4-4081-b4bd-8f55b7f6d941","name":"Wait","webhookId":"60768abe-36bc-4ab3-9406-a15ea22d74f5"},{"parameters":{"assignments":{"assignments":[{"id":"1efeef58-0d09-4074-af90-d9f3f0cf2f77","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,100],"id":"b454b97f-9b54-45d7-b2b4-8554576c737d","name":"id","executeOnce":false},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,220],"id":"b9d28b06-6f2d-485b-b6e9-76825909581b","name":"Obtenertextos"},{"parameters":{"jsCode":"/**\n * Convierte data.product_urls (array) en\n * varios items → { json: { url } }\n */\nconst urls =  $input.first().json.data.product_urls|| [];\nreturn urls.map(u => ({ json: { url: u } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,120],"id":"4d9dcb59-a7b4-4e1e-9188-7928805cb402","name":"Expande"},{"parameters":{"content":"## firecrawl","height":460,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"63c73799-3c4d-4bff-b126-7a9c2ee07d02","name":"Sticky Note2"},{"parameters":{"batchSize":"=10","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1520,120],"id":"a5f4fd54-6562-4113-814e-2ef9b186dff4","name":"Loop Over Items1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1940,240],"id":"4c9deb3a-04f5-4f7a-8781-01defe5d625c","name":"Wait1","webhookId":"30c3db69-8542-49c6-bddb-4e14f9c99d2d"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"product_name","cssSelector":"h1.product_title.entry-title"},{"key":"category","cssSelector":"span.single-product-category"},{"key":"price","cssSelector":"p.price bdi"},{"key":"short_description","cssSelector":"div.woocommerce-product-details__short-description"},{"key":"long_description","cssSelector":"div.woocommerce-Tabs-panel--description"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2260,100],"id":"24271d16-a636-489a-bd8e-408947140811","name":"HTML"},{"parameters":{"assignments":{"assignments":[{"id":"6205a94a-afdc-4fd0-95cb-b9166067bef8","name":"page_url","value":"={{ $('Expande').item.json.url }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,100],"id":"ee9eac67-0904-4170-842d-3b3a4e903cff","name":"URLADD"},{"parameters":{"url":"=https://api.firecrawl.dev/v1/extract/{{ $('id').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-79ad722aba934e3cb497bf20b4ae4c8b"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,100],"id":"4a301ddd-fefd-4902-bc66-5aa22381f11b","name":"listar1"},{"parameters":{"content":"## HTML limpia y vacía en Sheets","height":460,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2200,0],"id":"ccd6f2da-6b5b-42d0-b9cb-b815ff6269e5","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-120,660],"id":"55d52f48-3c4e-4509-96dd-03b69157af4a","name":"When clicking ‘Execute workflow’"}],"connections":{"Urls_extract":{"main":[[{"node":"id","type":"main","index":0}]]},"procesando":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Expande","type":"main","index":0}]]},"Wait":{"main":[[{"node":"listar1","type":"main","index":0}]]},"id":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Obtenertextos":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Expande":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"HTML","type":"main","index":0}],[{"node":"Obtenertextos","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"URLADD","type":"main","index":0}]]},"URLADD":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"listar1":{"main":[[{"node":"procesando","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0b9def8d-3a3e-4a31-b37a-c4d4497d654c","triggerCount":0,"shared":[{"createdAt":"2025-07-11T09:35:12.885Z","updatedAt":"2025-07-11T09:35:12.885Z","role":"workflow:owner","workflowId":"Y9PIg6IbDH5fjUpq","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}