ia_gdrive_chatbot-6JyKMWPY7T56V0jG.json
{"createdAt":"2025-07-06T06:47:15.316Z","updatedAt":"2025-07-06T07:23:36.000Z","id":"6JyKMWPY7T56V0jG","name":"ia_gdrive_chatbot","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ia_webhook","options":{}},"name":"Entrada WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-800,-120],"id":"8f3fb9d0-c7ad-48c3-bed3-230812b6067f","webhookId":"8475676f-8794-4715-bc4c-74074e7805bd"},{"parameters":{"authentication":"oAuth2","operation":"list","options":{}},"name":"Listar archivos en Drive","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-600,-120],"id":"a5e39acc-750c-4fa6-9928-b3cd4edd275a","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}},{"parameters":{"functionCode":"\nconst pdfs = items.filter(i => i.json.mimeType && i.json.mimeType.includes('pdf'));\nconst excels = items.filter(i => i.json.mimeType && i.json.mimeType.includes('spreadsheet'));\nreturn [...pdfs, ...excels];\n"},"name":"Separar por tipo","type":"n8n-nodes-base.function","typeVersion":1,"position":[-400,-120],"id":"8b54a1c0-b468-4910-ba5f-1464acbf600f"},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":"={{$json[\"id\"]}}","options":{}},"name":"Descargar archivo","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-160,-120],"id":"62242e4c-cd23-47a5-95a9-693e83b63378"},{"parameters":{},"name":"Extraer texto PDF","type":"n8n-nodes-base.file","typeVersion":1,"position":[-40,-340],"id":"369a7bc3-78a5-4b9d-8e60-bb0d31f176ed"},{"parameters":{"operation":"toJson"},"name":"Leer Excel","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[0,140],"id":"1a624f2e-007a-4da9-a5a5-d807a1f0f9e8"},{"parameters":{"functionCode":"\n// Combina todo el texto extraído en un sólo campo\nconst fullText = items.map(i => i.json.text || JSON.stringify(i.json)).join('\\n---\\n');\nreturn [{ json: { contexto: fullText, mensaje_usuario: $items(\"Entrada WhatsApp\")[0].json.body } }];\n"},"name":"Combinar contexto","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,-120],"id":"69eddede-7e1f-40aa-a84e-8b26fbfd3152"},{"parameters":{},"name":"Agente IA - OpenAI","type":"n8n-nodes-base.openaiChat","typeVersion":1,"position":[420,-120],"id":"ea057670-3cf5-43e6-bb36-80bf43561467"},{"parameters":{"requestMethod":"POST","url":"https://api.wasapi.io/send-message","jsonParameters":true,"options":{},"bodyParametersJson":"={\"to\":\"={{$json[\"from\"]}}\",\"type\":\"text\",\"text\":{\"body\":\"={{$json[\"choices\"][0][\"message\"][\"content\"]}}\"}}"},"name":"Responder WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[600,-120],"id":"20139ad7-f8b9-4a9b-b3ea-11eddcb92b9d"}],"connections":{"Entrada WhatsApp":{"main":[[{"node":"Listar archivos en Drive","type":"main","index":0}]]},"Listar archivos en Drive":{"main":[[{"node":"Separar por tipo","type":"main","index":0}]]},"Separar por tipo":{"main":[[{"node":"Descargar archivo","type":"main","index":0}]]},"Leer Excel":{"main":[[{"node":"Combinar contexto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cd0c0265-e378-4038-9e63-e9a9b6c96527","triggerCount":0,"shared":[{"createdAt":"2025-07-06T06:47:15.326Z","updatedAt":"2025-07-06T06:47:15.326Z","role":"workflow:owner","workflowId":"6JyKMWPY7T56V0jG","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}