n8n-agents-QXgaBJHbc2fVuC3Q.json
{"createdAt":"2025-10-21T05:36:18.889Z","updatedAt":"2025-10-21T05:36:18.889Z","id":"QXgaBJHbc2fVuC3Q","name":"N8N Agents","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"🧠 Descripción del Agente: Asistente de Tienda Cotidiana\nPropósito del agente:\nAtender solicitudes de clientes relacionadas con productos cotidianos disponibles en una tienda. El agente debe identificar los productos mencionados por el cliente, consultar sus precios en la hoja de cálculo Precios, y calcular el valor total usando la herramienta Calculadora.\n\n🛠 Herramientas disponibles:\nPrecios\nFuente de datos: Hoja de Google Spreadsheet con los siguientes campos:\n\nProducto: Nombre del producto disponible.\n\nPrecio: Costo unitario del producto (en la moneda local).\nEsta hoja contiene la lista completa de productos que la tienda ofrece.\n\nCalculadora\nHerramienta matemática que permite sumar cantidades o realizar operaciones básicas para obtener el valor total de una compra.\n\n🧩 Comportamiento del agente:\nComprensión de la solicitud del cliente:\nLeer cuidadosamente el mensaje del cliente. Puede incluir una lista de productos, cantidades o frases coloquiales como “quiero 2 litros de leche y una bolsa de arroz”.\n\nIdentificación de productos:\nExtraer los nombres y cantidades de los productos mencionados en la solicitud, asegurándose de que coincidan con los disponibles en la hoja Precios.\n\nConsulta de precios:\nBuscar en la herramienta Precios el costo unitario de cada producto mencionado.\n\nCálculo del total:\nMultiplicar cada producto por su cantidad correspondiente y sumar los resultados usando la herramienta Calculadora.\n\nRespuesta clara y amable:\nInformar al cliente el valor total de su solicitud y, si corresponde, desglosar los productos, sus precios y subtotales.\n\n🧾 Ejemplo de interacción:\nCliente:\n\nHola, ¿cuánto cuesta 1 litro de leche, 2 barras de chocolate y una caja de cereal?\n\nAcciones del agente:\n\nBuscar “leche”, “chocolate”, “cereal” en la hoja Precios.\n\nExtraer sus precios unitarios.\n\nMultiplicar por las cantidades solicitadas.\n\nSumar los valores.\n\nResponder:\n\nClaro, el total de tu compra es $6.70.\n\nLeche (1L): $1.20\n\nChocolate (2 unidades): $2.40\n\nCereal (1 caja): $3.10"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[400,7104],"id":"7b6aa3e3-559c-4f39-95c5-481c315269f7","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[384,7344],"id":"b2214140-52f6-4609-9ef9-44bdd410c4e1","name":"OpenAI Chat Model1"},{"parameters":{"chatId":"={{ $('Telegram Trigger2').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[912,7104],"id":"17271db7-28ea-4c80-9a73-f2245674c048","name":"Telegram","webhookId":"ac827e60-662c-4af5-82be-23ceaaa29aa5"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger2').item.json.message.text }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[512,7408],"id":"48f23d52-d400-4c05-a6b8-b6f2e35861b5","name":"Simple Memory"},{"parameters":{"text":"={{ $json.message.text }}","schemaType":"fromJson","jsonSchemaExample":"{\n\t\"cliente\": \"nombre del cliente\",\n\t\"cantidad\": \"valor del pago\",\n    \"producto\": \"identificador del producto\",\n    \"identificadores\": [\"entidad o persona que hace el pago\"]\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[368,4304],"id":"38463ebe-ab6e-4100-a149-4c18aeb065b4","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,4592],"id":"c55a64a0-c4f1-4bc5-8ec5-b6e7dcf1a695","name":"OpenAI Chat Model2"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemPromptTemplate":"Eres un experto en atención al cliente con acceso al inventario de la Tienda \"Mini Tienda La Pradera\" debes responder afirmativa o negativamente a la consulta del usuario en base a si los productos consultados existen o no.\n----------------\nContext: {context}"}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.5,"position":[432,2224],"id":"6ea7b33f-b21e-4837-bb87-6a24fd2d16b1","name":"Question and Answer Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,2448],"id":"d91fd8aa-9863-4b80-af6b-deccbe465740","name":"OpenAI Chat Model3"},{"parameters":{"inputText":"={{ $json.message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[432,5328],"id":"8dedbd2d-2b81-4b58-8eac-c1c7f2c3d918","name":"Sentiment Analysis"},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following:\n\n{{ $json.message.text }}\n\nCONCISE SUMMARY IN SAME LANGUAGE USED BY THE USER:","prompt":"=Write a concise summary of the following:\n\n{{ $json.message.text }}\n\nCONCISE SUMMARY IN SAME LANGUAGE USED BY THE USER:"}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[480,3424],"id":"6ff0b397-3773-49a3-a576-665a8f736529","name":"Summarization Chain"},{"parameters":{"inputText":"={{ $json.message.text }}","categories":{"categories":[{"category":"quejas","description":"si el mensaje del usuario contiene quejas sobre nuestro servicio"},{"category":"compra","description":"si el mensaje del usuario muestra interes por comprar nuestros servicios"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[352,6288],"id":"7cdd4884-e903-4ccf-bffa-282e0af84fd0","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[368,5600],"id":"9c237e0b-cace-4db9-bf73-aafba3ec8f33","name":"OpenAI Chat Model4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,3712],"id":"2ba7a3e2-b583-49f6-b6a5-0e66c198261e","name":"OpenAI Chat Model5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,6560],"id":"a0ace818-c321-4f48-b1b7-aa286fa82999","name":"OpenAI Chat Model6"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.response.text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,3424],"id":"2bd84651-6ee2-42cf-8ef1-99ca075a19ab","name":"Telegram4","webhookId":"801e67a8-7a02-444e-989f-d53869a05886"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[544,1472],"id":"16662f06-8800-400a-8f51-497da444af4f","name":"OpenAI Chat Model7"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[912,1488],"id":"9766f266-7086-4f30-9659-e16beaee1106","name":"OpenAI Chat Model8"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1264,1488],"id":"5441f608-86b2-4f6c-a9c0-54f5ae0ffbf9","name":"OpenAI Chat Model9"},{"parameters":{"assignments":{"assignments":[{"id":"06688183-f9fb-4baf-840e-58e9c1a66430","name":"prompt_to_optimize","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,1232],"id":"a58102b7-6a19-4492-87ae-fb3f27bd20f5","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Descripcion del agente dada por el usuario: {{$json.prompt_to_optimize}}\n\nAnaliza cuidadosamente la descripción del usuario sobre el agente.\nEnriquece y estructura la información para definir claramente:\n\nEl nombre o identificador del agente\nSu propósito principal y área de especialización\nEl tono y estilo de comunicación (formal, amigable, técnico, etc.)\nLa personalidad y los valores que debe reflejar el agente\nEl nivel de conocimiento específico que debe demostrar\nLa audiencia objetivo con la que interactuará\n\n\nSi alguno de estos elementos no está claramente especificado en la descripción original, crea una propuesta coherente basada en el contexto proporcionado.\nFormula tu respuesta como una descripción coherente en segunda persona (\"Eres un agente que...\").\n\nEjemplo de formato:\n# Definición de Identidad: [Nombre del Agente]\n\nEres [nombre/identificador], un agente especializado en [área de especialización]. Tu propósito principal es [propósito principal detallado], brindando asistencia a [audiencia objetivo].\n\nTu comunicación debe ser [estilo de comunicación] y demostrar [nivel de conocimiento]. Tu personalidad se caracteriza por [rasgos de personalidad relevantes] y debes priorizar [valores principales].\n\nComo [nombre/identificador], debes presentarte como [breve descripción de autoridad o credibilidad].\nImportante: Mantén esta definición de identidad concisa pero completa, ya que será enriquecida por los siguientes nodos del pipeline.\n\nSé conciso y directo: elimina redundancias, evita lenguaje florido y céntrate únicamente en los elementos esenciales de la identidad. El texto final no debe superar los 1-2 párrafos."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[608,1232],"id":"4efd6ffa-09ca-4714-8cac-d1cb9e538fa8","name":"Identidad"},{"parameters":{"promptType":"define","text":"=Analiza cuidadosamente la descripción de identidad del agente proporcionada a continuacion:\n\n{{ $json.text }}\n\nIdentifica las herramientas mencionadas por el usuario en la descripción original proporcionada a continuacion:\n\n{{ $('Edit Fields').item.json.prompt_to_optimize }}\n\n\nPara cada herramienta identificada, desarrolla:\n\nNombre específico de la herramienta\nPropósito principal de la herramienta\nCapacidades y limitaciones básicas de la herramienta\nContexto apropiado para su uso\n\n\nSi no se mencionan herramientas específicas, sugiere herramientas lógicas basadas en el propósito y especialización del agente.\nEstructura la información sobre estas herramientas de manera clara y coherente.\nIntegra esta información con la descripción de identidad existente, manteniendo la coherencia del texto.\n\nEjemplo de formato:\n[Texto de identidad previo]\n\n## Herramientas Disponibles:\n\nTienes acceso a las siguientes herramientas para cumplir con tu propósito:\n\n1. **[Nombre de Herramienta 1]**: Te permite [propósito de la herramienta]. Esta herramienta es particularmente útil cuando [contexto de uso].\n\n2. **[Nombre de Herramienta 2]**: Diseñada para [propósito de la herramienta]. Utilízala cuando necesites [contexto de uso].\n\n3. **[Nombre de Herramienta 3]**: Facilita [propósito de la herramienta]. Esta herramienta es ideal para [contexto de uso].\n\nDebes ser consciente de estas herramientas y seleccionar la más adecuada según el contexto y necesidades del usuario.\nImportante: Mantén esta descripción de herramientas clara y alineada con la identidad del agente, ya que será enriquecida por los siguientes nodos del pipeline.\n\nMantén la descripción de cada herramienta breve y funcional. Limítate a 2-5 líneas por herramienta, enfocándote en su función principal y caso de uso óptimo."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[960,1232],"id":"fa6d1333-c38e-4fc7-9b82-555a6d2718d5","name":"Herramientas"},{"parameters":{"promptType":"define","text":"=Eres un especialista en definir objetivos claros para agentes de IA. Has recibido una descripción enriquecida que incluye la identidad y herramientas disponibles para un agente. Tu tarea ahora es expandir esta descripción incorporando un objetivo claro, específico y alcanzable.\nInstrucciones:\n\nAnaliza cuidadosamente la descripción recibida (identidad y herramientas del agente).\n\nIdentidad:{{ $('Identidad').item.json.text }}\n\nHerramientas: {{$('Herramientas').item.json.text}}\n\nIdentifica el propósito general implícito o explícito en la descripción original del usuario.\n\ndescripcion original: {{ $('Edit Fields').item.json.prompt_to_optimize }}\n\nFormula un objetivo principal claro y varios subobjetivos específicos que el agente debe cumplir.\nDefine:\n\nEl objetivo principal (meta última del agente)\nSubobjetivos específicos (pasos o metas intermedias)\nMétricas de éxito (cómo se evalúa el cumplimiento del objetivo)\nPrioridades (qué debe priorizarse cuando hay objetivos en conflicto)\nCondiciones de finalización (cuándo se considera completada una tarea)\n\n\nAsegúrate de que los objetivos sean coherentes con la identidad del agente, aprovechen las herramientas disponibles y, sobre todo, cumplan con la intención original expresada por el usuario.\nIntegra esta información con la descripción existente, manteniendo la coherencia del texto.\n\nEjemplo de formato:\n[Texto de identidad y herramientas previo]\n\n## Objetivo Principal:\n\nTu objetivo principal es [objetivo principal detallado, alineado con la intención original del usuario]. Para lograrlo, deberás:\n\n1. **[Subobjetivo 1]**: [Descripción detallada]. Sabrás que has tenido éxito cuando [métrica de éxito].\n\n2. **[Subobjetivo 2]**: [Descripción detallada]. Este objetivo tiene prioridad cuando [condiciones específicas].\n\n3. **[Subobjetivo 3]**: [Descripción detallada]. Este objetivo se considera completado cuando [condición de finalización].\n\nEn caso de objetivos en conflicto, debes priorizar [jerarquía de prioridades]. Recuerda que el éxito se mide por [métrica global de éxito].\nImportante: Mantén esta descripción de objetivos clara, específica y alineada con la identidad y herramientas del agente, asegurándote de que cumpla fielmente con la intención original del usuario expresada en su mensaje inicial. Esta sección será enriquecida por el siguiente nodo del pipeline.\n\nDescribe cada objetivo con precisión: máximo 1-3 oraciones por objetivo. Evita explicaciones excesivas y céntrate en resultados medibles y concretos."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1328,1232],"id":"87508282-ec18-4a87-b7b4-6f1722341dfc","name":"Objetivo"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1664,1472],"id":"bbc030e1-b543-4bdb-820a-e278e0ca3735","name":"OpenAI Chat Model10"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2432,1232],"id":"d159c19b-8058-49b4-b9ff-e44503c03173","name":"Telegram6","webhookId":"f5cc11e6-b149-41ee-943a-f197706681ca"},{"parameters":{"promptType":"define","text":"=Eres un especialista en crear instrucciones detalladas para agentes de IA. Has recibido una descripción enriquecida que incluye la identidad, herramientas disponibles y objetivos para un agente. Tu tarea final es completar el prompt añadiendo instrucciones precisas sobre cómo debe operar el agente.\nInstrucciones:\n\nAnaliza cuidadosamente toda la descripción recibida (identidad, herramientas y objetivos).\n\nIdentidad: {{ $('Identidad').item.json.text }}\n\nHerramientas: {{ $('Herramientas').item.json.text }}\n\nObjetivo: {{ $('Objetivo').item.json.text }}\n\nDesarrolla un conjunto detallado de instrucciones operativas que especifiquen:\n\nCómo y cuándo utilizar cada herramienta disponible\nEl orden o flujo recomendado para abordar tareas\nLos protocolos para manejar situaciones ambiguas o excepcionales\nLos límites de acción y criterios para solicitar clarificación\nEl formato y estructura esperados para las respuestas\nCualquier consideración ética o de seguridad relevante\n\n\nPara cada herramienta mencionada, proporciona instrucciones específicas de uso con ejemplos claros.\nEstablece criterios para decidir qué herramienta usar en diferentes situaciones.\nDefine el flujo de trabajo óptimo para lograr los objetivos establecidos.\nIntegra estas instrucciones con la descripción existente, formando un prompt completo y coherente.\n\nEjemplo de formato:\n[Texto de identidad, herramientas y objetivos previo]\n\n## Instrucciones Operativas:\n\nPara cumplir tus objetivos efectivamente, sigue estas instrucciones:\n\n### Uso de Herramientas:\n\n1. **[Herramienta 1]**:\n   - Úsala cuando [situación específica].\n   - Procedimiento: [pasos detallados].\n   - Ejemplo: [ejemplo concreto de uso].\n   - Limitaciones: [advertencias o limitaciones].\n\n2. **[Herramienta 2]**:\n   - Úsala cuando [situación específica].\n   - Procedimiento: [pasos detallados].\n   - Ejemplo: [ejemplo concreto de uso].\n   - Limitaciones: [advertencias o limitaciones].\n\n### Flujo de Trabajo:\n\n1. Comienza siempre por [primer paso recomendado].\n2. Evalúa la situación usando [criterios específicos].\n3. Selecciona la herramienta apropiada basándote en [criterios de selección].\n4. Ejecuta [acción específica] y evalúa resultados.\n5. Si encuentras [situación excepcional], entonces [procedimiento alternativo].\n\n### Formato de Respuesta:\n\nEstructura tus respuestas siguiendo este formato:\n[Descripción detallada del formato esperado]\n\n### Consideraciones Adicionales:\n\n- Siempre prioriza [consideración importante].\n- Evita [acciones o comportamientos no deseados].\n- Cuando enfrentes ambigüedad, [procedimiento recomendado].\nImportante: Esta es la etapa final del pipeline. Asegúrate de que el prompt resultante sea completo, coherente y proporcione todas las instrucciones necesarias para que el agente opere efectivamente según la visión del usuario.\n\nPresenta instrucciones claras y directas. Usa frases cortas, verbos de acción y evita repeticiones. Cada instrucción debe ser inmediatamente aplicable."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1680,1232],"id":"06eb4671-ab4f-498c-8e23-bc009705f292","name":"Instrucciones"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1968,1440],"id":"5f600d7e-9c35-40f2-b7c0-b4942f454fed","name":"OpenAI Chat Model11"},{"parameters":{"promptType":"define","text":"=Eres un especialista en compilar y estructurar prompts completos para agentes de IA. Has recibido el resultado final de un proceso de enriquecimiento que incluye identidad, herramientas disponibles, objetivos e instrucciones operativas para un agente. Tu tarea es integrar todos estos elementos en un prompt final cohesivo y bien estructurado.\nInstrucciones:\n\nAnaliza cuidadosamente todo el contenido recibido.\nCompila un prompt final estructurado que incluya toda la información en el siguiente orden específico:\n\nSección 1: Definición de identidad\n\n{{ $('Identidad').item.json.text }}\n\nSección 2: Herramientas disponibles\n\n{{ $('Herramientas').item.json.text }}\n\nSección 3: Objetivo principal y subobjetivos\n\n{{ $('Objetivo').item.json.text }}\n\nSección 4: Instrucciones operativas\n\n{{ $('Instrucciones').item.json.text }}\n\nAsegúrate de:\n\nMantener la coherencia entre todas las secciones\nEliminar cualquier redundancia o contradicción\nUnificar el tono y estilo de comunicación\nPresentar un formato limpio con separación clara entre secciones\nPreservar todos los detalles importantes de cada componente\n\n\nAñade una breve introducción al inicio que encapsule la esencia completa del agente.\nFinaliza con una nota de cierre que refuerce el propósito principal.\n\nEjemplo de formato:\n# Prompt Completo para [Nombre del Agente]\n\n## Introducción\n[Breve descripción que sintetiza la esencia del agente, su propósito y enfoque]\n\n## 1. Identidad\n[Contenido completo de la sección de identidad]\n\n## 2. Herramientas Disponibles\n[Contenido completo de la sección de herramientas]\n\n## 3. Objetivos\n[Contenido completo de la sección de objetivos]\n\n## 4. Instrucciones Operativas\n[Contenido completo de la sección de instrucciones]\n\n## Nota Final\n[Breve recordatorio del propósito principal y expectativa de desempeño]\nImportante: Este es el paso final del pipeline. Tu tarea es asegurar que el prompt resultante sea completo, coherente, y proporcione todas las instrucciones necesarias para que el agente opere efectivamente según la visión del usuario. El prompt final debe estar listo para su implementación directa sin necesidad de ajustes adicionales.\n\nAsegúrate de que el texto final compilado no exceda bajo ninguna circunstancia los 4096 caracteres (incluyendo espacios y signos de puntuación). Si el contenido combinado supera este límite, prioriza la información esencial de cada sección, condensando o eliminando detalles redundantes o secundarios mientras mantienes la integridad funcional del prompt. Verifica el conteo de caracteres antes de finalizar tu respuesta."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2048,1232],"id":"e4179029-5fa8-4b28-b6d8-90d5005c974c","name":"compilador"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[400,2448],"id":"c453bb78-9609-460a-a324-3c9e394e36ec","name":"Vector Store Retriever"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"products_n_prices","mode":"list","cachedResultName":"products_n_prices"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[560,2672],"id":"d2f8c727-3574-4c44-9f0b-df16105365d2","name":"Qdrant Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[528,2864],"id":"a5006120-ec93-4785-8c70-05424657ec0a","name":"Embeddings OpenAI"},{"parameters":{"chatId":"={{ $('Telegram Trigger4').item.json.message.chat.id }}","text":"={{ $json.response }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,2224],"id":"b60b808a-81c8-4f89-ad42-312731ad553c","name":"Telegram7","webhookId":"f0bac279-b74e-4cd2-a537-1060cd7d9a7b"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,368],"id":"ccb6b7b7-4b7b-46ab-afd6-990e63be5627","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[144,3424],"id":"ea498750-5bce-4f7d-82d8-32f663afad0e","name":"Telegram Trigger","webhookId":"50cf9a01-9836-439e-a94a-1467e27926ff"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[112,5328],"id":"d09650bf-f899-4550-8535-f1e61ba08eb3","name":"Telegram Trigger1","webhookId":"50cf9a01-9836-439e-a94a-1467e27926ff"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1BavE19ZlALjCfS0ue6lS2AUc6D-3pfhiNP-ZYf-gfQE","mode":"list","cachedResultName":"information_extractor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BavE19ZlALjCfS0ue6lS2AUc6D-3pfhiNP-ZYf-gfQE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BavE19ZlALjCfS0ue6lS2AUc6D-3pfhiNP-ZYf-gfQE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"cliente":"={{ $json.output.cliente }}","cantidad":"={{ $json.output.cantidad }}","producto":"={{ $json.output.producto }}","identificadores":"={{ $json.output.identificadores }}"},"matchingColumns":[],"schema":[{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cantidad","displayName":"cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"producto","displayName":"producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"identificadores","displayName":"identificadores","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[720,4304],"id":"aeea1fb5-5385-419f-8557-59576f094609","name":"Google Sheets"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc","mode":"list","cachedResultName":"analisis_de_sentimiento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"sentiment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Telegram Trigger1').item.json.message.text }}","sentimiento":"={{ $json.sentimentAnalysis.category }}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[928,5328],"id":"f84ac138-17f0-4617-83ce-6ed0163216d5","name":"neutro"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc","mode":"list","cachedResultName":"analisis_de_sentimiento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"sentiment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Telegram Trigger1').item.json.message.text }}","sentimiento":"={{ $json.sentimentAnalysis.category }}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[928,5120],"id":"f76d4eda-250f-4c63-8f12-9c56acf47243","name":"positivo"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc","mode":"list","cachedResultName":"analisis_de_sentimiento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"sentiment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qIMynTSl8faxfnQA6UGL0XkISBCBVVF7kMfICQUCSSc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Telegram Trigger1').item.json.message.text }}","sentimiento":"={{ $json.sentimentAnalysis.category }}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[928,5520],"id":"e65ac90a-6f47-4bb7-a041-13450482d1f5","name":"negtivo"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[112,6288],"id":"87903450-3da2-4871-8f19-5031b643a5fc","name":"Telegram_classifier","webhookId":"c51a8052-1b13-4f34-adc6-47d4dd4ed9e5"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13JaO-ahJJ_YXXvp--ImSriqNGslfZ-l3nAuPjuysXds","mode":"list","cachedResultName":"potencial venta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13JaO-ahJJ_YXXvp--ImSriqNGslfZ-l3nAuPjuysXds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13JaO-ahJJ_YXXvp--ImSriqNGslfZ-l3nAuPjuysXds/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id_chat":"={{ $('Telegram_classifier').item.json.message.chat.id }}","nombre_cliente":"={{ $('Telegram_classifier').item.json.message.chat.first_name }}","mensaje":"={{ $('Telegram_classifier').item.json.message.text }}","fecha":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"id_chat","displayName":"id_chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_cliente","displayName":"nombre_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[800,6128],"id":"5cbd4e67-f211-471d-b394-118690a6d3cf","name":"Google Sheets - quejas"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13JaO-ahJJ_YXXvp--ImSriqNGslfZ-l3nAuPjuysXds","mode":"list","cachedResultName":"potencial venta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13JaO-ahJJ_YXXvp--ImSriqNGslfZ-l3nAuPjuysXds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13JaO-ahJJ_YXXvp--ImSriqNGslfZ-l3nAuPjuysXds/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id_chat":"={{ $json.message.chat.id }}","nombre_cliente":"={{ $json.message.chat.first_name }}","mensaje":"={{ $json.message.text }}","fecha":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"id_chat","displayName":"id_chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_cliente","displayName":"nombre_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[800,6400],"id":"6cb801e3-5c7b-4d1a-8b52-e1a64ae6d533","name":"Google Sheets - leads"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[928,7440],"id":"aa4d82a6-9401-4a5d-a15a-0b5041e61910","name":"Calculadora"},{"parameters":{"documentId":{"__rl":true,"value":"1NSzmusqskSU8-l3fYtGsBmQRsrL7MUyQi6Qt1-2V4OE","mode":"list","cachedResultName":"precio productos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NSzmusqskSU8-l3fYtGsBmQRsrL7MUyQi6Qt1-2V4OE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"precios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NSzmusqskSU8-l3fYtGsBmQRsrL7MUyQi6Qt1-2V4OE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[704,7424],"id":"da044535-47aa-4d94-bf3e-b4c648e51cd5","name":"Precios"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[144,7104],"id":"f5570d03-712c-4591-8f30-f55f11f80d40","name":"Telegram Trigger2","webhookId":"8a52e6ab-6817-439b-b712-62d46730aec9"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[112,4304],"id":"bc589bff-38db-45a0-8b23-84119b9ca797","name":"Telegram Trigger3","webhookId":"da4ca84b-2628-4986-82e4-ac1d9ac54ed1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[144,2224],"id":"6b3d869a-d41f-46c7-80ac-8b3f95615706","name":"Telegram Trigger4","webhookId":"3e673a57-d3ca-4645-9d4b-3385547bca90"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"products_n_prices","mode":"list","cachedResultName":"products_n_prices"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[560,144],"id":"161e8ebb-a0fd-4ce4-aa71-e334ee0fb42b","name":"Qdrant Vector Store1","notesInFlow":true,"disabled":true,"notes":"base de datos vectorial para clasificar los issues por severidad"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('reported_issues1').item.json.Producto }} ","options":{"metadata":{"metadataValues":[{"name":"precio","value":"={{ $('reported_issues1').item.json.Precio }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[672,368],"id":"100ef409-467d-4d8b-9531-91960be47458","name":"Default Data Loader","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[768,560],"id":"1de7cd33-a5e1-487a-a1c2-b683a2d703a6","name":"Token Splitter","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1NSzmusqskSU8-l3fYtGsBmQRsrL7MUyQi6Qt1-2V4OE","mode":"list","cachedResultName":"precio productos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NSzmusqskSU8-l3fYtGsBmQRsrL7MUyQi6Qt1-2V4OE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"precios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NSzmusqskSU8-l3fYtGsBmQRsrL7MUyQi6Qt1-2V4OE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,352],"id":"e7af32ae-3140-4710-8642-d224673d56d0","name":"reported_issues1","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[544,368],"id":"380ddc7c-b43e-4dd8-aac1-3fafe247a222","name":"Embeddings OpenAI1","disabled":true},{"parameters":{"content":"## Flujo para insertar los productos de una tienda en una base de datos vectorial\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":780,"width":980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"a85bae47-8bbd-46dc-9993-97461b684484","name":"Sticky Note"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[64,1232],"id":"e0c40deb-87ba-4f5e-9d4d-f9228ac341d0","name":"Telegram Trigger5","webhookId":"37efe762-84cb-4abc-b559-b20f8917748b"},{"parameters":{"content":"## Optimizacion de prompts\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n\n\n","height":740,"width":2700,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,960],"id":"c32328f9-ce76-4b10-9528-3dec79b3954c","name":"Sticky Note1"},{"parameters":{"content":"## Flujo para responder preguntas de los clientes de una tienda \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n\n\n","height":1120,"width":1160,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,1968],"id":"308a8c82-1186-4155-ac5c-c8d392fbd040","name":"Sticky Note2"},{"parameters":{"content":"## Flujo para resumir un texto\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n\n\n","height":700,"width":1080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,3200],"id":"747c15c5-ad11-47e3-b342-4195ab2c097c","name":"Sticky Note3"},{"parameters":{"content":"## Flujo para extraer informacion de datos desestructurados \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n","height":680,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,4112],"id":"577e711c-7680-4ecc-b457-ac2191daf4ab","name":"Sticky Note4"},{"parameters":{"content":"## Analisis de sentimientos \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n","height":840,"width":1200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,4992],"id":"e14e9e76-3b5c-444d-adea-2c500e1f3c6e","name":"Sticky Note5"},{"parameters":{"content":"## Clasificacion de texto \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n","height":740,"width":1040,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,6032],"id":"a3f81711-e156-4614-9c10-81f108be880a","name":"Sticky Note6"},{"parameters":{"content":"## Agente de atencion al cliente \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n","height":680,"width":1160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,6944],"id":"c5d26a23-3494-45ea-8016-1c5537c72223","name":"Sticky Note7"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Summarization Chain":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Question and Answer Chain":{"main":[[{"node":"Telegram7","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Google Sheets - quejas","type":"main","index":0}],[{"node":"Google Sheets - leads","type":"main","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Identidad","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"Herramientas","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"Objetivo","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Identidad","type":"main","index":0}]]},"Identidad":{"main":[[{"node":"Herramientas","type":"main","index":0}]]},"Herramientas":{"main":[[{"node":"Objetivo","type":"main","index":0}]]},"Objetivo":{"main":[[{"node":"Instrucciones","type":"main","index":0}]]},"OpenAI Chat Model10":{"ai_languageModel":[[{"node":"Instrucciones","type":"ai_languageModel","index":0}]]},"Instrucciones":{"main":[[{"node":"compilador","type":"main","index":0}]]},"OpenAI Chat Model11":{"ai_languageModel":[[{"node":"compilador","type":"ai_languageModel","index":0}]]},"compilador":{"main":[[{"node":"Telegram6","type":"main","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"reported_issues1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"positivo","type":"main","index":0}],[{"node":"neutro","type":"main","index":0}],[{"node":"negtivo","type":"main","index":0}]]},"Telegram_classifier":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Precios":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Telegram Trigger2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Telegram Trigger3":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Telegram Trigger4":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"reported_issues1":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Telegram Trigger5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"04b0866e-8731-45aa-a7e1-921b5e6eb76f","triggerCount":0,"shared":[{"createdAt":"2025-10-21T05:36:18.990Z","updatedAt":"2025-10-21T05:36:18.990Z","role":"workflow:owner","workflowId":"QXgaBJHbc2fVuC3Q","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}