plantilla-lee-pagina-web-qBlXyP9bL8AuYIk9.json
{"createdAt":"2025-07-11T09:19:24.344Z","updatedAt":"2025-07-13T08:22:28.000Z","id":"qBlXyP9bL8AuYIk9","name":"Plantilla Lee Pagina WEB","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1SJgTzIPVW3IiTJT3-Au-2DfNYf5GBOOonL2HKjzIsf8","mode":"list","cachedResultName":"productos_eleven_web","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJgTzIPVW3IiTJT3-Au-2DfNYf5GBOOonL2HKjzIsf8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJgTzIPVW3IiTJT3-Au-2DfNYf5GBOOonL2HKjzIsf8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre_producto":"={{ $json.product_name }}","Categoria":"={{ $json.category }}","Precio":"={{ $json.price }}","Url":"={{ $json.page_url }}","Descripcion_corta":"={{ $json.short_description }}","Descripcion_larga":"={{ $json.long_description }}"},"matchingColumns":[],"schema":[{"id":"Nombre_producto","displayName":"Nombre_producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descripcion_corta","displayName":"Descripcion_corta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descripcion_larga","displayName":"Descripcion_larga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2620,100],"id":"38221d3e-11fb-4971-8d96-960ec614bee3","name":"Google Sheets"},{"parameters":{"content":"## Listar las URLs del woocommerce","height":460,"width":740},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,0],"id":"5a070c33-6279-439d-a0f3-ed0b39b1188e","name":"Sticky Note"},{"parameters":{"content":"## Obtiene la info de las URLs y elimina estilos","height":460,"width":940,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,0],"id":"80273124-37ff-4b16-a8ce-1d63ee58b35f","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer aquituapikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"urls\": [\n    \"https://tuwebsitewoocommerce/product-sitemap.xml\"\n  ],\n  \"prompt\": \"Extract all WooCommerce product URLs from the given page.\",\n  \"schema\": {\n  \"type\": \"object\",\n  \"properties\": {\n    \"product_urls\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"product_urls\"\n  ]\n}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,100],"id":"e7861071-84c4-4804-8192-3ac1f8f7e459","name":"Urls_extract"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa6bcee5-3288-4bbb-be9f-6ea8619ec807","leftValue":"={{ $json.status }}","rightValue":"processing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,100],"id":"c970033e-96e7-49ff-809e-61a89d002515","name":"procesando"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[520,100],"id":"179ff792-94c3-41e8-ae96-5a304a401f1d","name":"Wait","webhookId":"60768abe-36bc-4ab3-9406-a15ea22d74f5"},{"parameters":{"assignments":{"assignments":[{"id":"1efeef58-0d09-4074-af90-d9f3f0cf2f77","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,100],"id":"bf3d2b0d-a2b3-4ed0-bff3-c40158bbb475","name":"id","executeOnce":false},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,220],"id":"73af87f9-d881-470a-a7f4-5395f0e3fa42","name":"Obtenertextos"},{"parameters":{"jsCode":"/**\n * Convierte data.product_urls (array) en\n * varios items → { json: { url } }\n */\nconst urls =  $input.first().json.data.product_urls|| [];\nreturn urls.map(u => ({ json: { url: u } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,120],"id":"bbb5ac18-d8f9-4221-9f49-d0b7a526d142","name":"Expande"},{"parameters":{"content":"## firecrawl","height":460,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"06d1515f-357b-4a4a-a469-ff7862a2e88b","name":"Sticky Note2"},{"parameters":{"batchSize":"=10","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1520,120],"id":"782f861e-da0a-4248-9d9d-4112ceb5abc6","name":"Loop Over Items1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1940,240],"id":"82cbfb22-0f01-4517-85db-ad0bd89f141b","name":"Wait1","webhookId":"30c3db69-8542-49c6-bddb-4e14f9c99d2d"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"product_name","cssSelector":"h1.product_title.entry-title"},{"key":"category","cssSelector":"span.single-product-category"},{"key":"price","cssSelector":"p.price bdi"},{"key":"short_description","cssSelector":"div.woocommerce-product-details__short-description"},{"key":"long_description","cssSelector":"div.woocommerce-Tabs-panel--description"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2260,100],"id":"e4f34f26-3c2a-4004-b38d-66048d9a5073","name":"HTML"},{"parameters":{"assignments":{"assignments":[{"id":"6205a94a-afdc-4fd0-95cb-b9166067bef8","name":"page_url","value":"={{ $('Expande').item.json.url }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,100],"id":"3e3e0375-08a7-455d-aebc-af9f928a171e","name":"URLADD"},{"parameters":{"url":"=https://api.firecrawl.dev/v1/extract/{{ $('id').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-79ad722aba934e3cb497bf20b4ae4c8b"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,100],"id":"9c1443cc-ff89-4eda-b278-3f4459e2ef0d","name":"listar1"},{"parameters":{"content":"## HTML limpia y vacía en Sheets","height":460,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,0],"id":"498e7184-e773-4a73-90da-9d7b8e604873","name":"Sticky Note3"}],"connections":{"Urls_extract":{"main":[[{"node":"id","type":"main","index":0}]]},"procesando":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Expande","type":"main","index":0}]]},"Wait":{"main":[[{"node":"listar1","type":"main","index":0}]]},"id":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Obtenertextos":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Expande":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"HTML","type":"main","index":0}],[{"node":"Obtenertextos","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"URLADD","type":"main","index":0}]]},"URLADD":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"listar1":{"main":[[{"node":"procesando","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9f251633-8a41-4004-b95c-5813f96d9d8f","triggerCount":0,"shared":[{"createdAt":"2025-07-11T09:19:24.349Z","updatedAt":"2025-07-11T09:19:24.349Z","role":"workflow:owner","workflowId":"qBlXyP9bL8AuYIk9","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}