rag_qdrant-KpfYwxohBQL3yHED.json
{"createdAt":"2025-07-05T09:36:00.100Z","updatedAt":"2025-07-05T14:41:52.000Z","id":"KpfYwxohBQL3yHED","name":"RAG_QDRANT","active":false,"isArchived":true,"nodes":[{"parameters":{"resource":"folder","options":{}},"name":"Drive List Folder","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-800,80],"id":"2033dc1e-f777-46f8-8627-8c803f9de0ed"},{"parameters":{"options":{}},"name":"Drive Download File","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-600,80],"id":"83ac32e5-edd1-460d-af13-1fd0e3cd82c3"},{"parameters":{"functionCode":"const mime = $node[\"Drive Download File\"].json.mimeType;\nreturn [{ json: { mimeType: mime, fileName: $node[\"Drive Download File\"].json.name } }];"},"name":"Detect MIME","type":"n8n-nodes-base.function","typeVersion":1,"position":[-400,80],"id":"a4930faa-f565-494e-9424-76e8ff802b64"},{"parameters":{},"name":"IF is PDF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,80],"id":"ea4c2336-6259-491b-a51f-0c730020bc8a"},{"parameters":{},"name":"PDF Extract Text","type":"n8n-nodes-base.pdfExtract","typeVersion":1,"position":[40,-180],"id":"75790e48-54ea-4ecc-8e74-6e10f6743606"},{"parameters":{"options":{}},"name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[40,60],"id":"d1bf23d5-ea2d-45e9-ab69-d7ae5971ba15"},{"parameters":{},"name":"OCR Image","type":"n8n-nodes-base.tesseract","typeVersion":1,"position":[40,280],"id":"fe939ebb-079e-4254-b646-3acb5c143947"},{"parameters":{"functionCode":"return items.map(item => {\n  return { json: { text: item.json.text || item.json.data } };\n});"},"name":"Normalize Text","type":"n8n-nodes-base.function","typeVersion":1,"position":[220,60],"id":"cc6d8afd-6dee-4096-9021-06ce06ac37a3"},{"parameters":{"model":"text-embedding-3-small","options":{},"requestOptions":{}},"name":"OpenAI Embeddings","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[400,60],"id":"9237edc5-22ce-45e0-8987-276db6fdb0a7"},{"parameters":{},"name":"Qdrant Add Documents","type":"n8n-nodes-base.qdrantVectorStore","typeVersion":1,"position":[600,60],"id":"90cd2896-28f9-4d4a-abbe-0acd62632f64"}],"connections":{"Drive List Folder":{"main":[[{"node":"Drive Download File","type":"main","index":0}]]},"Drive Download File":{"main":[[{"node":"Detect MIME","type":"main","index":0}]]},"Detect MIME":{"main":[[{"node":"IF is PDF","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Normalize Text","type":"main","index":0}]]},"Normalize Text":{"main":[[{"node":"OpenAI Embeddings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6ad19d85-c231-4ed8-825e-65656271da10","triggerCount":0,"shared":[{"createdAt":"2025-07-05T09:36:00.117Z","updatedAt":"2025-07-05T09:36:00.117Z","role":"workflow:owner","workflowId":"KpfYwxohBQL3yHED","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}