rag_dbqdrant_pp-7prY5PVMIFLoYI25.json
{"createdAt":"2025-07-05T09:34:04.419Z","updatedAt":"2025-07-05T14:42:04.000Z","id":"7prY5PVMIFLoYI25","name":"RAG_DBQDRANT_PP","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"name":"Google Drive Trigger","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-1000,100],"id":"e8f3a3d6-f7ae-454b-be2a-6a79fae19309"},{"parameters":{"options":{}},"name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-800,100],"id":"e34f283e-72c7-482d-a757-4f47f6a44c32"},{"parameters":{"options":{}},"name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-600,100],"id":"a3fd3327-96a0-45f6-a1b2-6493fc0f4dd9"},{"parameters":{"functionCode":"const mime = $node[\"Download File\"].json.mimeType;\nreturn [{ json: { mimeType: mime, fileName: $node[\"Download File\"].json.name, id: $node[\"Download File\"].json.id } }];"},"name":"Detect MIME","type":"n8n-nodes-base.function","typeVersion":1,"position":[-400,100],"id":"c8cdd6d6-6a54-4b0d-b000-22f8ea4d24eb"},{"parameters":{},"name":"Filter Supported Types","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,100],"id":"3e0ada1e-b7dd-4d6d-ad15-8d9586e67420"},{"parameters":{},"name":"Extract PDF Text","type":"n8n-nodes-base.pdfExtract","typeVersion":1,"position":[20,-280],"id":"fd41e953-769e-451e-b320-08880f2fb71d"},{"parameters":{"options":{}},"name":"Extract XLSX Data","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[20,-60],"id":"a5948f76-bc7f-4664-a3ea-d4054e90ce3e"},{"parameters":{},"name":"OCR Image","type":"n8n-nodes-base.tesseract","typeVersion":1,"position":[20,260],"id":"1a18ae99-aa6e-4283-8e64-74ef736032ca"},{"parameters":{},"name":"Extract Office Text","type":"n8n-nodes-base.officeExtractor","typeVersion":1,"position":[20,520],"id":"977f1250-c14f-44c1-a40e-1b4850184b1a"},{"parameters":{"functionCode":"return items.map(i => { return { json: { text: i.binary.data.toString('utf8'), fileName: $node[\"Detect MIME\"].json.fileName, mimeType: $node[\"Detect MIME\"].json.mimeType, id: $node[\"Detect MIME\"].json.id } }; });"},"name":"Normalize Text","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,100],"id":"ca2a433d-10ea-47a6-9a2e-b3f6b7fb83b1"},{"parameters":{"model":"text-embedding-3-small","options":{},"requestOptions":{}},"name":"OpenAI Embeddings","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[400,100],"id":"eb6c48e7-7cea-4210-b2bd-1c32744b1a7d"},{"parameters":{},"name":"Qdrant Add Documents","type":"n8n-nodes-base.qdrantVectorStore","typeVersion":1,"position":[600,100],"id":"e3682bfc-eb5f-458d-9457-d018dd5d1622"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Detect MIME","type":"main","index":0}]]},"Detect MIME":{"main":[[{"node":"Filter Supported Types","type":"main","index":0}]]},"Extract XLSX Data":{"main":[[{"node":"Normalize Text","type":"main","index":0}]]},"Normalize Text":{"main":[[{"node":"OpenAI Embeddings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"95343d67-4250-4950-854b-c303f04997e4","triggerCount":0,"shared":[{"createdAt":"2025-07-05T09:34:04.423Z","updatedAt":"2025-07-05T09:34:04.423Z","role":"workflow:owner","workflowId":"7prY5PVMIFLoYI25","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}