rag_qdrant-Dtz5I6GvCNtOcH06.json
{"createdAt":"2025-07-04T23:54:27.555Z","updatedAt":"2025-07-05T14:43:55.000Z","id":"Dtz5I6GvCNtOcH06","name":"RAG_QDRANT","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"name":"Drive Download File","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-440,-20],"id":"b57b4988-3463-4382-9821-770bdf7ce92e"},{"parameters":{"functionCode":"const mime = $node[\"Drive Download File\"].json.mimeType;\nreturn [{ json: { mimeType: mime, fileName: $node[\"Drive Download File\"].json.name } }];"},"name":"Detect MIME","type":"n8n-nodes-base.function","typeVersion":1,"position":[-240,-20],"id":"c9cb187f-16cd-4d86-9b81-6acd2d59f3d4"},{"parameters":{},"name":"IF is PDF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-40,-20],"id":"347d5b52-4911-4268-a115-449e2197f740"},{"parameters":{},"name":"PDF Extract Text","type":"n8n-nodes-base.pdfExtract","typeVersion":1,"position":[200,-180],"id":"6135cc25-4c85-4692-a200-a23420aee4a1"},{"parameters":{"options":{}},"name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[200,0],"id":"ffa29a7a-71e9-4e80-b0ba-ec08ae691df1"},{"parameters":{},"name":"OCR Image","type":"n8n-nodes-base.tesseract","typeVersion":1,"position":[200,280],"id":"f2958a44-46b2-423a-8cd2-94fc50f9902a"},{"parameters":{"functionCode":"return items.map(item => {\n  return { json: { text: item.json.text || item.json.data } };\n});"},"name":"Normalize Text","type":"n8n-nodes-base.function","typeVersion":1,"position":[380,0],"id":"2022d07b-8940-40c5-a0c1-92ad1d407b2b"},{"parameters":{"model":"text-embedding-3-small","options":{},"requestOptions":{}},"name":"OpenAI Embeddings","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[580,0],"id":"4f58620b-abce-49be-b052-d7975b125919"},{"parameters":{},"name":"Qdrant Add Documents","type":"n8n-nodes-base.qdrantVectorStore","typeVersion":1,"position":[780,0],"id":"ca67a676-2789-4182-8db1-3e5071be21f5"},{"parameters":{"resource":"fileFolder","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-800,-20],"id":"c40b4100-6dee-4254-8e98-5ed2b6cc7cc4","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}}],"connections":{"Drive Download File":{"main":[[{"node":"Detect MIME","type":"main","index":0}]]},"Detect MIME":{"main":[[{"node":"IF is PDF","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Normalize Text","type":"main","index":0}]]},"Normalize Text":{"main":[[{"node":"OpenAI Embeddings","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Drive Download File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c1a5e68c-72bb-4ef4-b425-48362f945907","triggerCount":0,"shared":[{"createdAt":"2025-07-04T23:54:27.562Z","updatedAt":"2025-07-04T23:54:27.562Z","role":"workflow:owner","workflowId":"Dtz5I6GvCNtOcH06","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}