rag_avanzado-juan-pablo-F0bEkBtiuDracFWt.json
{"createdAt":"2025-08-15T00:07:12.897Z","updatedAt":"2025-10-15T21:42:43.000Z","id":"F0bEkBtiuDracFWt","name":"RAG_Avanzado Juan Pablo","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,288],"id":"bceadffc-80ee-416b-96ae-fa0bf1442a48","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"3a4ddc58-c303-4e51-80e3-4077dcba7e7d","name":"id","value":"={{ $('Google Drive Trigger1').item.json.id }}","type":"string"},{"id":"f4438fa1-1b0b-4058-b387-15f512b665a7","name":"nombre","value":"={{ $('Google Drive Trigger1').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,304],"id":"781cc890-6d2f-43f6-a383-17ec2a3242c2","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425f73f4-1f70-4bb2-b708-a400c61a2af0","leftValue":"={{ $json.nombre }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09f64b2b-2e3c-4aa7-8537-175a24958a26","leftValue":"={{ $json.nombre }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-64,304],"id":"4b0420bb-3060-4fa4-8d79-c90ed43c37d5","name":"Switch"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $('Edit Fields').item.json.id }}"},{"name":"nombre","value":"={{ $('Edit Fields').item.json.nombre }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[944,592],"id":"97e3fb98-cb40-4704-aa8f-fa1c1771bb23","name":"Default Data Loader"},{"parameters":{"chunkSize":300,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1040,784],"id":"d1fa6de1-25aa-4021-ad36-b84bfbc94b1c","name":"Recursive Character Text Splitter"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1TfvEBTGHbH_ujMgqWEKxR6EBU3-h4LN8","mode":"list","cachedResultName":"Catalogos","cachedResultUrl":"https://drive.google.com/drive/folders/1TfvEBTGHbH_ujMgqWEKxR6EBU3-h4LN8"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1040,288],"id":"4e6d3e1e-8710-41e1-b76e-28bc6c81d996","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"content":"## Guía rápida de Chunk Size y Chunk Overlap\nReglas prácticas express\n\n\n\n\n\nTexto corto (FAQs, tweets) → 100-200 / 20-30 overlap\n\n\n\nDocs medianos (manuales, posts) → 300-400 / 50-60 overlap\n\n\n\nPDF largos / contratos → 500-800 / 60-100 overlap\n\n\n\nCódigos / JSON → segmenta por bloques lógicos (funciones, objetos) y usa sentinel tokens en lugar de solapamiento ciego.","height":460,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,272],"id":"b0249ab1-41e5-47bc-a2ec-4d6c0d3033d5","name":"Sticky Note"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-288,304],"id":"8d39e39d-f03d-4fe5-87d3-552f1a641e03","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[224,128],"id":"42c54235-cf0e-4af0-961e-ac254c6abd7e","name":"Extract File PDF"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[224,320],"id":"3a7c5d5a-9e70-4b66-ab92-0cb7ba3dbfd3","name":"Extract from XLSX"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[528,304],"id":"0f1e08d8-9952-4471-be64-c5f6a725a063","name":"Merge"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[864,304],"id":"64e67374-f5e1-464e-ae1e-d926889b6fa8","name":"Supabase Juan Pablo","credentials":{"supabaseApi":{"id":"TbX6FhcgL4LeOMan","name":"Supabase Grupo DK"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[720,592],"id":"22781219-55cf-480f-a3f9-76d3b5c40c88","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"fqAagNkEpEri1Av1","name":"Conexiones Grupo DK Soluciones"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract File PDF","type":"main","index":0}],[{"node":"Extract from XLSX","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Juan Pablo","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract File PDF":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Extract from XLSX":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Supabase Juan Pablo","type":"main","index":0}]]},"Supabase Juan Pablo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Juan Pablo","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger1":{"lastTimeChecked":"2025-10-15T21:42:43Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a60b2167-9dae-4a79-be01-2cf95671a4b0","triggerCount":1,"shared":[{"createdAt":"2025-08-15T00:07:12.916Z","updatedAt":"2025-08-15T00:07:12.916Z","role":"workflow:owner","workflowId":"F0bEkBtiuDracFWt","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}