rag_avanzado-vivadent-e74fHVrVJDmxkfgD.json
{"createdAt":"2025-10-04T00:20:06.771Z","updatedAt":"2025-10-04T00:20:06.771Z","id":"e74fHVrVJDmxkfgD","name":"RAG_Avanzado Vivadent","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,288],"id":"6cc9b48d-08b2-40b8-a79b-17a09a8c0ffe","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"3a4ddc58-c303-4e51-80e3-4077dcba7e7d","name":"id","value":"={{ $('Google Drive Trigger1').item.json.id }}","type":"string"},{"id":"f4438fa1-1b0b-4058-b387-15f512b665a7","name":"nombre","value":"={{ $('Google Drive Trigger1').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,304],"id":"cf7a41fa-d2b2-4b09-9512-7ddf1bd210e5","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425f73f4-1f70-4bb2-b708-a400c61a2af0","leftValue":"={{ $json.nombre }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09f64b2b-2e3c-4aa7-8537-175a24958a26","leftValue":"={{ $json.nombre }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[128,304],"id":"afee4e3a-beac-4548-a85f-7956f93cc2b7","name":"Switch"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[448,112],"id":"2ead848c-c0cc-441c-92a5-b749016a21d1","name":"Extract from File"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[448,384],"id":"5472f165-b039-4176-9296-b9dd6a27b517","name":"Extract from File1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,384],"id":"90c1aa3a-a14c-4368-833f-45ac015df147","name":"Aggregate"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[832,384],"id":"5ed26193-46a9-44a3-9c43-8d12a04c48a4","name":"Summarize"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $('Edit Fields').item.json.id }}"},{"name":"nombre","value":"={{ $('Edit Fields').item.json.nombre }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1312,624],"id":"801287e7-3f26-43b3-b64e-70e8060c40ec","name":"Default Data Loader"},{"parameters":{"chunkSize":300,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1360,832],"id":"38589a16-2114-4a1a-ab6e-6aa25014f26d","name":"Recursive Character Text Splitter"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cE3xdPu4u9cx3BhrGhGe7iYjXhTdHSPl","mode":"list","cachedResultName":"Documentos Baqueras","cachedResultUrl":"https://drive.google.com/drive/folders/1cE3xdPu4u9cx3BhrGhGe7iYjXhTdHSPl"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1040,288],"id":"3d3b1d7f-3c02-443a-8ec5-95aa85c60bc4","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1200,384],"id":"8a0021e4-2963-4512-9026-6ee960f4a293","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"TbX6FhcgL4LeOMan","name":"Supabase Grupo DK"}}},{"parameters":{"content":"## Guía rápida de Chunk Size y Chunk Overlap\nReglas prácticas express\n\n\n\n\n\nTexto corto (FAQs, tweets) → 100-200 / 20-30 overlap\n\n\n\nDocs medianos (manuales, posts) → 300-400 / 50-60 overlap\n\n\n\nPDF largos / contratos → 500-800 / 60-100 overlap\n\n\n\nCódigos / JSON → segmenta por bloques lógicos (funciones, objetos) y usa sentinel tokens en lugar de solapamiento ciego.","height":460,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,304],"id":"3b2c6d9c-83b9-4d99-82b0-7bb49f63606c","name":"Sticky Note"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,304],"id":"4626b7f7-c484-49ef-9582-8b13697433ef","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1088,704],"id":"ac29a6fb-a63d-49ba-b756-1c1d3dbf2a4f","name":"Embeddings Google Gemini","credentials":{}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger1":{"lastTimeChecked":"2025-09-20T19:25:10Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"205fda63-51f8-42ed-b310-2c5b74fea99e","triggerCount":1,"shared":[{"createdAt":"2025-10-04T00:20:06.784Z","updatedAt":"2025-10-04T00:20:06.784Z","role":"workflow:owner","workflowId":"e74fHVrVJDmxkfgD","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}