rag_avanzado-KI0rf9uyGUjh1UMt.json
{"createdAt":"2025-07-04T18:44:04.447Z","updatedAt":"2025-09-16T03:13:54.000Z","id":"KI0rf9uyGUjh1UMt","name":"RAG_Avanzado","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,288],"id":"7664dc77-0ee4-4a5c-8b5e-7ea28f392d0a","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"3a4ddc58-c303-4e51-80e3-4077dcba7e7d","name":"id","value":"={{ $('Google Drive Trigger1').item.json.id }}","type":"string"},{"id":"f4438fa1-1b0b-4058-b387-15f512b665a7","name":"nombre","value":"={{ $('Google Drive Trigger1').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,304],"id":"131d5c4f-4901-4986-b8c6-a9341b20dd86","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425f73f4-1f70-4bb2-b708-a400c61a2af0","leftValue":"={{ $json.nombre }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09f64b2b-2e3c-4aa7-8537-175a24958a26","leftValue":"={{ $json.nombre }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[128,304],"id":"09469e59-1c3a-4add-8f41-22bb5f2c28f0","name":"Switch"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[448,112],"id":"075b3600-8b4a-4e0d-922f-d3b1c8db921b","name":"Extract from File"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[448,384],"id":"20aadfc2-6c44-4bda-a5fb-f743370f96f6","name":"Extract from File1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,384],"id":"5ca315d1-8e03-4107-85e1-565c0236a1f9","name":"Aggregate"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[832,384],"id":"7da2ae13-b8ec-4c19-b4be-f1db86aa0b8b","name":"Summarize"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $('Edit Fields').item.json.id }}"},{"name":"nombre","value":"={{ $('Edit Fields').item.json.nombre }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1312,624],"id":"343136a8-f294-463f-b6e0-14882880dffd","name":"Default Data Loader"},{"parameters":{"chunkSize":300,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1360,832],"id":"f73d9f10-8c80-41a9-8fc7-40066507f63b","name":"Recursive Character Text Splitter"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cE3xdPu4u9cx3BhrGhGe7iYjXhTdHSPl","mode":"list","cachedResultName":"Documentos Baqueras","cachedResultUrl":"https://drive.google.com/drive/folders/1cE3xdPu4u9cx3BhrGhGe7iYjXhTdHSPl"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1040,288],"id":"6f566600-8067-4bef-b09e-176f5beabb98","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1200,384],"id":"82d492e3-0177-46d0-8164-b4a2f46f7147","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"TbX6FhcgL4LeOMan","name":"Supabase Grupo DK"}}},{"parameters":{"content":"## Guía rápida de Chunk Size y Chunk Overlap\nReglas prácticas express\n\n\n\n\n\nTexto corto (FAQs, tweets) → 100-200 / 20-30 overlap\n\n\n\nDocs medianos (manuales, posts) → 300-400 / 50-60 overlap\n\n\n\nPDF largos / contratos → 500-800 / 60-100 overlap\n\n\n\nCódigos / JSON → segmenta por bloques lógicos (funciones, objetos) y usa sentinel tokens en lugar de solapamiento ciego.","height":460,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,304],"id":"e66a5c54-08e2-406c-aa00-3c75237bfeac","name":"Sticky Note"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,304],"id":"79093248-4464-4398-b34f-211b06658084","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"vN0M8eDP5JTU8uSS","name":"Google Drive Juan Pablo"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1088,704],"id":"b188ba19-b0a2-4e2b-a5f6-3067005934b7","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"JQ5Gd3bxiQ3JLIYA","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger1":{"lastTimeChecked":"2025-10-04T04:49:31Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"712b7193-eb7f-48f7-9c2e-5323653d57c2","triggerCount":1,"shared":[{"createdAt":"2025-07-04T18:44:04.455Z","updatedAt":"2025-07-04T18:44:04.455Z","role":"workflow:owner","workflowId":"KI0rf9uyGUjh1UMt","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}