rag_base-qdrant-hgZ9LT6D2uuma0k1.json
{"createdAt":"2025-07-05T08:54:19.959Z","updatedAt":"2025-07-07T13:11:04.000Z","id":"hgZ9LT6D2uuma0k1","name":"RAG_Base QDRANT","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-760,280],"id":"a6a826f6-1e15-467a-a61e-aec0e50ac675","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"3a4ddc58-c303-4e51-80e3-4077dcba7e7d","name":"id","value":"={{ $('Google Drive Trigger1').item.json.id }}","type":"string"},{"id":"f4438fa1-1b0b-4058-b387-15f512b665a7","name":"nombre","value":"={{ $('Google Drive Trigger1').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,300],"id":"8c9736ed-545c-4fa1-81d4-7fba5f10b26f","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425f73f4-1f70-4bb2-b708-a400c61a2af0","leftValue":"={{ $json.nombre }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09f64b2b-2e3c-4aa7-8537-175a24958a26","leftValue":"={{ $json.nombre }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[120,300],"id":"bd6f52e9-b85b-45b8-b5ad-c45caf5f5270","name":"Switch"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,100],"id":"a8d3d0f2-fda7-43f4-896a-00a60e2cfd48","name":"Extract from File"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,380],"id":"4973225e-25cb-4a30-ac76-9f84ad9f9c53","name":"Extract from File1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[620,380],"id":"894500c8-70a1-4268-a20c-9b876e59801b","name":"Aggregate"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[820,380],"id":"89d49d06-5333-4bf6-a838-2cff0875680f","name":"Summarize"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1020,920],"id":"0caae5c3-470b-40eb-a5ff-f2f7c7d6800f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Rxw5N0sHWZ5keb1k","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $('Edit Fields').item.json.id }}"},{"name":"nombre","value":"={{ $('Edit Fields').item.json.nombre }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1580,800],"id":"491a12be-4cf3-4202-b007-47c2bd045dbd","name":"Default Data Loader"},{"parameters":{"chunkSize":300,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1720,1120],"id":"3aa08634-feba-43ed-a360-752fb0b36dde","name":"Recursive Character Text Splitter"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cE3xdPu4u9cx3BhrGhGe7iYjXhTdHSPl","mode":"list","cachedResultName":"Documentos Baqueras","cachedResultUrl":"https://drive.google.com/drive/folders/1cE3xdPu4u9cx3BhrGhGe7iYjXhTdHSPl"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1040,280],"id":"0b6e3c97-f410-4e3a-a0c6-5e2ab009286a","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1240,380],"id":"2e2b4cf2-ebe4-4bd2-96f1-b3fbc815f05c","name":"Supabase Vector Store2"},{"parameters":{"content":"## Guía rápida de Chunk Size y Chunk Overlap\nReglas prácticas express\n\n\n\n\n\nTexto corto (FAQs, tweets) → 100-200 / 20-30 overlap\n\n\n\nDocs medianos (manuales, posts) → 300-400 / 50-60 overlap\n\n\n\nPDF largos / contratos → 500-800 / 60-100 overlap\n\n\n\nCódigos / JSON → segmenta por bloques lógicos (funciones, objetos) y usa sentinel tokens en lugar de solapamiento ciego.","height":460,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,100],"id":"6dd32b67-c680-452f-a457-5e3058228d46","name":"Sticky Note"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,300],"id":"a6c5599e-1922-4dcf-9c98-2976e162cc1c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Gi6T4ox6Kcv1z4Dj","name":"Google Drive account"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a196b364-4037-4ff9-ab09-5c12be715df3","triggerCount":0,"shared":[{"createdAt":"2025-07-05T08:54:19.977Z","updatedAt":"2025-07-05T08:54:19.977Z","role":"workflow:owner","workflowId":"hgZ9LT6D2uuma0k1","projectId":"B3H8EZwaIhSfaZKt"}],"tags":[]}